
/* Admin Styles */

/*
.admin {
    font-family:arial;
    padding:1em;
    background:white;
}
*/

h1,
h2,
h3
{
    font-weight:bold;
    margin:.5em 0em;
}

h1 {
    font-size:14pt;
}

h2 {
    font-size:12pt;
    color: black;
}

ul li {
    margin-left:1em;
}

ul {
    list-style: disc;
}

td, th {
    vertical-align:top;
}

p {
    margin:.5em 0em;
}

em {
    font-style:italic;
}

strong {
    font-weight:bold;
}

input {
    padding: 3px;
}

/* */

#header a.logout, #header a.changePassword {
    margin:.5em;
}

#header a.logout span, #header a.changePassword span {
    color:black;
}

.simple-society-list a {
    padding:1em;
    margin:1em;
    border:1px solid #eee;
    display:block;
    color:black;
}
.simple-society-list a:hover {
    text-decoration:none;
    background:#f0f4f4;
}

.simple-society-list a div.name {
    color:#016699;
    font-size:14pt;
    font-weight:bold;
}

/* Navigation */

.header-btns .btn.admin {
    margin-right: 0;
}

ul.nav {
    background:#555;
    list-style:none;
    /* NOTE: This allows the UL to contain the floating LI's, IE7 & Fx3 */
    overflow:auto;
    margin: 0 auto;
    width: 80%;
    padding: 0 25px;
}

#inner-container .center-pad {
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.nav li {
    margin:0px;
    float:left;
}

ul.nav li a {
    display:block;
    padding:.3em 1em;
    color:white;
}

ul.nav li a:hover {
    text-decoration:none;
    color:black;
    background:#eee;
}

ul.nav li.highlight a {
    background:white;
    color:#016699;
    font-weight:bold;
}

ul.nav li.end-user-view {
    float:right;
}

/* */

ul.section-list li {
    margin-bottom:1em;
    font-weight:bold;
}

ul.section-list li span.admin-note {
    font-weight: normal;
}

ul.section-list li li {
    margin-bottom:0px;
    font-weight:normal;
}

/* Tables */

#id_name, #id_url {
    /*width: 400px;*/
    width: 95%;
}

.header-with-note {
    float: left;
}

.header-note {
    display: block;
    margin-top: 4px;
    float: left;
    font-size: 8pt;
}

#id_sector {
    width: 200px;
}

table.edit-create ul {
    list-style-type: none;
}

table.edit-create li {
    margin-left: 0;
}

table.edit-create {
    /*width: 900px;*/
    width:100%;
}

/*table.edit-create th {
    background: white;
    color: black;
    width: 20%;
}*/

table.edit-create td {
    width: 80%;
}

table.edit-create th, 
table.edit-create td {
    padding: 10px;
}

#id_ieee_id, #id_standard_status {
    width: 25%;
}

#id_keywords {
    width: 50%;
}

.grid-name {
    font-weight:bold;
    margin-bottom:.5em;
}

.grid,
.full-grid
{
    width: 100%;
    border-collapse:collapse;
    margin-bottom:1em;
    margin-top: 1em;
    background-color: white;
}

.manage-grid {
    width: 100%;
}

.grid td,
.grid th,
.full-grid td,
.full-grid th
{
    border:1px solid #ddd;
    padding: 5px;
}

.grid th,
.full-grid th
{
    font-weight:bold;
    text-align:left;
    background:#006599;
    color:white;
    width: 20%;
}

/* Forms */

.grid select,
.full-grid select
{
    padding:2px;
}

table.resources, table.tags, table.selected-tags, table.selected-resources {
    clear: both;
    width: 100%;
}

table.resources th, table.tags th, table.selected-tags th, table.selected-resources th {
    white-space: nowrap;
    text-align: center;
}

table.resources td, table.tags td, table.selected-tags td, table.selected-resources td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

table.resources td, table.tags td {
    width: 10%;
}

th.first-item {
    min-width: 150px;
}

table.resources td.first-item, 
table.tags td.first-item,
table.resources th.first-item,
table.tags th.first-item {
    padding-left: 10px;
    text-align: left;
    width: 20%;
}

table.selected-tags td.first-item,
table.selected-resources td.first-item {
    width: 300px;
    text-align: left;
}

table.selected-resources td.last-item {
    width: 150px;
}

select#id_priority,
select#id_completed
{
    width: 100px;
}

table.resources td.left-text, 
table.tags td.left-text,
table.resources th.left-text,
table.tags th.left-text {
    text-align: left;
}

table.resources td.count {
    color:gray;
}

table.tags tr.tag_cluster {
    background: silver;
}

.table-sort {
    text-align: center;
}

/* */

.version {
    float:right;
    color:silver;
    text-align:right;
}

/* */

#society-resource-tabs .nootabs-selected-tab {
    overflow: visible;
}

#help-tab p {
    margin: 1.5em 0;
}

#help-tab p.last-paragraph {
    margin-bottom: .5em;
}

a.help-doc {
    margin-right: 1em;
}

.nootabs-tab {
    padding:1em;
    position: relative;
}

/* */

a.edit {
    display:block;
    float:right;
    margin-right:1em;
}

.help_icon {
    font-weight: normal;
    font-size: 8pt;
    margin-left: 2px;
    cursor: default;
}

#create-tag-float, #create-tag,
#create-topic-area-float, #create-topic-area,
#create-resource-float, #create-resource {
    float:right;
}

#create-tag-float {
    margin-right: 5px;
}

#create-resource-float {
    margin-top: .5em;
}

#create-tag,
#create-topic-area,
#create-resource {
    margin-top: 1em !important;
    margin-left: 5px;
}

/* */

h1#forgot-password {
    padding-left: 5px;
}

table.forgot-password th {
    text-align:left;
    font-weight: bold;
}

#forgot-password-okay {
    font-weight:bold;
}

table.forgot-password td, th {
    padding: 5px;
}

ul.error {
    margin-bottom:.5em;
    font-weight:bold;
}

/* */

ul.checkbox-select-multiple-columns {
    float:left;
    padding-right:2em;
    list-style:none;
    width: 218px;
}

ul.checkbox-select-multiple-columns label {
    text-indent: -18px;
    clear: both;
    display: inline-block;
    margin-left: 18px;
}

ul.checkbox-select-multiple-columns:last-child {
    padding-right: 0;
}

/*
ul.checkbox-select-multiple-columns-2 {
    width:49%;
}

ul.checkbox-select-multiple-columns-3 {
    width:32%;
}
*/

/* */

.resource_page,
.tag_page
{
    background:#eee;
    padding:.1em .3em;
    margin:0em .1em;
}

.active_resource_page,
.active_tag_page
{
    background:navy;
    background:#f0f4f4;
    background:#016699;
    color:white;
}

.feedback-bar {
    margin-top:2em;
}

.header-feedback-bar {
    float:right;
}

.society-login-banner {
    border:1px solid silver;
    background:#eee;
    margin:1em 0em;
    padding:.5em;
}

ul.errorlist li {
    font-weight:bold;
    color:maroon;
}

tr.resource-priority {
    background:#ffb3b3;
}

tr.resource-completed-priority {
    background:silver;
}

tr.resource-completed {
    background:silver;
}

/* */

ul.pages {
    list-style:none;
    /* Enable enclosing the LI floats in Fx3/IE7 */
    overflow:auto;
    float: left;
    margin: 1em 0 1em 0;
    padding-top: 5px;
}

ul.pages li.paginationTitle {
    width: auto;
}

ul.pages li {
    float:left;
    margin:0em .2em;
    display:block;
    width:1.5em;
    text-align:center;
}

ul.pages li a {
    display:block;
    background:#eee;
    color:#555;
}

ul.pages li a:hover,
ul.pages li a.selected
{
    background:#016699;
    color:white;
}

#pages-tags-top {
    margin-top: 1em;
}

input#id_username, input#id_password, input#id_email {
    width: 230px;
}

.batch-editing-button {
    float: left;
    clear: left;
    margin: 1em 0;
}

#resource_filter,
#tag_filter {
    width: 350px;
}

.matching-filter {
    font-weight: bold;
    margin-top: 5px;
    display: block;
}

.batch-editing-note {
    color: #AAA;
    font-weight: normal;
    margin-left: 5px;
}

/* */

.results ul {
    list-style:disc;
}

/* */

.resource-description-flyover-container {
    max-width:25%;
}

.login-help-video {
    margin-top:2em;
    text-align:center;
}

#login-tabs {
    margin-bottom: 5px;
}

tr.buttons td {
    text-align:center;
}

div.errors {
    background:maroon;
    color:white;
    margin:1em 0em;
    padding:.01em .5em .5em .5em;
}

table.resources td.select-checkbox-on-click,
table.tags td.select-checkbox-on-click {
    width: 5%;
}

table.tags th {
    /* This is to force IE7 to maintain a certain minimum widget, to avoid wrapping other page elements */
    padding-left:1em;
    padding-right:1em;
}

.select-checkbox-on-click,
.select-checkbox-on-click input[type="checkbox"]
{
    cursor:pointer;
}

.batch-edit-arrow {
    margin-top: 5px;
}

div.errors p.note {
    font-weight:bold;
}

ul.errors {
    list-style:disc;
}

p.results-status {
    display:block;
    background:#eee;
    border:1px solid #ccc;
    font-style:italic;
}

table.tagged_resources_report {
    width:100%;
}

table.tagged_resources_report .total {
    background:#eee;
    padding-left:2em;
    padding-right:2em;
}

table.tagged_resources_report .num {
    text-align:right;
}

table.tagged_resources_report tr.all-resources td {
    font-weight:bold;
}

tr.form-row-highlight td {
    background:#ffffe1;
    border:1px solid #d6be92;
    padding:.7em;
}

tr.form-row-highlight p.form-warning {
    font-weight:bold;
    margin-top:0px;
    color:orange;
    width: 180px;
    float: left;
}

.nowrap-labels label {
    white-space:nowrap;
}

h1.no-resources-message {
    margin: 40px 0;
}

.admin-buttons {
    float:left;
}

.admin-buttons a {
    background:maroon;
    color:white;
    padding:2px;
}

#tag-count {
    font-weight: bold;
}

ul.nootabs-menus li a {
    display: inline-block;
    padding: 5px 10px;
}

#add-topic-topic-area {
    float: left;
    vertical-align: top;
}

#add-topic-topic-area input {
    vertical-align: top;
}

#add-topics-topic-areas {
    vertical-align: top;
}

#add-tags-container,
#add-topic-areas-container {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

#add-tags-select,
#add-topic-areas-select {
    width: 300px;
    position: relative;
}

#topic-area-note {
    float:left;
    margin:1em 0 0 2em;
    padding-top:5px;
}

.admin-user-links {
    width: 80%;
    padding: 0 25px;
    margin: 0 auto;
    text-align: right;
    background-color: #FFFFFF;
}

#admin_header #left {
    padding-bottom: 5px;
    display: inline-block;
    text-align: center;
}

.topic-topic-areas-added .ui-dialog-titlebar {
    display: none;
}

.topic-topic-areas-added #items-added {
    background-color: #0695d6;
    color: white;
    border-top: 0 none;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.topic-topic-areas-added #items-added #added-title {
    display: inline-block;
}

.topic-topic-areas-added #items-added #added-title {
    font-weight: bold;   
}

#topic-filter {
    margin: 20px 0 0px;
    width: 100%;
}

#topic-filter form {
    float: right;
}

#topic-filter form p {
    margin: 0;
}

#topic-filter div {
    float: left;
    margin-top: 3px;
}

.homeSection {
    margin-bottom: 20px;
}

.homeSection ul {
    margin-left: 5px;
}

.homeSection.last {
    margin-bottom: 0;
}

.sectionHeader {
    font-weight: bold;
    margin-bottom: 5px;
}

.headerNote {
    font-weight: normal;
}
