@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?hh5ek2');
	src:url('../fonts/icomoon.eot?#iefixhh5ek2') format('embedded-opentype'),
		url('../fonts/icomoon.woff?hh5ek2') format('woff'),
		url('../fonts/icomoon.ttf?hh5ek2') format('truetype'),
		url('../fonts/icomoon.svg?hh5ek2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"], .popup, .drive {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-printer:before {
	content: "\e60c";
}
.icon-cancel2:before {
	content: "\e607";
}
.icon-twitter:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\e605";
}
.icon-star-whole:before {
	content: "\e603";
}
.icon-star:before {
	content: "\e604";
}
.icon-google:before {
	content: "\e601";
}
.icon-tab:before {
	content: "\e000";
}
.icon-drop-arrow:before {
	content: "\e005";
}
.icon-users:before {
	content: "\e00f";
}
.icon-cancel:before {
	content: "\e010";
}
.icon-filter:before {
	content: "\e011";
}
.icon-tags:before {
	content: "\e016";
}
.icon-tag:before {
	content: "\e017";
}
.icon-alert2:before {
	content: "\e60b";
}
.icon-star-whole-alert:before {
	content: "\e60a";
}
.icon-linkedin:before {
	content: "\e606";
}
.icon-alert:before {
	content: "\e602";
}
d
/* Modified Selectors */
.drive:before {
	content: "\e608";
}
.popup:before {
	content: "\e001";
}