.tag_base #inner-container {
   background: none repeat scroll 0 0 white;
   filter: none;
   width: 1205px; /*Required to match frozen header width*/
}

.tag_base #welcome-link {
   display: none;
}

/* Tag Page Styling */
#tag_page {
font-size: 11pt;
}

#tag_frozen_header #corner-notch {
height: 27px;
position: absolute;
right: 0;
top: 0;
width: 27px;
z-index: 99;
}

.tag_header_inner {
display: block;
clear: both;
margin: 0 0 10px 0;
}

#tag_page h1 {
margin: 0 0 10px;
font-size: 18pt;
}

#tag_page h1.title {
display: inline-block; 
color: #000000;  
min-width: 558px;
}

#tag_definition {
clear: both;
font-size: 11pt;
margin: 20px 0 5px;
width: 835px;
}

#tag_page ul {
margin-left: 25px;   
}

#tag_page ol li {
margin: 0 0 0 10px;
padding: 0;   
}

#tag_page ul li {
margin: 0 0 0 17px;
padding: 0;   
}

#tag_page p {
margin: 0;
padding: 0;   
}

#tag_page #tag_top {
margin: 0 0 15px 0;
width: 100%;   
}

.addthis_toolbox {
display: inline-block;
margin: 0 15px 0 0;
vertical-align: middle;
}

.addthis_toolbox a,
.addthis_counter {
float: left;
margin-right: 5px;
}

#tag_header {
font-size: 17pt;
color: #006699;
float: left;
}

.node-tooltip .addthis_button {
margin-top: 10px;  
display: inline-block; 
}

#tag_header span {
font-size: 20pt;
font-weight: bold;   
}

#tag_page h1, #tag_page h2, #tag_page h3, #tag_contents span {
color: #006699;
}

#tag_page h3 {
margin-top: 0;   
}

#tag_technav {
height: 32px;
width: 205px;
padding: 3px 8px;
vertical-align: top;
-moz-border-radius: 10px;
-webkit-border-radius: 10px; 
display: inline-block;
cursor: pointer;
margin: 0 0 0 25px;
-moz-box-shadow: 1px 1px 5px #3F3F3F;
-webkit-box-shadow: 1px 1px 5px #3F3F3F;
background: #ffc35b; /* Old browsers */
background: -moz-linear-gradient(top, #ffc35b 0%, #f29d00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc35b), color-stop(100%,#f29d00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffc35b 0%,#f29d00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffc35b 0%,#f29d00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffc35b 0%,#f29d00 100%); /* IE10+ */
background: linear-gradient(top, #ffc35b 0%,#f29d00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc35b', endColorstr='#f29d00',GradientType=0 ); /* IE6-9 */
}

#tag_technav:hover {
background: #33cc00; /* Old browsers */
background: -moz-linear-gradient(top, #33cc00 40%, #269900 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#33cc00), color-stop(100%,#269900)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #33cc00 40%,#269900 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #33cc00 40%,#269900 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #33cc00 40%,#269900 100%); /* IE10+ */
background: linear-gradient(top, #33cc00 40%,#269900 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33cc00', endColorstr='#269900',GradientType=0 ); /* IE6-9 */
}

#tag_technav:hover div {
background: transparent url(/media/images/tag-technavlogo.png) no-repeat 65px 3px;
}

#tag_technav div {
color: white;   
text-decoration: none;
height: 32px;
width: 205px;
display: inline-block;
background: transparent url(/media/images/tag-technavlogo.png) no-repeat 65px -32px;
}

#tag_technav span {
float: left;
font-size: 9pt;
margin-top: 0;
text-align: left;
white-space: normal;
width: 58px; 
}

.topLink {
background: transparent url(/media/images/topLink.png) no-repeat 83px 3px;
float: right;
font-size: 10pt;
margin-top: -33px;
padding-right: 18px;
}

.topLink:hover {
background: transparent url(/media/images/topLink.png) no-repeat 83px -11px;
}

#tag_contents {
clear: both;
display: inline-block;
padding: 10px 0 0 0;
}

#tag_contents ol {
margin-left: 15px;
float: left;
}

#tag_contents li.disabled a,
#tag_contents li.disabled a:hover {
color: #9F9F9F;
text-decoration: none;
cursor: default;
}


#tag_contents ul {
margin-left: 5px;   
}

#tag_contents span {
font-size: 12pt;
margin-bottom: 10px;
font-weight: bold;
display: inline-block;
}

#tag-xplore h3,
#tag-standards h3,
#tag-periodicals h3 {
  
}

#tag-conferences li, 
#tag-xplore li,
#tag-standards li,
#tag-periodicals li {
margin: 0 0 30px 17px !important;   
}

#tag-conferences li:last-child, 
#tag-xplore li:last-child,
#tag-standards li:last-child,
#tag-periodicals li:last-child {
margin: 0 0 0 17px !important;   
}

#tag-conferences .conference-series {
background-color: #DFDFDF;
padding: 10px;
margin-top: 5px;
margin-left: 0;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;   
}

.gs-result .gs-title, .gs-result .gs-title * {
color: blue !important;
text-decoration: none !important;
}

.gs-patentResult img.gs-image {
border: 1px solid #CFCFCF;   
}

a.gs-title:hover {
color: orange;
text-decoration: underline;
}

#tag_contents span.h1SubText {
font-size: 9pt;
font-weight: normal;   
}

#tag_page p.no-resources {
padding-left: 26px;
color: #9F9F9F;
}

#totalTagLink { 
margin-left: 130px;
}

.tag-section {
margin-top: 30px;   
}