
#lightbox {
    position:absolute;
    width:100%;
    height:100%;
    margin:0px auto;
    z-index:50;
}

#lightbox .lightbox-background {
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background:gray;
    opacity:0.50;
    filter:alpha(opacity=50)
}

#lightbox .lightbox-content-outer {
    width:100%;
    height:100%;
    position:absolute;
}

#lightbox .lightbox-content {
}

#lightbox .lightbox-content,
#lightbox .lightbox-content .create-tag-lightbox
{
    width: 600px;
    margin: 0 auto;
    background: white;
}

#lightbox .lightbox-content .lightbox-pad,
#lightbox .lightbox-content .create-tag-lightbox
{
    padding:1em;
}

#lightbox .lightbox-content .create-tag-lightbox h1  {
    margin-top: 0;
}

.lightbox-pad .submit, .create-tag-lightbox .submit  {
    text-align: right;
}

#lightbox .lightbox-content .create-tag-lightbox th  {
    padding-left: 0;
}

#lightbox .lightbox-content h3 {
    margin:0em 0em .5em 0em;
    padding-bottom:.5em;
    border-bottom:1px solid silver;
}

/*
input.text, textarea {
    border:1px inset gray;
}

input.text {
    width:50%;
}

*/

/* */

.create-tag-lightbox {
    background:white;
    width:50%;
    margin:0px auto;
    padding:1em;
}

.email-lightbox tr td {
    width:100%;
    /*border:1px solid black;*/
}

.email-lightbox tr td.left-column {
    width:1%;
}

.email-lightbox tr td.right-column {
    width:99%;
}

.email-lightbox tr td {
    padding-top:.5em;
    padding-right:.5em;
}

/*
.email-lightbox {
    background:white;
    width:80%;
    margin:0px auto;
}
*/

.email-lightbox input,
.email-lightbox input#id_name
{
    border:1px inset gray;
    width:50%;
}

.email-lightbox input[type=button],
.email-lightbox input[type=submit]
{
    border: 1px outset #53595F;
    width:auto;
}

.email-lightbox textarea {
    border:1px inset gray;
    width:99%;
    height:100px;
}

/* */

#lightbox .resources-lightbox-content {
    margin-top:5em;
    overflow:auto;
    height:80%;
}

#lightbox .resources-lightbox-content .resources-pad {
    padding:.5em;
}

#lightbox .resources-lightbox-content h1 {
    margin-top:0em;
}



