
#lightbox {
    position:absolute;
    width:100%;
    height:100%;
    margin:0px auto;
    z-index:101;
}

.lightbox-background {
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background:gray;
    opacity:0.50;
    filter:alpha(opacity=50);
    z-index: 100;
}

#lightbox .lightbox-content-outer {
    width:100%;
    height:100%;
    position:absolute;
}

#lightbox .lightbox-content {
}

#lightbox .lightbox-content,
#lightbox .lightbox-content .create-tag-lightbox
{
    width: 600px;
    margin: 0 auto;
    background: white;
}

#lightbox .lightbox-content .create-tag-lightbox {
    width: 750px;
}

#lightbox .lightbox-content .lightbox-pad,
#lightbox .lightbox-content .create-tag-lightbox
{
    padding:1em;
}

#lightbox .lightbox-content .create-tag-lightbox h1  {
    margin-top: 0;
}

.lightbox-pad .submit, .create-tag-lightbox .submit  {
    text-align: right;
}

#lightbox .lightbox-content .create-tag-lightbox th  {
    padding-left: 0;
}

#lightbox .lightbox-content h3 {
    margin:0em 0em .5em 0em;
    padding-bottom:.5em;
    border-bottom:1px solid silver;
}

/*
input.text, textarea {
    border:1px inset gray;
}

input.text {
    width:50%;
}

*/

/* */

.create-tag-lightbox {
    background:white;
    width:50%;
    margin:0px auto;
    padding:1em;
}

.email-lightbox tr td {
    width:100%;
    /*border:1px solid black;*/
}

.email-lightbox tr td.left-column {
    width:1%;
}

.email-lightbox tr td.right-column {
    width:99%;
}

.email-lightbox tr td {
    padding-top:.5em;
    padding-right:.5em;
}

/*
.email-lightbox {
    background:white;
    width:80%;
    margin:0px auto;
}
*/

.email-lightbox input,
.email-lightbox input#id_name
{
    border:1px inset gray;
    width:50%;
}

.email-lightbox input[type=button],
.email-lightbox input[type=submit]
{
    border: 1px outset #53595F;
    width:auto;
}

.email-lightbox textarea {
    border:1px inset gray;
    width:99%;
    height:100px;
}

/* */

#lightbox .resources-lightbox-content {
    margin-top:5em;
    height:500px;
    /* Need to set min-width so the tabs don't wrap */
    min-width:875px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid black;
    background-color: #FFFFFF; /*Old blue*/
}

#lightbox .resources-lightbox-content .lightbox-close,
#lightbox .overview-video-lightbox-content .lightbox-close,
#lightbox .tester-message-lightbox-content .lightbox-close,
#lightbox .tester-survey-lightbox-content .lightbox-close {
    background: url(/media/images/close_button.png) no-repeat 0px 0px;
    height: 37px;
    margin: -20px 0 0 856px;
    position: absolute;
    width: 38px;
    z-index: 9999;
}

#lightbox .resources-lightbox-content .lightbox-close:hover,
#lightbox .overview-video-lightbox-content .lightbox-close:hover,
#lightbox .tester-message-lightbox-content .lightbox-close:hover,
#lightbox .tester-survey-lightbox-content .lightbox-close:hover {
    background: url(/media/images/close_button.png) no-repeat 0px -44px;
    cursor: pointer;
}

#lightbox .resources-lightbox-content .resources-pad {
    height: 100%;
}

#lightbox .resources-lightbox-content .resources-pad img {
    border:none;
}

#lightbox .resources-lightbox-content .alt-box {
    clear:both;
    padding: 0 10px 0 10px;
    margin: 0 15px 0 15px;
}

#lightbox .resources-lightbox-content .resources-pad .alt-box,
#lightbox .resources-lightbox-content .resources-pad .alt-box #content,
#lightbox .resources-lightbox-content .resources-pad .alt-box #content #resource-tabs {
    height: 100%;
}

#lightbox .resources-lightbox-content .resources-pad .alt-box #content #resource-tabs .nootabs-selected-tab {
    height: 100%;
    background-color: white;
}

#lightbox .resources-lightbox-content h1 {
    font-size:14pt;
    margin: 13px 1em 0 24px;
    font-weight: normal;
}

/*Widths set for resource lightbox tabs, supports up to 2 numbers in tab count and 5 in article count safely*/
#industry-sectors-tab {
    width: 91px;
}

#ieee-societies-tab {
    width: 135px;
}

#related-tags-tab {
   width: 74px;
}

#conferences-tab {
    width: 88px;
}

#periodicals-tab {
    width: 80px;
}

#standards-tab {
    width: 77px;
}

#articles-tab {
    width: 120px;
}

#educations-tab {
    width: 80px;
    height: 42px;
    background-color: #EEEEEE;
}
/*End set widths*/

#lightbox .resources-lightbox-content ul.nootabs-menus li.right-menu {
    float: right;
}


#lightbox .resources-lightbox-content ul.nootabs-menus li.right-menu,
#lightbox .resources-lightbox-content ul.nootabs-menus li.right-menu a {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
}

#lightbox .resources-lightbox-content ul.nootabs-menus li.end-group-menu {
    margin-right: 35px;
}


#lightbox .resources-lightbox-content ul.nootabs-menus li.begin-group-menu a,
#lightbox .resources-lightbox-content ul.nootabs-menus li.begin-group-menu {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
}

#lightbox .resources-lightbox-content ul.nootabs-menus li.nootabs-selected-menu a span {
    font-weight: bold;
}

#lightbox .resources-lightbox-content ul.nootabs-menus li.nootabs-selected-menu a span#articles-tab {
    font-weight: bold;
}

#lightbox .resources-lightbox-content ul.nootabs-menus li a.one-word-menu {
    padding-top: 12px;
    height: 25px !important;
}

#lightbox .resources-lightbox-content .group p.more-conferences {
    margin:.5em 0 0.4em 3em;
    padding:0;
}

#lightbox .resources-lightbox-content .other-conferences {
    background-color: #DFDFDF;
    padding: 10px;
    margin: 0 40px;
    display: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; 
}

#lightbox .resources-lightbox-content .hide-other-conferences {
    display:none;
}

.feedback-lightbox-middle {
	height:100%;
}

.feedback-lightbox-content {
	height:80% !important;
	width:690px !important;
	position:relative;
}

.paste-tags-lightbox-content {
    padding:1em;
}

.paste-tags-lightbox-content p.tags {
    margin-left:1em;
}

#lightbox .overview-video-lightbox-content {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #FFFFFF; /*Old blue*/
    border:1px solid black;
    width: 512px;
    min-width: 512px;
    padding: 2em;
}

#lightbox .overview-video-lightbox-content .lightbox-close {
   margin: -45px 0 0 520px;
}

#lightbox .tester-message-lightbox-content {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #FFFFFF; /*Old blue*/
    border:1px solid black;
    width: 650px;
    height: 350px;
    overflow-x: hidden;
    overflow-y: scroll;
    min-width: 512px;
    padding: 2em;
}

#lightbox .tester-survey-lightbox-content {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #FFFFFF; /*Old blue*/
    border:1px solid black;
    width: 848px;
    height: 350px;
    min-width: 512px;
    padding: 2em;
    overflow-x: hidden;
    overflow-y: scroll;
}

#lightbox .tester-survey-lightbox-content .lightbox-close {
    margin: -45px 0 0 856px;
}

#lightbox .tester-message-lightbox-content p {
margin: 15px 0;   
}

#lightbox .tester-message-lightbox-content p:first-child {
margin-top: 0;   
}

#lightbox .tester-message-lightbox-content .lightbox-close {
   margin: -45px 0 0 656px;
}

#lightbox .tester-message-lightbox-content ol {
    list-style-type: decimal;
}

#lightbox .tester-message-lightbox-content li {
   margin-left: 3em;
}