
/* Common nootabs styles */

.nootabs {
}

ul.nootabs-menus {
    /* Trigger hasLayout bug in IE7 */
    min-height: 0;
    float: left;
}

ul.nootabs-menus li {
    list-style: none;
    float: left;
    text-align: left;
    width: auto;
    font-size: 11px;
    border: 1px solid gray;
    border-bottom: 1px solid #006699;
    position: relative;
}

ul.nootabs-menus li a {
    padding: 5px 40px 5px 5px;
    display: block;
    line-height: 16px;
    text-align: left;
}

ul.nootabs-menus li a:hover {
    color: orange;
    text-decoration: underline;
}

.nootabs-menu-filler {
    padding: 0px;
    border-bottom: 1px solid var(pallette-lines);
}

li.nootabs-selected-menu {
    text-decoration: none; 
    border: 1px solid #006699 !important;
    border-bottom: 1px solid white !important;
    z-index: 10;
}

.nootabs-selected-menu a, .nootabs-selected-menu a:hover {
    color: #006699;
    font-weight: bold;
    text-decoration: none !important;
}

.nootabs-tab {
    display: none;
    clear: both;
}

.nootabs-selected-tab {
    display: block;
    top: 5px;
    border: 1px solid #006699;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.noocontainer {
    padding: 5px;  
}

ul.nootabs-menus li.nootabs-first-menu {
    margin-left :0 !important;
}

ul.nootabs-menus li.nootabs-first-menu,
ul.nootabs-menus li.nootabs-first-menu a {
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius: 5px;
}

ul.nootabs-menus li.last-menu,
ul.nootabs-menus li.last-menu a {
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius: 5px;
}

/* used to be .nootab_tab */
.nootabs-tab2 {
    height: auto;
    overflow: hidden;
    clear: both;
}

/* These styles are for second level tabs (ie. tabs embedded in other tabs) */ 

.nootabs-second-level ul.nootabs-menus {
    margin-left: 0px !important;
}

.nootabs-second-level li.nootabs-menu {
    border:none;
    background:#f9f9f9;
    padding:0px;
}

.nootabs-second-level li.nootabs-menu a {
    border-top:1px solid var(pallette-lines);
    border-right:1px solid var(pallette-lines);
    padding: 5px 5px 5px 5px;
    font-size:90%;
}

.nootabs-second-level li.nootabs-first-menu a {
    border-left:1px solid var(pallette-lines);
}

.nootabs-second-level li.nootabs-selected-menu a {
    /*border-top:1px solid #fafafa;*/
    border-top:none;
    background:white;
}

.nootabs-second-level div.nootabs-selected-tab {
    border:none;
}


/* Page-specific styling below: */

ul.nootabs-menus li {
    margin:0em 0em -1px -1px;
}

ul.nootabs-menus li a {
    color:#666;
    background:#EAEBEF;
}

ul.nootabs-menus li a span {
    font-weight:normal;
}

ul.nootabs-menus li.nootabs-selected-menu a {
    /*background:#006599;*/
    background: white;
    color: #006699;
}

div.nootabs-tab {
    border:1px solid #006699;
    background-color:#FFFFFF;
}

#resource-tabs {
    margin: 18px 0;
}

#resource-tabs p.no-resources {
    text-align:center;
    padding:1em;
    color:gray;
}

#resource-tabs ul.nootabs-menus li a {
    padding: 5px;
}
