
body {
    margin:.5em 0 .5em 0;
    font-family:verdana,tahoma,sans-serif;
    font-size:10pt;
    background-color:#FFFFFF;
    margin: 1em;
}

h1, h2, h3 {
    font-weight:bold;
}

h1 {
    font-size:160%;
}

h2 {
    font-size:140%;
}

h3 {
    font-size:120%;
}

li, ul, ol {
margin: 0;
padding: 0;   
}

.print-resource {
    
}

.print-resource h1 {
    font-size:.8em;
    color:gray;
}

.print-resource .page-date {
    float:right;
    margin:0em 1em 1em 1em;
    font-weight:bold;
    font-size:.8em;
    color:gray;
}

.title {
}

.description {
    margin:.3em 1em .7em 1.5em;
    font-size:90%;
    color:#222;
}

.pub-info {
    font-style: italic;
}

.topLink {
    display: none;   
}

#tag_middle {
   display: none;
}