.submit-button {
    vertical-align: middle;
}

#lightbox .resources-lightbox-content .resources-pad {
    padding:.5em;
    height: 100%;
    width: 98.5%;
}

#lightbox .resources-lightbox-content h1 {
    margin-left: 31px !important;
}

#lightbox .resources-lightbox-content .resources-pad .alt-box,
#lightbox .resources-lightbox-content .resources-pad .alt-box #content,
#lightbox .resources-lightbox-content .resources-pad .alt-box #content #resource-tabs {
    height: 100%;
}

#lightbox .resources-lightbox-content .resources-pad .alt-box #content #resource-tabs .nootabs-selected-tab {
    height: 356px !important;
}

.nootabs-selected-tab div.group {
    height: 326px !important;
    padding-top: 30px !important;
}

#lightbox .resources-lightbox-content {
    height:500px !important;
}

ul.pages {
    padding-top: 10px !important;
}

#tag-model-left,
#tag-model-indicator {
    vertical-align: baseline !important;
    margin-right: 5px;
    display: inline !important;
}

form.items-per-page {
    padding-top: 1.5em !important;
}

#frequencybar-tags {
    margin-top: -7px !important;
}

#sortmenu {
    padding-top: 0 !important;
}

#home-container #home-titletag-cell {
    padding-top: 35px;
}

#left-column ul#sectors li,
#left-column ul#societies li {
    width: auto !important;
}

#left-column ul#sectors li a {
    width: 164px !important;
}

#right-column {
	margin-left:190px;
}

#alternate-page #right-column {
    padding-left:0;
}

#alternate-page #tag-galaxy {
    padding: 7px 5px 0 0 !important;
}                   

.print-resource {
    width: 777px !important;
}

#xplore-tab div.print-resource {
    margin-top: 0;
}

#xplore-tab div.group {
    margin-top: 0;
}

#lightbox .resources-lightbox-content ul.nootabs-menus li.end-group-menu {
    margin-right: 25px !important;
}

#alternate-page #tag-galaxy div.tag {
    padding: .7em;
}

#alternate-page #tag-galaxy div.node a {
   padding: .2em .4em;
}

#alternate-page #tag-galaxy div.tag {
    float:left;
    margin:1em .1em;
}

#xplore-tab div.print-resource {
    margin-top: 0px;
}

p#xplore-totals {
    margin-top: 0px;
}

#header #tagline {
   margin-top: 50px;
   margin-right: -25px;
}

#left-column-container {
   margin-top: 20px;
   margin-left: -87px;
}

#sortContainer_outter {
   margin-top: -21px;
}

#textui-tags-search {
   margin-left: 0;
}

#connectedness-container {
   margin-right: 30px;
}

#help-col-left {
   width: 220px;
   margin-right: 50px;
}

#help-col-mid {
    margin-left: 0;
    float: left;
}

#help-col-right {
    display: inline-block;
}

#hide-help-box div {
   float: left;
}

#tag-galaxy #tags {
   margin-top: -5px;
}

#alternate-page #tag-galaxy div.tag {
    margin: 0.5em 0.25em;
}

.nootabs-selected-tab div.group {
   margin-top: 0;
}

#xplore-results-container div.group ul {
   margin-top: 0;
}