
html {
    overflow-y: scroll;
}

body {
    margin: 0px;
    font-family:verdana,tahoma,sans-serif;
    font-size:10pt;
    background-color:#333333;
}

h2 {
    margin: 0px;
    padding-left: .3em;
}

table {
    border-collapse: collapse;
}

td {
    padding: 0px;
}

a, a:visited {
    text-decoration: none;
    outline: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
    outline: none;
    color: orange;
}

img {
   border: 0 none;
}

/* Main layout table */


table.main {
    width:100%;
    background:white;
}

table.main td.left {
    width:100px;
    background-color: #333333;
}

table.main td.right {
    width:100px;
    background-color: #333333;
}

table.main td.center {
}

table.main td.center .center-pad {
    margin: 15px 10px 0;
}

#header {
    background-image:url(../images/topMainShadow.png);
    background-repeat:repeat-x;
    background-position:top;
    height:90px;
    text-align:left;
    position:relative;
}

#header .left-banner {
    float: left;
    position:relative;
    top:18px;
    left:10px;
}

#header .right-banner {
    float: right;
    margin-right: 14px;
    margin-top: 18px;
}

#header #right-help {
   float: right;
   clear: right;
   color:white;
   font-size: 8pt;
   background-color: #33CC00;
   padding: 2px 10px;
   margin: 7px 16px 0 0;
   -moz-box-shadow: 1px 1px 5px #3F3F3F;
   -webkit-box-shadow: 1px 1px 5px #3F3F3F;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
}

#header #right-help:hover {
   text-decoration: none;
   background-color: white;
   color: #33CC00;
   border: 1px solid #33CC00;
}

#header a.home img {
    border: none;
}

#header #tagline {
    color:#006699;
    display:inline-block;
    font-size:14pt;
    font-style:italic;
    margin:63px 0 0 5px;
}

#header .leftCorner {
    position:absolute;
    left:-13px;
}

#header .rightCorner {
    position:absolute;
    right:-13px;
}

#header #links {
    display:inline-block;
    margin-right:14px;
    margin-top:20px;
    position:absolute;
    right:0;
    top:0;
    text-align: right;
    width: 28%;
}

p.admin-links {
    font-size:8pt;
    color:gray;
    margin: 0;
    padding: 0;
    display: inline-block;
}

#feedback-link {
    color:white;
    font-size: 8pt;
    background-color: #33CC00;
    display:none;
    padding: 2px 10px;
    float:left;
    margin-right:10px;
    margin-bottom:.5em;
    -moz-box-shadow: 1px 1px 5px #3F3F3F;
    -webkit-box-shadow: 1px 1px 5px #3F3F3F;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#feedback-link:hover {
    background-position: 0 -19px;
}

.textui-switch {
    padding-left: 3em;
    background: transparent url(/media/images/roamer_icon.png) no-repeat scroll left center;
    height:16px;
    display:inline-block;
}

#roamerswitchlink-container {
    float: left;
    margin: -16px 0 0 185px;
}

.roamer-switch {
    padding-left: 3em;
    background: transparent url(/media/images/tags_icon.png) no-repeat scroll left center;
    font-size:8pt;
    height:15px;
    display:inline-block;
}

#roamerswitchlink-container a {
    color:gray;
}

#roamerswitchlink-container a:hover {
    color:orange;
}

#footer a.floating img {
    vertical-align:middle;
    border:none;
}

div.survey-button {
    float:right;
    margin: -15px 34px 10px 0;
}

p.admin-links a {
    color:gray;
}

p.admin-links a:hover {
    color:orange;
}

#footer {
    clear:both;
    background-image:url(../images/mainBottomBackground.png);
    background-repeat:repeat-x;
    background-position:top;
    background-color:#333333;
    height:46px;
    position:relative;
    z-index: 1;
}

#footer-login {
   float: right;
}

#footer-login a {
   color: #4F4F4F
}

#footer-login a:hover {
   color: #FFFFFF;
   text-decoration: none;
}

#footer .leftCorner {
    position:absolute;
    left:-13px;
}

#footer .rightCorner {
    position:absolute;
    right:-13px;
}

#copyright {
margin-top: 20px;
display: inline-block;
position: relative;
width: 100%; 
text-align: center;
color: #FFFFFF;
font-size: 8pt;
}

.helpicon {
   background-image: url(/media/images/sm_help.png);
   background-position: 0 0;
   background-repeat: no-repeat;
   display: inline-block;
   height: 12px;
   width: 12px;
   cursor: pointer;
}

.helpicon:hover {
   background-position: 0 -33px;
}

#connectedness-help {
    margin-left: 3px;
    margin-top: 6px;
}

/* Reset Firefox & IE's lists */

ul, ol {
    margin:0px;
    padding:0px;
}

li {
    margin:0px;
    padding:0px;
    margin-left:2em;
}

/* */

.row-container {
    overflow:auto;
}

ul#view-header {
    list-style-type: none;
    float:right;
    
    /* For IE6 hasLayout bug */
    zoom:1;
}

ul#view-header li {
    float:left;
    margin-left:10px;
}

#left-column {
    float:left;
    margin:5px 5px 10px 0;
    overflow:auto;
}

#left-column-border {
    border:1px solid #dadada;
    margin-right:5px;
}

#left-column ul {
    display:block;
    list-style-type: none;
}

#left-column ul#sectors li,
#left-column ul#societies li {
    margin:0px;
    width: 174px;
}

#left-column ul#societies li {
    margin:0px;
    width: 160px;
}

#left-column ul li.all {
    font-weight:bold;
}

#left-column ul li a {
    display:block;
    text-decoration:none;
}
#left-column ul li a:hover {
    /* TODO: this affects galaxy too, should be roamer only */
    background:#bad4f9;
}

#left-column h2.feature_label {

}

#galaxy-tabs {
    width: 187px;  
}

#galaxy-tabs li{
    width: 86px;
    min-height: 42px;
    border: 1px solid gray;
    border-bottom: 1px solid #006699;
}

#galaxy-tabs li.last-menu {
    margin-left: -1px !Important;
    border-left: 1px solid #006699;
    width: 87px !important;
}

#left-column-container .nootabs-menu {
    margin-left: 0;
    background-color: #EAEBEF;
}

#left-column-container .nootabs-menu a {
    font-weight: normal;
}

#left-column-container .nootabs-tab {
    border: 1px solid #006699;
    height: 100%;
    width: 174px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    padding-top: 5px;
}

#left-column-container .nootabs-menus li.nootabs-selected-menu {
    border: 1px solid #006699;
    border-bottom: 1px solid white !important;
    background-color: white;
}

#left-column-container .nootabs-menus li.nootabs-first-menu {
    -moz-border-radius-topleft: 5px !Important;
    -moz-border-radius-topright: 0 !important;
    -webkit-border-top-left-radius: 5px !Important;
    -webkit-border-top-right-radius: 0 !important;
}

#left-column-container .nootabs-menus li.nootabs-menu a:hover{
    background-color: orange;
    color: white;
}

#left-column-container .nootabs-menus li.nootabs-selected-menu a:hover {
    background-color: white;
    text-decoration: none !important;
    color: #006699 !important;
}

#left-column-container .nootabs-menus li.nootabs-selected-menu a{
    font-weight: bold;
    color: #006699;
    background-color: white;
}

#left-column-container div#sectors-tab {
    -moz-border-radius-topleft: 0px !important;
    -webkit-border-top-left-radius: 0px !important;
}

#left-column-container div#societies-tab {
    -moz-border-radius-topright: 0px !important;
    -webkit-border-top-right-radius: 0px !important;
    overflow-y:scroll;
    overflow-x:hidden;
}

#right-column {
    float:left;
    margin:10px 0 0 0;
}

#right-column-border {
    border:1px solid #dadada;
    margin-left:5px;
    height:328px;
}

/* This prevents the page from getting so small that galaxy/roamer wraps underneath the left-side nav */
#page-min-width {
    /*border:10px solid purple;*/
    /*background:blue;
    height:2px;*/
    overflow:hidden;
    height:0px;
    width:803px;
}

#constellation_roamer {
    bborder:2px solid black;
}

#constellation_roamer2 {
    bborder:2px solid blue;
}

#results-label {
    font-weight:bold;
}

/* Content */
#resource_container {
    padding-right: 5%;
}   

#content {
    clear: both;
    margin-top: 16px;
    display: inline-block;
}

#content .sc_img {
    border: none;
    margin-left: 30px;
}

#content .sc_link {
    color: #485973;
}

#content .item_head {
    background-color: #006599;
    color: #ffffff;
    font-size: 14pt;
    font-weight: bold;
    margin: 0px 0 0 0;
    padding:0px;
    text-indent: 10px;
}

#content .item_head img {
    vertical-align:bottom;
    margin:0px 15px;
}

#content table.society-images {
    margin: 10px 5px 0 10px;
}

#content table.society-images img {
    border:none;
}

#content table.society-images td {
    padding-bottom: 10px;
}

#content table.society-images td.society-logo {
    padding-right: 10px;
}

div.image-container {
    height: 75px;
    width: 75px;
    overflow: hidden;
    border: 1px solid #EAEBEF;
}

#content p.item_even {
    padding: 5px 5px 0 10px;
    margin: 0px;
    vertical-align: top;
}

#content p.item_odd {
    padding: 5px 5px 0 10px;
    margin: 0px;
}

.xplore-full-results-page p.item_even, .xplore-full-results-page p.item_odd {
   font-weight: bold;
}

#xplore-totals a:hover {
    text-decoration: none;
    color: gray;
}

.group a:hover, .society-images a, .xplore-full-results-page a:hover {
   color: blue;
   cursor: default;
   text-decoration: none;
}

.group a img, .xplore-totals img, .xplore-full-results-page img {
   cursor: pointer;
}

.group .item_odd span:hover, .group .item_even span:hover, 
#xplore-totals span:hover, .society-images span:hover,
.xplore-full-results-page .item_odd span:hover, .xplore-full-results-page .item_even span:hover {
    color: orange;
    text-decoration: underline;
    cursor: pointer;
}

#content p.desc_even {
    padding: 5px 5px 0 10px;
    margin: 0px;
}

#content p.desc_odd {
    padding: 5px 5px 0 10px;
    margin: 0px;
}

#content p.pub_even {
    font-style: italic;
    padding: 5px 5px 0 10px;
    margin: 0px;
}

#content p.pub_odd {
    font-style: italic;
    padding: 5px 5px 0 10px;
    margin: 0px;
}

#content-title {
    clear: both;
}

/* */
.backtotop, .backtoptop:hover, .backtotop img {
    text-decoration: none;
    border: none;
    color: black;
    margin-top: -15px;
}

.debug {
    background: white;
    /*border:1px solid #c88;*/
    padding:.2em;
    margin:1em 0em;
}

.feedback-bar {
    color:gray;
    clear: both;
    float: left;
    margin: 0 0 10px 10px;
}

.feedback-bar a {
    /*color:#666;*/
    color:gray;
    font-weight:bold;
}

/* Roamer Interface */ 

table#roamer-header {
    width: 100%;
}

span.roamer-note {
    font-weight: bold;
}

span#roamer-beta-warning {

}

/* Galaxy Interface */

.textui-page, .roamer-page {
    min-width:1090px;
}

#roamer-outline {
    border:1px solid #006699;
    margin:5px 0.2em 0.5em 0;
    height: 100%;
}

#alternate-page #left-column {
    width:180px;   
    height:475px;
	float:left;
    margin:0;
}

#left-column-container {
    margin-top: 10px; 
    position:absolute;
    /*height:437px;*/
    width: auto;
}

#left-column-container .sectors-vert-box {
    /*height: 71.3%;*/
}

#left-column-container .filters-vert-box {
    height: 20.5%;
}

#alternate-page #right-column {
    float:none;
    /* NOTE: This is overridden for IE7 */
    padding-left:185px;
}

#alternate-page .ui-footer {
	clear:both;
}

.textui-page #right-column {
    height:auto;
}

#alternate-page .alt-box {
    border:1px solid #006699;
    margin: 6px .2em 0 .2em;
}

#alternate-page .alt-box .alt-box-pad {
    padding:.5em;
}

#alternate-page #left-column ul#sectors li a,
#alternate-page #left-column ul#societies li a {
    color:#333333;
    margin:0px;
    padding:.3em;
}

#alternate-page #left-column ul#sectors li.cluster-list-item a {
    padding-left:1.5em;
}

#alternate-page #left-column ul#sectors li a:hover,
#alternate-page #left-column ul#societies li a:hover {
    background:orange !important;
    color: white;
}

#alternate-page #left-column ul#sectors li a.active-sector {
    background:#006699;
    color: white;
}

#alternate-page #left-column ul#societies li a {
    color:#333333;
    margin:0px;
    padding:.3em;
}

#alternate-page #left-column ul#societies li.cluster-list-item a {
    padding-left:1.5em;
}

#alternate-page #left-column ul#societies li a:hover {
    background:orange;
    color: white;
}

#alternate-page #left-column ul#societies li a.active-society {
    background:#006699;
    color: white;
}

#alternate-page #left-column ul#views li {
    color: #333333;
    margin:0px;
    /*padding: .05em 0em;*/
    padding:0 5px 0 0;
    cursor: pointer;
}

#alternate-page #left-column ul#views li:hover {
    background-color: orange;
    color: white;
}

#alternate-page #left-column ul#views li input {
    margin:2px;
    vertical-align:middle;
}

#alternate-page #left-column ul#views li input,
#alternate-page #left-column ul#views li label {
    cursor: pointer;
}

#alternate-page #tags {
    height: 440px;
    overflow: hidden;
    /*line-height: 1.2em;*/
}

#alternate-page #tag-galaxy {
    height: 441px;
    min-height: 441px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 0 5px 2px 0;
    margin-right:34px;
    background-color: white;
}             

#alternate-page #tag-galaxy .alt-box-pad {
    height: 96.5%;
    min-height: 431px;
    overflow: auto;
}

#alternate-page #tag-galaxy #tags h2 {
    color:#006699;
}

#alternate-page #tag-galaxy #tags h3 {
    clear:left;
    margin:.5em .5em 0 .5em;
    font-weight: normal;
}

#alternate-page #tag-galaxy #tags a.back-link {
    margin:.5em;
}

#alternate-page #tag-galaxy #tags a.back-link img {
    border:none;
    vertical-align:middle;
}

#alternate-page #tag-galaxy div.tag {
    float:left;
    margin:1em .5em;
}

#alternate-page #tag-galaxy div.tag_cluster {
    float:left;
    margin:.8em .5em;
    background-color: #006699;
    text-decoration:none;
    font-weight:normal;
    white-space:nowrap;
    padding:.2em .5em;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

#alternate-page #tag-galaxy div.tag_cluster a {
    border: 0 none !important;
}

#alternate-page #tag-galaxy div.node table {
    border-collapse:collapse;
}

#alternate-page #tag-galaxy div.node table td {
    margin:0px;
    padding:0px;
}

#alternate-page #tag-galaxy div.node table td .node-block-container {
    margin-left:5px;
}

/* disabled highlighting of selected tags */
/*
#alternate-page #tag-galaxy div.activeTag {
    background:#BAD4F9;
}
*/

#alternate-page #tag-galaxy div.tag_cluster img {
    margin:-2px 0 -2px 0;
    vertical-align:middle;
}

#alternate-page #tag-galaxy div.node a {
    text-decoration:none;
    font-weight:normal;
    white-space:nowrap;
    padding:.2em .5em;
    color: #FFFFFF;
    height:18px;
    border: 1px solid transparent;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

#alternate-page #tag-galaxy div.tag_cluster a:hover {
    color:white;
    text-decoration:underline;
}


#alternate-page #tag-galaxy div.node .tag-block-container {
    float:left;
    margin-left:7px;
}

#alternate-page #tag-galaxy div.block-top,
#alternate-page #tag-galaxy div.block-bottom
{
    width:7px;
    height:7px;
    overflow:hidden;
}

#alternate-page #tag-galaxy div.block-top {
    margin-bottom:2px;
}

#alternate-page #tag-galaxy div.block-bottom {
    margin-bottom: 1px;
}

/* */

.node-tooltip h3 {
font-weight: normal;   
font-size: 20pt;
}

#alternate-page #tag-galaxy div.node a.level1 {
    background-color: #3087d5;
}

#alternate-page #tag-galaxy div.node a.level1:hover {
    border: 1px solid #3087d5;
    color: #3087d5;
    background-color: #FFFFFF;
}

h3.level1 {
    color: #3087d5;
}

#alternate-page #tag-galaxy div.node a.level2 {
    background-color: #4153a3;
}

#alternate-page #tag-galaxy div.node a.level2:hover {
    border: 1px solid #4153a3;
    color: #4153a3;
    background-color: #FFFFFF;
}

h3.level2 {
    color: #4153a3;
}

#alternate-page #tag-galaxy div.node a.level3 {
    background-color: #8e5590;
}

#alternate-page #tag-galaxy div.node a.level3:hover {
    border: 1px solid #8e5590;
    color: #8e5590;
    background-color: #FFFFFF;
}

h3.level3 {
    color: #8e5590;
}

#alternate-page #tag-galaxy div.node a.level4 {
    background-color: #c24173;
}

#alternate-page #tag-galaxy div.node a.level4:hover {
    border: 1px solid #c24173;
    color: #c24173;
    background-color: #FFFFFF;
}

h3.level4 {
    color: #c24173;
}

#alternate-page #tag-galaxy div.node a.level5 {
    background-color: #de4238;
}

#alternate-page #tag-galaxy div.node a.level5:hover {
    border: 1px solid #de4238;
    color: #de4238;
    background-color: #FFFFFF;
}

h3.level5 {
    color: #de4238;
}

#alternate-page #tag-galaxy div.node a.level6 {
    background-color: #ff3000;
}

#alternate-page #tag-galaxy div.node a.level6:hover {
    border: 1px solid #ff3000;
    color: #ff3000;
    background-color: #FFFFFF;
}

h3.level6 {
    color: #ff3000;
}

td.no-level {
    background: silver;
    color:black;
}

div.level1,
span.level1,
td.level1 {
    color:white;
    background: #3087d5;
}

div.level2,
span.level2,
td.level2 {
    color:white;
    background: #4153a3;
}

div.level3,
span.level3,
td.level3 {
    color:white;
    background: #8e5590;
}

div.level4,
span.level4,
td.level4 {
    color:white;
    background: #c24173;
}

div.level5,
span.level5,
td.level5 {
    color:white;
    background: #de4238;
}

div.level6,
span.level6,
td.level6 {
    color:white;
    background: #ff3000;
}

/* */
/* sector key */
#sector_key-text {
    float: right; 
    margin-top: -10px;
    line-height: 1.2em; 
    list-style-type: none; 
    margin-right: 5px;
}

#sector_key-blocks {
    float: right; 
    margin-top: -5px; 
    list-style-type: none;
    margin-right: 25px;
}

.tag-block-container {
    float:left;
    margin-left:3px;
}

.block-top, .block-bottom {
    width:5px;
    height:5px;
    overflow:hidden;
}

.block-top {
    margin-bottom: 5px;
}

table.vert-center {
    border-collapse:collapse;
}

table.vert-center td {
    vertical-align:middle;
    padding:0px !important;
}

/* */

#choose-page .center-pad {
    text-align:center;
}

#choose-page h1 {
    color:#666;
}

.screenshot-container {
    float:left;
    text-align:center;
    width:50%;
    margin-bottom:5em;
}

.screenshot-container h2 {
    margin-bottom:.3em;
}

.screenshot-container a img {
    border:1px solid #ccc;
    
}

#wait, #loading {
    position:relative;
    top:45%;
    margin:0px auto;
    text-align:center;
    color:#aaa;
}

.please-wait {
    top:35% !important;
}

#loading {
    margin:2em;
}

#devbar {
    background:maroon;
    color:white;
    text-align:center;
    padding:.2em;
    font-weight:bold;
}
/* frequency and key styles */
.helpbracket {
    vertical-align: text-bottom;
    display: inline-block;
    cursor: pointer;
    color: blue;
}

#frequencybar-tags {
    display: inline-block;
    height: 21px;
    width: 100%;
}

#frequencybar {
   margin-top: -5px;
   margin-left: 2px;
}

#galaxy-key {
    float: left; 
    margin-left: 2px;
}

#frequencybar-tags img {
    vertical-align:top;
}

#frequencybar-tags ul li {
    list-style-type: none;
}

/* hidden for now, will note that it is a key on the galaxy help page
#key-label {
    padding: 0 0 0 5px;
    display:none;
}
*/

.feature_label {
    font-weight: normal;
    line-height: 1.5;
    height: 20px;
    padding: 0;
}

#galaxy-connectedness-help {
    padding-left: 5px;
    line-height: 15px;
}

#frequency-indicator {
    padding: 0 0 0 2px;
    float:left;
    color: #FFFFFF;
    width: 164px;
    height: 21px;
    text-align: center;
    padding-top: 1px;
    margin-top: 1px;
    margin-left: 3px;
    cursor: default;
    background: url(/media/images/frequency-bar.png) no-repeat 0 0;
}

#frequency-indicator .small {
   font-size: 8pt;
}

/*
#frequency-indicator img {
    margin-top: -4px;
}
*/

#tag-model-left,
#tag-model-indicator {
    display: inline-block; 
    vertical-align: text-bottom;
    height: 18px;
}

#tag-model-left td,
#tag-model-indicator td {
    text-align: center;
    padding-left: 6px;
}

#tag-model-left-img {
    height: 18px;
    padding-top: 3px; 
    padding-left: 3px
}

#tag-model-right {
    display: inline-block
}

#frequencybar-tags img.tag-model-rightarrow {
    margin-left: -17px;
    padding-top: 3px;
    vertical-align: top;
}

#frequencybar-tags img.tag-model-arrow {
    vertical-align: middle;
}

#frequencybar .homeico-cell {
    width:60px;
}

#frequencybar .key-cell {
    width:190px;
}

#homeico {
    float: left;
    margin-right: 7px;
}


#homeico img {
    border: none;
    padding-bottom: 2.3px;
}

#roamer-beta-warning {
}

/* */
/* sort dropdown */
#sortmenu {
    vertical-align: middle;
    float: right; 
    margin-right: 37px;
    padding-bottom: 3px;
    font-weight: normal;
}

#sortmenu select {

}

#tag-sort {

}

#galaxy-sort-help {
    padding-left: 5px;
    font-weight: normal;
}
/* */


.browser-warning {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
}

.browser-warning-shadow {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    background:gray;
    opacity:.75;
    filter:alpha(opacity=75);
    z-index:1;
}

.browser-warning-content {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    z-index:2;
    text-align: center;
}

.browser-warning-content2 {
    margin:0px auto;
    width:75%;
    height:400px;
    margin-top:15%;
}

.browser-warning-content2 a {
    color:navy;
    text-decoration:underline;
}

.browser-warning-content2 ul {
    list-style-type: none;
}

/* */

input[type=submit], input[type=button] {
    border: 1px outset #53595F;
    background-color: #016797;
    color: white;
    cursor: pointer;
    padding: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /* NOTE: This causes IE7 to truncate button widths */
    /*min-width: 40px;
    width: auto;*/
} 

input[type=submit]:focus, input[type=button]:focus {
    border: 1px inset #016797;
}

input.disabled {
    background:#ccc;
    color:gray;
    cursor: default;
}
input.disabled:focus {
    border: 1px outset #53595F;
}

#login-tab {
   padding-top: 23px;
}

table#login-table th{
    text-align: left;
    padding: 5px;
}

table#login-table {
    margin-bottom: 10px;
    float: left;
}

table#login-table td {
    padding: 5px;
}

/* */

.tags-table-loading {
    text-align:center;
    font-weight:bold;
    padding:3em;
    color:white;
}

/* */

.over-shadow {
    background:black;
    position:absolute;
    opacity:0.50;
    filter:alpha(opacity=50)
}

.over-shadow-content {
    position:absolute;
}

/* */

form.block-labels label {
    display:block;
    font-weight:bold;
}

.cancel-link {
    margin-left: 5px;
}

a.cancel-link:visited {
    color: blue;
}

div.submit {
    text-align: right;
}

#login-table div.submit p {
    text-align: left;
}

.horizontal-radios ul li {
    float:left;
    margin:0px 1.2em;
}

#resources-link {
    display:block;
    padding:.5em;
    text-decoration:none;
    background:#006699;
    color:white;
    font-weight:bold;
    text-align: center;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

#alternate-page div#resources-explanation {
    border: 0;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
}

#resources-explanation-text {
    margin:0.5em;
}

#resources-link:hover {
    /*background:#eee;*/
}

.filter_background_highlight {
    background:#006699;
}

.filter_background_highlight label {
    color:white;
}

.hide-initally {
    display:none;
}

/* NOTE: This is needed for the #resources-link link.  Otherwise it shows up briefly when the page loads. */
#content .hide-initally {
    display:none;
}

#resources-tab p.items-per-page,
form.items-per-page {
    float:right;
    padding-top:1em;
    clear:right;
}

select.items-per-page {
    width:auto !important;
}

/* Tooltip Styles */

.node-tooltip {
    width:400px;
}

.node-tooltip h3 {
    line-height:1em;
    margin:0;
}

table.node-tooltip-grid {
    margin-top: 10px;
    font-size: 9pt;
}

table.node-tooltip-grid td {
    padding-top:5px;
    padding-right:5px; 
}

.sector-block,
.related-tags-block,
.filter-block,
.societies-block
{
    height:55px;
    width:55px;
    text-align:center;
    font-weight:bold;
    color: white;
    margin-right: 10px;
    font-size: 8pt;
}

.sector-block td,
.related-tags-block td,
.filter-block td,
.societies-block td
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;    
}

.sector-block td:hover,
.related-tags-block td:hover,
.filter-block td:hover,
.societies-block td:hover
{
    color: white;
    background: #FFA500;
}

.sector-block {
    /*background:#fff200;*/
}

.related-tags-block {
    /*background:#f7941d;*/
}

.filter-block {
    /*background:silver;*/
    color: black;
    font-weight: bold;
}

.tooltip-filters, .filter-block {
    vertical-align: top;
    height: 30px;
}

.results-links { 
    width:100%;
    text-align:center;
    padding-top: 1em;
}

.results-links a {     
    text-decoration:underline;
    color:#006699;
    text-align: center;
}

.results-links a:hover {
    color: orange;
}

.textui-home {
    width:100%;
    height:100%;
}

.textui-help {
    width:100%;
    height:100%;
}

.section-header {
    padding-left: .3em;
    font-weight: bold;
}

p.export {
}

/* Tag Page Box */
#tag-help-container {

}

#tag-help-box {
   border:1px solid #006699;
   padding: 12px;
   margin: 6px 0 6px 0.2em;
   display: inline-block;
   text-align: center;
   color: white;
   background-color: #006699;
   -moz-border-radius:5px 5px 5px 5px;
   -webkit-border-radius:5px 5px 5px 5px;
}

#tag-help-box a {
    color: white;
}

#no-show-container {
    float: right;  
    margin: -2px 5px 0 0; 
}

.help-col {
    text-align: left;
}

#help-col-left {
    float: left;
    width: 225px;
}

#help-col-left div {
   padding-top: 37px;
}

#help-col-mid {
    margin: 0 auto;
    display: inline-block;
    width: 257px;
}

#help-col-right {
    float: right;
    width: 210px;
}

#help-icon {
   background: url(/media/images/help-icon.png) no-repeat 0 -36px;
   width: 35px;
   height: 36px;
   display: inline-block;
}

#video-icon {
   background: url(/media/images/video-icon.png) no-repeat 0 -36px;
   width: 35px;
   height: 36px;
   display: inline-block;
}

.help-icon-hover {
    background-position: 0 0 !important;
}

#hide-help-box {
   padding-top: 52px;
   font-size: 9pt;
}

#links-help-box {
    text-align: center;
    line-height: 1.6;
    margin-top: 32px;
}

#link-video {
    margin-bottom: 10px;  
    display: inline-block; 
}

.help-arrow-container {
   vertical-align: top;
   padding-right: 5px;
}

.help-arrow-container-right {
   vertical-align: top;
}

#video-image-link, #help-image-link {
   display: inline-block;
   vertical-align: middle;
   padding-right: 10px;
}

.video-image-hover {
   color: orange !important;
   text-decoration: underline !important;
}

.close-help {
    display: inline-block;
    cursor: pointer;
    text-decoration:underline;
}

#help-close-button {
   margin-right: 8px;
}

.close-help:hover {
    color: #FFA500;
}


/* Help page */
#help-container {
    width:100%;
    height:100%;
}

#help-panel-left {
    display: inline-block;
    height: 254px;
    width: 310px;
    background-image: url(/media/images/help-left.png);
    background-repeat: no-repeat;
    background-position: 20px 13px;
    float: left;
}

#help-panel-left-btm {
    display: inline-block;
    height: 153px;
    width: 310px;
    background-image: url(/media/images/help-left-btm.png);
    background-repeat: no-repeat;
    background-position: 20px 0;
    float: left;
}

#help-panel-right {
    display: inline-block;
    height: 235px;
    width: 232px;
    background-image: url(/media/images/help-right.png);
    background-repeat: no-repeat;
    background-position: 0 15px;
    float: right;
}

#help-overview-link {
    text-align:center;
    width:223px;
    float:right;
    margin-right: 15px;
}

#help-overview-link a {
    color: orange;
}

#help-top-row {
    vertical-align:top;
}

#help-btm-row {
    vertical-align:bottom;
}

/* */

#error-page {
    margin:1em;
}

#error-page h1 {
    color:maroon;
}

#error-page .big-link {
    font-weight:bold;
    color:#02659e;
    text-align:center;
}

#error-page .debug {
    color:silver;
}

/* Login page */

#about-project-tab p {
    margin:1.2em 0;
}

#about-project-tab ul {
    margin:0 1em;
}

#about-team-tab p {
    margin:1em 0;
}

#about-team-tab p.name {
    font-weight:bold;
    clear:both;
}

#about-team-tab img {
    float:left;
    margin:0 1em 1.5em 0;
}

#about-team-tab h1.about-team-section {
    margin: 30px 0 20px 0;
}

#about-team-tab h1#top-section {
    margin-top: 0;
}

#login-message {
    letter-spacing: -1px; 
    color: #0070D5;
    margin-left: 5px;
    clear: both;
    font-size: 14pt;
}

#logout-message {
    clear:both;
}

#logout-message #wufoo {
    height:930px;
    border:1px solid gray;
}

#adminLogin ul.nootabs-menus li a{
    padding-bottom: 7px;
}

#login-table label {
   font-weight: bold;
}

#login-table #login-table-okay {
   float: right;
   font-weight: bold;
}

#roamer-key-sector {
    color: #FF2D2D;
    margin-left: 10px;
    font-weight: bold;
}

#roamer-key-tag {
    margin-left: 10px;
    color: #1FFF1F;
    font-weight: bold;
    margin-right: 5px;
}

#tag-sort-overlay {
    position:absolute;
    top:0px;
    left:0px;
    z-index:1;
}

.feedback-page {
    background:white;
}

#wufoo {
    width:100%;
    height:100%;
    overflow:scroll;
}

#feedback-close {
    display:block;
    position:absolute;
    right:20px;
    top:5px;
    font-weight:bold;
    text-decoration:none;
    background:white;
    border:1px outset silver;
    color:gray;
    padding:.3em 1em;
}

.no-logo {
    color:gray;
    text-align:center;
    margin:0;
}

.notification {
    background:#ffffe1;
    padding:.5em 1em;
    margin-bottom:1em;
    border:1px solid silver;
}

.notification h1 {
   color:#666666;
}

.notification #survey_label {
    color:#33cc00;
}

.society-logo-row-odd {
	background:#cde;
}

.society-logo-row-odd td, .society-logo-row-even td {
	padding:1em .5em !important;
	vertical-align:middle;
}

.sub-conference {
    background:lightblue !important;
	display:none;
}

#resources-tab {
    position:relative;
}

.curly-brace {
    position:absolute;
    left:0px;
    top:0;
}

.curly-brace-mid-div {
	border:1px solid gray;
	background:silver;
	color:white;
    padding:.2em;
    position:absolute;
    left:0px;
    top:0;
}

.curly-brace-mid-div a {
	display:block;
}

div.error {
	background:maroon;
	color:white;
	padding:2px;
}

a.copy-tags-to-clipboard {
    color:gray;
    font-weight:normal;
    display:block;
    margin-top:1em;
}

a.copy-tags-to-clipboard img {
    vertical-align:middle;
}

a.paste-tags {
    color:gray;
    font-weight:normal;
    display:block;
    margin-top:0.5em;
}

a.paste-tags img {
    vertical-align:middle;
}

p.warning {
    font-weight:bold;
}

ul.errors {
    background:maroon;
    color:white;
}

#xplore-results-container div.loading {
    padding-top:6em;
    text-align:center;
}

#xplore-results-container img.loading {
}

#xplore-totals {
    font-style:italic;
    padding-left:5px;
    float: left;
    margin: 0;
}

.print-resource {
    width: 813px;
    height: 20px;
    text-align: right;
    position: absolute;
    padding: 5px;
    background: white;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
}

.nootabs-selected-tab div.group {
    height: 100%;
    overflow: auto;
    margin-top: 10px;
}

#xplore-results-container div.group {
    margin-top: 30px;
}

div.group ul {
   margin-top: -20px;
}

div.group ul li {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
}

#xplore-tab div.print-resource {
    margin-top: -30px;
}

#resource-print-container {
    float: right;
    margin: 9px 0 0 0;
}

#resource-print-icon {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 1px 5px 0 0;
    float: left;
    background: url(../images/printer.png) no-repeat 0 0;
}

.resource-print-icon-hover {
    background: url(../images/printer.png) no-repeat 0 -19px !important;   
}

#powered-by {
    display: inline;
    float:right;
    margin-left: 10px;
}

#articles-tab {
    float:left;
    display:inline;
    cursor:pointer;
}

#textui-tags-search {
    margin: 0 auto;
    font-weight:bold;
    line-height: 1.4;
    width: 335px;
}

#textui-tags-search span.feature_label {
    margin: 0 5px 0 0;
    display: inline-block;
    float:left;
}

#textui-tags-search input {
    border:1px solid #006699;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 155px;
    padding: 2px 0 1px 23px;
    float: left;
    display: inline-block;
    margin-top: 0;
    outline: none;
    font-size: 10pt;
    background: #FFFFFF url(../images/magnifyIcon.png) no-repeat 4px 3px;
    -moz-box-shadow: 1px 1px 1px #3F3F3F;
    -webkit-box-shadow: 1px 1px 1px #3F3F3F;
}

.textui-tags-search-clear-hover {
    background-color: orange !important;
}


#textui-tags-search-clear {
    background-image:url(/media/images/clear-search.png);
    background-position:0 0;
    background-repeat:no-repeat;
    cursor:pointer;
    display:inline-block;
    height:20px;
    margin-left:-20px;
    width:20px;
    float: right;
    display: none;
}

#textui-tags-search-clear:hover {
   background-position: 0 -21px;
}

/* Textui zoom slider */

#textui-zoom-container {
	float:right;
    width:22px;
    padding-top: 88px;
}

#textui-zoom-container .feature_label {
	float:left;
}

#textui-zoom-slider {
	float:left;
	margin:3px;
	margin-right:12px;
	/*background:url(../images/textui-zoom-background.png);*/
    cursor: pointer;
}

.ui-state-default, .ui-widget-content .ui-state-default { /* overrides Jquery UI */ 
    height: 20px !important;
    width: 20px !important;
    left: -5px !important;
    background-color: #006699 !important;
    background-image: url(/media/images/zoom-back.png) !important;
    background-repeat: no-repeat !important;
    background-position: 3px 0 !important;
    border: 1px solid transparent !important;
}

.ui-state-default:hover, .ui-widget-content .ui-state-default:hover {
    background-position: 3px -23px !important;
    background-color: #FFA500 !important;
    border: 1px solid transparent !important;
}

.ui-widget-content {
    border: 1px solid #006699 !important;
}

.ui-widget-content-hover {
    border-color: #FFA500 !important;
}

.ui-slider .ui-slider-handle { /* overrides Jquery UI */
   cursor: pointer !important;
}

#textui-zoom-default-zoom {
	cursor:pointer;
	margin-left: -3px;
	text-decoration: underline;
	font-size: 7pt;
}

#textui-zoom-default-zoom:hover {
    color: orange;
}

.ui-slider-vertical {
    height: 278px !important;
}

#textui-zoom-value {
    display:inline-block;
    margin-left:-6px;
    text-align:center;
    width:32px;
    font-size: 8pt;
}

div#connectedness-container {
    float:left;
    width: 185px;
}

.about-header {
    font-weight: bold;
}

.xplore-full-results-page .pub,
.xplore-full-results-page .desc {
    margin-left:1em;
    margin-right:1em;
}

#tag-name {
    background-color: #FFFFFF; /*Old blue*/
}

#show-video-link {
    display:block;
    text-align:center;
    /* NOTE:Make this non-float and add more left margin to center this on the right side*/
    margin:3.5em 1em 2em 2em;
    float:left;
}

#roamer-help a:hover {
    text-decoration: none;
    color: gray;
    cursor: default;
}

#overview-video-link {
margin-top: -16px;
float: right;   
}

#overview-video-link a:hover {
	text-decoration: none;
}
#overview-video-link a:hover span{
	text-decoration: underline;
}

/*DropDowns*/
#sortContainer_outter {
    float: right;
    width: 200px;
}

#sortContainer_inner {
position: absolute;
display: inline;
}

#sortSelect_options li {
width: 162px; 
padding-left: 3px;
}

#sortSelect {
width: 165px;
}

#sortSelect {
font-weight:bold;
padding:0;
z-index:99;
outline: none;
}

#sortSelect .selected {
padding-left: 3px;   
}

#printContainer_outter {
    display: inline-block;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

#printContainer_inner {
position: absolute;
display: inline;
}

#printSelect_options li {
width: 206px; 
padding-left: 3px;
}

#printSelect {
width: 209px;
margin-right: 10px;
}

#printSelect {
padding:0;
z-index:99;
outline: none;
}

#printSelect .selected {
padding-left: 3px;   
}

#printSelect #resource-print-icon {
margin-left: 5px;   
}

#resource-print-icon span {
display:inline-block;
padding-left:25px;
width:165px;
}

.customSelectContainer {
cursor: pointer;
display: inline-block;
height: 19px;
vertical-align: bottom;
color: #006699;
background-color: #FFFFFF;
border:1px solid #006699;
-moz-border-radius:5px 5px 5px 5px;
-webkit-border-radius:5px 5px 5px 5px;
}

.customSelectContainer .selected {
display: inline-block;
margin: 0;
float: left;
font-weight: normal;
height: 19px;
padding-top: 1px;
}

.customSelectContainer .selected span {
display: inline-block;
margin-left: 4px;
}

.customSelectList {
display: none;
background-color: #FFFFFF;
position: relative;
margin: 5px 0 0 0;
padding: 0;
border: 1px solid #006699;
cursor: pointer;
list-style-position: outside;
margin-top: 4px;
z-index: 999999; 
margin-top: 3px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
}

.customSelectList span {
margin-left: 4px;   
}

.customSelectList li {
list-style-type: none;
margin-left: 0px;
vertical-align: middle;
cursor: pointer;
text-align: left;
padding: 2px 0;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
color: #006699;
}

.customSelectList li:hover {
color: #FF932B !important;
}

.customSelectContainer:focus, .customSelectContainer:hover, .customSelectList:focus, .customSelectList:hover {
cursor: pointer;
color: orange;
}

.selected-hover, .selected-hover span {
color: #FF932B !important;   
}

.customSelectIcon {
width: 42px;
text-align: center;  
margin-right: 14px;
margin-left: 12px !important;
display: inline-block;
float: left;
}

.squareDown {
-moz-border-radius-bottomleft: 0px !important; 
-moz-border-radius-bottomright: 0px !important;
-webkit-border-bottom-left-radius: 0px !important;  
-webkit-border-bottom-right-radius: 0px !important;  
}

.dropIcon {
width: 20px;
height: 19px;
background: url(/media/images/drop_down.png) no-repeat 0px 0px;
}

.dropIcon.open {
background: url(/media/images/drop_down_open.png) no-repeat 0px 0px;
}

.dropIcon.active {
background: url(/media/images/drop_down_active.png) no-repeat 0px 0px;
}

.dropIcon.openActive {
background: url(/media/images/drop_down_openactive.png) no-repeat 0px 0px;
}


/* Tag Page Styling */
#tag_page {
font-size: 12pt;
padding: 0 10px;
}

#tag_page ol li {
margin: 0 0 0 10px;
padding: 0;   
}

#tag_page ul li {
margin: 0 0 0 17px;
padding: 0;   
}

#tag_page p {
margin: 0;
padding: 0;   
}

#tag_page #tag_top {
margin: 0 0 10px 0;
width: 100%;   
}

#tag_header {
font-size: 17pt;
color: #006699;
}

#tag_header span {
font-size: 20pt;
font-weight: bold;   
}

#tag_page h1, #tag_page h2, #tag_page h3, #tag_contents span {
color: #006699;
display: inline-block;
}

#tag_technav {
background: #33CC00 url(/media/images/tag-technavlogo.png) no-repeat 335px center;
width: 450px;
padding: 8px;
float: right;
-moz-border-radius: 10px;
-webkit-border-radius: 10px; 
display: inline-block;
cursor: pointer;
-moz-box-shadow: 1px 1px 5px #3F3F3F;
-webkit-box-shadow: 1px 1px 5px #3F3F3F;
}

#tag_technav:hover {
background-color: orange;
}

#tag_technav span {
color: white;   
text-decoration: none;
width: 305px;
display: inline-block;
}

.topLink {
background: transparent url(/media/images/topLink.png) no-repeat 83px 3px;
float: right;
font-size: 10pt;
margin-top: 23px;
padding-right: 18px;
}

.topLink:hover {
background: transparent url(/media/images/topLink.png) no-repeat 83px -11px;
}

#tag_contents {
font-size: 10pt;
margin-top: 15px;
clear: both;
display: inline-block;
background-color: #DFDFDF;
padding: 10px 15px 10px 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

#tag_contents ol {
margin-left: 10px;   
}

#tag_contents ul {
margin-left: 5px;   
}

#tag_contents span {
font-size: 12pt;
margin-bottom: 10px;
font-weight: bold;
display: inline-block;
}

#tag-xplore h3,
#tag-standards h3,
#tag-periodicals h3 {
  
}

#tag-conferences li, 
#tag-xplore li,
#tag-standards li,
#tag-periodicals li {
margin: 0 0 30px 17px !important;   
}

#tag-conferences li:last-child, 
#tag-xplore li:last-child,
#tag-standards li:last-child,
#tag-periodicals li:last-child {
margin: 0 0 0 17px !important;   
}

#tag-conferences .conference-series {
background-color: #DFDFDF;
padding: 10px;
margin-top: 15px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;   
}