html {
    overflow-y: scroll;
}
body {
    margin: 0px;
    font-family:tahoma;
    font-size:10pt;
    background-color:#6f7985;
}

h2 {
    margin: 0px;
    font-size:100%;
    padding-left: .3em;
}

table {
    border-collapse: collapse;
}

td {
    padding: 0px;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline;
    outline: none;
}

a:visited {
    outline: none;
    color: blue;
}
/* Main layout table */


table.main {
    width:100%;
    background:white;
}

table.main td.left {
    width:10%;
    background-image:url(../images/leftMainShadow.gif);
    background-position:right;
    background-color: #6F7985;
}

table.main td.right {
    width:10%;
    background-image:url(../images/rightMainShadow.gif);
    background-position:left;
    background-color: #6F7985;
}

table.main td.center {
    width:80%;
    min-width: 970px;
}

table.main td.center .center-pad {
    margin:4px 10px;
}

#header {
    background-image:url(../images/topMainShadow.gif);
    background-repeat:repeat-x;
    background-position:top;
    height:67px;
    text-align:left;
    position:relative;
}

#header .banner {
    position:relative;
    top:17px;
    left:10px;
}

#header a.home {
    float:left;
    display:block;
}

#header a.home img {
    border: none;
}

#header .leftCorner {
    position:absolute;
    left:-13px;
}

#header .rightCorner {
    position:absolute;
    right:-13px;
}

#header .floating {
    display:block;
    position:absolute;
    right:15px;
    bottom:5px;
    font-size:75%;
    color:gray;
    text-align:right;
    line-height:1.8em;
}

#header .floating a {
    color: gray;
}

#header #feedback-link {
    top:15px;
    height:1.7em;
    font-size:.8em;
    color:white;
    width:229px;
    background-image:url(../images/survey_button.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

#header #feedback-link:hover {
    background-position: 0 -19px;
}

#header #switch-link {
    top: 15px;
    right: 265px;
    height: 20px;
}

#header a.floating img {
    vertical-align:middle;
    border:none;
}

.center-pad p.admin-links {
    clear:both;
    display:block;
    float:right;
    margin: 0 10px 10px 0;
    font-size:80%;
    color:gray;
}

.center-pad p.admin-links a {
    color:gray;
}

#footer {
    clear:both;
    background-image:url(../images/mainBottomBackground.png);
    background-repeat:repeat-x;
    background-position:top;
    height:40px;
    position:relative;
    z-index: 1;
}

#footer .leftCorner {
    position:absolute;
    left:-13px;
}

#footer .rightCorner {
    position:absolute;
    right:-13px;
}

/* Reset Firefox & IE's lists */

ul {
    margin:0px;
    padding:0px;
}

li {
    margin:0px;
    padding:0px;
    margin-left:2em;
}

/* */

.row-container {
    overflow:auto;
}

ul#view-header {
    list-style-type: none;
    float:right;
    
    /* For IE6 hasLayout bug */
    zoom:1;
}

ul#view-header li {
    float:left;
    margin-left:10px;
}

#left-column {
    float:left;
    margin:5px 5px 10px 0;
    overflow:auto;
}

#left-column-border {
    border:1px solid #dadada;
    margin-right:5px;
}

#left-column ul {
    display:block;
    list-style-type: none;
    width: 176px;
}

#left-column ul#sectors li,
#left-column ul#societies li {
    margin:0px;
    width: 174px;
}

#left-column ul#societies li {
    margin:0px;
    width: 160px;
}

#left-column ul li.all {
    font-weight:bold;
}

#left-column ul li a {
    display:block;
    color:black;
    text-decoration:none;
}
#left-column ul li a:hover {
    /* TODO: this affects galaxy too, should be roamer only */
    background:#bad4f9;
}

#left-column h2.feature_label {
    margin-bottom: 5px;
}

#galaxy-tabs li{
    width: 87px;
}

#left-column-container .nootabs-menu {
    margin-left: 0;
}

#left-column-container .nootabs-menu a {
    background-color:white;
    font-weight: normal;
}

#left-column-container .nootabs-tab {
    border: 1px solid #006699;
    height: 400px;
    width: 174px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-top: 5px;
}
#left-column-container .nootabs-menus li.nootabs-selected-menu {
    border: 1px solid #006699;
    border-bottom: 0px solid white;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

#left-column-container .nootabs-menus li.nootabs-menu a:hover{
    background-color: white;
    text-decoration: underline !important;
    color: orange;
}

#left-column-container .nootabs-menus li.nootabs-selected-menu a:hover {
    background-color: white;
    text-decoration: none !important;
    color: #006699 !important;
}

#left-column-container .nootabs-menus li.nootabs-selected-menu a{
    font-weight: bold;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    color: #006699;
}

#left-column-container div#sectors-tab {
    -moz-border-radius-topleft: 0px !important;
    -webkit-border-top-left-radius: 0px !important;
}

#left-column-container div#societies-tab {
    -moz-border-radius-topright: 0px !important;
    -webkit-border-top-right-radius: 0px !important;
}

#right-column {
    float:left;
    margin:10px 0px;
}

#right-column-border {
    border:1px solid #dadada;
    margin-left:5px;
    height:328px;
}

/* This prevents the page from getting so small that galaxy/roamer wraps underneath the left-side nav */
#page-min-width {
    /*border:10px solid purple;*/
    /*background:blue;
    height:2px;*/
    overflow:hidden;
    height:0px;
    width:803px;
}

#constellation_roamer {
    bborder:2px solid black;
}

#constellation_roamer2 {
    bborder:2px solid blue;
}

#results-label {
    font-weight:bold;
}

/* Content */
#resource_container {
    padding-right: 5%;
}   

#content {
    clear: both;
}

#content .sc_img {
    border: none;
    margin-left: 30px;
}

#content .sc_link {
    color: #485973;
}

#content .item_head {
    background-color: #006599;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 0 0 0;
    padding:0px;
    text-indent: 10px;
}

#content .item_head img {
    vertical-align:bottom;
    margin:0px 15px;
}

#content table.society-images {
    font-weight: bold;
    margin: 5px 5px 0 25px;
}

#content table.society-images img {
    border:none;
}

#content table.society-images td {
    padding-bottom: 10px;
}

#content table.society-images td.society-logo {
    padding-right: 10px;
}

#content p.item_even {
    font-weight: bold;
    /* background-color: #BAD4F9; */
    padding: 5px 5px 0 25px;
    margin: 0px;
    vertical-align: top;
}

#content p.item_odd {
    font-weight: bold;
    /* background-color: #CDE0FC; */
    padding: 5px 5px 0 25px;
    margin: 0px;
}

#content p.desc_even {
    /* background-color: #BAD4F9; */
    padding: 5px 5px 0 25px;
    margin: 0px;
}

#content p.desc_odd {
    /* background-color: #CDE0FC; */
    padding: 5px 5px 0 25px;
    margin: 0px;
}

#content p.pub_even {
    /* background-color: #BAD4F9; */
    font-style: italic;
    padding: 5px 5px 0 25px;
    margin: 0px;
}

#content p.pub_odd {
    font-style: italic;
    padding: 5px 5px 0 25px;
    margin: 0px;
}

#content-title {
    clear: both;
}

/* */
.backtotop, .backtoptop:hover, .backtotop img {
    text-decoration: none;
    border: none;
    color: black;
    margin-top: -15px;
}

.debug {
    background: white;
    /*border:1px solid #c88;*/
    padding:.2em;
    margin:1em 0em;
}

.feedback-bar {
    font-size:80%;
    color:gray;
    clear: both;
    float: left;
    margin: 0 0 10px 10px;
}

.feedback-bar a {
    /*color:#666;*/
    color:gray;
    font-weight:bold;
}

/* Roamer Interface */ 

table#roamer-header {
    width: 100%;
}

span.roamer-note {
    font-weight: bold;
}

span#roamer-beta-warning {
    font-size: 9pt;
}

/* Galaxy Interface */

#roamer-outline {
    border:1px solid #006699;
    margin:5px 0.2em 0.5em;
    height: 100%;
}

#alternate-page #left-column {
    width:180px;   
    height:500px;
	float:left;
    margin:0;
}

#left-column-container {
    margin-top: .2em; 
    position:absolute;
    /*height:437px;*/
    width: auto;
}

#left-column-container .sectors-vert-box {
    /*height: 71.3%;*/
}

#left-column-container .filters-vert-box {
    height: 20.5%;
}

#alternate-page #right-column {
    float:none;
    /* NOTE: This is overridden for IE7 */
    padding-left:185px;
}

#alternate-page .ui-footer {
	clear:both;
}

.textui-page #right-column {
    height:440px;
}

#alternate-page .alt-box {
    border:1px solid #006699;
    margin: .2em .2em 1em .2em;
}

#alternate-page .alt-box .alt-box-pad {
    padding:.5em;
}

#alternate-page #left-column ul#sectors li a,
#alternate-page #left-column ul#societies li a {
    color:#333333;
    margin:0px;
    padding:.2em .4em;
}

#alternate-page #left-column ul#sectors li.cluster-list-item a {
    padding-left:1.5em;
}

#alternate-page #left-column ul#sectors li a:hover,
#alternate-page #left-column ul#societies li a:hover {
    background:orange !important;
    color: white;
}

#alternate-page #left-column ul#sectors li a.active-sector {
    background:#006699;
    color: white;
}

#alternate-page #left-column ul#societies li a {
    color:#333333;
    margin:0px;
    padding:.2em .4em;
}

#alternate-page #left-column ul#societies li.cluster-list-item a {
    padding-left:1.5em;
}

#alternate-page #left-column ul#societies li a:hover {
    background:orange;
    color: white;
}

#alternate-page #left-column ul#societies li a.active-society {
    background:#006699;
    color: white;
}

#alternate-page #left-column ul#views li {
    color: #333333;
    margin:0px;
    /*padding: .05em 0em;*/
    font-size:90%;
    padding:0 5px 0 0;
    cursor: pointer;
}

#alternate-page #left-column ul#views li:hover {
    background-color: orange;
    color: white;
}

#alternate-page #left-column ul#views li input {
    margin:2px;
    vertical-align:middle;
}

#alternate-page #left-column ul#views li input,
#alternate-page #left-column ul#views li label {
    cursor: pointer;
}

#alternate-page #tags {
    height: 440px;
    overflow: hidden;
    line-height: 1.2em;
}

#alternate-page #tag-galaxy {
    height: 417px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}                            


#alternate-page #tag-galaxy .alt-box-pad {
    height: 96.5%;
    overflow: auto;
}

#alternate-page #tag-galaxy #tags h2 {
    font-size:110%;
    color:#006699;
}

#alternate-page #tag-galaxy #tags h3 {
    font-size:100%;
    clear:left;
    margin:.5em .5em 0 .5em;
}

#alternate-page #tag-galaxy #tags a.back-link {
    font-size:80%;
    margin:.5em;
}

#alternate-page #tag-galaxy #tags a.back-link img {
    border:none;
    vertical-align:absmiddle;
}

#alternate-page #tag-galaxy div.node
{
    float:left;
    margin:1em .5em;
    padding:.2em;
    border: 1px solid white;
    background-color: #e9edf0;
    border-bottom: 1px solid #37607d;
    border-right: 1px solid #37607d;
    height:18px;
}

#alternate-page #tag-galaxy div.tag {
}

#alternate-page #tag-galaxy div.tag_cluster {
    background-color: #006699;
    border-bottom: 1px solid #navy;
    border-right: 1px solid #navy;
}

#alternate-page #tag-galaxy div.node table {
    border-collapse:collapse;
}

#alternate-page #tag-galaxy div.node table td {
    margin:0px;
    padding:0px;
}

#alternate-page #tag-galaxy div.node table td .node-block-container {
    margin-left:5px;
}

/* disabled highlighting of selected tags */
/*
#alternate-page #tag-galaxy div.activeTag {
    background:#BAD4F9;
}
*/

#alternate-page #tag-galaxy div.tag_cluster img {
    margin:-2px 0 -2px 0;
    vertical-align:middle;
}

#alternate-page #tag-galaxy div.node a {
    color:black;
    font-size:110%;
    text-decoration:none;
    font-weight:bold;
    float:left;
    white-space: nowrap;
}

#alternate-page #tag-galaxy div.node a:hover {
    color:blue;
    text-decoration:underline;
}

#alternate-page #tag-galaxy div.tag_cluster a {
    color:white;
    float:none;
    vertical-align:middle;
}

#alternate-page #tag-galaxy div.tag_cluster a:hover {
    color:white;
    text-decoration:underline;
}


#alternate-page #tag-galaxy div.node .tag-block-container {
    float:left;
    margin-left:7px;
}

#alternate-page #tag-galaxy div.block-top,
#alternate-page #tag-galaxy div.block-bottom
{
    width:7px;
    height:7px;
    overflow:hidden;
}

#alternate-page #tag-galaxy div.block-top {
    margin-bottom:2px;
}

#alternate-page #tag-galaxy div.block-bottom {
    margin-bottom: 1px;
}

/* */

#alternate-page #tag-galaxy div.node a.level1,
h3.level1 {
    color: #3087d5;
}

#alternate-page #tag-galaxy div.node a.level2,
h3.level2 {
    color: #4153a3;
}

#alternate-page #tag-galaxy div.node a.level3,
h3.level3 {
    color: #8e5590;
}

#alternate-page #tag-galaxy div.node a.level4,
h3.level4 {
    color: #c24173;
}

#alternate-page #tag-galaxy div.node a.level5,
h3.level5 {
    color: #de4238;
}

#alternate-page #tag-galaxy div.node a.level6,
h3.level6 {
    color: #ff3000;
}

td.no-level {
    background: silver;
    color:black;
}

div.level1,
span.level1,
td.level1 {
    color:#white;
    background: #3087d5;
}

div.level2,
span.level2,
td.level2 {
    color:white;
    background: #4153a3;
}

div.level3,
span.level3,
td.level3 {
    color:white;
    background: #8e5590;
}

div.level4,
span.level4,
td.level4 {
    color:white;
    background: #c24173;
}

div.level5,
span.level5,
td.level5 {
    color:white;
    background: #de4238;
}

div.level6,
span.level6,
td.level6 {
    color:white;
    background: #ff3000;
}

/* */
/* sector key */
#sector_key-text {
    float: right; 
    margin-top: -10px;
    line-height: 1.2em; 
    list-style-type: none; 
    font-size: 11px; 
    margin-right: 5px;
}

#sector_key-blocks {
    float: right; 
    margin-top: -5px; 
    list-style-type: none;
    margin-right: 25px;
}

.tag-block-container {
    float:left;
    margin-left:3px;
}

.block-top, .block-bottom {
    width:5px;
    height:5px;
    overflow:hidden;
}

.block-top {
    margin-bottom: 5px;
}

table.vert-center {
    border-collapse:collapse;
}

table.vert-center td {
    vertical-align:middle;
    padding:0px !important;
}

/* */

#choose-page .center-pad {
    text-align:center;
}

#choose-page h1 {
    color:#666;
    font-size:150%;
}

.screenshot-container {
    float:left;
    text-align:center;
    width:50%;
    margin-bottom:5em;
}

.screenshot-container h2 {
    margin-bottom:.3em;
    font-size:130%;
}

.screenshot-container a img {
    border:1px solid #ccc;
    
}

#wait, #loading {
    position:relative;
    top:45%;
    margin:0px auto;
    text-align:center;
    color:#aaa;
}

.please-wait {
    top:35% !important;
}

#loading {
    margin:2em;
}

#devbar {
    background:maroon;
    color:white;
    text-align:center;
    padding:.2em;
    font-weight:bold;
    font-size:150%;
}
/* frequency and key styles */
.helpbracket {
    vertical-align: text-bottom;
    display: inline-block;
    cursor: pointer;
    color: blue;
}

#frequencybar-tags {
    /*margin-top: -6px;*/
    clear: right;
    overflow:auto;
}

#frequencybar {
   margin-top: -5px;
   margin-left: 2px;
}

#galaxy-key {
    float: left; 
    margin-left: 2px;
}

#frequencybar-tags img {
    margin-right: 1px;
    vertical-align:text-top;
}

#frequencybar-tags ul li {
    list-style-type: none;
}

/* hidden for now, will note that it is a key on the galaxy help page
#key-label {
    font-size: 1.3em;
    padding: 0 0 0 5px;
    display:none;
}
*/

.feature_label {
    font-size: 11pt; 
    font-weight: bold;  
}

#connectedness {
    font-weight: bold;
    vertical-align: bottom;
}

#galaxy-connectedness-help {
    font-size: 8pt;
    padding-left: 5px;
    line-height: 15px;
}

#frequency-indicator {
    margin-top: -2px;
    padding: 0 0 0 5px;
}

/*
#frequency-indicator img {
    margin-top: -4px;
}
*/

#tag-model-left,
#tag-model-indicator {
    font-size: .7em; 
    display: inline-block; 
    vertical-align: text-bottom;
    height: 18px;
}

#tag-model-left td,
#tag-model-indicator td {
    text-align: center;
    padding-left: 6px;
}

#tag-model-left-img {
    height: 18px;
    font-size: .7em;
    padding-top: 3px; 
    padding-left: 3px
}

#tag-model-right {
    font-size: .7em; 
    display: inline-block
}

#frequencybar-tags img.tag-model-rightarrow {
    margin-left: -17px;
    padding-top: 3px;
    vertical-align: top;
}

#frequencybar-tags img.tag-model-arrow {
    vertical-align: middle;
}

#frequencybar .homeico-cell {
    width:60px;
}

#frequencybar .key-cell {
    width:190px;
}

.roamer-beta-warning-cell{
    padding-left: 2px;
}

#homeico,
#homeico-tags {
    float: left;
    margin-right: 10px;
}


#homeico img,
#homeico-tags img {
    border: none;
    padding-bottom: 2.3px;
}

#homeico-tags img {
    margin-top: -1px;
}

#roamer-beta-warning {
}

/* */
/* sort dropdown */
#sortmenu {
    vertical-align: middle;
    float: right; 
    padding-right: 2px;
    padding-bottom: 3px;
    font-weight: bold;
}

#sortmenu select {
   font-size: 80%;
}

#tag-sort {
    font-size: 100%;
}

#galaxy-sort-help {
    padding-left: 5px;
    font-weight: normal;
}
/* */


.browser-warning {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
}

.browser-warning-shadow {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    background:gray;
    opacity:.75;
    filter:alpha(opacity=75);
    z-index:1;
}

.browser-warning-content {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    z-index:2;
    text-align: center;
}

.browser-warning-content2 {
    margin:0px auto;
    width:75%;
    height:400px;
    margin-top:15%;
    font-size:130%;
}

.browser-warning-content2 a {
    color:navy;
    text-decoration:underline;
}

.browser-warning-content2 ul {
    list-style-type: none;
}

/* */

input[type=submit], input[type=button] {
    border: 1px outset #53595F;
    background-color: #016797;
    color: white;
    cursor: pointer;
    padding: 2px;
    /* NOTE: This causes IE7 to truncate button widths */
    /*min-width: 40px;
    width: auto;*/
} 

input[type=submit]:focus, input[type=button]:focus {
    border: 1px inset #016797;
}

input.disabled {
    background:#ccc;
    color:gray;
    cursor: default;
}
input.disabled:focus {
    border: 1px outset #53595F;
}

#login-tab {
   padding-top: 23px;
}

table#login-table th{
    text-align: left;
    padding: 5px;
}

table#login-table {
    margin-bottom: 10px;
    float: left;
}

table#login-table td {
    padding: 5px;
}

/* */

.tags-table-loading {
    text-align:center;
    font-size:200%;
    font-weight:bold;
    padding:3em;
    color:white;
}

/* */

.over-shadow {
    background:black;
    position:absolute;
    opacity:0.50;
    filter:alpha(opacity=50)
}

.over-shadow-content {
    position:absolute;
}

/* */

form.block-labels label {
    display:block;
    font-weight:bold;
}

.cancel-link {
    margin-left: 5px;
}

a.cancel-link:visited {
    color: blue;
}

div.submit {
    text-align: right;
}

#login-table div.submit p {
    text-align: left;
}

.horizontal-radios ul li {
    float:left;
    margin:0px 1.2em;
}

#resources-link {
    display:block;
    padding:.5em;
    text-decoration:none;
    background:#006699;
    color:white;
    font-weight:bold;
    text-align: center;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

#alternate-page div#resources-explanation {
    border: 0;
    text-align: center;
    font-weight: bold;
}

#resources-explanation-text {
    margin:0.5em;
}

#resources-link:hover {
    /*background:#eee;*/
}

.filter_background_highlight {
    background:#006699;
}

.filter_background_highlight label {
    color:white;
}

.hide-initally {
    display:none;
}

/* NOTE: This is needed for the #resources-link link.  Otherwise it shows up briefly when the page loads. */
#content .hide-initally {
    display:none;
}

#resources-tab p.items-per-page,
form.items-per-page {
    float:right;
    padding-top:1em;
    clear:right;
}

select.items-per-page {
    width:auto !important;
}

/* Tooltip Styles */

.node-tooltip {
    width:400px;
}

.node-tooltip h3 {
    font-size:220%;
    line-height:1em;
    margin:0;
}

table.node-tooltip-grid {
    margin-top: 10px;
}

table.node-tooltip-grid td {
    padding-top:5px;
    padding-right:5px; 
}

.sector-block,
.related-tags-block,
.filter-block,
.societies-block
{
    height:55px;
    width:55px;
    text-align:center;
    font-weight:bold;
    color: white;
    font-size:85%;
    margin-right: 10px;
}

.sector-block {
    /*background:#fff200;*/
}

.related-tags-block {
    /*background:#f7941d;*/
}

.filter-block {
    /*background:silver;*/
    color: black;
    font-weight: bold;
}

.tooltip-filters, .filter-block {
    vertical-align: top;
    font-size: 8pt;
    height: 30px;
}

.results-links { 
    width:100%;
    text-align:center;
    padding-top: 1em;
}

.results-links a {     
    text-decoration:underline;
    color:#006699;
    font-size:110%;
    font-weight:bold;
    text-align: center;
}

.results-links a:hover {
    color: orange;
}

.textui-help {
    width:100%;
    height:100%;
}

.section-header {
    padding-left: .3em;
    font-weight: bold;
}

p.export {
}

/* Home page */

#home-container {
   margin-left: 20px;
   margin-right: 10px;
   font-size: 13pt;
   line-height: 20px;
   font
}

#home-container #home-stepconnect-cell {
    width: 245px;
    padding-top: 14px;
    vertical-align: top;
}

#home-container .home-leftarrow-cell {
   background-repeat: no-repeat;
   width: 68px;
   padding-bottom: 10px;
}

#home-container #home-stepstart-arrow {
    background-image: url(/media/images/home_leftarrow_grn.png);
    background-position: 0 11px;
}

#home-container #home-stepstart-cell {
   height: 50px;
   vertical-align: bottom;
}

#home-container #home-stepstart-cell #start {
    font-weight: bold;
    color: #33CC00;
}

#home-container #home-stepsort-cell {
    background-image: url(/media/images/home_uparrow.png);
    background-repeat: no-repeat;
    background-position: 94px 20px;
    float: right;
    width: 205px;
    padding-top: 82px;
}

#home-container #home-stepfilter-arrow {
    background-image: url(/media/images/home_leftarrow.png);
    background-position: 0 165px;
}

#home-container #home-stepfilter-cell {
    width: 200px;
    padding-top: 155px;
}

#home-container #home-titletag-cell {
    float: right;
    width: 326px;
    font-size: 33px;
    line-height: 1em;
    color: #0070D5;
    margin-top: 30px;
}

#home-container #home-titletag-cell #connections, #login-message #connections {
    color: #33CC00;
}

/* */

#error-page {
    margin:1em;
    font-size:100%;
}

#error-page h1 {
    color:maroon;
    font-size:150%;
}

#error-page .big-link {
    font-size:110%;
    font-weight:bold;
    color:#02659e;
    text-align:center;
}

#error-page .debug {
    color:silver;
    font-size:9pt;
}

/* Login page */

#about-project-tab p {
    margin:1.2em 0;
}

#about-project-tab ul {
    margin:0 1em;
}

#about-team-tab p {
    margin:1em 0;
}

#about-team-tab p.name {
    font-weight:bold;
    clear:both;
}

#about-team-tab img {
    float:left;
    margin:0 1em 1.5em 0;
}

#about-team-tab h1.about-team-section {
    margin: 30px 0 20px 0;
}

#about-team-tab h1#top-section {
    margin-top: 0;
}

#login-message {
    font-size: 33px; 
    letter-spacing: -1px; 
    color: #0070D5;
    margin-left: 370px;
}

#logout-message {
    clear:both;
}

#logout-message #wufoo {
    height:930px;
    border:1px solid gray;
}

#adminLogin ul.nootabs-menus li {
   font-size: 18px;
}

#adminLogin ul.nootabs-menus li a{
    padding-bottom: 7px;
}

#login-table label {
   font-weight: bold;
}

#login-table #login-table-okay {
   float: right;
   font-weight: bold;
}

#roamer-key-sector {
    color: #FF2D2D;
    margin-left: 10px;
    font-size: 8pt;
    font-weight: bold;
}

#roamer-key-tag {
    margin-left: 10px;
    color: #1FFF1F;
    font-size: 8pt;
    font-weight: bold;
    margin-right: 5px;
}

#tag-sort-overlay {
    position:absolute;
    bborder:1px solid red;
    top:0px;
    left:0px;
    z-index:1;
}

.feedback-page {
    background:white;
}

#wufoo {
    width:100%;
    height:100%;
}

#feedback-close {
    display:block;
    position:absolute;
    right:20px;
    top:5px;
    font-weight:bold;
    text-decoration:none;
    background:white;
    border:1px outset silver;
    color:gray;
    padding:.3em 1em;
}

.no-logo {
    color:gray;
    text-align:center;
    margin:0;
}

.notification {
    background:#ffffe1;
    padding:.5em 1em;
    margin-bottom:1em;
    border:1px solid silver;
}

.notification h1 {
   color:#666666;
}

.notification #survey_label {
    color:#33cc00;
}

.society-logo-row-odd {
	background:#cde;
}

.society-logo-row-odd td, .society-logo-row-even td {
	padding:1em .5em !important;
	vertical-align:middle;
}

.sub-conference {
    background:lightblue !important;
	display:none;
}

#resources-tab {
    position:relative;
}

.curly-brace {
    position:absolute;
    left:0px;
    top:0;
}

.curly-brace-mid-div {
	border:1px solid gray;
	background:silver;
	color:white;
    padding:.2em;
    position:absolute;
    left:0px;
    top:0;
}

.curly-brace-mid-div a {
	display:block;
}

div.error {
	background:maroon;
	color:white;
	padding:2px;
}

a.copy-tags-to-clipboard {
    font-size:80%;
    color:gray;
    font-weight:normal;
    display:block;
    margin-top:1em;
}

a.copy-tags-to-clipboard img {
    vertical-align:middle;
}

a.paste-tags {
    font-size:80%;
    color:gray;
    font-weight:normal;
    display:block;
    margin-top:0.5em;
}

a.paste-tags img {
    vertical-align:middle;
}

p.warning {
    font-weight:bold;
}

ul.errors {
    background:maroon;
    color:white;
}

#xplore-results-container div.loading {
    text-align:center;
}

#xplore-results-container img.loading {
    ddisplay:block;
    mmargin:4em auto;
}

#resource-print-link, a.resource-tab-print-link {
    float:right;
    margin:1.2em .5em;
    font-size:80%;
    background:url(../images/printer.png) no-repeat left;
    padding-left:2em;
}

#resource-print-link {
    color:#777;
}

a.resource-tab-print-link {
    color:#999;
}

#powered-by {
    display: inline;
    float:right;
    margin-left: 10px;
}

#articles-tab {
    float:left;
    display:inline;
    cursor:pointer;
}

#textui-tags-search {
    float:left;
    margin-left:2em;
    font-weight:bold;
}

#textui-tags-search span.feature_label {
    margin: 1px 5px 0 0;
    display: inline-block;
    float:left;
}

#textui-tags-search input {
    font-size:100%;
    border:1px inset gray;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}