.submit-button {
    vertical-align: middle;
}

#lightbox .resources-lightbox-content .resources-pad {
    padding:.5em;
    height: 100%;
    width: 98.5%;
}

#lightbox .resources-lightbox-content h1 {
    margin-left: 31px !important;
}

#lightbox .resources-lightbox-content .resources-pad .alt-box,
#lightbox .resources-lightbox-content .resources-pad .alt-box #content,
#lightbox .resources-lightbox-content .resources-pad .alt-box #content #resource-tabs {
    height: 100%;
}

#lightbox .resources-lightbox-content .resources-pad .alt-box #content #resource-tabs .nootabs-selected-tab {
    height: 356px !important;
}

.nootabs-selected-tab div.group {
    height: 326px !important;
    padding-top: 30px !important;
}

#lightbox .resources-lightbox-content {
    height:500px !important;
}

ul.pages {
    padding-top: 10px !important;
}

#tag-model-left,
#tag-model-indicator {
    vertical-align: baseline !important;
    margin-right: 5px;
    display: inline !important;
}

form.items-per-page {
    padding-top: 1.5em !important;
}

#frequencybar-tags {
    margin-top: -7px !important;
}

#sortmenu {
    padding-top: 0 !important;
}

#home-container #home-titletag-cell {
    padding-top: 35px;
}

#left-column ul#sectors li,
#left-column ul#societies li {
    width: auto !important;
}

#left-column ul#sectors li a {
    width: 164px !important;
}

#right-column {
	margin-left:190px;
}

#alternate-page #right-column {
    padding-left:0;
}

#alternate-page #tag-galaxy {
    padding: 7px 5px 0 0 !important;
}                   

.print-resource {
    width: 777px !important;
}

#resource-print-link {
    margin-right: 2.3em !important;
}

#xplore-tab div.print-resource {
    margin-top: 0;
}

#xplore-tab div.group {
    margin-top: 0;
}

#xplore-totals {
    margin-top: -15px !important;
}

#lightbox .resources-lightbox-content ul.nootabs-menus li.end-group-menu {
    margin-right: 49px !important;
}

div#connectedness-container {
    margin: -20px 0 0 203px !important;
}

div.survey-button {
    margin: -20px 33px 10px 0;
}

p.admin-links {
    margin-top: -20px !important;
}

#textui-tags-search-clear {
    float: none;
    display: inline-block;
}

#header #links {
    padding-top: 25px;
}