{% extends 'site_admin/admin_base.html' %}

{% block main_table_content %}
    <h1>Paste Topics</h1>
    <p class="warning">
        Warning: Pasting these topics will overwrite any existing topics for the "{{ to_resource.name }}" resource.  This action cannot be undone.  Also, if you have made any changes to the Edit Resource form, please save those changes and then paste topics.
    </p>
    <p>
        Current Topics for the "{{ to_resource.name }}" resource:
    </p>
    <p class="tags">
        {{ to_tag_names|join:", " }}
    </p>
    <p>
        Topics After Pasting:
    </p>
    <p class="tags">
        {{ from_tag_names|join:", " }}
    </p>
    
    <input type="button" value="Paste Topics" onclick="window.location='{% url 'admin_paste_resource' to_resource.id %}';" />
    <input type="button" value="Cancel" class="lightbox-close" />
    
{% endblock %}
