{% extends 'site_admin/admin_base.html' %}

{% block main_table_content %}
    <h1>{% if cluster %} Edit {% else %} Create New {% endif %} Topic Area {% if society %}for Organization: {{ society.name }}{% endif %}</h1>
    {% if cluster %}
        <form action="{% url 'admin_edit_cluster' cluster.id %}?return_url={{ return_url|urlencode }}&amp;society_id={% if society %}{{ society.id }}{% endif %}" method="post">
    {% else %}
        <form action="{% url 'admin_create_cluster' %}?return_url={{ return_url|urlencode }}&amp;society_id={{ society_id }}" method="post">
    {% endif %}
        <div class="submit">
            <input type="submit" value="Save" class="submit-button" />
            <input type='button' value='Cancel' class='submit-button' onclick='window.location="{{ return_url }}"' />
            {% if user.is_superuser and cluster %}
                <a href="" onclick="if (confirm('Are you sure you want to delete this topic area?  This cannot be undone.')) window.location='{% url 'admin_delete_cluster' cluster.id %}?return_url={{ return_url|urlencode }}';" class="cancel-link">Delete</a>
            {% endif %}
        </div>
        {% csrf_token %}
        <table class="grid edit-create">
            {{ form }}
        </table>
        <div class="submit">
            <input type="submit" value="Save" class="submit-button" />
            <input type='button' value='Cancel' class='submit-button' onclick='window.location="{{ return_url }}"' />
            {% if user.is_superuser and cluster %}
                <a href="" onclick="if (confirm('Are you sure you want to delete this topic area?  This cannot be undone.')) window.location='{% url 'admin_delete_cluster' cluster.id %}?return_url={{ return_url|urlencode }}';" class="cancel-link">Delete</a>
            {% endif %}
        </div>
    </form>

{% endblock %}
