{% extends 'site_admin/admin_base.html' %}

{% load eval includes pagination permissions %}

{% block main_table_content %}
    
    <h1>Edit {{ resources|length }} Resources <span class="batch-editing-note">(See list of resources in table below)</span></h1>
    
    <form action="{% url 'admin_edit_resources' %}?process_form=1&amp;return_url={{ return_url|urlencode }}&amp;society_id={{ society.id }}" method="post">
        {% csrf_token %}
        <table class="grid edit-create">
            {% comment %}
            {{ form }}
            {% endcomment %}
            <tr>
                <th>
                    <label for="id_assign_tags">{{ form.assign_tags.label }} <span class="help_icon flyover {position: 'top', customClass:'editForm'}" title='Typing a portion of a word or phrase will bring up a list of all matching topics. Choose "Create a new topic" if a matching topic does not exist.'>[?]</span>:</label>
                </th>
                <td>
                    {{ form.assign_tags.errors }}
                    {{ form.assign_tags }}
                    <div class="multisearch-note">Type * to show all<br/>of this organization's topics</div>
                </td>
            </tr>
            <tr>
                <th>
                    Remove Topics <span class="help_icon flyover {position: 'top', customeClass:'editForm'}" title="Remove selected topics">[?]</span>:
                </th>
                <td>
                    {% if not common_tags %}
                        The selected resources don't have any topics in common.
                    {% endif %}
                    <ul>
                        {% for tag in common_tags %}
                            <li>
                                <input type="checkbox" id="remove_tag_{{ tag.id }}" name="remove_tag_ids" value="{{ tag.id }}" />
                                <label for="remove_tag_{{ tag.id }}">{{ tag.name }}</label>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_priority">{{ form.priority.label }} <span class="help_icon flyover {position: 'top', customClass:'editForm'}" title='If "yes", these resources should be as complete as possible. Topics, Description, and URL.'>[?]</span>:</label>
                </th>
                <td>
                    {{ form.priority.errors }}
                    <span class="horizontal-radios">
                        {{ form.priority }}
                    </span>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_completed">{{ form.completed.label }} <span class="help_icon flyover {position: 'top', customClass:'editForm'}" title='If "yes", these resources are completed. At least one Topic is mapped. Description, and URL are added/validated.'>[?]</span>:</label>
                </th>
                <td>
                    {{ form.completed.errors }}
                    <span class="horizontal-radios">
                        {{ form.completed }}
                    </span>
                </td>
            </tr>
        </table>
        <div class="submit">
            <input type="submit" value="Save" class="submit-button" />
            <a href="{{ return_url }}" class="cancel-link">Cancel</a>
        </div>
        <br/>
        
        <table class="grid selected-resources">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Topics
                </th>
                <th>
                    Priority
                </th>
                <th>
                    Completed
                </th>
            </tr>
            {% for resource in resources %}
                <tr>
                    <td class="first-item">
                        <input type="hidden" name="resource_ids" value="{{ resource.id }}" />
                        {{ resource.name }}
                    </td>
                    <td>
                        {{ resource.nodes.all|join:", " }}
                    </td>
                    <td>
                        {{ resource.priority_to_tag|yesno }}
                    </td>
                    <td class="last-item">
                        {{ resource.completed|yesno }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </form>
        
{% endblock %}
