{% extends 'site_admin/admin_base.html' %}

{% block main_table_content %}
    
    <script>
        
        function attachMultisearchEvents() {
            var multisearch = $('#multisearch_related_tags').data('multisearch');
            if (!multisearch) {
                // Wait till multisearch is available
                setTimeout(attachMultisearchEvents, 50);
            } else {
                // Got multisearch, attach events
                multisearch.subscribe('click_create_new_tag', function(multisearch, event, data) {
                    // User clicked on "create new tag" link, show page in lightbox
                    Lightbox.show('{% url 'admin_create_tag' %}?default_tag_name=' + escape(data.tag_name) + '&society_id={{ society_id }}', {
                        closeOnClickOutside: false
                    });
                });
            }
        }
        
        window.notify = function(action, data) {
            if (action == 'created_tag') {
                // Just created a tag, add it to the field
                var multisearch = $('#multisearch_related_tags').data('multisearch');
                
                // Add the newly created tag to the list of options
                multisearch.addSelectedOption({
                    name: data.tag.name,
                    name_link: data.tag.name_link,
                    value: data.tag.value,
                    tag_name: data.tag.tag_name,
                    //sector_names: data.tag.sector_names,
                    num_societies: data.tag.num_societies.toString(),
                    num_related_tags: data.tag.num_related_tags.toString(),
                    num_filters: data.tag.num_filters.toString(),
                    num_resources: data.tag.num_resources.toString()
                });
                
                // Trigger a refresh of the popup
                multisearch.updatePopup();
            }
        }
                
        $(function() {
            attachMultisearchEvents();
        });
        
    </script>

    <h1>Edit Topic</h1>
    <form action="{% url 'admin_save_tag' tag.id %}?return_url={{ return_url|urlencode }}&amp;society_id={{ society_id }}" method="post">
        <div class="submit">
            <input type="submit" value="Save" class="submit-button" />
            <input type='button' value='Cancel' class='submit-button' onclick='window.location="{{ return_url }}"' />
            {% if user.is_superuser %}
                <a href="" onclick="if (confirm('Are you sure you want to delete this topic?  This cannot be undone.')) window.location='{% url 'admin_delete_tag' tag.id %}?return_url={{ return_url|urlencode }}';" class="cancel-link">Delete</a>
            {% endif %}
        </div>        
        {% csrf_token %}
        <table class="grid edit-create">
            {{ form.id }}
            <tr>
                <th>
                    <label for="id_name">{{ form.name.label }} <span class="help_icon flyover {position: 'top', customClass:'editForm'}" title="1 - 3 word description of the key concept or technology area.">[?]</span>:</label>
                </th>
                <td>
                    {{ form.name.errors }}
                    {{ form.name }}
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_definition">{{ form.definition.label }} <span class="help_icon flyover {position: 'top', customClass:'editForm'}" title="Definition from the IEEE Thesaurus/Taxonomy">[?]</span>:</label>
                </th>
                <td>
                    {{ form.definition }}
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_societies">{{ form.societies.label }} <span class="help_icon flyover {position: 'top', customClass:'editForm'}" title="IEEE organizations that have associated Topic with their domain.">[?]</span>:</label>
                </th>
                <td>
                    {{ form.societies.errors }}
                    {{ form.societies }}
                </td>
            </tr>
            {% comment %}
            <tr>
                <th>
                    <label for="id_parents">{{ form.parents.label }} <span class="help_icon flyover {position: 'top', customClass:'editForm'}" title="Industry Topic for which the Topic is relevant, from the domain perspective of the S/C.">[?]</span>:</label>
                </th>
                <td>
                    {{ form.parents.errors }}
                    {{ form.parents }}
                </td>
            </tr>
            {% endcomment %}
            {% comment %}
            <tr {% if not num_filters %}class="form-row-highlight"{% endif %} >
                <th>
                    <label for="id_filters">{{ form.filters.label }} <span class="help_icon flyover {position: 'top', customClass:'editForm'}" title="Choose one or multiple categories that describe the Topic. If none are chosen, this Topic will not be displayed to end users.">[?]</span>:</label>
                </th>
                <td>
                    {{ form.filters.errors }}
                    {{ form.filters }}
                    {% if not num_filters %}
                        <p class="form-warning">
                            Please assign one or more filters to this topic.
                        </p>
                    {% endif %}
                </td>
            </tr>
            {% endcomment %}
            <tr>
                <th>
                    <label for="id_related_tags">{{ form.related_tags.label }} <span class="help_icon flyover {position:'top', customClass:'editForm'}" title='Typing a portion of a word or phrase will bring up a list of all matching topics. Choose "Create a new topic" if a matching topic does not exist.'>[?]</span>:</label>
                </th>
                <td>
                    {{ form.related_tags.errors }}
                    {{ form.related_tags }}
                </td>
            </tr>
        </table>
        
        <div class="submit">
           <input type="submit" value="Save" class="submit-button" />
            <input type='button' value='Cancel' class='submit-button' onclick='window.location="{{ return_url }}"' />
            {% if user.is_superuser %}
                <a href="" onclick="if (confirm('Are you sure you want to delete this topic?  This cannot be undone.')) window.location='{% url 'admin_delete_tag' tag.id %}?return_url={{ return_url|urlencode }}';" class="cancel-link">Delete</a>
            {% endif %}
        </div>
    </form>

{% endblock %}
