{% extends 'site_admin/admin_base.html' %}

{% block main_table_content %}
    
    <h1>Taxonomy Report</h1>
    
    Total # topic areas: {{ clusters.count }}<br/>
    Total # terms: {{ terms.count }}<br/>
    
    <h2>Term</h2>
    
    <table class="grid">
        <tr>
            <th>
                Name:
            </th>
            <th>
                Topic Areas:
            </th>
            <th>
                Topics:
            </th>
        </tr>
        {% for term in terms %}
            <tr>
                <td>
                    {{ term.name }}
                </td>
                <td>
                    {% for cluster in term.taxonomy_clusters.all %}
                        {{ cluster.name }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for tag in term.related_nodes.all %}
                        {{ tag.name }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    
    {% comment %}
    <h2>Topic Areas</h2>
    
    <table class="grid">
        <tr>
            <th>
                Topic Area Name:
            </th>
            <th>
                Topics:
            </th>
        </tr>
        {% for cluster in clusters %}
            <tr>
                <td>
                    {{ cluster.name }}
                </td>
                <td>
                    {% for tag in cluster.terms.all %}
                        {{ tag.name }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endcomment %}
    
{% endblock %}
