BeautifulSoup==3.2.1
Django==1.4.5
MySQL-python==1.2.4
PIL==1.1.7
SPARQLWrapper==1.5.0
South==0.7.6
django-debug-toolbar==0.9.4
django-profiles==0.2
django-registration==0.7
docutils==0.9.1
enum==0.4.4
hashlib==20081119
html2text==3.200.3
isodate==0.4.8
rdflib==3.2.1
simplejson==2.5.2
wsgiref==0.1.2
lxml
django-allauth
