{% extends "base_table.html" %}
{% load url from future %}

{% block extra_head %}
    <script type="text/javascript">

    $(function() {
        $("input#id_keywords_in").autoSuggest("{% url 'ajax_nodes_keywords' %}");
        $("#conf_app_create_form").on("submit", function () {
            var keywords_out_values = [];
            $('.as-selection-item').each(function () {
                // .substring(1) is used to remove symbol "×" before text:
                keywords_out_values.push($(this).text().substring(1))
            });
            // this is last inputed value which wasn't processed by plugin:
            var keywords_in_value = $("input[name=keywords_in]").val();
            if (keywords_in_value) {  // add it to the result if it exists
                keywords_out_values.push(keywords_in_value);
            }
            // generating valid keywords result string for the backend
            $("input[name=keywords_out]").val(keywords_out_values.join("|"));
        })
    });

    </script>
{% endblock %}

{% block main_table_content %}
    <div style="padding: 20px;">
        <div style="margin: 5px;">
            <a href="{% url 'conference_applications' %}">Go to listing</a>
        </div>
        <div style="margin: 5px;">
            <b>Create new conference application</b>:
        </div>
        <form id="conf_app_create_form" method="post">{% csrf_token %}
            <div>
                <div>
                    {{ form.name.label_tag }}
                </div>
                <div>
                    {{ form.name }}
                </div>
            </div>
            <div>
                <div>
                    {{ form.keywords_in.label_tag }}
                </div>
                <div>
                    {{ form.keywords_in }}
                </div>
            </div>
            {{ form.keywords_out }}  {# just hidden field #}
            <input type="submit" value="Create!">
        </form>
    </div>
{% endblock %}
