{% extends "base_table.html" %}

{% block main_table_content %}
    <div style="padding: 20px;">
        <div style="margin: 5px;">
            <a href="{% url 'create_conference_application' %}">Create New</a>
            ::
            <a href="{% url 'debug_conf_app_create' %}">Create Random</a>
        </div>
        <div style="margin: 5px;">
            {% if keyword_name %}
                <i>Filtered by:</i> <b>{{ keyword_name }}</b>: (<a href="{% url 'conference_applications' %}">clear filter</a>)
            {% else %}
                <b>All conference applications</b>:
            {% endif %}
        </div>
        <ul style="margin-left: 20px;">
        {% for item in items %}
            <li>{{ item.name }}
                {% if item.keywords.all %}
                    ({% for keyword in item.keywords.all %}
                        <a {% if keyword.tag %}style="color: blue;"{% else %}{# ... #}{% endif %}  {# todo: make special css-class for this #}
                           href="{% url 'debug_conf_apps_by_keyword' keyword.name %}">
                            {{ keyword.name }}</a>{% if not forloop.last %},{% endif %}
                    {% endfor %})
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
