<script type="text/javascript">
    $(function() {
        var action;
        $('.subscribe').click(function(){
            if ($(this).hasClass('enabled')) {
                action = 'disable';
                $('.icon-alert').removeClass('enabled');
            } else {
                action = 'enable';
                $('.icon-alert').addClass('enabled');
            }
            $.post('/ajax/notification/request',
                {
                    email: '{{ user.email }}',
                    nodeid: {{ tag.id }},
                    action: action
                },
                function(){
                    return false;
                }
            );
        });
    });

    $(function() {
        var action;
        var nodeid;
        $('.favorite').click(function(){
            nodeid = $(this).data('nodeid');
            if ($(this).hasClass('enabled')) {
                action = 'disable';
                $(this).removeClass('enabled');
            } else {
                action = 'enable';
                $(this).addClass('enabled');
            }
            $.post('/ajax/favorites/request',
                {
                    nodeid: nodeid,
                    action: action
                },
                function(){
                    return false;
                }
            );
        });
    });
</script>
