<script type="text/javascript">    
    $(function() {
        var action;
        $('input[type=radio][name=topicOpt]').change(function() {
            if (this.value == 'nofav') {
                $('.tag-icons').children('.openAlerts').removeClass('enabled icon-star-whole-alert').addClass('icon-star-whole');
                $.post('/ajax/favorite-topic/request',
                    {
                        nodeid: {{ tag.id }},
                        action: 'disable'
                    },
                    function(){
                        return false;
                    }
                );
                $.post('/ajax/notification/request',
                    {
                        email: '{{ user.email }}',
                        nodeid: {{ tag.id }},
                        action: 'disable'
                    },
                    function(){
                        return false;
                    }
                );
            }
            else if (this.value == 'fav') {
                $('.tag-icons').children('.openAlerts').removeClass('icon-star icon-star-whole-alert').addClass('enabled icon-star-whole');
                $.post('/ajax/favorite-topic/request',
                    {
                        nodeid: {{ tag.id }},
                        action: 'enable'
                    },
                    function(){
                        return false;
                    }
                );
                $.post('/ajax/notification/request',
                    {
                        email: '{{ user.email }}',
                        nodeid: {{ tag.id }},
                        action: 'disable'
                    },
                    function(){
                        return false;
                    }
                );
            }
            else if (this.value == 'favalert') {
                $('.tag-icons').children('.openAlerts').removeClass('icon-star-whole icon-star').addClass('enabled icon-star-whole-alert');
                $.post('/ajax/favorite-topic/request',
                    {
                        nodeid: {{ tag.id }},
                        action: 'enable'
                    },
                    function(){
                        return false;
                    }
                );
                $.post('/ajax/notification/request',
                    {
                        email: '{{ user.email }}',
                        nodeid: {{ tag.id }},
                        action: 'enable'
                    },
                    function(){
                        return false;
                    }
                );
            }
        });
    });

    $(function() {
        var action;
        var nodeid;
        $('.favorite-topic').click(function(){
            $('.qtip').qtip('hide');
            nodeid = $(this).data('nodeid');
            if ($(this).hasClass('enabled')) {
                action = 'disable';
                $(this).parent().removeClass('is-favorite');
                $(this).removeClass('icon-star-whole enabled').addClass('icon-star');
                $(this).siblings('.alertMenu').children('.alertOn').hide();
                $(this).siblings('.alertMenu').children('.alertOff').show();
            } else {
                action = 'enable';
                $(this).parent().addClass('is-favorite');
                $(this).removeClass('icon-star').addClass('icon-star-whole enabled');
                $(this).siblings('.alertMenu').children('.alertOff').hide();
                $(this).siblings('.alertMenu').children('.alertOn').show();
            }
            $.post('/ajax/favorite-topic/request',
                {
                    nodeid: nodeid,
                    action: action
                },
                function(){
                    return false;
                }
            );
        });
    });

    $(function() {
        var action;
        var nodeid;
        $('.over-favorite-resource').on('click', function(){
            $('.qtip').qtip('hide');
            nodeid = $(this).data('nodeid');
            if ($(this).hasClass('enabled')) {
                action = 'disable';
                $('span[data-nodeid=' + nodeid + ']').removeClass('icon-star-whole enabled').addClass('icon-star');
            } else {
                action = 'enable';
                $('span[data-nodeid=' + nodeid + ']').removeClass('icon-star').addClass('icon-star-whole enabled');
            }
            $.post('/ajax/favorite-resource/request',
                {
                    nodeid: nodeid,
                    action: action,
                },
                function(){
                    return false;
                }
            );
        });
        $('.drive').qtip();
        $('.icon-star').qtip();
        $('.icon-star-whole').qtip();
        $('.icon-star-whole-alert').qtip();
    });

    $(function() {
        $('.no-enable-alert').click(function() {
            $(this).parent().parent().hide();
        });
    });
</script>