<script type="text/javascript">
    $(function() {
        var action;
        $('.icon-alert').click(function(){
            if ($(this).hasClass('enabled')) {
                action = 'disable';
                $('.icon-alert').removeClass('enabled');
            } else {
                action = 'enable';
                $('.icon-alert').addClass('enabled');
            }
            $.post('/ajax/notification/request',
                {
                    email: '{{ user.email }}',
                    nodeid: {{ tag.id }},
                    action: action
                },
                function(){
                    return false;
                }
            );
        });
    });
</script>
