<div id="alertWrapper">
    <div id="alertContainer">
        <div id="alertForm_error">Please enter a valid email.</div>
        <div id="alertForm">
            <span class="notificationLabel">Alert me to updates to this topic:</span>
            <input type="text" id="notificationRequestEmail" placeholder="Email address"></input>
            <input type="button" value="Alert Me" id="notificationRequestButton"/>
        </div>
        <div id="alertSuccess" style="display:none">
            You will be alerted to updates to this topic.
        </div>
    </div>
</div>
