{% block content %}
    <div class="browser-warning-shadow">
    </div>
    <div class="browser-warning-content">
        <div class="browser-warning-content2">
            <h1>Unsupported Browser Detected</h1>
            <p>
                It appears that you are using an unsupported browser.
            </p>
            <p>
                We recommend using one of the following supported browsers when using this site:
            </p>
            <ul>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Internet Explorer 8+</a>
                </li>
                <li>
                    <a href="http://www.firefox.com/">Mozilla Firefox 3.6+</a>
                </li>
                <li>
                    <a href="http://www.apple.com/safari/">Apple Safari 4+</a>
                </li>
                <li>
                    <a href="http://www.google.com/chrome">Google Chrome 5+</a>
                </li>
            </ul>
            <p>Or you can ignore this message and <a href="javascript:setBrowserCookie();" id="ignore-warning">continue</a>.</p>
        </div>
    </div>
{% endblock %}
