{% extends 'site_admin/admin_base.html' %}

{% block nav_home %}highlight{% endblock %}

{% block main_table_content %}
    
    <p class="version">
        user: {{ user.username }} ({{ user.get_profile.role }})<br/>
        ver {{ version }}<br/>
        rev {{ revision }}<br/>
        date {{ date|date }}
    </p>
    <h1>Admin Home</h1>
    
    <div class="homeSection">
        <div class="sectionHeader">Key Actions:</div>
        <ul>
            <li><a href="{% url admin_clusters_report %}">View existing Topic Areas</a> (you can edit them from there)</li>
            <li><a href="{% url admin_create_cluster2 %}?return_url={{ current_url|urlencode }}">Create a new Topic Area</a></li>
            <li><a href="{% url admin_list_tags %}">View existing Topics</a> (you can edit them from there)</li>
            <li><a href="{% url admin_create_tag %}?return_url={{ current_url|urlencode }}">Create a new Topic</a></li>
            <li><a href="{% url admin_societies %}">View existing Organizations/Initiatives</a> (you can edit them from there)
            <li>Note: Contact Development Team to create new Organization/Initiative</li>
        </ul>
    </div>

    <div class="homeSection">
        <div class="sectionHeader">Stats:</div>
        <ul>
            <li>{{ num_societies }} IEEE organizations</li>
            <li>{{ num_society_managers }} organization managers</li>
            {% comment %}<li>{{ num_sectors }} industry topics</li>{% endcomment %}
            <li>{{ num_clusters }} topic areas</li>
            <li>{{ num_tags }} topics</li>
            <li>{{ num_unclustered_tags }} unclustered topics</li>
            <li>{{ num_clustered_tags }} clustered topics</li>
            <li>
                {{ num_resources }} resources
                <ul>
                    <li>{{ num_conferences }} conferences</li>
                    <li>{{ num_standards }} standards</li>
                    <li>{{ num_periodicals }} periodicals</li>
                </ul>
            </li>
            <li>{{ num_terms }} terms</li>
        </ul>
    </div>

    <div class="homeSection">
        <div class="sectionHeader">
            Reports:
            <div class="headerNote">(Please allow up to a minute for the report to run)</div>
        </div>
        <ul>
            <li><a href="{% url admin_login_report %}">Login Report</a></li>
            <li><a href="{% url admin_tagged_resources_report "all" %}">Topic resources Report</a></li>
            <li><a href="{% url admin_tagged_resources_report "priority" %}">Topic resources Report (priority-only)</a></li>
            <li><a href="{% url admin_tags_report %}">Topics Report</a></li>
            {% if DEBUG_ENABLE_CLUSTERS %}
                <li><a href="{% url admin_clusters_report %}">Topic Area Report</a></li>
            {% endif %}
            <li><a href="{% url admin_priority_report %}">Priority Report</a></li>
            <li><a href="{% url admin_duplicate_tags_report %}">Duplicate Topics Report</a></li>
            <li><a href="{% url admin_society_logos_report %}">Organization Logos Report</a></li>
            <li><a href="{% url admin_conference_series_report %}">Conference Series Report</a></li>
            <li><a href="{% url admin_broken_links_report %}">Broken Links Report</a></li>
            <li><a href="{% url admin_create_fake_tags %}">Create Fake Topics</a></li>
            <li><a href="{% url admin_taxonomy_report %}">Taxonomy Report</a></li>
            <li><a href="{% url admin_machine_generated_data_report %}">Machine-Generated Data Report</a></li>
        </ul>
    </div>

    {% comment %}
        {% if user.is_superuser %}
            <li>
                Django:
                <ul>
                    <li><a href="/djangoadmin">Django Admin</a></li>
                </ul>
            </li>
        {% endif %}
    {% endcomment %}
    
    <div class="homeSection">
        <div class="sectionHeader">Manage:</div>
        <ul>
            <li><a href="{% url admin_users %}">Users</a></li>
            <li><a href="{% url admin_send_email_all_users %}">Send email to all users</a></li>
            {% comment %}<li><a href="{% url admin_list_sectors %}">Industry Topics</a></li>{% endcomment %}
            <li><a href="{% url admin_societies %}">Organizations</a></li>
            <li><a href="{% url admin_search_societies %}">Search Organizations</a></li>
        </ul>
    </div>

    <div class="homeSection">
        <div class="sectionHeader">Topics:</div>
        <ul>
            <li><a href="{% url admin_list_tags %}">List Topics</a></li>
            <li><a href="{% url admin_clusters_report %}">List Topic Areas</a></li>
            <li><a href="{% url admin_create_tag %}?return_url={{ current_url|urlencode }}">Create a new Topic</a></li>
            <li><a href="{% url admin_create_cluster2 %}?return_url={{ current_url|urlencode }}">Create a new Topic Area</a></li>
            <li><a href="{% url admin_search_tags %}">Search Topics</a></li>
            <li><a href="{% url admin_list_orphan_tags %}">List Orphan Topics</a></li>
            <li><a href="/tags">Topics - High Potency</a></li>
            <li><a href="/tags/all">Topics SEO</a></li>
            <li><a href="{% url tags_definitions %}">Topic Definitions</a></li>
        </ul>
    </div>

    <div class="homeSection{% if not user.is_superuser %}last{% endif %}">
        <div class="sectionHeader">Resources:</div>
        <ul>
            <li><a href="{% url admin_list_resources "conferences" %}">List Conferences</a></li>
            <li><a href="{% url admin_list_resources "standards" %}">List Standards</a></li>
            <li><a href="{% url admin_list_resources "periodicals" %}">List Periodicals</a></li>
            <li><a href="{% url admin_list_resources "ebooks" %}">List E-books</a></li>
            <li><a href="{% url admin_search_resources %}">Search Resources</a></li>
            <li><a href="{% url admin_create_resource %}?return_url={{ current_url|urlencode }}">Create a resource</a></li>
        </ul>
    </div>

{% if user.is_superuser %}
    <div class="homeSection last">
        <div class="sectionHeader">Import Data:</div>
        <ul>
            <li><a href="{% url admin_import_users %}">Import Users</a></li>
            <li><a href="{% url admin_import_resources %}">Import Resources</a></li>
            <li><a href="{% url admin_import_societies %}">Import IEEE Organizations</a></li>
            {% if DEBUG_ENABLE_CLUSTERS %}
                <li><a href="{% url admin_import_clusters %}">Import Topic Areas</a></li>
            {% endif %}
            <li><a href="{% url admin_import_conference_series %}">Import Conference Series</a></li>
            <li><a href="{% url admin_import_xplore %}">Import From Xplore</a></li>
            <li><a href="{% url admin_import_standards %}">Import From Standards</a></li>
            <li><a href="{% url admin_import_mai %}">Import From MAI</a></li>
        </ul>
    </div>
{% endif %}

{% endblock %}
