{% extends 'site_admin/admin_base.html' %}

{% block nav_home %}highlight{% endblock %}

{% block main_table_content %}
    
    <p class="version">
        user: {{ user.username }} ({{ user.get_profile.role }})<br/>
        ver {{ version }}<br/>
        rev {{ revision }}<br/>
        date {{ date|date }}
    </p>
    <h1>Admin Home</h1>
    
    <ul class="section-list">
        <li>
            Stats:
            <ul>
                <li>{{ num_societies }} societies</li>
                <li>{{ num_society_managers }} society managers</li>
                <li>{{ num_sectors }} sectors</li>
                <li>{{ num_tags }} tags</li>
                <li>{{ num_resources }} resources</li>
            </ul>
        </li>
        <li>
            Reports <span class="admin-note">(Please allow up to a minute for the report to run)</span>:
            <ul>
                <li><a href="{% url admin_login_report %}">Login Report</a></li>
                <li><a href="{% url admin_tagged_resources_report "all" %}">Tagged resources Report</a></li>
                <li><a href="{% url admin_tagged_resources_report "priority" %}">Tagged resources Report (priority-only)</a></li>
                <li><a href="{% url admin_tags_report %}">Tags Report</a></li>
                {% if DEBUG_ENABLE_CLUSTERS %}
                    <li><a href="{% url admin_clusters_report %}">Clusters Report</a></li>
                {% endif %}
                <li><a href="{% url admin_priority_report %}">Priority Report</a></li>
                <li><a href="{% url admin_duplicate_tags_report %}">Duplicate Tags Report</a></li>
                <li><a href="{% url admin_society_logos_report %}">Society Logos Report</a></li>
                <li><a href="{% url admin_conference_series_report %}">Conference Series Report</a></li>
                <li><a href="{% url admin_broken_links_report %}">Broken Links Report</a></li>
                <li><a href="{% url admin_create_fake_tags %}">Create Fake Tags</a></li>
            </ul>
        </li>
        {% comment %}
            {% if user.is_superuser %}
                <li>
                    Django:
                    <ul>
                        <li><a href="/djangoadmin">Django Admin</a></li>
                    </ul>
                </li>
            {% endif %}
        {% endcomment %}
        
        <li>
            Manage:
            <ul>
                <li><a href="{% url admin_users %}">Users</a></li>
                <li><a href="{% url admin_send_email_all_users %}">Send email to all users</a></li>
                <li><a href="{% url admin_list_sectors %}">Sectors</a></li>
                <li><a href="{% url admin_societies %}">Societies</a></li>
                <li><a href="{% url admin_search_societies %}">Search Societies</a></li>
            </ul>
        </li>
        <li>
            <strong>Tags:</strong>
            <ul>
                <li><a href="{% url admin_list_tags %}">List Tags</a></li>
                <li><a href="{% url admin_create_tag %}?return_url={{ current_url|urlencode }}">Create a new Tag</a></li>
                <li><a href="{% url admin_search_tags %}">Search Tags</a></li>
                <li><a href="{% url admin_list_orphan_tags %}">List Orphan Tags</a></li>
            </ul>
        </li>
        <li>
            <strong>Resources:</strong>
            <ul>
                <li><a href="{% url admin_list_resources "conferences" %}">List Conferences</a></li>
                <li><a href="{% url admin_list_resources "standards" %}">List Standards</a></li>
                <li><a href="{% url admin_list_resources "periodicals" %}">List Periodicals</a></li>
                <li><a href="{% url admin_search_resources %}">Search Resources</a></li>
                <li><a href="{% url admin_create_resource %}?return_url={{ current_url|urlencode }}">Create a resource</a></li>
            </ul>
        </li>
        
        {% if user.is_superuser %}
            <li>
                Import Data:
                <ul>
                    <li><a href="{% url admin_import_users %}">Import Users</a></li>
                    <li><a href="{% url admin_import_resources %}">Import Resources</a></li>
                    <li><a href="{% url admin_import_societies %}">Import Societies</a></li>
                    {% if DEBUG_ENABLE_CLUSTERS %}
                        <li><a href="{% url admin_import_clusters %}">Import Clusters</a></li>
                    {% endif %}
                    <li><a href="{% url admin_import_conference_series %}">Import Conference Series</a></li>
                </ul>
            </li>
        {% endif %}
    </ul>
    
{% endblock %}
