{% extends 'base_table.html' %}
{% load smartif %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/reset.css" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/admin.css" />
{% endblock %}

{% block extra_header %}{% endblock %}

{% block main_content_nopad %}

    {% if user.is_authenticated %}
        <div id="admin_header" class='admin-user-links' style='text-align:center;'>
            <span id="left">
            {{ user.username }} ({{ user.get_profile.role }}) | <a href="{% url change_password %}?return_url=" class="changePassword { varName:'return_url' }">Change Password</a> | <a href="{% url admin_logout %}" class="logout">Log Out</a>
        </span>
        </div>
    {% endif %}    
    
{% if not is_ajax %}    
    {% if user.is_authenticated %}
        <ul class="nav">
            {% if user.get_profile.role == "society_manager" or user.get_profile.role == "society_admin" or user.get_profile.role == "admin" %}
                <li class="{% block nav_home %}{% endblock %}">
                    <a href="{% url admin_home %}">Home</a>
                </li>
            {% endif %}
            {% if user.get_profile.role == "admin" %} 
                <li class="{% block nav_users %}{% endblock %}">
                    <a href="{% url admin_users %}">Users</a>
                </li>            
                {% comment %}
                <li class="{% block nav_sectors %}{% endblock %}">
                    <a href="{% url admin_list_sectors %}">Industry Topics</a>
                </li>
                {% endcomment %}
                <li class="{% block nav_societies %}{% endblock %}">
                    <a href="{% url admin_societies %}">IEEE Organizations</a>
                </li>
            {% endif %}
            {% if user.get_profile.role == "society_manager" or user.get_profile.role == "admin" %}
                <li class="end-user-view">
                    <a href="{% url index %}">Go to the End-user view</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endif %}
    
{% if not is_ajax %}    
    <div class="center-pad">
{% endif %}
        {% block main_table_content %}{% endblock %}
{% if not is_ajax %}    
    </div>
{% endif %}

    {% if user.is_authenticated %}
        <div id="admin_footer" class='admin-user-links'>
            <span id="left">
            {{ user.username }} ({{ user.get_profile.role }}) | <a href="{% url change_password %}?return_url=" class="changePassword { varName:'return_url' }">Change Password</a> | <a href="{% url admin_logout %}" class="logout">Log Out</a>
        </span>
        </div>
    {% endif %}

{% endblock %}
