{% extends 'base_table.html' %}
{% load smartif %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/reset.css" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/admin.css" />
{% endblock %}

{% block extra_header %}{% endblock %}

{% block main_content_nopad %}
    
{% if not is_ajax %}    
    {% if user.is_authenticated %}
        <ul class="nav">
            {% if user.get_profile.role == "society_manager" or user.get_profile.role == "society_admin" or user.get_profile.role == "admin" %}
                <li class="{% block nav_home %}{% endblock %}">
                    <a href="{% url admin_home %}">Home</a>
                </li>
            {% endif %}
            {% if user.get_profile.role == "admin" %}
                <li class="{% block nav_sectors %}{% endblock %}">
                    <a href="{% url admin_list_sectors %}">Sectors</a>
                </li>
                <li class="{% block nav_users %}{% endblock %}">
                    <a href="{% url admin_users %}">Users</a>
                </li>
                <li class="{% block nav_societies %}{% endblock %}">
                    <a href="{% url admin_societies %}">Societies</a>
                </li>
            {% endif %}
            {% if user.get_profile.role == "society_manager" or user.get_profile.role == "admin" %}
                <li class="end-user-view">
                    <a href="{% url index %}">Go to the End-user view</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endif %}
    
{% if not is_ajax %}    
    <div class="center-pad">
{% endif %}
        {% block main_table_content %}{% endblock %}
{% if not is_ajax %}    
    </div>
{% endif %}

    {% if user.is_authenticated %}
        <div id="admin_footer">
            <span style="float:left;margin-left:15px">
            Logged in as {{ user.username }} |<a href="{% url change_password %}?return_url=" class="changePassword live-url { varName:'return_url' }">Change Password</a> |<a href="{% url admin_logout %}" class="logout">Log Out</a>
        </span>
        <span style="float:right">
            <a id="feedback-link" href="{% url feedback %}" class="floating lightbox { customClass:'feedback' }">&nbsp;</a>
        </span>
        </div>
    {% endif %}

{% endblock %}
