{% extends 'site_admin/admin_base.html' %}
{% load filters %}

{% block main_table_content %}

    <h1>Resources with Broken URLs</h1>
    
    {% if url_checker_log %}
        <div class="notification">
            <h2>URLs are currently being checked.</h2>
            <p>
                Started at: {{ url_checker_log.date_started|date }} {{ url_checker_log.date_started|time }}, {{ url_checker_log.date_started|timesince }} ago<br/>
                Last udpated at: {{ url_checker_log.date_updated|date }} {{ url_checker_log.date_updated|time }}, {{ url_checker_log.date_updated|timesince }} ago<br/>
                Status: {{ url_checker_log.status }}<br/>
                <a href="{% url admin_broken_links_report %}">Refresh</a>
                |
                <a href="{% url admin_broken_links_cancel %}">Cancel</a>
                <br/>
            </p>
        </div>
    {% else %}
        <p>
            <a href="{% url admin_broken_links_reset "all" %}">Reset All</a>
            | <a href="{% url admin_broken_links_reset "timed_out" %}">Reset Timed Out</a>
            | <a href="{% url admin_broken_links_check %}">Check URLs</a>
        </p>
    {% endif %}
    
    <p>
        Total Resources: {{ num_resources }}<br/>
        Total Resources with URLs: {{ num_url_resources }}<br/>
        Good URLs: {{ num_good_resources }}<br/>
        Bad URLs: {{ bad_resources.count }}<br/>
        Checked URLs: {{ num_checked_resources }}<br/>
        Unchecked URLs: {{ num_unchecked_resources }}<br/>
    </p>
    
    <table class="grid">
        <tr>
            <th>
                Name
            </th>
            <th>
                URL
            </th>
            <th>
                Error
            </th>
            <th>
                Date Checked
            </th>
        </tr>
        {% for resource in bad_resources %}
            <tr>
                <td>
                    <a href="{% url admin_view_resource resource.id %}">{{ resource.name|truncatechars:30 }}</a>
                </td>
                <td>
                    <a href="{{ resource.url }}">{{ resource.url }}</a>
                </td>
                <td>
                    {{ resource.url_error }}
                </td>
                <td>
                    {{ resource.url_date_checked|date }}
                </td>
                <td>
                    <a href="{% url admin_broken_links_reset "resource" resource.id %}">reset</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
