{% extends 'site_admin/admin_base.html' %}

{% block main_table_content %}
    
    <h1>Change Password</h1>
    <p style="font-weight:bold; padding:.5em;">
        Please note: the password will be changed for all users of this account.  Please let all users know of the password change.
    </p>
    
    <form action="{# url password_reset user_id reset_key #}?return_url={{ return_url|urlencode }}" method="post">
        {% csrf_token %}
        {{ error|safe }}
        <table>
            {{ form }}
            <tr>
                <td colspan="2">
                    <div class="submit">
                        <input type="submit" class="submit-button" value="Save" />
                        <a href="{{ return_url }}" class="cancel-link">Cancel</a>
                    </div>
                </td>
            </tr>
        </table>
    </form>
        
{% endblock %}
