{% extends 'site_admin/admin_base.html' %}

{% block main_table_content %}
    
    <h1>Topic Area Report</h1>
    
    <p>
        <a href="{% url admin_create_cluster %}">Create a Topic Area</a>
    </p>
    
    <table class="grid">
        <tr>
            <th>
                Topic Area Name:
            </th>
            <th>
                Sector:
            </th>
            <th>
                Topics:
            </th>
        </tr>
        {% for cluster in clusters %}
            <tr>
                <td>
                    <a href="{% url admin_view_cluster cluster.id %}">{{ cluster.name }}</a>
                </td>
                <td>
                    {% for sector in cluster.get_sectors %}
                        <a href="{% url admin_view_sector sector.id %}">{{ sector.name }}</a>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for tag in cluster.child_nodes.all %}
                        <a href="{% url admin_view_tag tag.id %}">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    
{% endblock %}
