{% extends 'site_admin/admin_base.html' %}
{% load filters %}

{% block main_table_content %}
    <style>
        tr.current {
            font-weight:bold;
        }
        tr.other {
            color:gray;
        }
        tr.other td.id {
            /*padding-left:2em;*/
        }
        .instruction {
            color:gray;
        }
    </style>
    
    <h1>Conference Series Report</h1>
    
    <h2>Series</h2>
    
    <p>
        Found {{ serieses|length }} series.
    </p>
    
    <table class="grid">
        <tr>
            <th>
                Conference Series
            </th>
            <th>
                # in Series
            </th>
        </tr>
        {% for conference_series, num_in_series in serieses %}
            <tr>
                <td>
                    <a href="{% url admin_conference_series_report2 conference_series %}">{{ conference_series }}</a> 
                </td>
                <td>
                    {{ num_in_series }}
                </td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}
