{% extends 'site_admin/admin_base.html' %}

{% block main_table_content %}

    <h1>Create Fake Tags</h1>
    
    <p>
        Num Tags: {{ num_tags }}
    </p>
        
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Ok" />
    </form>
    <br/>
    
    <a href="{% url admin_create_fake_tags %}?delete_tags=1">Delete Fake Tags</a>
    <hr/>
    
    <br/>
    <label>Tags Live Search:</label>
    <input id="live-search" />
    <br/>
    <br/>
    
    <script type="text/javascript">
        
        function LiveSearch(inputElem) {
            var liveSearch = this;
            
            this.lastValue = null;
            
            this.inputElem = $(inputElem);
            this.inputElem.change(function(e) {
                liveSearch.update(e);
            });
            this.inputElem.keyup(function(e) {
                liveSearch.update(e);
            });
            
            this.update();
        }
        
        LiveSearch.prototype.update = function(e) {
            var liveSearch = this;
            var value = this.inputElem.val();
            if (value != this.lastValue) {
                log('value: ' + value);
                
                $.ajax({
                    url: '{% url admin_live_search_results %}',
                    data: {
                        search_for: value
                    },
                    dataType: 'json',
                    success: function(data) {
                        liveSearch.onResults(data);
                    }
                });
                
                this.lastValue = this.inputElem.val();
            }
        }
        
        LiveSearch.prototype.onResults = function(data) {
            if (this.popupElem) {
                //this.popupElem.empty();
            } else {
                this.popupElem = $('<div></div>').insertAfter(this.inputElem);
            }
            
            //this.popupElem;
            log('onResults()');
            log('data: ' + data);
            log('data.search_for: ' + data.search_for);
            var search_for = data.search_for;
            log('data.results: ' + data.results);
            log('data.results.length: ' + data.results.length);
            
            var str = '';
            str += '<p>';
            str += 'Showing ' + data.results.length + ' out of ' + data.total_num_tags + ' results.';
            str += '</p>';
            str += '<ul>';
            for (var i=0; i<data.results.length; i++) {
                //log('data.results[' + i + ']: ' + data.results[i]);
                //log('data.results[' + i + '].name: ' + data.results[i].name);
                
                var name = data.results[i].name;
                //name = name.replace(search_for, '<u>' + search_for + '</u>');
                name = name.replace(new RegExp('(' + search_for + ')', 'i'), '<u>$1</u>');
                str += '<li>' + name + '</li>';
            }
            str += '</ul>';
            
            this.popupElem.html(str);
        }
        
        $(function() {
            var liveSearch = new LiveSearch($('#live-search'));
        });
    </script>
    
{% endblock %}
