{% extends 'site_admin/admin_base.html' %}

{% block main_table_content %}

{% if not is_ajax %}
    
    {# Enable the "Create a new tag X" link when not using an AJAX page. #}

    <script>
        
        function attachMultisearchEvents() {
            var multisearch = $('#multisearch_related_tags').data('multisearch');
            if (!multisearch) {
                // Wait till multisearch is available
                setTimeout(attachMultisearchEvents, 50);
            } else {
                // Got multisearch, attach events
                multisearch.subscribe('click_create_new_tag', function(multisearch, event, data) {
                    // User clicked on "create new tag" link, show page in lightbox
                    Lightbox.show('{% url admin_create_tag %}?default_tag_name=' + escape(data.tag_name) + '&society_id={{ society_id }}', {
                        closeOnClickOutside: false
                    });
                });
            }
        }
        
        window.notify = function(action, data) {
            if (action == 'created_tag') {
                // Just created a tag, add it to the field
                var multisearch = $('#multisearch_related_tags').data('multisearch');
                
                // Add the newly created tag to the list of options
                multisearch.addSelectedOption({
                    name: data.tag.name,
                    name_link: data.tag.name_link,
                    value: data.tag.value,
                    tag_name: data.tag.tag_name,
                    sector_names: data.tag.sector_names,
                    num_societies: data.tag.num_societies.toString(),
                    num_related_tags: data.tag.num_related_tags.toString(),
                    num_filters: data.tag.num_filters.toString(),
                    num_resources: data.tag.num_resources.toString()
                });
                
                // Trigger a refresh of the popup
                multisearch.updatePopup();
            }
        }
                
        $(function() {
            attachMultisearchEvents();
        });
        
    </script>

{% endif %}

{% if is_ajax %}

<script>
    function attachMultisearchLightbox() {
        // Find the related tag multisearch and attach the lightbox.clickOnLightbox to it.
        var multisearch_related_tags = $('#multisearch_related_tags').data('multisearch');
        
        if (multisearch_related_tags != undefined)  {
            // Multisearch is ready, attach event
            Lightbox.subscribe('clickOnLightbox', function() {
                // Make sure the multisearch dropdown closes when the user clicks on the lightbox (instead of the document)
                multisearch_related_tags.closePopup(true);
            });
        } else {
            // Multisearch is not ready yet, wait and try again
            setTimeout(attachMultisearchLightbox, 50);
        }
    }
    
    $(function() {
        attachMultisearchLightbox();
    });
</script>

<div class="create-tag-lightbox">
{% endif %}
    
    <h1>Create New Tag</h1>
    
    {% if sector %}
        <p>
            <a href="{% url admin_view_sector sector.id %}">back</a>
        </p>
    {% endif %}
    
    <form action="{% url admin_create_tag %}?society_id={{ society_id }}&amp;add_to_society={{ add_to_society }}&amp;return_url={{ return_url|urlencode }}" method="post">
        <table class="grid edit-create">
            {{ form.id }}
            <tr>
                <th>
                    <label for="id_name">{{ form.name.label }} <span class="help_icon flyover {position: 'top', customClass:'editForm'}" title="1 - 3 word description of the key concept or technology area.">[?]</span>:</label>
                </th>
                <td>
                    {{ form.name.errors }}
                    {{ form.name }}
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_sector">{{ form.sectors.label }} <span class="help_icon flyover {position: 'top', customClass:'editForm'}" title="Industry Sector for which the Tag is relevant, from the domain perspective of the S/C.">[?]</span>:</label>
                </th>
                <td>
                    {{ form.sectors.errors }}
                    {{ form.sectors }}
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_filters">{{ form.filters.label }} <span class="help_icon flyover {position: 'top', customClass:'editForm'}" title="Choose one or multiple categories that describe the Tag. If none are chosen, this Tag will not be displayed to end users.">[?]</span>:</label>
                </th>
                <td>
                    {{ form.filters.errors }}
                    {{ form.filters }}
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_related_tags">{{ form.related_tags.label }} <span class="help_icon flyover {position:'top', customClass:'editForm'}" title='Typing a portion of a word or phrase will bring up a list of all matching tags. Choose "Create a new tag" if a matching tag does not exist.'>[?]</span>:</label>
                </th>
                <td>
                    {{ form.related_tags.errors }}
                    {{ form.related_tags }}
                    <div class="multisearch-note">Type * to show all<br/>of this society's tags</div>
                </td>
            </tr>
        </table>
        <div class="submit">
            <input type="submit" value="Save" class="button submit-button" />
            {% if is_ajax %}
                <a href="javascript:Lightbox.hide();" class="cancel-link">Cancel</a>
            {% else %}
                {% if return_url %}
                    <a href="{{ return_url }}" class="cancel-link">Cancel</a>
                {% endif %}
                {% if sector %}
                    <a href="{% url admin_view_sector sector.id %}" class="cancel-link">Cancel</a>
                {% endif %}
            {% endif %}
        </div>
    </form>

{% if is_ajax %}
</div>
{% endif %}
    
{% endblock %}
