{% extends 'site_admin/admin_base.html' %}

{% block main_table_content %}
    
    <h1>Duplicate Topics Report</h1>
    <p class="export">
        <a href="{% url admin_duplicate_tags_report %}?export_csv=1">Export as CSV</a>
    </p>
    
    {% comment %}
    page_time: {{ page_time }}<br/>
    {% endcomment %}
    
    <p>
        Found {{ duplicate_tags|length }} duplicate topics.
    </p>
    
    <p>
        <form action="{% url admin_combine_tags %}?return_url={{ current_url|urlencode }}" method="post">
            {% csrf_token %}
            <input type="hidden" name="duplicate_tags_json" value="{{ duplicate_tags_json }}" />
            <input type="submit" value="Combine Topics" />
        </form>
    </p>
    <br/>
    
    <table class="grid">
        <tr>
            <th>
                Topic name
            </th>
            <th>
                ID1
            </th>
            <th>
                ID2
            </th>
        </tr>
        {% for name, id1, id2 in duplicate_tags %}
            <tr>
                <td>
                    {{ name }}
                </td>
                <td>
                    <a href="{% url admin_view_tag id1 %}">{{ id1 }}</a>
                </td>
                <td>
                    <a href="{% url admin_view_tag id2 %}">{{ id2 }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
