{% extends 'site_admin/admin_base.html' %}

{% block main_table_content %}
    
    <h1>Edit User</h1>
    <form action="{% url admin_save_user %}" method="post">
        <table class="grid">
            {{ form }}
        </table>
        <input type="submit" value="Ok" />
        {% if user_id %}
            <input type="button" value="Delete" onclick="if (confirm('Delete this user?')) window.location='{% url admin_delete_user user_id %}';" />
        {% endif %}
    </form>
    
{% endblock %}
