{% extends 'site_admin/admin_base.html' %}

{% block main_table_content %}

    <h1>Edit Tag</h1>
    <form action="{% url admin_save_tag %}?return_url={{ return_url|urlencode }}" method="post">
        <table class="grid edit-create">
            {{ form.id }}
            <tr>
                <th>
                    <label for="id_name">{{ form.name.label }} <span class="help_icon flyover {position: 'top', customClass:'editForm'}" title="1 - 3 word description of the key concept or technology area.">[?]</span>:</label>
                </th>
                <td>
                    {{ form.name.errors }}
                    {{ form.name }}
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_parents">{{ form.parents.label }} <span class="help_icon flyover {position: 'top', customClass:'editForm'}" title="Industry Sector for which the Tag is relevant, from the domain perspective of the S/C.">[?]</span>:</label>
                </th>
                <td>
                    {{ form.parents.errors }}
                    {{ form.parents }}
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_societies">{{ form.societies.label }} <span class="help_icon flyover {position: 'top', customClass:'editForm'}" title="IEEE organizations that have associated Tag with their domain.">[?]</span>:</label>
                </th>
                <td>
                    {{ form.societies.errors }}
                    {{ form.societies }}
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_filters">{{ form.filters.label }} <span class="help_icon flyover {position: 'top', customClass:'editForm'}" title="Choose one or multiple categories that describe the Tag. If none are chosen, this Tag will not be displayed.">[?]</span>:</label>
                </th>
                <td>
                    {{ form.filters.errors }}
                    {{ form.filters }}
                </td>
            </tr>
            <!--
            <tr>
                <th>
                    <label for="id_num_resources">{{ form.num_resources.label }} <span class="help_icon flyover {position:'top'}" title="Resources">[?]</span>:</label>
                </th>
                <td>
                    {{ form.num_resources.errors }}
                    {{ form.num_resources }}
                </td>
            </tr>
            -->
            <tr>
                <th>
                    <label for="id_related_tags">{{ form.related_tags.label }} <span class="help_icon flyover {position:'top', customClass:'editForm'}" title='Typing a portion of a word or phrase will bring up a list of all matching tags. Choose "Create a new tag" if a matching tag does not exist.'>[?]</span>:</label>
                </th>
                <td>
                    {{ form.related_tags.errors }}
                    {{ form.related_tags }}
                </td>
            </tr>
        </table>
        <input type="submit" value="Ok" />
        <input type="button" value="Cancel" onclick="window.location='{{ return_url }}';" />
    </form>

{% endblock %}
