{% extends 'site_admin/admin_base.html' %}

{% load eval includes pagination permissions %}

{% block main_table_content %}
    
    <h1>Edit Resources</h1>
    
    <form action="{% url admin_edit_resources %}?process_form=1&amp;return_url={{ return_url|urlencode }}" method="post">
        
        <table class="grid edit-create">
            {% comment %}
            {{ form }}
            {% endcomment %}
            <tr>
                <th>
                    <label for="id_assign_tags">{{ form.assign_tags.label }} <span class="help_icon flyover {position: 'top', customClass:'editForm'}" title='Typing a portion of a word or phrase will bring up a list of all matching tags. Choose "Create a new tag" if a matching tag does not exist.'>[?]</span>:</label>
                </th>
                <td>
                    {{ form.assign_tags.errors }}
                    {{ form.assign_tags }}
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_priority">{{ form.priority.label }} <span class="help_icon flyover {position: 'top', customClass:'editForm'}" title='If "yes", these resources should be as complete as possible. Tags, Description, and URL.'>[?]</span>:</label>
                </th>
                <td>
                    {{ form.priority.errors }}
                    {{ form.priority }}
                </td>
            </tr>
            <tr>
                <th>
                    Remove Tags <span class="help_icon flyover {position: 'top', customeClass:'editForm'}" title="Remove these tags">[?]</span>:
                </th>
                <td>
                    <ul>
                        {% for tag in common_tags %}
                            <li>
                                <input type="checkbox" id="remove_tag_{{ tag.id }}" name="remove_tag_ids" value="{{ tag.id }}" />
                                <label for="remove_tag_{{ tag.id }}">{{ tag.name }}</label>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
        <div class="submit">
            <input type="submit" value="Save" class="submit-button" />
            <a href="{{ return_url }}" class="cancel-link">Cancel</a>
        </div>
        <br/>
        
        <h2>Selected Resources</h2>
        <table class="grid selected-resources">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Tags
                </th>
                <th>
                    Priority
                </th>
            </tr>
            {% for resource in resources %}
                <tr>
                    <td class="first-item">
                        <input type="hidden" name="resource_ids" value="{{ resource.id }}" />
                        <a href="{% url admin_edit_resource resource.id %}">{{ resource.name }}</a>
                    </td>
                    <td>
                        {{ resource.nodes.all|join:", " }}
                    </td>
                    <td class="last-item">
                        {{ resource.priority_to_tag|yesno }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </form>
        
{% endblock %}
