{% extends 'site_admin/admin_base.html' %}

{% load eval includes pagination permissions %}

{% block main_table_content %}
    
    <h1>Edit {{ tags|length }} Tags <span class="batch-editing-note">(See list of tags in table below)</span></h1>
    
    <form action="{% url admin_edit_tags %}?process_form=1&amp;return_url={{ return_url|urlencode }}#tab-tags-tab" method="post">
        
        <table class="grid edit-create nowrap-labels">
            <tr>
                <th>
                    <label for="id_emerging_technologies_filter">{{ form.emerging_technologies_filter.label }} <span class="help_icon flyover {position: 'top', customClass:'editForm'}" title="Choose one or multiple categories that describe these Tags. If none are chosen, these Tags will not be displayed to end users.">[?]</span>:</label>
                </th>
                <td>
                    {{ form.emerging_technologies_filter.errors }}
                    <span class="horizontal-radios">
                        {{ form.emerging_technologies_filter }}
                    </span>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_foundation_technologies_filter">{{ form.foundation_technologies_filter.label }} <span class="help_icon flyover {position: 'top', customClass:'editForm'}" title="Choose one or multiple categories that describe these Tags. If none are chosen, these Tags will not be displayed to end users.">[?]</span>:</label>
                </th>
                <td>
                    {{ form.foundation_technologies_filter.errors }}
                    <span class="horizontal-radios">
                        {{ form.foundation_technologies_filter }}
                    </span>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_hot_topics_filter">{{ form.hot_topics_filter.label }} <span class="help_icon flyover {position: 'top', customClass:'editForm'}" title="Choose one or multiple categories that describe these Tags. If none are chosen, these Tags will not be displayed to end users.">[?]</span>:</label>
                </th>
                <td>
                    {{ form.hot_topics_filter.errors }}
                    <span class="horizontal-radios">
                        {{ form.hot_topics_filter }}
                    </span>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_market_areas_filter">{{ form.market_areas_filter.label }} <span class="help_icon flyover {position: 'top', customClass:'editForm'}" title="Choose one or multiple categories that describe these Tags. If none are chosen, these Tags will not be displayed to end users.">[?]</span>:</label>
                </th>
                <td>
                    {{ form.market_areas_filter.errors }}
                    <span class="horizontal-radios">
                        {{ form.market_areas_filter }}
                    </span>
                </td>
            </tr>
        </table>
        <div class="submit">
            <input type="submit" value="Save" class="submit-button" />
            <a href="{{ return_url }}" class="cancel-link">Cancel</a>
        </div>
        <br/>
        
        <table class="grid selected-tags">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Filters
                </th>
            </tr>
            {% for tag in tags %}
                <tr>
                    <td class="first-item">
                        <input type="hidden" name="tag_ids" value="{{ tag.id }}" />
                        {{ tag.name }}
                    </td>
                    <td>
                        {{ tag.filters.all|join:", " }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </form>
        
{% endblock %}
