{% extends 'site_admin/admin_base.html' %}

{% block main_table_content %}
    
    <script type="text/javascript">
        
        window.notify = function(action, data) {
            if (action == 'created_tag') {
                // Just created a tag, add it to the field
                var multisearch = $('#multisearch_nodes').data('multisearch');
                
                // Add the newly created tag to the list of options
                multisearch.addSelectedOption({
                    name: data.tag.name,
                    value: data.tag.value,
                    societies: data.tag.societies
                });
                
                // Trigger a refresh of the popup
                multisearch.updatePopup();
                
            } else if (action == 'multisearch_create_new_tag') {
                {% if society_id %}
                    Lightbox.show('{% url admin_create_tag %}?default_tag_name=' + escape(data.tag_name) + '&society_id=' + {{ society_id }} + '&add_to_society=0', {
                        closeOnClickOutside: false
                    });
                {% else %}
                    Lightbox.show('{% url admin_create_tag %}?default_tag_name=' + escape(data.tag_name), {
                        closeOnClickOutside: false
                    });
                {% endif %}
            }
        }

    </script>
    
    {% if resource %}
        <h1>Edit Resource</h1>
    {% else %}
        <h1>Create Resource</h1>
    {% endif %}
    
    {% if errors %}
        {{ errors|safe }}
    {% endif %}
    
    <form action="{% url admin_save_resource %}?return_url={{ return_url|urlencode }}" method="post">
        <table class="full-grid edit-create">
            {{ form.id }}
            <tr>
                <th>
                    <label for="id_name">{{ form.name.label }} <span class="help_icon flyover {position:'top', customClass:'editForm'}" title="Name of the Product or Service.">[?]</span>:</label>
                </th>
                <td>
                    {{ form.name.errors }}
                    {{ form.name }}
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_type">{{ form.resource_type.label }} <span class="help_icon flyover {position:'top', customClass:'editForm'} " title="Publication, Conference, or Standard.">[?]</span>:</label>
                </th>
                <td>
                    {{ form.resource_type.errors }}
                    {{ form.resource_type }}
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_id">{{ form.ieee_id.label }} <span class="help_icon flyover {position:'top', customClass:'editForm'}" title="IEEE unique identifier.">[?]</span>:</label>
                </th>
                <td>
                    {{ form.ieee_id.errors }}
                    {{ form.ieee_id }}
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_description">{{ form.description.label }} <span class="help_icon flyover {position:'top', customClass:'editForm'}" title="Short description of the Resource. 1-3 short sentences recommended.">[?]</span>:</label>
                </th>
                <td>
                    {{ form.description.errors }}
                    {{ form.description }}
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_url">{{ form.url.label }}  <span class="help_icon flyover {position:'top', customClass:'editForm'}" title="Web link for the resource in format: www.resource.com/path">[?]</span>:</label>
                </th>
                <td>
                    {{ form.url.errors }}
                    {{ form.url }}
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_nodes">{{ form.nodes.label }}  <span class="help_icon flyover {position:'top', customClass:'editForm'}" title='Typing a portion of a word or phrase will bring up a list of all matching tags. Choose "Create a new tag" if a matching tag does not exist.'>[?]</span>:</label>
                </th>
                <td>
                    {{ form.nodes.errors }}
                    {{ form.nodes }}
                    {% if resource %}
                        <div class="multisearch-note">Type * to show all<br/>of this society's tags</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_societies">{{ form.societies.label }}  <span class="help_icon flyover {position:'top', customClass:'editForm'}" title="IEEE organizations that sponsor this resource.">[?]</span>:</label>
                </th>
                <td>
                    {{ form.societies.errors }}
                    {{ form.societies }}
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_standard_status">{{ form.standard_status.label }}  <span class="help_icon flyover {position:'top', customClass:'editForm'}" title='IEEE-provided status of the Standard: Published, Withdrawn or Project (active PAR)'>[?]</span>:</label>
                </th>
                <td>
                    {{ form.standard_status.errors }}
                    {{ form.standard_status }}
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_priority_to_tag">{{ form.priority_to_tag.label }}  <span class="help_icon flyover {position:'top', customClass:'editForm'}" title='If "yes", this resource should be as complete as possible. Tags, Description, and URL.'>[?]</span>:</label>
                </th>
                <td>
                    {{ form.priority_to_tag.errors }}
                    {{ form.priority_to_tag }}
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_completed">{{ form.completed.label }}  <span class="help_icon flyover {position:'top', customClass:'editForm'}" title='If "yes", this resource is completed. At least one Tag is mapped. Description, and URL are added/validated.'>[?]</span>:</label>
                </th>
                <td>
                    {{ form.completed.errors }}
                    {{ form.completed }}
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_keywords">{{ form.keywords.label }}  <span class="help_icon flyover {position:'top', customClass:'editForm'}" title="IEEE-provided keywords in the resource libraries. These may serve as Tag suggestions.">[?]</span>:</label>
                </th>
                <td>
                    {{ form.keywords.errors }}
                    {{ form.keywords }}
                </td>
            </tr>
        </table>
        <div class="submit">
            <input type="submit" value="Save" class="button submit-button" />
            {% if user.is_superuser and resource %}
                <input type="button" value="Delete" class="submit-button" onclick="if (confirm('Delete this resource?')) window.location='{% url admin_delete_resource resource.id %}?next={{ return_url|urlencode }}';" />
            {% endif %}
            <a href="{{ return_url }}" class="cancel-link">Cancel</a>
        </div>
    </form>
    
{% endblock %}
