{% extends 'site_admin/admin_base.html' %}

{% block main_table_content %}
    
    <h1>Edit User</h1>
    {% if errors %}
        {{ errors|safe }}
    {% endif %}
    
    <form action="{% url admin_save_user %}" method="post">
        <table class="grid">
            {% for field in form %}
                {% if field.is_hidden %}
                    {{ field }}
                {% else %}
                    <tr>
                        <th>
                            {{ field.label_tag }}
                        </th>
                        <td>
                            {% ifequal field.name "role" %}
                                <em>
                                    NOTE: If this user is an "Admin", they must also have the "Is superuser" field checked.
                                </em>
                            {% endifequal %}
                            {{ field.errors }}
                            {{ field }}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <input type="submit" value="Ok" />
        {% if user_id %}
            <input type="button" value="Delete" onclick="if (confirm('Delete this user?')) window.location='{% url admin_delete_user user_id %}';" />
        {% endif %}
    </form>
    
{% endblock %}
