{% extends 'site_admin/admin_base.html' %}

{% load eval includes pagination permissions %}

{% block main_table_content %}
    
    <h1>Edit {{ tags|length }} Tags</h1>
    
    <form action="{% url admin_edit_tags %}?process_form=1&amp;return_url={{ return_url|urlencode }}#tab-tags-tab" method="post">
        
        <table class="grid edit-create">
            <tr>
                <th>
                    <label for="id_filters">{{ form.filters.label }} <span class="help_icon flyover {position: 'top', customClass:'editForm'}" title="Choose one or multiple categories that describe these Tags. If none are chosen, these Tags will not be displayed to end users.">[?]</span>:</label>
                </th>
                <td>
                    {{ form.filters.errors }}
                    {{ form.filters }}
                </td>
            </tr>
        </table>
        <div class="submit">
            <input type="submit" value="Save" class="submit-button" />
            <a href="{{ return_url }}" class="cancel-link">Cancel</a>
        </div>
        <br/>
        
        <h2>Selected Tags</h2>
        <table class="grid selected-tags">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Filters
                </th>
            </tr>
            {% for tag in tags %}
                <tr>
                    <td class="first-item">
                        <input type="hidden" name="tag_ids" value="{{ tag.id }}" />
                        <a href="{% url admin_edit_tag tag.id %}">{{ tag.name }}</a>
                    </td>
                    <td>
                        {{ tag.filters.all|join:", " }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </form>
        
{% endblock %}
