{% extends 'site_admin/admin_base.html' %}

{% block main_table_content %}
    
    <h1>Forgot Password</h1>
    
    <form action="{% url forgot_password %}?cancel_page={{ cancel_page|urlencode }}" method="post">
        {{ error|safe }}
        <table class="forgot-password">
            {{ form }}
            <tr>
                <td colspan="2" style="text-align:center;">
                    <div class="submit">
                        <input type="submit" value="Ok" class="submit-button" />
                        <a href="{{ cancel_page }}" class="cancel-link">Cancel</a>
                    </div>
                </td>
            </tr>
        </table>
    </form>
    
{% endblock %}
