{% extends 'site_admin/admin_base.html' %}

{% block main_table_content %}
    
    <h1>Forgot Password</h1>
    
    <form action="{% url forgot_password %}?cancel_page={{ cancel_page|urlencode }}" method="post">
        {{ error|safe }}
        <table class="forgot-password">
            {{ form }}
            <tr>
                <td colspan="2" style="text-align:center;">
                    <input type="submit" value="Ok" />
                    <input type="button" value="Cancel" onclick="window.location='{{ cancel_page }}';" />
                </td>
            </tr>
        </table>
    </form>
    
{% endblock %}
