{% extends 'site_admin/admin_base.html' %}

{% load smartif %}

{% block main_table_content %}
    
    <h1>Show Import Xplore Log</h1>
    
    <p>
        <a href="{% url 'admin_import_xplore' %}">Back</a>
    </p>
    <p>
        Filename: {{ filename_abs }}
        <a href="{% url 'admin_import_xplore_delete_log' filename %}">
            [delete]
        </a>
    </p>
    
    <pre style="margin:1em; border:1px dotted black;">{{ log_contents|linebreaksbr }}</pre>
    
{% endblock %}
