{% extends 'site_admin/admin_base.html' %}

{% load smartif %}

{% block main_table_content %}
    <script>
        function updateLog() {
            $.getJSON(
                '{% url ajax_get_xplore_import_log %}'
                , function(data) {
                    var s = data.log;
                    s = s.replace('\n', '<br/>\n');
                    s += '<br/><p id="process-log-autoupdate">Auto-updating...</p>';
                    $('#process-log').html(s);
                }
            );
            setTimeout(function() { updateLog() }, 2000);
        }
        
        $(function() {
            updateLog();
        });
    </script>
    
    <h1>Import Xplore</h1>
    
    <h2>Status</h2>
    
    <table class="grid">
        <tr>
            <th>
                PID (from file)
            </th>
            <td>
                {{ pid|default:"No pidfile found" }}
            </td>
        </tr>
        <tr>
            <th>
                Log file
            </th>
            <td>
                {% if log_exists %}
                    <a href="{% url admin_import_xplore_log %}">View process log file</a>
                {% endif %}
            </td>
        </tr>
        
        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>
        
        {% if process %}
            <!--
            <tr>
                <th>
                    Is_alive
                </th>
                <td>
                    {{ process.is_alive }}
                </td>
            </tr>
            -->
            <tr>
                <th>
                    Date Created
                </th>
                <td>
                    {{ process.date_created }}
                </td>
            </tr>
            <tr>
                <th>
                    Date Updated
                </th>
                <td>
                    {{ process.date_updated }}
                    ({{ process.date_updated|timesince }} ago)
                </td>
            </tr>
            <tr>
                <th>
                    Log
                </th>
                <td id="process-log">
                    {{ process.log|linebreaksbr }}
                </td>
            </tr>
        {% endif %}
    </table>
    
    
    {% if not process %}
        <p>
            <i>No process running.</i>
        </p>
    {% endif %}
    
    <p>
        <a href="{% url admin_import_xplore %}">Refresh page</a>
    </p>
    
    {% if not process %}
        <p>
            <a href="{% url admin_import_xplore %}?action=launch">Launch the Import Process</a>
        </p>
    {% else %}
        
        {% if pid %}
            {% if process.is_alive %}
                <p>
                    <a href="{% url admin_import_xplore %}?action=stop">Stop the Import Process</a>
                </p>
            {% endif %}
            {% if not process.is_alive %}
                <p>
                    Signaling process to stop...
                </p>
            {% endif %}
        {% endif %}
        
        {% comment %}
        #<p>
        #    <a href="{% url admin_import_xplore %}?action=force_clear">(DEBUG) Force Clear</a>
        #</p>
        {% endcomment %}
        
        {% if not pid %}
            <p>
                <a href="{% url admin_import_xplore %}?action=clear">Clear this entry</a>
            </p>
            <p>
                <a href="{% url admin_import_xplore %}?action=launch">Launch the Import Process</a>
            </p>
        {% endif %}
    {% endif %}
    
    
    <br/>
    <br/>
    <br/>
    
    
{% endblock %}
