{% extends 'site_admin/admin_base.html' %}

{% block main_table_content %}
    
    <h1>Import Users</h1>
    
    {% if not results %}
        
        <form action="{% url admin_import_users %}" method="post" enctype="multipart/form-data">
            <table class="grid">
                {{ form }}
                <tr class="buttons">
                    <td colspan="2">
                        <input type="submit" value="Import" />
                    </td>
                </tr>
            </table>
        </form>
        
    {% else %}
        
        {% if errors %}
            <div class="errors">
                <p class="note">NOTE: No changes will be made to the database until all errors are corrected.</p>
                {{ errors|safe }}
            </div>
        {% else %}
            <p class="results-status">
                {{ results.users_created }} users created successfully.
            </p>
        {% endif %}

        <h2>Results</h2>
        
        {% if not errors %}
            {% if results.users_created %}
                
                <!-- Send user login info button -->
                <form action="{% url admin_send_login_info "created" %}" method="post">
                    {% for user1 in users %}
                        <input type="hidden" name="user_ids" value="{{ user1.id }}" />
                        <input type="hidden" name="plaintext_passwords" value="{{ user1.plaintext_password }}" />
                    {% endfor %}
                    <p>
                        <input type="submit" value="Send Login Info to Imported Users" />
                    </p>
                </form>
                
            {% endif %}
        {% endif %}
        
        <table class="grid">
            {% for name, value in results.items %}
                <tr class="results-{{name}}">
                    <td>
                        {{ name }}
                    </td>
                    <td>
                        {{ value|safe }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        
    {% endif %}
    
    <p><a href="{% url admin_home %}">home</a></p>
    
{% endblock %}
