{% extends 'site_admin/admin_base.html' %}

{% block main_table_content %}
    
    <h1>Admin Import Societies</h1>
    
    <table class="grid">
        <tr>
            <th>
                Page time:
            </th>
            <td>
                {{ page_time }}
            </td>
        </tr>
        <tr>
            <th>
                Rows:
            </th>
            <td>
                {{ row_count }}
            </td>
        </tr>
        <tr>
            <th>
                Societies created:
            </th>
            <td>
                {{ societies_created }}
            </td>
        </tr>
    </table>
    <p><a href="{% url admin_home %}">home</a></p>
    
{% endblock %}
