{% extends 'site_admin/admin_base.html' %}

{% block extra_head2 %}
    <script>
        $(function() {
            $('#id_username').focus();
        });
        
        $(function() {
            var url = $('#full_url').attr('value');
            $('#full_url').attr('value', url + window.location.hash);
        });
    </script>

{% endblock %}

{% block main_table_content %}
<div id="adminLogin">
    <div id="society-resource-tabs" class="nootabs {useCookies:false, useHash:true}">
        <ul class="nootabs-menus">
            <li><a href="">Login</a></li>
            <li><a href="">About the Project</a></li>
            <li><a href="">About the Team</a></li>
        </ul>
    
        <!-- Login tab -->
        <div id="login-tab" class="nootabs-tab">
            {% if show_society_login_banner %}
                <p class="society-login-banner">
                    Welcome, IEEE Society &amp; Council Leaders. You will be receiving via email a username and password shortly.
                </p>
            {% endif %}
            
            <form action="{% url admin_login %}" method="post">
                {# NOTE: We need to use a hidden field for "next" and use javascript to add the #hash, otherwise the #hash is lost by django. #}
                <input type="hidden" id="full_url" name="next" value="{{ next }}" />
                {% if error %}
                    <ul class="error">
                        <li>{{ error }}</li>
                    </ul>
                {% endif %}
                <table id="login-table">
                    {{ form }}
                    <tr>
                        <td colspan="2">
                            <div class="submit">
                                <p>
                                    <a href="{% url forgot_password %}?cancel_page={% url admin_login %}">Forget your password?</a>
                                </p>
                                <p>
                                    <a href="mailto:technav@ieee.org?subject=Requesting%20an%20account">If you don't have an account please request one here.</a>
                                </p>
                                <input type="submit" value="Okay" />
                            </div>
                         </td>
                    </tr>
                </table>

            </form>
            {% comment %}
            <div class="login-help-video">
                <h3>Video Overview of Administrative Interface</h3>
                <object id='stU09QREBIR11eQFtbUlNYUlJV' width='425' height='344' type='application/x-shockwave-flash' data='http://www.screentoaster.com/swf/STPlayer.swf' codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,115,0'>
                        <param name='movie' value='http://www.screentoaster.com/swf/STPlayer.swf'/>
                        <param name='allowFullScreen' value='true'/>
                        <param name='allowScriptAccess' value='always'/>
                        <param name='flashvars' value='video=stU09QREBIR11eQFtbUlNYUlJV'/>
                        <param name='wmode' value='opaque'/>
                </object>
            </div> 
            {% endcomment %}
        </div>
        
        <!-- About the Project tab -->
        <div id="about-project-tab" class="nootabs-tab">
            <h1>About the Project</h1>

			<p>The IEEE Technology Navigator is a web-based discovery tool that helps IEEE members, prospective members, and corporate partners to connect to IEEE resources.</p>

			<p>Unlike standard search engines, Technology Navigator uses visual navigation to present key concepts that match a user's needs and interests. Industry, education and government users can now connect to all IEEE products and services from a single point of entry. This approach allows users to "drill down" from general industry and technology terms to specific IEEE resources - societies &amp; councils, publications, conferences and standards.</p>
			<p>Presenting IEEE information through the Technology Navigator:</p>

			<ul>
				<li>Enhances access to resources relevant to real-world applications</li>
				<li>Breaks down discipline-specific silos</li>
				<li>Provides access to information and resources regarding emerging technologies</li>
				<li>Identifies areas of intersection that will encourage associations to cooperate in overlapping discipline areas.</li>
			</ul>

			<p>The development of Technology Navigator began in late 2008 with a fully-functional version completed in March, 20089. This version included an interface to enable IEEE volunteers to collaboratively populate this tool. Version 1 launched in June 2009 and enables users to navigate through industry areas and technology concepts to discover a matching set of societies/councils and core IEEE product resources.</p>

			<p>Version 2, to be completed in early 2010, extends the Technology Navigator to the larger IEEE community and to the general public. Version 2 will also integrate and extend the types of data that can be displayed, including selected IEEE XPlore content.</p>

			<p>The goals for the Technology Navigator are to help IEEE to:</p>

			<ul>
				<li>Become a global information resource.</li>
				<li>Be the preferred place to go for timely, relevant scientific information.</li>
				<li>Be recognized as the leading organization for forming new knowledge communities, delivering quality information and supporting technical professionals.</li>
				<li>Connect industry "edge users" to "rich" and relevant IEEE content.</li>
				<li>Gather together IEEE Societies and Councils, Conferences, Standards and Publications in one place.</li>
			</ul>

			<p>Questions or comments about the Technology Navigator? Contact us at technav [at] ieee [dot] org.</p>

        </div>
        
        <!-- About the Team tab -->
        <div id="about-team-tab" class="nootabs-tab">
            <h1>About the Team</h1>
            
			<p class="name">
				Allan Tear
			</p>
			<p>
				<img src="{{ MEDIA_URL }}images/about_team_allan.jpg" />
				An expert consultant in new product and service launches, Allan is the Managing Partner of Aptus Collaborative. Aptus assists large organizations with technology-enabled innovation strategy. Allan previously was a founder of three venture-funded startups. He advises students and schools on entrepreneurship through the Betaspring startup accelerator, the RI Center for Innovation and Entrepreneurship, and the Carnegie Mellon Dean's Leadership Council. He was selected in 2008 for the Providence Business News "40 Under Forty" list. Allan is a graduate of Carnegie Mellon University, with B.S. degrees in Electrical & Computer Engineering, and Public Policy.
			</p>

			<p class="name">
				Jack Templin
			</p>
			<p>
				Jack specializes in online business strategy, experience design and web application development. Prior to moving to Rhode Island from New York City, Jack was a Lead Strategist at iXL (now Microsoft), and co-founded Arc, a venture-backed consultancy widely recognized as a leader in the field of customer experience design. As a Co-Founder of Providence Geeks and the RI Nexus program, Jack plays a leading role in Rhode Island's burgeoning info-tech and digital media sector. Jack is a graduate of Middlebury College with a B.A. in Economics., and has a Masters from New York University's Interactive Telecommunications Program (ITP). The Providence Journal recently named Jack one of 9 Rhode Islanders "to watch" in 2009.
			</p>

			<p class="name">
				Hilary Mason
			</p>
			<p>
				Hilary is a computer science professor and data scientist focused on web applications and data mining. She's generally interested in techniques for finding insight in the large, unstructured data sets. Hilary has a M.S. Computer Science from Brown University, is an assistant professor at Johnson &amp; Wales University and is the Chief Scientist at Path101, Inc.
			</p>

			<p class="name">
				TJ Sondermann
			</p>
			<p>
				TJ combines his broad knowledge in the area of User Experience Design with formal training as a librarian and seven plus years of information search and retrieval experience. He has a B.S. in Management from Binghamton University and an MLIS from the University of Rhode Island.
			</p>
			
			<p class="name">
				James Yoneda
			</p>
			<p>
				James Yoneda is a senior software developer specializing in data-driven web applications. Over the past 10 years, James has built a wide variety of systems for clients ranging from Fortune 1000 companies to start-ups. James has a B.S. in Computer Engineering from the University of Rhode Island.
			</p>
			
        </div>
        
    </div>
    
    
    

    
</div>
{% endblock %}
