{% load pagination %}

<script type="text/javascript">

    // Only enable the batch edit button when 2 or more items are selected
    function updateBatchEditTagsButtons() {
        var num_selected = 0;
        $('input.select-tags').each(function() {
            if (this.checked)
                num_selected++;
        });
        
        if (num_selected > 1) {
            // Enable the edit tags buttons
            $('.edit-selected-tags').unbind('click');
            $('.edit-selected-tags').removeClass('disabled');
            Flyover.detach($('.edit-selected-tags-flyover'));
            
        } else {
            // Disable the edit tags buttons
            $('.edit-selected-tags').click(function() {
                return false;
            });
            $('.edit-selected-tags').addClass('disabled');
            Flyover.attach($('.edit-selected-tags-flyover'), { content: 'Select 2 or more tags to activate this button.' });
        }
        
    }
    
    $(function() {
        updateBatchEditTagsButtons();
        
        $('input.select-tags').change(function() {
            updateBatchEditTagsButtons();
        });
        $('input.select-tags').click(function() {
            updateBatchEditTagsButtons();
        });
    });
    
</script>

<ul class="pages" id="pages-tags-top">
    <li class="paginationTitle">Pages:</li>
    {% pages tag_page num_tag_pages tag_page_url %}
</ul>

<form action="{% url admin_manage_society society.id %}#tab-tags-tab" method="get">
    <input type="hidden" name="resource_sort" value="{{ resource_sort }}" />
    <input type="hidden" name="resource_filter" value="{{ resource_filter }}" />
    <p class="items-per-page">
        Show
        {{ items_per_page_form.items_per_page }}
        items per page.
    </p>
</form>

<form action="{% url admin_edit_tags %}?return_url={{ return_url|urlencode }}{{ "#tab-tags-tab"|urlencode }}" method="post">
    <p class="batch-editing-button">
        <span class="edit-selected-tags-flyover">
            <input type="submit" value="Edit Selected Tags" class="submit-button edit-selected-tags" />
        </span>
        <span class="help_icon flyover {customClass:'batch-editing-help'}" style="margin-left: 10px;" title="Select 2 or more tags below and click this button to batch edit their filters.">[?]</span>
    </p>
    
    <table class="tags">
        <tr>
            <th>
                <img class="batch-edit-arrow" src="{{ MEDIA_URL }}images/arrow2-down-white.gif" />
            </th>
            <th>
                Tag Name <span class="help_icon flyover" title="Keyword or phrase for related concept or technology area. Click tag to edit.">[?]</span>
                <div class="table-sort">
                <a href="{% url admin_manage_society society.id %}?tag_sort=name_ascending&amp;items_per_page={{ items_per_page }}#tab-tags-tab">
                    {% ifequal tag_sort "name_ascending" %}
                        <img src="{{ MEDIA_URL }}images/sort_arrow_up_active.png" />
                    {% else %}
                        <img src="{{ MEDIA_URL }}images/sort_arrow_up_inactive.png" />
                    {% endifequal %}
                </a>
                <a href="{% url admin_manage_society society.id %}?tag_sort=name_descending&amp;items_per_page={{ items_per_page }}#tab-tags-tab">
                    {% ifequal tag_sort "name_descending" %}
                        <img src="{{ MEDIA_URL }}images/sort_arrow_down_active.png" />
                    {% else %}
                        <img src="{{ MEDIA_URL }}images/sort_arrow_down_inactive.png" />
                    {% endifequal %}
                </a>
                </div>

            </th>
            <th>
                Sectors <span class="help_icon flyover" title="Industry Sector for which the Tag is relevant, from the domain perspective of the S/C.">[?]</span>
                
                <div class="table-sort">
                <a href="{% url admin_manage_society society.id %}?tag_sort=sector_list_ascending&amp;items_per_page={{ items_per_page }}#tab-tags-tab">
                    {% ifequal tag_sort "sector_list_ascending" %}
                        <img src="{{ MEDIA_URL }}images/sort_arrow_up_active.png" />
                    {% else %}
                        <img src="{{ MEDIA_URL }}images/sort_arrow_up_inactive.png" />
                    {% endifequal %}
                </a>
                <a href="{% url admin_manage_society society.id %}?tag_sort=sector_list_descending&amp;items_per_page={{ items_per_page }}#tab-tags-tab">
                    {% ifequal tag_sort "sector_list_descending" %}
                        <img src="{{ MEDIA_URL }}images/sort_arrow_down_active.png" />
                    {% else %}
                        <img src="{{ MEDIA_URL }}images/sort_arrow_down_inactive.png" />
                    {% endifequal %}
                </a>
                </div>
            </th>
            <th>
                Societies <span class="help_icon flyover" title="IEEE organizations that have associated Tag with their domain.">[?]</span>
                
                <div class="table-sort">
                <a href="{% url admin_manage_society society.id %}?tag_sort=num_societies_ascending&amp;items_per_page={{ items_per_page }}#tab-tags-tab">
                    {% ifequal tag_sort "num_societies_ascending" %}
                        <img src="{{ MEDIA_URL }}images/sort_arrow_up_active.png" />
                    {% else %}
                        <img src="{{ MEDIA_URL }}images/sort_arrow_up_inactive.png" />
                    {% endifequal %}
                </a>
                <a href="{% url admin_manage_society society.id %}?tag_sort=num_societies_descending&amp;items_per_page={{ items_per_page }}#tab-tags-tab">
                    {% ifequal tag_sort "num_societies_descending" %}
                        <img src="{{ MEDIA_URL }}images/sort_arrow_down_active.png" />
                    {% else %}
                        <img src="{{ MEDIA_URL }}images/sort_arrow_down_inactive.png" />
                    {% endifequal %}
                </a>
                </div>
            </th>
            <th>
                Filters <span class="help_icon flyover" title="Categories that detail the concept or technology area.">[?]</span>
                
                <div class="table-sort">
                <a href="{% url admin_manage_society society.id %}?tag_sort=num_filters_ascending&amp;items_per_page={{ items_per_page }}#tab-tags-tab">
                    {% ifequal tag_sort "num_filters_ascending" %}
                        <img src="{{ MEDIA_URL }}images/sort_arrow_up_active.png" />
                    {% else %}
                        <img src="{{ MEDIA_URL }}images/sort_arrow_up_inactive.png" />
                    {% endifequal %}
                </a>
                <a href="{% url admin_manage_society society.id %}?tag_sort=num_filters_descending&amp;items_per_page={{ items_per_page }}#tab-tags-tab">
                    {% ifequal tag_sort "num_filters_descending" %}
                        <img src="{{ MEDIA_URL }}images/sort_arrow_down_active.png" />
                    {% else %}
                        <img src="{{ MEDIA_URL }}images/sort_arrow_down_inactive.png" />
                    {% endifequal %}
                </a>
                </div>
            </th>
            <th>
                Resources <span class="help_icon flyover" title="IEEE Products or Services mapped to this Tag.">[?]</span>
                
                <div class="table-sort">
                <a href="{% url admin_manage_society society.id %}?tag_sort=num_resources_ascending&amp;items_per_page={{ items_per_page }}#tab-tags-tab">
                    {% ifequal tag_sort "num_resources_ascending" %}
                        <img src="{{ MEDIA_URL }}images/sort_arrow_up_active.png" />
                    {% else %}
                        <img src="{{ MEDIA_URL }}images/sort_arrow_up_inactive.png" />
                    {% endifequal %}
                </a>
                <a href="{% url admin_manage_society society.id %}?tag_sort=num_resources_descending&amp;items_per_page={{ items_per_page }}#tab-tags-tab">
                    {% ifequal tag_sort "num_resources_descending" %}
                        <img src="{{ MEDIA_URL }}images/sort_arrow_down_active.png" />
                    {% else %}
                        <img src="{{ MEDIA_URL }}images/sort_arrow_down_inactive.png" />
                    {% endifequal %}
                </a>
                </div>
            </th>
            <th>
                Related Tags <span class="help_icon flyover" title="Tags that are related concepts or technology areas.">[?]</span>
                
                <div class="table-sort">
                <a href="{% url admin_manage_society society.id %}?tag_sort=num_related_tags_ascending&amp;items_per_page={{ items_per_page }}#tab-tags-tab">
                    {% ifequal tag_sort "num_related_tags_ascending" %}
                        <img src="{{ MEDIA_URL }}images/sort_arrow_up_active.png" />
                    {% else %}
                        <img src="{{ MEDIA_URL }}images/sort_arrow_up_inactive.png" />
                    {% endifequal %}
                </a>
                <a href="{% url admin_manage_society society.id %}?tag_sort=num_related_tags_descending&amp;items_per_page={{ items_per_page }}#tab-tags-tab">
                    {% ifequal tag_sort "num_related_tags_descending" %}
                        <img src="{{ MEDIA_URL }}images/sort_arrow_down_active.png" />
                    {% else %}
                        <img src="{{ MEDIA_URL }}images/sort_arrow_down_inactive.png" />
                    {% endifequal %}
                </a>
                </div>
            </th>
            <th>
                Remove <span class="help_icon flyover" title="Remove this tag from this society.">[?]</span>
            </th>
        </tr>
        {% for tag in tags %}
            <tr>
                <td class="select-checkbox-on-click">
                    <input type="checkbox" name="tag_ids" value="{{ tag.id }}" class="select-tags" />
                </td>
                <td class="first-item">
                    <a href="{% url admin_edit_tag tag.id %}?return_url={{ return_url|urlencode }}{{ "#tab-tags-tab"|urlencode }}&amp;society_id={{ society.id }}">{{ tag.name }}</a>
                </td>
                <td>
                    {{ tag.parents.all|join:", " }}
                </td>
                <td>
                    {% if tag.societies.all.count %}
                        {{ tag.societies.all.count }}
                    {% endif %}
                </td>
                <td>
                    {% if tag.filters.all.count %}
                        {{ tag.filters.all.count }}
                    {% endif %}
                </td>
                <td>
                    {% if tag.resources.all.count %}
                        {{ tag.resources.all.count }}
                    {% endif %}
                </td>
                <td>
                    {% if tag.related_tags.all.count %}
                        {{ tag.related_tags.all.count }}
                    {% endif %}
                </td>
                <td>
                    <a href="javascript:$('#multisearch_tags').data('multisearch').removeSelectedOptionByValue({{ tag.id }});" onclick="return confirm('Remove this tag?');"><span class="flyover" title="Remove Tag from Society">[x]</span></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <p class="batch-editing-button">
        <span class="edit-selected-tags-flyover">
            <input type="submit" value="Edit Selected Tags" class="submit-button edit-selected-tags" />
        </span>
        <span class="help_icon flyover {customClass:'batch-editing-help'}" style="margin-left: 10px;" title="Select 2 or more tags above and click this button to batch edit their filters.">[?]</span>
    </p>
</form>

<div>
    <ul class="pages" style="float:left;">
        <li class="paginationTitle">Pages:</li>
        {% pages tag_page num_tag_pages tag_page_url %}
    </ul>
    <input type="button" id="create-tag" onclick="location.href='{% url admin_create_tag %}?society_id={{ society.id }}&amp;return_url={{ return_url|urlencode }}{{ "#tab-tags-tab"|urlencode }}';" value="Create New Tag" />
</div>
