{% extends 'site_admin/admin_base.html' %}

{% load eval includes permissions %}

{% block main_table_content %}
    
    <script type="text/javascript">
        
        function updateTagCount() {
            var count = $('#multisearch_tags').data('multisearch').getNumSelectedOptions();
            $('#tag-count').html('(' + count + ')');
        }
        
        function CreateOverShadow(elem, html) {
            elem = $(elem);
            if (elem.data('overShadow')) {
                // Already has a shadow, update the html
                elem.data('overShadow').updateHtml(html);
            } else {
                // Create a new shadow
                new OverShadow(elem, html);
            }
        }
        
        // Creates a shadow layer over the top of elem, matching the size & position.
        // Uses 'html' as the content of the layer.
        function OverShadow(elem, html) {
            this.elem = $(elem);
            elem.data('overShadow', this);
            
            var pos = getElemPos(elem);
            this.shadowElem = $('<div class="over-shadow"></div>').appendTo('body');
            this.shadowElem.css('left', pos.x + 'px');
            this.shadowElem.css('top', pos.y + 'px');
            this.shadowElem.css('width', elem.attr('offsetWidth') + 'px');
            this.shadowElem.css('height', elem.attr('offsetHeight') + 'px');
            
            this.contentElem = $('<div class="over-shadow-content"></div>').appendTo('body');
            this.contentElem.css('left', pos.x + 'px');
            this.contentElem.css('top', pos.y + 'px');
            this.contentElem.css('width', elem.attr('offsetWidth') + 'px');
            this.contentElem.css('height', elem.attr('offsetHeight') + 'px');
            this.contentElem.html(html);
        }
        
        OverShadow.prototype.updateHtml = function(html) {
            this.contentElem.html(html);
        }
        
        OverShadow.prototype.hide = function() {
            this.shadowElem.remove();
            this.shadowElem = null;
            this.contentElem.remove();
            this.contentElem = null;
            this.elem.data('overShadow', null);
            this.elem = null;
        }
        
        //////////
        
        function refreshTagsTable() {
            //log('refreshTagsTable()');
            CreateOverShadow($('#tags-table-content'), '<div class="tags-table-loading">Loading...</div>');
            $('#tags-table-content').load("{% url admin_manage_society_tags_table society.id tag_sort tag_page %}", refreshTagsTable2);
        }
        
        function refreshTagsTable2() {
            //log('refreshTagsTable2()');
            if ($('#tags-table-content').length && $('#tags-table-content').data('overShadow'))
                $('#tags-table-content').data('overShadow').hide();
        }
        
        window.notify = function(action, data) {
            if (action == 'created_tag') {
                // Just created a tag, add it to the field
                var multisearch = $('#multisearch_tags').data('multisearch');
                
                // Add the newly created tag to the list of options
                multisearch.addSelectedOption({
                    name: data.tag.name,
                    name_link: data.tag.name_link,
                    value: data.tag.value,
                    tag_name: data.tag.tag_name,
                    sector_names: data.tag.sector_names,
                    num_societies: data.tag.num_societies.toString(),
                    num_related_tags: data.tag.num_related_tags.toString(),
                    num_filters: data.tag.num_filters.toString(),
                    num_resources: data.tag.num_resources.toString()
                });
                
                // Trigger a refresh of the popup
                multisearch.updatePopup();
                
                // Update the tags table
                refreshTagsTable();
                
            } else if (action == 'added_multisearch_option') {
                $.post('{% url ajax_update_society %}', {
                    action: 'add_tag',
                    society_id: {{ society.id }},
                    tag_id: data.option.value
                });
                updateTagCount()
                
                // Update the tags table
                refreshTagsTable();
                
            } else if (action == 'preloaded_multisearch_option') {
                updateTagCount()
                
            } else if (action == 'removed_multisearch_option') {
                $.post('{% url ajax_update_society %}', {
                    action: 'remove_tag',
                    society_id: {{ society.id }},
                    tag_id: data.option.value
                });
                updateTagCount()
                
                // Update the tags table
                refreshTagsTable();
                
            } else if (action == 'multisearch_create_new_tag') {
                Lightbox.show('{% url admin_create_tag %}?default_tag_name=' + escape(data.tag_name) + '&society_id=' + {{ society.id }}, {
                    closeOnClickOutside: false
                });
                
            } else {
                alert('notify(): unknown action "' + action + '"');
            }
        
        }

    </script>

    {% comment %}
    {% ifpermission "user_can_edit_society" society %}
        <a href="{% url admin_edit_society society.id %}?return_url={{ current_url|urlencode }}" class="edit">Edit Society</a>
    {% endifpermission %}
    {% endcomment %}
    <h1>{{ society.name }} ({{ society.abbreviation }}) Society</h1>
    
    <table class="full-grid manage-grid">
        {% comment %}
        <tr>
            <th>
                Name:
            </th>
            <td width="80%">
                {{ society.name }}
            </td>
        </tr>
        <tr>
            <th>
                Abbreviation:
            </th>
            <td>
                {{ society.abbreviation }}
            </td>
        </tr>
        <tr>
            <th>
                Url
            </th>
            <td>
                {{ society.url }}
            </td>
        </tr>
        <tr>
            <th>
                Users
            </th>
            <td>
                {% for user in society.users.all %}
                    <a href="{% url admin_view_user user.id %}">{{ user.username }}</a>, 
                {% endfor %}
            </td>
        </tr>
        {% endcomment %}
        <tr>
            <td colspan="2" style="border: none;">
                
                {# <form action="{% url admin_manage_society society.id %}" method="post"> #}
                    
                    <div id="society-resource-tabs" class="nootabs {useCookies:false, useHash:true}">
                        <ul class="nootabs-menus">
                            <li><a href="">Manage this Society's Resources ({{ num_resources }})</a></li>
                            <li><a href="">Manage this Society's Tags <span id="tag-count"></span></a></li>
                            {% if DEBUG_ENABLE_MANAGE_SOCIETY_HELP_TAB %}
                                <li><a href="">Help</a></li>
                            {% endif %}
                        </ul>
                        
                        <!-- Resources Tab -->
                        <div id="resources-tab">
                            
                            Page: 
                            {% for page in resource_pages %}
                                <a
                                    href="{% url admin_manage_society society.id %}?resource_page={{ page }}&amp;resource_sort={{ resource_sort }}"
                                    {% ifequal page resource_page %}
                                        class="resource_page active_resource_page"
                                    {% else %}
                                        class="resource_page"
                                    {% endifequal %}
                                >
                                    {{ page }}
                                </a>
                            {% endfor %}
                            <br/>
                            <br/>
                            
                            <table class="resources">
                                <tr>
                                    {% comment %}
                                        <th>
                                        </th>
                                    {% endcomment %}
                                    <th class="first-item">
                                        <span class="header-with-note">Resource Name <span class="help_icon flyover" title="Resource">[?]</span></span>
                                        
                                        &nbsp;
                                        <a href="{% url admin_manage_society society.id %}?resource_sort=name_ascending" class="live-url {hashOnly:true}">
                                            {% ifequal resource_sort "name_ascending" %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_up_active.png" />
                                            {% else %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_up_inactive.png" />
                                            {% endifequal %}
                                        </a>
                                        <a href="{% url admin_manage_society society.id %}?resource_sort=name_descending" class="live-url {hashOnly:true}">
                                            {% ifequal resource_sort "name_descending" %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_down_active.png" />
                                            {% else %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_down_inactive.png" />
                                            {% endifequal %}
                                        </a>
                                        
                                        <span class="header-note">Click resource to edit</span>
                                    </th>
                                    <th>
                                        ID <span class="help_icon flyover" title="ID">[?]</span>
                                        
                                        &nbsp;
                                        <a href="{% url admin_manage_society society.id %}?resource_sort=ieee_id_ascending" class="live-url {hashOnly:true}">
                                            {% ifequal resource_sort "ieee_id_ascending" %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_up_active.png" />
                                            {% else %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_up_inactive.png" />
                                            {% endifequal %}
                                        </a>
                                        <a href="{% url admin_manage_society society.id %}?resource_sort=ieee_id_descending" class="live-url {hashOnly:true}">
                                            {% ifequal resource_sort "ieee_id_descending" %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_down_active.png" />
                                            {% else %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_down_inactive.png" />
                                            {% endifequal %}
                                        </a>
                                    </th>
                                    <th>
                                        Resource Type <span class="help_icon flyover" title="Resource Type">[?]</span>
                                        
                                        &nbsp;
                                        <a href="{% url admin_manage_society society.id %}?resource_sort=resource_type_ascending" class="live-url {hashOnly:true}">
                                            {% ifequal resource_sort "resource_type_ascending" %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_up_active.png" />
                                            {% else %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_up_inactive.png" />
                                            {% endifequal %}
                                        </a>
                                        <a href="{% url admin_manage_society society.id %}?resource_sort=resource_type_descending" class="live-url {hashOnly:true}">
                                            {% ifequal resource_sort "resource_type_descending" %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_down_active.png" />
                                            {% else %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_down_inactive.png" />
                                            {% endifequal %}
                                        </a>
                                    </th>
                                    <th>
                                        URL <span class="help_icon flyover" title="URL">[?]</span>
                                        
                                        &nbsp;
                                        <a href="{% url admin_manage_society society.id %}?resource_sort=url_ascending" class="live-url {hashOnly:true}">
                                            {% ifequal resource_sort "url_ascending" %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_up_active.png" />
                                            {% else %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_up_inactive.png" />
                                            {% endifequal %}
                                        </a>
                                        <a href="{% url admin_manage_society society.id %}?resource_sort=url_descending" class="live-url {hashOnly:true}">
                                            {% ifequal resource_sort "url_descending" %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_down_active.png" />
                                            {% else %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_down_inactive.png" />
                                            {% endifequal %}
                                        </a>
                                    </th>
                                    <th>
                                        Tags <span class="help_icon flyover" title="Tags">[?]</span>
                                        
                                        &nbsp;
                                        <a href="{% url admin_manage_society society.id %}?resource_sort=num_tags_ascending" class="live-num_tags {hashOnly:true}">
                                            {% ifequal resource_sort "num_tags_ascending" %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_up_active.png" />
                                            {% else %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_up_inactive.png" />
                                            {% endifequal %}
                                        </a>
                                        <a href="{% url admin_manage_society society.id %}?resource_sort=num_tags_descending" class="live-num_tags {hashOnly:true}">
                                            {% ifequal resource_sort "num_tags_descending" %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_down_active.png" />
                                            {% else %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_down_inactive.png" />
                                            {% endifequal %}
                                        </a>
                                    </th>
                                    <th>
                                        Societies <span class="help_icon flyover" title="Societies">[?]</span>
                                        
                                        &nbsp;
                                        <a href="{% url admin_manage_society society.id %}?resource_sort=num_societies_ascending" class="live-num_societies {hashOnly:true}">
                                            {% ifequal resource_sort "num_societies_ascending" %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_up_active.png" />
                                            {% else %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_up_inactive.png" />
                                            {% endifequal %}
                                        </a>
                                        <a href="{% url admin_manage_society society.id %}?resource_sort=num_societies_descending" class="live-num_societies {hashOnly:true}">
                                            {% ifequal resource_sort "num_societies_descending" %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_down_active.png" />
                                            {% else %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_down_inactive.png" />
                                            {% endifequal %}
                                        </a>
                                    </th>
                                    <th>
                                        Priority <span class="help_icon flyover" title="Priority">[?]</span>
                                        
                                        &nbsp;
                                        <a href="{% url admin_manage_society society.id %}?resource_sort=priority_ascending" class="live-priority {hashOnly:true}">
                                            {% ifequal resource_sort "priority_ascending" %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_up_active.png" />
                                            {% else %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_up_inactive.png" />
                                            {% endifequal %}
                                        </a>
                                        <a href="{% url admin_manage_society society.id %}?resource_sort=priority_descending" class="live-priority {hashOnly:true}">
                                            {% ifequal resource_sort "priority_descending" %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_down_active.png" />
                                            {% else %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_down_inactive.png" />
                                            {% endifequal %}
                                        </a>
                                    </th>
                                    <th>
                                        Description <span class="help_icon flyover" title="Description">[?]</span>
                                        
                                        &nbsp;
                                        <a href="{% url admin_manage_society society.id %}?resource_sort=description_ascending" class="live-description {hashOnly:true}">
                                            {% ifequal resource_sort "description_ascending" %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_up_active.png" />
                                            {% else %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_up_inactive.png" />
                                            {% endifequal %}
                                        </a>
                                        <a href="{% url admin_manage_society society.id %}?resource_sort=description_descending" class="live-description {hashOnly:true}">
                                            {% ifequal resource_sort "description_descending" %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_down_active.png" />
                                            {% else %}
                                                <img src="{{ MEDIA_URL }}images/sort_arrow_down_inactive.png" />
                                            {% endifequal %}
                                        </a>
                                    </th>
                                </tr>
                                {% for resource in resources %}
                                    <tr>
                                        {% comment %}
                                            <td class="count">
                                                {{ resource.count }}
                                            </td>
                                        {% endcomment %}
                                        <td class="first-item">
                                            <a href="{% url admin_edit_resource resource.id %}?return_url={{ current_url|urlencode }}&amp;society_id={{ society.id }}">{{ resource.name }}</a>
                                        </td>
                                        <td>
                                            {{ resource.ieee_id }}
                                        </td>
                                        <td>
                                            {{ resource.resource_type.name|capfirst }}
                                        </td>
                                        <td>
                                            {% if resource.url %}<a href="{{ resource.url }}" target="_blank"><span class="flyover {position:'bottom'}" title="{{ resource.url }}"><img src="{{ MEDIA_URL }}/images/popup_active.png"/></span></a>{% endif %}
                                        </td>
                                        <td>
                                            {% if resource.nodes.all %}{{ resource.nodes.all|length }}{% endif %}
                                        </td>
                                        <td>
                                            {% if resource.societies.all %}
                                                {{ resource.society_abbreviations|join:", " }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if resource.priority_to_tag %}
                                                {{ resource.priority_to_tag|yesno }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if resource.description %}
                                                <span class="flyover { position:'left'} " title="{{ resource.description }}">
                                                    <img src="{{ MEDIA_URL }}images/notes_icon.jpg" />
                                                </span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        
                        <!-- Tags Tab -->
                        <div id="tags-tab">
                            <input type="button" id="create-tag-float" onclick="location.href='{% url admin_create_tag %}?society_id={{ society.id }}&amp;return_url={{ tags_tab_url|urlencode }}';" value="Create New Tag" />
                            {% eval form['tags'] %}
                            
                            <div id="tags-table-content">
                                {% manage_society_tags_table %}
                            </div>
                            
                            <input type="button" id="create-tag" onclick="location.href='{% url admin_create_tag %}?society_id={{ society.id }}&amp;return_url={{ tags_tab_url|urlencode }}';" value="Create New Tag" />
                        </div>
                        
                        {% if DEBUG_ENABLE_MANAGE_SOCIETY_HELP_TAB %}
                            <!-- Help Tab -->
                            <div id="help-tab">
                                <h2>Help</h2>
                                
                                <h3>
                                    Example flash object:
                                </h3>
                                <script type="text/javascript">
                                    var backgroundColor = "#ffffff";
                                    var constellationWidth = "400px";
                                    var constellationHeight = "300px";
                                    var selectedNodeID = "{{nodeId}}";
                                    var instanceID = "1";
                                    var configURL = "/media/flash/constellation_config.xml";
                                    var flashvars = 'selected_node_id=' + selectedNodeID + '&instance_id=' + instanceID + "&config_url=" + configURL;
                                    writeHTML('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" '
                                        + 'codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" '
                                        + 'width="' + constellationWidth + '" '
                                        + 'height="' + constellationHeight + '" '
                                        + 'id="constellation-roamer-object">'
                                            + '<param name="allowScriptAccess" value="sameDomain">'
                                            + '<param name="movie" value="{{MEDIA_URL}}flash/constellation_roamer.swf">'
                                            + '<param name="quality" value="high">'
                                            + '<param name="bgcolor" value="' + backgroundColor + '">'
                                            + '<param name="scale" value="noscale">'
                                            + '<param name="flashvars" value="' + flashvars + '">'
                                            + '<param name="wmode" value="transparent">'
                                        + '<embed id="constellation-roamer-embed" src="{{MEDIA_URL}}flash/constellation_roamer.swf" quality="high" '
                                            + 'style="border:1px solid black;" '
                                            + 'bgcolor="' + backgroundColor + '" '
                                            + 'width="' + constellationWidth + '" '
                                            + 'height="' + constellationHeight + '" '
                                            + 'name="constellation_roamer" align="middle" '
                                            + 'scale="noscale" allowScriptAccess="sameDomain" '
                                            + 'type="application/x-shockwave-flash" '
                                            + 'flashvars="' + flashvars + '" '
                                            + 'wmode="transparent" '
                                            + 'pluginspage="http://www.macromedia.com/go/getflashplayer"><\/object>');
                                </script>
                                
                                <h3>
                                    Link to help PDF:<br/>
                                </h3>
                                <p>
                                    <a href="#" onclick="return false;" target="_blank">Click here to view the help PDF file.</a>
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean porta lorem eget felis. Nam quis eros. Donec et ligula et purus imperdiet aliquam. Donec tempor bibendum dui. Donec at velit. Donec ullamcorper, felis ac pulvinar aliquam, quam justo fermentum ante, eget porttitor nisl justo et felis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Nunc eget erat nec nibh posuere iaculis. Sed tincidunt elementum nulla. Cras congue. Donec dignissim dapibus massa. Suspendisse interdum, nibh vel tristique posuere, ante sapien aliquam quam, ac adipiscing dolor turpis commodo neque. Mauris id eros. Curabitur nunc. Vestibulum vestibulum ullamcorper nisl.
                                </p>
                                <p>
                                    Vestibulum sit amet orci. Proin ac elit nec erat vestibulum accumsan. Vivamus nec sem vitae sapien volutpat fringilla. Aliquam malesuada elit sit amet wisi vulputate condimentum. Nullam sed metus. Sed hendrerit, purus sit amet egestas euismod, mauris wisi ornare eros, eu facilisis nibh est vel eros. Etiam erat nibh, condimentum id, accumsan at, ullamcorper a, risus. Pellentesque tellus purus, lobortis non, nonummy at, auctor sed, ipsum. Suspendisse sollicitudin wisi nonummy metus. Nam dignissim adipiscing eros. Sed convallis est vitae mauris. Maecenas adipiscing tincidunt nunc.
                                </p>
                            </div>
                        {% endif %}
                        
                    </div>
                    
                    {% comment %}
                    <input type="submit" value="Save" class="button" />
                    {% endcomment %}
                    
                {# </form> #}
                
            </td>
        </tr>
        
    </table>
    
{% endblock %}
