{% extends 'base.html' %}

{% block content %}
    <div class="email-lightbox lightbox-pad">
        <h3>Missing-resource Form</h3>
        
        <form action="{% url missing_resource society_id %}" method="post" class="block-labels">
            {{ form.as_p }}
        <div class="submit">
            <input type="submit" value="Send" class="button" />
            <input type="button" value="Cancel" class="lightbox-close button" />
        </div>
        </form>
        
</div>
{% endblock %}

