{% extends 'base.html' %}

{% block content %}
    <div class="email-lightbox lightbox-pad">
        <h3>Missing-resource Form</h3>
        
        <form action="{% url 'missing_resource' society_id %}" method="post" class="block-labels">
            {% csrf_token %}
            {{ form.as_p }}
        <div class="submit">
            <input type="submit" value="Send" class="button submit-button" />
            <a href="javascript:Lightbox.hide();" class="cancel-link">Cancel</a>
        </div>
        </form>
        
</div>
{% endblock %}

