{% extends 'site_admin/admin_base.html' %}

{% block main_table_content %}
    
    <h1>Priority Report</h1>
    <p class="export">
        <a href="{% url admin_priority_report %}?export_csv=1">Export as CSV</a>
    </p>
    
    <table class="grid">
        {% for name, value in results.items %}
            <tr>
                <td>
                    {{ name }}
                </td>
                {% if value.0 %}
                    <td>
                        {{ value.0|safe }}
                    </td>
                    <td>
                        {{ value.1|safe }}
                    </td>
                {% else %}
                    <td>
                        {{ value|safe }}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}
