{% extends 'site_admin/admin_base.html' %}

{% block nav_home %}highlight{% endblock %}

{% block main_table_content %}
    
    <h1>Preview Email</h1>
    
    <form action="{% url admin_send_email_all_users %}" method="post">
        {% csrf_token %}
        {{ form }}
        <table class="grid">
            <tr>
                <td>
                    Subject:
                </td>
                <td>
                    {{ subject }}
                </td>
            </tr>
            <tr>
                <td>
                    Body:
                </td>
                <td>
                    {{ body|linebreaksbr }}
                </td>
            </tr>
            <tr class="buttons">
                <td colspan="2">
                    <input type="submit" value="Send Email" />
                </td>
            </tr>
        </table>

    </form>
    
{% endblock %}
