{% extends 'site_admin/admin_base.html' %}

{% block main_table_content %}
    
    <script>
        function resizeImages() {
            log('resizeImages()');
            var complete = true;
            
            var maxw = 100;
            var maxh = 100;
            
            $('#logos-table img').each(function() {
                var img = $(this);
                if (!img.attr('complete')) {
                    complete = false;
                } else {
                    if (!img.data('width') || !img.data('height')) {
                        img.data('width', img.width());
                        img.data('height', img.height());
                        img.data('ratio', img.width() / img.height());
                    }
                    
                    if (img.width() > maxw) {
                        var w = maxw;
                        var h = 1/img.data('ratio') * w;
                        img.css('width', w);
                        img.css('height', h);
                    }
                    
                    if (img.height() > maxh) {
                        var h = maxh;
                        var w = 1/img.data('ratio') * h;
                        img.css('height', h);
                        img.css('width', w);
                    }
                }
            });
            
            if (!complete) {
                setTimeout(resizeImages, 1000);
            }
        }
        
        $(function() {
            resizeImages();
        });
    </script>
    
    <h1>Organization Logos Report</h1>
    
    {% if new_logos_count %}
        <p class="notification">
            {{ new_logos_count }} new logos were detected.
        </p>
    {% endif %}
    
    <table id="logos-table" class="grid">
        <tr>
            <th>
                Organization Name
            </th>
            <th>
                Logo
            </th>
            <th>
                Thumbnail
            </th>
        </tr>
        {% for society in societies %}
            <tr class="{% cycle 'society-logo-row-odd' 'society-logo-row-even' %}">
                <td>
                    {{ society.name }}
                    ({{ society.abbreviation }})
                </td>
                <td {% if not society.logo_full %}class="missing-logo"{% endif %} >
                    {% if society.logo_full %}
                        <img src="{{ society.logo_full.url }}" />
                    {% else %}
                        (no logo)
                    {% endif %}
                </td>
                <td {% if not society.logo_thumbnail %}class="missing-logo"{% endif %} >
                    {% if society.logo_thumbnail %}
                        <img src="{{ society.logo_thumbnail.url }}" />
                    {% else %}
                        (no logo)
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
