{% extends 'site_admin/admin_base.html' %}

{% block nav_societies %}highlight{% endblock %}

{% block main_table_content %}
    
    <h1>Please Choose an IEEE Organization</h1>
    
    <table class="grid">
        <tr>
            <th>
                IEEE Organization
            </th>
            <th>
                URL
            </th>    
            <th>
                # Topics
            </th>
            <th>
                # Topic Areas
            </th>                    
            <th>
                # Resources
            </th>
            {% if user.get_profile.role == 'admin' %}
            <th>
            </th>
            {% endif %}
        </tr>
        {% for society in societies %}
            <tr>
                <td>
                    <a href="{% url admin_manage_society society.id %}">{{ society.name }}</a> ({{ society.abbreviation }})
                </td>
                <td>
                    <a href="{{ society.url }}" target="_blank" rel="nofollow">{{ society.url }}<span class="popup newWinIcon"></span></a>
                </td> 
                <td>
                    {{ society.tags.get_tags.count }}
                    {% comment %}
                        {% for tag in society.tags.all %}
                            <a href="{% url admin_view_tag tag.id %}">{{ tag.name_with_sector }}</a>, 
                        {% endfor %}
                        {% if society.more_tags %}
                            <em>... {{ society.more_tags }} more topics</em>
                        {% endif %}
                    {% endcomment %}
                </td>
                <td>
                    {{ society.tags.get_clusters.count }}
                </td>                               
                <td>
                    {{ society.resources.all.count }}
                </td>
                {% if user.get_profile.role == 'admin' %}
                <td>
                    <a href="{% url admin_edit_society society.id %}">edit</a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    
    {% comment %}
    #    {% if user.is_superuser %}
    #        <p><a href="{% url admin_create_society %}">Create a new organization</a></p>
    #    {% endif %}
    {% endcomment %}
    
{% endblock %}
