{% extends 'site_admin/admin_base.html' %}

{% block main_table_content %}
    
    <p style="color:silver;">
        Page time: {{ page_time|floatformat }}s
    </p>
    
    <h1>Topics Report</h1>
    <p class="export">
        <a href="{% url admin_tags_report %}?export_csv=1">Export as CSV</a>
    </p>
    
    <p>
        <em>
            Columns show the count &amp; percentage of topics that a) have filters, b) are tagged to resources, and c) have organizations assigned, respectively.
        </em>
    </p>
    
    <table class="tagged_resources_report grid">
        <tr>
            <th>
                Name
            </th>
            <th>
                Total
            </th>
            <th colspan="2" style="text-align:center;">
                Filtered
            </th>
            <th colspan="2" style="text-align:center;">
                Resource
            </th>
            <th colspan="2" style="text-align:center;">
                Organization
            </th>
        </tr>
        <tr class="all-resources">
            <td>
                All Topics
            </td>
            <td class="num total">
                {{ all_total_tags }}
            </td>
            <td class="num">
                {{ all_filtered_tags }}
            </td>
            <td class="num">
                {{ all_percent_filtered|floatformat:1 }}%
            </td>
            <td class="num">
                {{ all_resource_tags }}
            </td>
            <td class="num">
                {{ all_percent_resource|floatformat:1 }}%
            </td>
            <td class="num">
                {{ all_society_tags }}
            </td>
            <td class="num">
                {{ all_percent_society|floatformat:1 }}%
            </td>
        </tr>
        {% for society in societies %}
            <tr>
                <td>
                    {{ society.name }}
                </td>
                <td class="num total">
                    {{ society.total_tags }}
                </td>
                <td class="num">
                    {{ society.filtered_tags }}
                </td>
                <td class="num">
                    {{ society.percent_filtered|floatformat:0 }}%
                </td>
                <td class="num">
                    {{ society.resource_tags }}
                </td>
                <td class="num">
                    {{ society.percent_resource|floatformat:0 }}%
                </td>
                <td class="num">
                </td>
                <td class="num">
                </td>
            </tr>
        {% endfor %}
    </table>
    
    <p><a href="{% url admin_home %}">home</a></p>

{% endblock %}
