{% extends 'site_admin/admin_base.html' %}

{% block nav_users %}highlight{% endblock %}

{% block main_table_content %}
    
    <h1>Manage Users</h1>
    
    <table class="grid">
        <tr>
            <th>
                Username
            </th>
            <th>
                First name
            </th>
            <th>
                Last name
            </th>
            <th>
                Email
            </th>
            <th>
                Is Staff
            </th>
            <th>
                Is Superuser
            </th>
            <th>
                Role
            </th>
            <th>
                Societies
            </th>
        </tr>
        {% for user in users %}
            <tr>
                <td>
                    <a href="{% url admin_view_user user.id %}">{{ user.username }}</a>
                </td>
                <td>
                    {{ user.first_name }}
                </td>
                <td>
                    {{ user.last_name }}
                </td>
                <td>
                    {{ user.email }}
                </td>
                <td>
                    {{ user.is_staff|yesno }}
                </td>
                <td>
                    {{ user.is_superuser|yesno }}
                </td>
                <td>
                    {{ user.get_profile.role }}
                </td>
                <td>
                    {% for society in user.societies.all %}
                        <a href="{% url admin_view_society society.id %}">{{ society.name }}</a>, 
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    
    <p>
        <a href="{% url admin_create_user %}">Create a new user</a>
    </p>
    
{% endblock %}
