{% extends 'base_table.html' %}

{% block main_table_content %}
    
    {% if title %}
        <h1>{{ title }}</h1>
    {% else %}
        <h1>An Error Has Occurred</h1>
    {% endif %}
    
    {% if message %}
        <p>
            {{ message }}
        </p>
    {% else %}
        <p>
            An error has occurred and the administrator has been notified.
        </p>
    {% endif %}
    <p>
        You can use the back button to go back to the page you were previously viewing, or go back to the <a href="{% url index %}">home page</a>.
    </p>
    
        
{% endblock %}
