Deleting your TechNav account will:
<ul class="deleteText">
	<li>Disconnect all of your social media accounts</li>
	<li>Unsubscribe you from all topic alerts</li>
	<li>Removes all your favorited topics, resources, and organizations</li>
</ul>
<p>
	<strong>Are you sure you want to delete your account?</strong><br/>
	<a href="/delete_user/">Yes, delete my account</a> &nbsp;&nbsp;or&nbsp;&nbsp; <a href="javascript:void()" onclick="$('#connectacct-tab').load('/ajax/connections');">No, cancel deletion</a>
</p>
<em>This action cannot be undone!</em>