{% load socialaccount %}

<a class="lightbox-close"></a>
<h2>Your Account</h2>

<div id="account-tabs" class="nootabs {useCookies:false, useHash:false}">
    <ul class="nootabs-menus">
        <li><a href="">Alerts</a></li>
        <li><a href="">Favorites</a></li>
        <li class="last-menu"><a href="">Connected Accounts</a></li>
    </ul>

    <!-- Alerts tab -->
    <div id="alerts-tab" class="nootabs-tab">
       {% if alerts %}
		<p class="first">You will be emailed an alert at {{ user.email }} when a new resource as been associated to any of these topics you are subscribed to.</p>
		<ul class="topicList">
			{% for alert in alerts %}
			<li><a href="javascript:Tags.selectTag({{ alert.node.id }});" onclick="_gaq.push(['_trackEvent', 'Tags', 'Click', '{{ alert.node.name}}']);" rel="nofollow">{{ alert.node.name }}</a> <span class="icon-cancel unsubscribe icomoon-icon" data-nodeid="{{ alert.node.id }}"></span></li>
			{% endfor %}
		</ul>
		{% else %}
		You are not subscribed to any alerts. Click the <span class="icon-alert icomoon-icon"></span> icon to subscribe to alerts.
		{% endif %}
    </div>
    
    <!-- Favorites tab -->
    <div id="favorites-tab" class="nootabs-tab"></div>

    <!-- Connected Accounts tab -->
    <div id="connectacct-tab" class="nootabs-tab">
        You can remove your connected social media accounts:
        {% get_social_accounts user as accounts %}
        {% if accounts %}
            <ul>
            {% for key, values in accounts.items %}
                <li>{{ key }} accounts:
                    <ul>
                    {% for account in values %}
                        <li>{{ account.user.username }}</li>
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            There are no connected accounts (impossible situation)
        {% endif %}

        You can connect new social media accounts:
        <div>
            <a class="btn account" href="{% provider_login_url "google" process="connect" %}"><span class="icon-google icomoon-icon"></span>Sign In or Join with Google</a>
    {#	    <a class="btn account" href="{% provider_login_url "facebook" process="connect" %}"><span class="icon-facebook icomoon-icon"></span>Sign In or Join with Facebook</a>#}
            <a class="btn account" href="{% provider_login_url "linkedin_oauth2" process="connect" %}"><span class="icon-linkedin icomoon-icon"></span>Sign In or Join with LinkedIn</a>
        </div>

    </div>

</div>
<div class="clearfix"></div>

<script type="text/javascript">
    $('#favorites-tab').load('/ajax/favorite_list');
    $(function() {
        var action;
        var nodeid;
        $('.unsubscribe').click(function(){
        	nodeid = $(this).data('nodeid');
        	$(this).parent().remove();
            $.post('/ajax/notification/request',
                {
                    email: '{{ user.email }}',
                    nodeid: nodeid,
                    action: 'disable'
                },
                function(){
                    return false;
                }
            );
        });
    });
</script>
