Deleting your Technology Navigator account will:
<ul class="deleteText">
	<li>Disconnect your Google account</li>
	<li>Unsubscribe you from all topic alerts</li>
	<li>Delete all of your favorited topics and resources</li>
</ul>
<p><em>This action cannot be undone!</em></p>
<p>
	<strong>Are you sure you want to delete your account?</strong><br/>
	<a href="javascript:void()" onclick="$('#settings-tab').load('/ajax/connections');">No, cancel deletion</a> &nbsp;&nbsp;or&nbsp;&nbsp; <a href="/delete_user/">Yes, delete my account</a> 
</p>