{% extends "base_table.html" %}
{% load filters smartif%}

{# NOTE: This the template page for the Resource Results lightbox/popup #}

{% block main_table_content %}
    
    {% if is_ajax %}
        
        <span class="lightbox-close"></span>        
        <div id="printContainer_outter">
            <div id="printContainer_inner">
                <span>&nbsp;</span>
                <ul id="printSelect_options" class="customSelectList">
                    <li data-value="def"><span>To print, choose one&nbsp;...&nbsp;</span></li>
                    <li data-value="cur" ><span>Print Current Tab</span></li>
                    <li data-value="all"><span>Print All Tabs</span></li>
                </ul>
            </div>
            <span id="printSelect" class="customSelectContainer" tabindex="0">
                <span id="resource-print-icon"></span><span class="selected"></span>
                <span class="dropIcon" style="float:right;"></span>
            </span>
        </div>
        
        <h1><span id="term-name">"{{ tag.name }}"</span> has <span id="num-related-items" class="{ number: {{ num_related_items }} }"><img src="{{ MEDIA_URL }}images/resource_popup_xplore_loader.gif" /></span> related resources</h1>
        <div class="resources-pad">
        
            
            <div class="alt-box">
                <div id="content" class="alt-box-pad" width="100%">
    {% endif %}
                    
                    <div id="resource-tabs" class="nootabs term-resources-tabs { useCookies:false, defaultTab:2, useHash:false }">
                        <ul class="nootabs-menus">
                            <li id="related-tags-tab" class="end-group-menu last-menu"><a href="" class="two-word-menu">Related <br />Tags <span>({{ tag.related_tags.count }})</span></a></li>
                            <li id="articles-tab" class="right-menu"><a href="" class="two-word-menu">IEEE Xplore<br/>Articles <span id="num-xplore-results"></span></a></li>
                        </ul>
                        
                        <!-- Related Tags -->
                        <div id="related-tab" data-printUrl='{% url print_resource tag.id "related_tags" %}'>
                            <div class="group">
                                {% if tag.related_tags.all %}
                                    {% for related_node in tag.related_tags.all %}
                                        <p class="{% cycle 'item_odd' 'item_even' %}">
                                            {% ifequal ui "textui" %}
                                                <a href="javascript:Tags.selectTag({{ related_node.id }});">
                                                    <span>{{ related_node.name }}</span>
                                                </a>
                                            {% else %}
                                                <span>{{ related_node.name }}</span>
                                            {% endifequal %}
                                        </p>
                                    {% endfor %}
                                {% else %}
                                    <p class="no-resources">No related tags are currently tagged "{{ tag.name }}"</p>
                                {% endif %}
                            </div>
                        </div>
                        
                        <!-- Xplore Results -->
                        <div id="xplore-tab" data-printUrl='{% url print_resource tag.id "xplore" %}'>
                            <div id="xplore-results-container" class="{ tagId: {{ tag.id }} }">
                                <div class="print-resource">
                                    <p id="xplore-totals"></p>
                                    <p id="xplore-nav">
                                        Sort by
                                        <select id="xplore-sort">
                                            <option value="">(None)</option>
                                            <option value="au">Author</option>
                                            <option value="-au">Author (desc)</option>
                                            <option value="ti">Title</option>
                                            <option value="-ti">Title (desc)</option>
                                            <option value="cs">Affiliations</option>
                                            <option value="-cs">Affiliations (desc)</option>
                                            <option value="jn">Publication Title</option>
                                            <option value="-jn">Publication Title (desc)</option>
                                            <option value="py">Publication Year</option>
                                            <option value="-py">Publication Year (desc)</option>
                                        </select>
                                    </p>
                                </div>
                                
                                <div class="group">
                                    <ul>
                                        {# NOTE: This will be replaced by AJAX. #}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <script type="text/javascript">
                            $(function() {
                                var printDropDown = $('#printSelect').imageDropdown({'selectList': $("ul#printSelect_options")});
                                printDropDown.bind('change', function(){
                                    var type = printDropDown.val();
                                    if (type === "all") {
                                        printWin = window.open("{% url print_resource tag.id 'all' %}", "printWindow");
                                    } else if (type === "cur"){
                                        var printUrl = $('.nootabs-selected-tab[data-printUrl]').eq(0).attr('data-printUrl');
                                        printWin = window.open(printUrl, "printWindow");
                                    }
                                    printDropDown.close();
                                    printDropDown.reset();
                                })
                                
                                attachXploreResults('#xplore-results-container');
                            });
                        </script>
                    
                    </div>
    
    {% if is_ajax %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

