{% load filters smartif %}

{% spaceless %}
    {% for tag in child_nodes %}
        <div id="tag-{{ tag.id }}" class="node {{ tag.node_type__name }} {% if not tag.score1 and tag.is_taxonomy_term %}node-taxonomy-term{% endif %} flyover { type:'{{ tag.node_type__name }}' }">

            {% if tag.is_taxonomy_term %}
                {# Term #}
                <a href="javascript:Tags.selectTag({{ tag.id }});" onClick="_gaq.push(['_trackEvent', 'Terms', 'Click', '{{ tag.name }}']);" rel="nofollow" data-tag-level="{{ tag.level }}"><img src="/media/images/tag_icon.png" class="tag-icon" /> {{ tag.name|truncatechars:30 }}</a>
            {% elif tag.node_type__name == 'tag' %}
                {# Tag #}
                <a href="javascript:Tags.selectTag({{ tag.id }});" onClick="_gaq.push(['_trackEvent', 'Tags', 'Click', '{{ tag.name }}']);" rel="nofollow" data-tag-level="{{ tag.level }}"><img src="/media/images/tag_icon.png" class="tag-icon" /> {{ tag.name|truncatechars:30 }}</a>
            {% elif tag.node_type__name == 'tag_cluster' %}
                {# Cluster #}
                <a href="javascript:Tags.selectCluster({{ tag.id }}, {{ sector_id|reprjs }}, {{ society_id|reprjs}});" onClick="_gaq.push(['_trackEvent', 'Cluster', 'Click', '{{ tag.name }}']);" rel="nofollow" data-tag-level="{{ tag.level }}"><img src="/media/images/icon_cluster_sm.png" class="cluster-icon" />{{ tag.name|truncatechars:30 }}</a>
            {% else %}
                UNKNOWN NODE {{ tag.node_type__name }}
            {% endif %}
        
            {% comment %}
            #if (!simplified) {
            #    // NOTE: Only show the separate color blocks if we're not using the simplified mode
            #    str += "      <td>";
            #    str += "        <div class=\"node-block-container\">";
            #    str += "          <div class=\"block-top " + tag.sectorLevel + "\">&nbsp;</div>";
            #    str += "          <div class=\"block-bottom " + tag.relatedTagLevel + "\">&nbsp;</div>";
            #    str += "        </div>";
            #    str += "      </td>";
            #}
            {% endcomment %}
        </div>
        <!--SPLIT-->
    {% endfor %}
{% endspaceless %}
