<script type="text/javascript">
    $(function(){
        attachJobResults('#job-results-container');
        $('#jobs-tab span.right').html('{{ jobsCount }}'); 
        var count = parseInt($("#num-related-items").metadata().number);
        var newNum = parseInt('{{ jobsCount }}'.replace(/\,/g,''));
        if (!isNaN(newNum)){
            count += newNum;
            //$("#num-related-items").text(count);
            $('#num-related-items').metadata().number = count;
        }        
    });
</script>
                    <div id="job-results-container" class="{ tagId: {{ tag.id }} }">
                        <div class="print-resource">
                            <a href="{{ jobsUrl }}" target="_blank">View jobs on the IEEE Job Site <span class="popup newWindIcon"></span></a>
                            </div>
                            <div class="group" style='margin-top: 32px;'>
                            <div class="results" style="display:inline;">
                            {% comment %}
                            {% if jobs %}
                            {{ jobs|safe }}
                            {% else %}
                            <p class="no-resources">No jobs are currently tagged "{{ tag.name }}"</p>
                            {% endif %}
                            {% endcomment %}
                            </div>
                        </div>
                    </div>