<script type="text/javascript">
    $(function(){
        $('#conferences-tab span.right').html('{{ conferences|length }}');
        var count = parseInt($("#num-related-items").metadata().number);
        var newNum = parseInt('{{ conferences|length }}');
        if (!isNaN(newNum)){
            count += newNum;
            //$("#num-related-items").text(count);
            $('#num-related-items').metadata().number = count;
        }
        attachOtherConferencesToggle($('#conference-tab'));
    });
    $(function() {
        var action;
        var nodeid;
        $('.favorite-resource').on('click', function(){
            $('.qtip').qtip('hide');
            nodeid = $(this).data('nodeid');
            if ($(this).hasClass('enabled')) {
                action = 'disable';
                $('span[data-nodeid=' + nodeid + ']').removeClass('icon-star-whole enabled').addClass('icon-star');
            } else {
                action = 'enable';
                $('span[data-nodeid=' + nodeid + ']').removeClass('icon-star').addClass('icon-star-whole enabled');
            }
            $.post('/ajax/favorite-resource/request',
                {
                    nodeid: nodeid,
                    action: action,
                },
                function(){
                    return false;
                }
            );
        }).qtip();
        $('.drive').qtip();
    });
</script>                    
                    <div class="group">
                        <ul>
                            {% if loaded %}
                                {% if conferences|length %}
                                {% for resource in conferences %}
                                <li class="{% cycle 'desc_odd' 'desc_even' %}">{% spaceless %}
                                    {% if resource.url and resource.url_status != "bad" %}<a href="{{ resource.url }}" target="_blank" rel="nofollow">{% endif %}{{resource.name}}{% if resource.url and resource.url_status != "bad" %}<span class="popup newWinIcon"></span>{% endif %}{% if resource.url and resource.url_status != "bad" %}</a>{% endif %}
                                    {% if resource.is_machine_generated %}<span class="drive" title="Machine-generated relationship"></span>{% endif %}
                                    {% if user.is_authenticated %}<span class="{% if resource.is_favorite %}icon-star-whole enabled{% else %}icon-star{% endif %} favorite-resource icomoon-icon" data-nodeid="{{ resource.id }}" title="{% if resource.is_favorite %}Unfavorite conference{% else %}Favorite conference{% endif %}"></span>{% endif %}
                                    {% endspaceless %}
                                    <p class="auto-truncate-words {length:165, flyover:true, flyoverPosition:'top', flyoverCustomClass:'resource-description'}">{{resource.description}}</p>
                                    {% if resource.is_current_conference and resource.other_conferences|length %}
                                    <p class="more-conferences">
                                        <a href="#" id="show-other-conferences-{{ resource.id }}" class="show-other-conferences {id: {{ resource.id }}}" rel="nofollow">
                                            <img class="toggleIcon" src="{{ MEDIA_URL }}images/plusbox.png"/>Show {{ resource.other_conferences|length }} more conference{{ resource.other_conferences|pluralize }} in this series...
                                        </a>
                                        <a href="#" id="hide-other-conferences-{{ resource.id }}" class="hide-other-conferences {id: {{ resource.id }}}" rel="nofollow">
                                            <img class="toggleIcon" src="{{ MEDIA_URL }}images/minusbox.png"/>Hide other conferences in this series
                                        </a>
                                    </p>
                                    <div id="other-conferences-{{ resource.id }}" class="other-conferences">
                                        {% for other_conference in resource.other_conferences %}
                                        {% if other_conference.url and other_conference.url_status != "bad" %}
                                        <a href="{{ other_conference.url }}" target="_blank" rel="nofollow" rel="nofollow">
                                            {% endif %}
                                            <p class="{% cycle 'item_odd' 'item_even' %}">
                                                <span>{{other_conference.name}}</span>{% if other_conference.url and other_conference.url_status != "bad" %}<span class="popup newWinIcon"></span>{% endif %}{% if other_conference.is_machine_generated %}<span class="drive"  alt="Machine-generated relationship" style="vertical-align:middle;"></span>{% endif %}
                                            </p>
                                            {% if other_conference.url and other_conference.url_status != "bad" %}
                                        </a>
                                        {% endif %}
                                        <p class="{% cycle 'desc_odd' 'desc_even' %} auto-truncate-words {length:165, flyover:true, flyoverPosition:'top', flyoverCustomClass:'resource-description'}">{{other_conference.description}}</p>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </li>    
                                {% endfor %}
                                {% else %}
                                <p class="no-resources">No conferences are currently tagged "{{ tag.name }}"</p>
                                {% endif %}
                            {% else %}     
                                <div class="loading" style="padding-top: 6em;text-align: center;padding-bottom: 3em;"><img src="/media/images/ajax-loader.gif" class="loading" /></div>
                            {% endif %}
                        </ul>
                    </div>