<script type="text/javascript">
    $(function(){
        $('#standards-tab span.right').html('{{ standards|length }}');
        var count = parseInt($("#num-related-items").metadata().number);
        var newNum = parseInt('{{ standards|length }}');
        if (!isNaN(newNum)){        
            count += newNum;
            //$("#num-related-items").text(count);       
            $('#num-related-items').metadata().number = count; 
        }
    });
</script>                    
                    <div class="group">
                        <ul>
                            {% if loaded %}   
                                {% if standards|length %}
                                {% for resource in standards %}
                                <li class="{% cycle 'item_odd' 'item_even' %}">{% spaceless %}
                                    {% if resource.url and resource.url_status != "bad" %}<span class="newWinTrigger"><a href="{{ resource.url }}" target="_blank" rel="nofollow">{% endif %}{{resource.name}}{% if resource.url and resource.url_status != "bad" %}</a><span class="popup newWinIcon"></span></span>{% endif %}
                                    {% if resource.is_machine_generated %}<span class="drive" title="Machine-generated relationship" style="vertical-align:middle;"></span>{% endif %}
                                    {% if user.is_authenticated %}<span class="{% if resource.is_favorite %}icon-star-whole enabled{% else %}icon-star{% endif %} favorite-resource icomoon-icon" data-nodeid="{{ resource.id }}" title="{% if resource.is_favorite %}Remove standard from Your Favorites{% else %}Add standard to Your Favorites{% endif %}"></span>
                                    {% endif %}
                                    <p class="{% cycle 'desc_odd' 'desc_even' %} auto-truncate-words {length:165, flyover:true, flyoverPosition:'top', flyoverCustomClass:'resource-description'}">{{resource.description}}</p>
                                {% endspaceless %}</li>
                                {% endfor %}
                                {% else %}
                                <p class="no-resources">No standards are currently tagged "{{ tag.name }}"</p>
                                {% endif %}
                            {% else %}     
                                <div class="loading" style="padding-top: 6em;text-align: center;padding-bottom: 3em;"><img src="/media/images/ajax-loader.gif" class="loading" /></div>
                            {% endif %}
                        </ul>
                    </div>