<script type="text/javascript">
    $(function(){
        attachXploreResults('#education-results-container', 'Educational Courses');
    });
</script>
                        <div class="print-resource">
                            <p id="education-totals"></p>
                        </div>
                        <div class="group">
                            <ul>
                                {# NOTE: This will be replaced by AJAX. #}
                            </ul>
                        </div>