{% extends "base_table.html" %}
{% load filters humanize smartif %}

{# NOTE: This the template page for the Resource Results lightbox #}

{% block main_table_content %}
<script type="text/javascript">
    $(function() {

        $('.printAll').click(function() {
            window.open("{% url print_resource tag.id 'all' %}", "printWindow");
        });

        $('.printCur').click(function() {
            var printUrl = $('.nootabs-selected-tab[data-printUrl]').eq(0).attr('data-printUrl');
            window.open(printUrl, "printWindow");
        });

    });

    var errorText = "Please enter a valid email";

    $(function() {        

        loadingTabs = [];
        var tabs = ['overview','society','conference','periodical','standard'];
        var tab = '{{ tab }}';
        for (var i = 0; i < tabs.length; i++) {
            if ( tab != tabs[i] ) {
                $('#' + tabs[i] + '-tab').load("/ajax/tag_content/{{ tag.id }}/textui/" + tabs[i]);
            }
        }
        $.ajax({
            url: '/ajax/recent_xplore',
            data: {
                tag_name: "{{ tag }}"
            }, 
            type: 'post', 
            dataType: 'json',
            success: function(data) {
                if (data != undefined) {
                    var html = '<a href="' + data.url + '" target="_blank" rel="nofollow">' + data.name + '<span class="popup newWinIcon"></span></a>';
                } else {
                    var html = 'No recent Xplore Article';
                }
                $('#xplore-overview').html(html);
            }
        });
    });
    $('.openAlerts').click(function() {
        $('.alertMenu').toggle();
    });
</script>

{% include 'includes/js/notification_request.html' %}

{% if is_ajax %}
<div class="dialogTitle">
    <span id="tag-name">{{ tag.name }}</span> 
    {% if user.is_authenticated %}
    <div class="tag-icons{% if is_favorite %} is-favorite {% endif %}">
        {% if is_favorite %}
        <span class="openAlerts icon-star-whole{% if enable_alerts %}-alert{% endif %} enabled icomoon-icon" data-nodeid="{{ tag.id }}" title="Click to set options"></span>
        {% else %}
        <span class="openAlerts icon-star-whole icomoon-icon" title="Favorite topic" data-nodeid="{{ tag.id }}" title="Click to set options"></span>
        {% endif %}
        <div class="alertMenu">
            <span class="icon-cancel2 icomoon-icon closeAlertMenu"></span>
            <input type="radio" name="topicOpt" id="nofav" value="nofav"{% if not is_favorite %} checked="checked"{% endif %}> <label for="nofav">Nothing</label><br/>
            <input type="radio" name="topicOpt" id="fav" value="fav"{% if is_favorite and not enable_alerts %} checked="checked"{% endif %}> <label for="fav">Favorite this Topic</label><br/>
            <input type="radio" name="topicOpt" id="favalert" value="favalert"{% if is_favorite and enable_alerts %} checked="checked"{% endif %}> <label for="favAlert">Favorite + Email Alerts</label>
            {% comment %}
            <div class="alertToggles">
                <span class="alertOn"{% if enable_alerts %} style="display:none;"{% endif %}>
                    <strong>Email Alerts Off</strong> &nbsp; <span class="subscribe">Turn On</span>
                </span>
                <span class="alertOff"{% if not enable_alerts %} style="display:none;"{% endif %}>
                    <strong>Email Alerts On</strong> &nbsp; <span class="subscribe enabled">Turn Off</span>
                </span>
            </div>
            {% endcomment %}
        </div>
    </div>
</div>
{% endif %}

{% comment %}
{% if user.is_authenticated %}
<div id="alertWrapper">
    <div id="alertContainer">
        <div id="alertForm_error">Please enter a valid email.</div>
        <div id="alertForm">
            <span class="notificationLabel">Alert me to updates to this topic:</span>
            <input type="text" id="notificationRequestEmail" placeholder="Email address"{% if user.is_authenticated %} value="{{ user.email }}"{% endif %}/>
            <input type="button" value="Alert Me" id="notificationRequestButton"/>
        </div>
        <div id="alertSuccess" style="display:none">
            You will be alerted to updates to this topic.
        </div>
    </div>
</div>
{% endif %}
{% endcomment %}

<div class="resources-pad">
    <div class="alt-box">
        <div id="content" class="alt-box-pad">
            <div id="resources-lightbox-count">
                <span id="num-related-items-loading"></span><span id="num-related-items" class="{ number: 0 }"></span>
                <br/>
                <span class="count-label">Related Resources</span>
            </div>
{# if is_ajax #}{% endif %}
            <div id="resource-tabs" class="nootabs tag-resources-tabs { useCookies:false, defaultTab:1, useHash:false }">
<!-- *** Content Tabs *** -->
            <ul class="nootabs-menus">
                <li id="over-tab"><a href="" rel="nofollow">Overview</a></li>
                <li id="ieee-societies-tab"><a href="" rel="nofollow">IEEE Orgs <span class="right">{{ societies.count }}</span></a></li>
                <li id="conferences-tab"><a href="" rel="nofollow">Conferences <span class="right">{{conferences|length}}</span></a></li>
                <li id="periodicals-tab"><a href="" rel="nofollow">Periodicals <span class="right">{{periodicals|length}}</span></a></li>
                <li id="ieee-authors-tab"><a href="" rel="nofollow">Xplore Authors <span class="right" id="num-authors-results">{{ authors.count }}</span></a></li>
                <li id="articles-tab"><a href="" rel="nofollow">Xplore Articles <span class="right" id="num-xplore-results"></span></a></li>
                <li id="educations-tab"><a href="" rel="nofollow">Education <span class="right { number: 0 }" id="num-education-total-results"></span></a></li>                
                {#<li id="educations-tab"><a href="" rel="nofollow">Education <span class="right" id="num-education-results"></span></a></li>#}
                <li id="standards-tab"><a href="" rel="nofollow">Standards <span class="right">{{standards|length}}</span></a></li>
                <li id="jobs-tab"><a href="" rel="nofollow">Jobs <span class="right" id="num-job-results"></span></a></li>
                {% if show_tv %}
                <li id="tvs-tab"><a href="" rel="nofollow">IEEE.tv <span class="right">{#{{tvCount}}#}0</span></a></li>
                {% endif %}
                {% comment %}
                <li id="patents-tab" style="display:none"><a href="" rel="nofollow">Patents <span class="right">{{patents|length}}</span></a></li>
                <li id="industry-sectors-tab" ><a href="" rel="nofollow">Industry Topics <span class="right">{{ parent_nodes|length }}</span></a></li>
                <li><a href="" rel="nofollow">Filters ({{ tag.filters.count }})</a></li>
                <li><a href="" rel="nofollow">Sectors &amp; Clusters ({{ parent_nodes|length }})</a></li>
                <li><a href="" rel="nofollow">Experts <span>({{experts|length}})</span></a></li>
                {% endcomment %}
            </ul>

<!-- *** Content Panels *** -->

<!-- Overview-->
            <div id="overview-tab" class="overview-tab" data-printUrl='{% url print_resource tag.id "overview" %}'>
                    {% include 'ajax_over_tab.inc.html' %}
            </div>

<!-- Organizations -->
            <div id="society-tab" data-printUrl='{% url print_resource tag.id "societies" %}'>
                {% include 'ajax_organizations_tab.inc.html' %}
            </div>

<!-- Conferences -->
            <div id="conference-tab" data-printUrl='{% url print_resource tag.id "conferences" %}'>
                {% include 'ajax_conferences_tab.inc.html' %}
            </div>

<!-- Periodicals -->
            <div id="periodical-tab" data-printUrl='{% url print_resource tag.id "periodicals" %}'>
                {% include 'ajax_periodical_tab.inc.html' %}
            </div>

<!-- Authors -->
            <div id="authors-tab" data-printUrl='{% url print_resource tag.id "authors" %}'>
                {% include 'ajax_authors_tab.inc.html' %}
            </div>

<!-- Xplore Results -->
            <div id="xplore-tab" data-printUrl='{% url print_resource tag.id "xplore" %}'>
                {% include 'ajax_xplore_tab.inc.html' %}
            </div>

<!-- New Education Results -->
            <div id="education-tab" data-printUrl='{% url print_resource tag.id "xplore_edu" %}'>
                {% include 'ajax_new_education_tab.inc.html' %}
            </div>

<!-- Xplore Education Results -->
            {% comment %}
            <div id="education-tab" data-printUrl='{% url print_resource tag.id "xplore_edu" %}'>
                {% include 'ajax_education_tab.inc.html' %}
            </div>
            {% endcomment %}

<!-- Standards -->
            <div id="standard-tab" data-printUrl='{% url print_resource tag.id "standards" %}'>
                {% include 'ajax_standard_tab.inc.html' %}
            </div>

                
<!-- Jobs -->
            <div id="job-tab" data-printUrl='{% url print_resource tag.id "jobs" %}'>
                {% include 'ajax_job_tab.inc.html' %}
            </div>
{% if show_tv %}
<!-- Tv -->
            <div id="tv-tab" data-printUrl='{% url print_resource tag.id "tv" %}'>
                {% comment %}
                <div class="group">
                    Tv will go here  
                </div>      
                {% endcomment %}
                {% include 'ajax_tv_tab.inc.html' %}
            </div>
{% endif %}

{% comment %}
<!-- Patents -->
                {% include 'ajax_patents_tab.inc.html' %}
{% endcomment %}              

<!-- Disabled Items -->                       
                {% comment %}
                <!-- Sectors / Clusters -->
                <div id="sector-tab" class="sector-tab" data-printUrl='{% url print_resource tag.id "sectors" %}'>
                    <div class="group">
                    {% if parent_nodes|length %}
                    {% for parent_node in parent_nodes %}
                    <p class="{% cycle 'item_odd' 'item_even' %}">
                        {% ifequal ui "textui" %}
                        comment!
                        <a href="javascript:Tags.selectSector({{ parent_node.sector.id }});" rel="nofollow">
                            <span>{{ parent_node.sector.name }}</span>
                        </a>
                        endcomment!
                        <strong>{{ parent_node.sector.name }}</strong>
                        {% else %}
                        {% ifequal ui "roamer" %}
                        comment!
                        <a href="javascript:Roamer.setNode({{ parent_node.sector.id }});" rel="nofollow">
                            <span>{{ parent_node.sector.name }}</span>
                        </a>
                        endcomment!
                        <strong>{{ parent_node.sector.name }}</strong>
                        {% endifequal %}
                        {% endifequal %}
                        {% if parent_node.clusters %}
                        - {{ parent_node.clusters|textlist }} cluster{{ parent_node.clusters|pluralize }}
                        {% endif %}
                    </p>
                    {% endfor %}
                    {% else %}
                    <p class="no-resources">No industry topics are currently tagged "{{ tag.name }}"</p>
                    {% endif %}
                </div>
                <!-- Filters -->
                <div>
                    <div class="group">
                        {% for filter in tag.filters.all %}
                        <p class="{% cycle 'item_odd' 'item_even' %}">
                            {{ filter.name }}
                        </p>
                        {% endfor %}
                    </div>
                </div>
                <!-- Experts -->
                <div>
                    <div class="group">
                        {% if experts|length %}
                            {% for resource in experts %}
                                {% if resource.url %}
                                    <a href="{{ resource.url }}" target="_blank" rel="nofollow">
                                {% endif %}
                                <p class="{% cycle 'item_odd' 'item_even' %}">{{resource.name}}</p>
                                {% if resource.url %}
                                    </a>
                                {% endif %}
                                <p class="{% cycle 'desc_odd' 'desc_even' %}">{{resource.description}}</p>
                            {% endfor %}
                        {% else %}
                            <p class="no-resources">(no experts)</p>
                        {% endif %}
                    </div>
                </div>
                {% endcomment %}
            </div>
            <div style="clear:both"></div>
            <div id="resource-footer">
                <div class="share-links"> Share: {% spaceless %}
                    <a 
                        rel="nofollow" 
                        href='https://www.facebook.com/dialog/feed?app_id=528098277254889&name={{ tag.name }}&description=Check%20out%20the%20topic%20"{{ tag.name }}"%20at%20IEEE%20TechNav&link={{ host_info }}/tag/{{ tag.id }}/{{ tag.name|slugify }}&redirect_uri={{ host_info }}&picture=http://www.ieee.org/ucm/groups/public/@ieee/@web/@org/documents/images/42070894.jpg' 
                        target="_blank" 
                        aria-hidden="true" 
                        class="icon-facebook" 
                        onClick="_gaq.push(['_trackEvent', 'Social', 'Facebook', '{{ tag.name }}']);">
                    </a>
                    <a 
                        rel="nofollow" 
                        href='https://twitter.com/intent/tweet?source=webclient&text=Check%20out%20the%20topic%20"{{ tag.name }}"%20at%20IEEE%20TechNav%20{{ host_info }}/tag/{{ tag.id }}/{{ tag.name|slugify }}'
                        target="_blank" 
                        aria-hidden="true" 
                        class="icon-twitter" 
                        onClick="_gaq.push(['_trackEvent', 'Social', 'Twitter', '{{ tag.name }}']);">
                    </a>
                    <a 
                        rel="nofollow" 
                        href='http://www.linkedin.com/shareArticle?mini=true&url={{ host_info }}/tag/{{ tag.id }}/{{ tag.name|slugify }}&title={{ tag.name }}&summary=Check%20out%20the%20topic%20"{{ tag.name }}"%20at%20IEEE%20TechNav%20{{ host_info }}/tag/{{ tag.id }}/{{ tag.name|slugify }}&source={{ host_info }}' 
                        aria-hidden="true" 
                        class="icon-linkedin" 
                        target="_blank" 
                        onClick="_gaq.push(['_trackEvent', 'Social', 'LinkedIn', '{{ tag.name }}']);">
                    </a>
                    <a 
                        rel="nofollow" 
                        href='mailto:?subject={{ tag.name }}&body=Check out the topic "{{ tag.name }}" on IEEE TechNav {{ host_info }}/tag/{{ tag.id }}/{{ tag.name|slugify }}' 
                        aria-hidden="true" 
                        class="icon-alert" 
                        target="_blank" 
                        onClick="_gaq.push(['_trackEvent', 'Social', 'Email', '{{ tag.name }}']);">
                    </a>
                    {% endspaceless %}
                </div>
                <div class="printContainer">
                    <div class="printMenu">
                        <a href="javascript:void(0)" class="printCur">Print current tab</a><br/>
                        <a href="javascript:void(0)" class="printAll">Print all tabs</a>
                    </div>
                    <span aria-hidden="true" class="icon-printer"></span>
                </div>
                <div class="clear"></div>
            </div>
            <div style="clear:both"></div>
            {% if is_ajax %}
            <div id="landingLink">
                <a onclick="javascript:window.open('/tag/{{ tag.id }}/{{ tag.name|slugify }}', 'landing');" href="javascript:void(0)" rel="nofollow">*</a>
            </div>

        </div>
    </div>
</div>
            {% endif %}
{% endblock %}
