{% load humanize %}
{% if search_for %}
    {# For search phrases #}
    {% if search_for_too_short %}
        <a href="javascript:void(0)" onclick="$('#textui-tags-search-clear').click()">Clear the filter phrase now</a>.
    {% else %}
        {# If the view returned results summary, use it. If not (happens when "All Sectors" or "All Organizations" are chosen), construct one. #}
        <p id="tag-and-cluster-counts">
            Showing 
            {% if num_clusters %}
                <span class="first-value">{{ num_clusters|intcomma }} topic area{{ num_clusters|pluralize }}</span> {% if num_tags %}&nbsp;&amp;&nbsp; {% endif %}
            {% endif %}
            {% if no_results %}
                0 results
            {% else %}
                {% if num_tags %}
                <span class="second-value">
                    {{ num_tags|intcomma }} topic{{ num_tags|pluralize }}
                </span>
                {% endif %}
            {% endif %}
            {% if cluster %} in the topic area "{{ cluster.name }}" <a href="javascript:Tags.selectSociety({% if society %}'{{ society.id }}'{% else %}'all'{% endif %},null,1);" class="filter-clear icon-cancel"></a></span>{% endif %}
            {% if sector %} in the industry sector "{{ sector }}"{% endif %}
            {% if society %} in the organization "{{ society }}" <span class="filter-clear org-clear icon-cancel"></span>{% endif %}
        </p>    
    {% endif %}
{% else %}
    {# For non-search-phrases #}
    <p id="tag-and-cluster-counts">
        Showing 
        {% if num_clusters %}
            <span class="first-value">{{ num_clusters|intcomma }} topic area{{ num_clusters|pluralize }}</span> {% if num_tags %}&nbsp;&amp;&nbsp; {% endif %}
        {% endif %}{% if num_tags %}
        <span class="second-value">{{ num_tags|intcomma }} topic{{ num_tags|pluralize }}</span>{% endif %}
        {% if num_terms %}
             ({{ num_terms|intcomma }} terms)
        {% endif %}
        {% if cluster %} in the topic area "{{ cluster.name }}" <a href="javascript:Tags.selectSociety({% if society %}'{{ society.id }}'{% else %}'all'{% endif %},null,1);" class="filter-clear icon-cancel"></a></span>{% endif %}
        {% if sector %} in the industry sector "{{ sector }}"{% endif %}
        {% if society %} in the organization "{{ society }}" <span class="filter-clear org-clear icon-cancel"></span>{% endif %}
    </p>
{% endif %}
