{% extends "base_table.html" %}
{% load filters smartif%}

{# NOTE: This the template page for the Resource Results lightbox/popup #}

{% block main_table_content %}
    
    {% if is_ajax %}
        <span class="lightbox-close"></span>        
        <div id="printContainer_outter">
            <div id="printContainer_inner">
                <span>&nbsp;</span>
                <ul id="printSelect_options" class="customSelectList">
                    <li data-value="def"><span>Choose one&nbsp;...&nbsp;</span></li>
                    <li data-value="cur" ><span>Print Current Tab</span></li>
                    <li data-value="all"><span>Print All Tabs</span></li>
                </ul>
            </div>
            <span id="printSelect" class="customSelectContainer" tabindex="0">
                <span id="resource-print-icon"></span><span class="selected"></span>
                <span class="drop_down dropIcon"></span>
            </span>
        </div>
        
        <span class="dialogTitle"><span id="term-name">"{{ tag.name }}"</span> has <span id="num-related-items" class="{ number: {{ tag.related_tags.count }} }"><img src="{{ MEDIA_URL }}images/resource_popup_xplore_loader.gif" /></span> related resources</span>
        <div class="resources-pad">
        
            
            <div class="alt-box">
                <div id="content" class="alt-box-pad" width="100%">
    {% endif %}
                    
                    <div id="resource-tabs" class="nootabs term-resources-tabs { useCookies:false, defaultTab:2, useHash:false }">
                        <ul class="nootabs-menus">
                            <li id="related-tags-tab" class="end-group-menu last-menu"><a href="" class="two-word-menu">Related <br />Topics <span class="right">{{ tag.related_tags.count }}</span></a></li>
                            <li id="articles-tab" class="right-menu"><a href="" class="two-word-menu">IEEE Xplore<br/>Articles <span id="num-xplore-results" class="right"></span></a></li>
                        </ul>
                        
                        <!-- Related Topics -->
                        <div id="related-tab" data-printUrl='{% url print_resource tag.id "related_tags" %}'>
                            <div class="group">
                                {% include 'ajax_related_tab.inc.html' %}
                            </div>
                        </div>
                        
                        <!-- Xplore Results -->
                        <div id="xplore-tab" data-printUrl='{% url print_resource tag.id "xplore" %}'>
                            <div id="xplore-results-container" class="{ tagId: {{ tag.id }} }">
                                <div class="print-resource">
                                    <p id="xplore-totals"></p>
                                    <p id="xplore-nav">
                                        Sort by
                                        <select id="xplore-sort">
                                            <option value="">Relevance (Default)</option>
                                            <option value="au">Author (A-Z)</option>
                                            <option value="-au">Author (Z-A)</option>
                                            <option value="ti">Title (A->Z)</option>
                                            <option value="-ti">Title (Z->A)</option>
                                            <option value="jn">Publication (A->Z)</option>
                                            <option value="-jn">Publication (Z->A)</option>
                                            <option value="py">Year (Past->Now)</option>
                                            <option value="-py">Year (Now->Past)</option>
                                        </select>
                                    </p>
                                </div>
                                
                                <div class="group">
                                    <ul>
                                        {# NOTE: This will be replaced by AJAX. #}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <script type="text/javascript">
                            $(function() {
                                var printDropDown = $('#printSelect').imageDropdown({'selectList': $("ul#printSelect_options")});
                                printDropDown.bind('change', function(){
                                    var type = printDropDown.val();
                                    if (type === "all") {
                                        printWin = window.open("{% url print_resource tag.id 'all' %}", "printWindow");
                                    } else if (type === "cur"){
                                        var printUrl = $('.nootabs-selected-tab[data-printUrl]').eq(0).attr('data-printUrl');
                                        printWin = window.open(printUrl, "printWindow");
                                    }
                                    printDropDown.close();
                                    printDropDown.reset();
                                })
                                
                                attachXploreResults('#xplore-results-container');
                            });
                        </script>
                    
                    </div>
    
    {% if is_ajax %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

