<script type="text/javascript">
    $(function(){
        attachTvResults('#tv-results-container');
        $('#tv-tab span.right').html('{{ tvCount }}'); 
        var count = parseInt($("#num-related-items").metadata().number);
        var newNum = parseInt('{{ tvCount }}'.replace(/\,/g,''));
        if (!isNaN(newNum)){
            count += newNum;
            //$("#num-related-items").text(count);
            $('#num-related-items').metadata().number = count;
        }        
    });
</script>
<div id="tv-results-container" class="{ tagId: {{ tag.id }} }">
    <div class="group">
    </div>
</div>