<ul>
{% for related_tag in related_tags %}
<li class="{% cycle 'item_odd' 'item_even' %}">{% spaceless %}
    {% ifequal ui "textui" %}
    <a href="javascript:Tags.selectTag({{ related_tag.id }});" rel="nofollow">{{ related_tag.name }}</a>
    {% if user.is_authenticated %}<span class="{% if related_tag.is_favorite %}icon-star-whole enabled{% else %}icon-star{% endif %} favorite-topic icomoon-icon" data-nodeid="{{ related_tag.id }}"></span>{% endif %}
    {% else %}
    {{ related_tag.name }}
    {% endifequal %}{% endspaceless %}
</li>
{% endfor %}
</ul>