{% extends "base_table.html" %}
{% load filters humanize smartif %}

{# NOTE: This the template page for the Resource Results lightbox #}

{% block main_table_content %}
<script type="text/javascript">
    {% comment %}
    $(function() {
        var printDropDown = $('#printSelect').imageDropdown({'selectList': $("ul#printSelect_options")});
        printDropDown.bind('change', function(){
            var type = printDropDown.val();
            if (type === "all"){
                printWin = window.open("{% url print_resource tag.id 'all' %}", "printWindow");
            } else if (type === "cur"){
                var printUrl = $('.nootabs-selected-tab[data-printUrl]').eq(0).attr('data-printUrl');
                printWin = window.open(printUrl, "printWindow");
            }
            printDropDown.close();
            printDropDown.reset();
        })
    });
    {% endcomment %}

    var errorText = "Please enter a valid email";

    $(function() {        
        $('#notificationRequestButton').click(function(){
            var input = $('#notificationRequestEmail');

            if(isValidEmailAddress(input.val())) {
                $.post('/ajax/notification/request',
                    {
                        email: input.val(),
                        nodeid: {{ tag.id }}
                    },
                    function(){
                        input.val('');
                        $("#alertForm").hide();
                        $("#alertError").hide();
                        $("#alertSuccess").show();
                        $("#alertHelpIcon").hide();
                        $("#alertContainer").addClass("success");
                        return false;
                    }
                );                
            } else {
                $("#notificationRequestEmail").val(errorText).addClass('error');
                return false;
            }
        });
        
        $("#notificationRequestEmail").keypress(function(e) {
            if(e.keyCode == 13) {
                $('#notificationRequestButton').click();
            }
        });

        var tabs = ['overview','society','conference','periodical','standard','job'];
        var tab = '{{ tab }}';
        for (var i = 0; i < tabs.length; i++) {
            if ( tab != tabs[i] ) {
                $('#' + tabs[i] + '-tab').load("/ajax/tag_content/{{ tag.id }}/textui/" + tabs[i]);
            }
        }
        $.ajax({
            url: '/ajax/recent_xplore',
            data: {
                tag_name: "{{ tag }}"
            }, 
            type: 'post', 
            dataType: 'json',
            success: function(data) {
                if (data != undefined) {
                    var html = '<a href="' + data.url + '" target="_blank" rel="nofollow">' + data.name + '<span class="popup newWinIcon"></span></a>';
                } else {
                    var html = 'No recent Xplore Article';
                }
                $('#xplore-overview').html(html);
            }
        });        

    });

function isValidEmailAddress(emailAddress) {
    var pattern = new RegExp(/^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
    return pattern.test(emailAddress);
};
</script>

{% if is_ajax %}
{% comment %}
<div id="printContainer_outter">
    <div id="printContainer_inner">
        <span>&nbsp;</span>
        <ul id="printSelect_options" class="customSelectList">
            <li data-value="def"><span>Choose one&nbsp;...&nbsp;</span></li>
            <li data-value="cur" ><span>Print Current Tab</span></li>
            <li data-value="all"><span>Print All Tabs</span></li>
        </ul>
    </div>
    <span id="printSelect" class="customSelectContainer" tabindex="0">
        <span id="resource-print-icon"></span><span class="selected"></span>
        <span class="drop_down dropIcon"></span>
    </span>
</div>
{% endcomment %}
<div class="dialogTitle">
    <span id="tag-name">{{ tag.name }}</span>
</div>

<div id="resources-lightbox-count">
    <span id="num-related-items-loading"></span><span id="num-related-items" class="{ number: {{ tag.related_tags.count }} }"></span>
    <br/>
    <span class="count-label">Related Resources</span>
</div>

<div id="alertWrapper">
    <div id="alertContainer">
        <div id="alertForm">
            <span class="notificationLabel">Alert me to updates to this topic:</span>
            <input type="text" id="notificationRequestEmail" placeholder="Email address"></input>
            <input type="button" value="Alert Me" id="notificationRequestButton"/>
        </div>
        <div id="alertSuccess" style="display:none">
            You will be alerted to updates to this topic.
        </div>
    </div>
    <span id="alertError" style="display:none">Please enter a valid email</span>
</div>

<div class="resources-pad">
    <div class="alt-box">
        <div id="content" class="alt-box-pad">
{# if is_ajax #}{% endif %}
            <div id="resource-tabs" class="nootabs tag-resources-tabs { useCookies:false, defaultTab:1, useHash:false }">
                
<!-- *** Content Tabs *** -->
            <ul class="nootabs-menus">
                <li id="over-tab"><a href="" rel="nofollow">Overview</a></li>
                <li id="ieee-societies-tab"><a href="" rel="nofollow">IEEE Orgs <span class="right">{{ societies.count }}</span></a></li>
                <li id="conferences-tab"><a href="" rel="nofollow">Conferences <span class="right">{{conferences|length}}</span></a></li>
                <li id="educations-tab"><a href="" rel="nofollow">Education <span class="right" id="num-education-results"></span></a></li>
                <li id="articles-tab"><a href="" rel="nofollow">Xplore Articles <span class="right" id="num-xplore-results"></span></a></li>
                <li id="jobs-tab"><a href="" rel="nofollow">Jobs <span class="right">{{jobsCount}}</span></a></li>
                {% if show_tv %}
                <li id="tvs-tab"><a href="" rel="nofollow">IEEE.tv <span class="right">{#{{tvCount}}#}0</span></a></li>
                {% endif %}
                <li id="periodicals-tab"><a href="" rel="nofollow">Periodicals <span class="right">{{periodicals|length}}</span></a></li>
                <li id="standards-tab"><a href="" rel="nofollow">Standards <span class="right">{{standards|length}}</span></a></li>
                {% comment %}
                <li id="patents-tab" style="display:none"><a href="" rel="nofollow">Patents <span class="right">{{patents|length}}</span></a></li>
                <li id="industry-sectors-tab" ><a href="" rel="nofollow">Industry Topics <span class="right">{{ parent_nodes|length }}</span></a></li>
                <li><a href="" rel="nofollow">Filters ({{ tag.filters.count }})</a></li>
                <li><a href="" rel="nofollow">Sectors &amp; Clusters ({{ parent_nodes|length }})</a></li>
                <li><a href="" rel="nofollow">Experts <span>({{experts|length}})</span></a></li>
                {% endcomment %}
            </ul>

<!-- *** Content Panels *** -->

<!-- Overview-->
            <div id="overview-tab" class="overview-tab" data-printUrl='{% url print_resource tag.id "overview" %}'>
                    {% include 'ajax_over_tab.inc.html' %}
            </div>

<!-- Organizations -->
            <div id="society-tab" data-printUrl='{% url print_resource tag.id "societies" %}'>
                {% include 'ajax_organizations_tab.inc.html' %}
            </div>

<!-- Conferences -->
            <div id="conference-tab" data-printUrl='{% url print_resource tag.id "conferences" %}'>
                {% include 'ajax_conferences_tab.inc.html' %}
            </div>

<!-- Xplore Education Results -->
            <div id="education-tab" data-printUrl='{% url print_resource tag.id "xplore_edu" %}'>
                {% include 'ajax_education_tab.inc.html' %}
            </div>

<!-- Xplore Results -->
            <div id="xplore-tab" data-printUrl='{% url print_resource tag.id "xplore" %}'>
                {% include 'ajax_xplore_tab.inc.html' %}
            </div>
                
<!-- Jobs -->
            <div id="job-tab" data-printUrl='{% url print_resource tag.id "jobs" %}'>
                {% include 'ajax_job_tab.inc.html' %}
            </div>
{% if show_tv %}
<!-- Tv -->
            <div id="tv-tab" data-printUrl='{% url print_resource tag.id "tv" %}'>
                {% comment %}
                <div class="group">
                    Tv will go here  
                </div>      
                {% endcomment %}
                {% include 'ajax_tv_tab.inc.html' %}
            </div>
{% endif %}
{% comment %}
<!-- Patents -->
                {% include 'ajax_patents_tab.inc.html' %}
{% endcomment %}              

<!-- Periodicals -->
            <div id="periodical-tab" data-printUrl='{% url print_resource tag.id "periodicals" %}'>
                {% include 'ajax_periodical_tab.inc.html' %}
            </div>

<!-- Standards -->
            <div id="standard-tab" data-printUrl='{% url print_resource tag.id "standards" %}'>
                {% include 'ajax_standard_tab.inc.html' %}
            </div>
                
<!-- Disabled Items -->                       
                {% comment %}
                <!-- Sectors / Clusters -->
                <div id="sector-tab" class="sector-tab" data-printUrl='{% url print_resource tag.id "sectors" %}'>
                    <div class="group">
                    {% if parent_nodes|length %}
                    {% for parent_node in parent_nodes %}
                    <p class="{% cycle 'item_odd' 'item_even' %}">
                        {% ifequal ui "textui" %}
                        comment!
                        <a href="javascript:Tags.selectSector({{ parent_node.sector.id }});" rel="nofollow">
                            <span>{{ parent_node.sector.name }}</span>
                        </a>
                        endcomment!
                        <strong>{{ parent_node.sector.name }}</strong>
                        {% else %}
                        {% ifequal ui "roamer" %}
                        comment!
                        <a href="javascript:Roamer.setNode({{ parent_node.sector.id }});" rel="nofollow">
                            <span>{{ parent_node.sector.name }}</span>
                        </a>
                        endcomment!
                        <strong>{{ parent_node.sector.name }}</strong>
                        {% endifequal %}
                        {% endifequal %}
                        {% if parent_node.clusters %}
                        - {{ parent_node.clusters|textlist }} cluster{{ parent_node.clusters|pluralize }}
                        {% endif %}
                    </p>
                    {% endfor %}
                    {% else %}
                    <p class="no-resources">No industry topics are currently tagged "{{ tag.name }}"</p>
                    {% endif %}
                </div>
                <!-- Filters -->
                <div>
                    <div class="group">
                        {% for filter in tag.filters.all %}
                        <p class="{% cycle 'item_odd' 'item_even' %}">
                            {{ filter.name }}
                        </p>
                        {% endfor %}
                    </div>
                </div>
                <!-- Experts -->
                <div>
                    <div class="group">
                        {% if experts|length %}
                            {% for resource in experts %}
                                {% if resource.url %}
                                    <a href="{{ resource.url }}" target="_blank" rel="nofollow">
                                {% endif %}
                                <p class="{% cycle 'item_odd' 'item_even' %}">{{resource.name}}</p>
                                {% if resource.url %}
                                    </a>
                                {% endif %}
                                <p class="{% cycle 'desc_odd' 'desc_even' %}">{{resource.description}}</p>
                            {% endfor %}
                        {% else %}
                            <p class="no-resources">(no experts)</p>
                        {% endif %}
                    </div>
                </div>
                {% endcomment %}
            </div>
            <div style="clear:both"></div>
            <div id="resource-footer">
                <div class="share-links"> Share: {% spaceless %}
                    <a 
                        rel="nofollow" 
                        href='https://www.facebook.com/dialog/feed?app_id=528098277254889&name={{ tag.name }}&description=Check%20out%20the%20topic%20"{{ tag.name }}"%20at%20IEEE%20TechNav&link={{ host_info }}/tag/{{ tag.id }}/{{ tag.name|slugify }}&redirect_uri={{ host_info }}&picture=http://www.ieee.org/ucm/groups/public/@ieee/@web/@org/documents/images/42070894.jpg' 
                        target="_blank" 
                        aria-hidden="true" 
                        class="icon-facebook" 
                        onClick="_gaq.push(['_trackEvent', 'Social', 'Facebook', '{{ tag.name }}']);">
                    </a>
                    <a 
                        rel="nofollow" 
                        href='https://twitter.com/intent/tweet?source=webclient&text=Check%20out%20the%20topic%20"{{ tag.name }}"%20at%20IEEE%20TechNav{{ host_info }}/tag/{{ tag.id }}/{{ tag.name|slugify }}'
                        target="_blank" 
                        aria-hidden="true" 
                        class="icon-twitter" 
                        onClick="_gaq.push(['_trackEvent', 'Social', 'Twitter', '{{ tag.name }}']);">
                    </a>
                    <a 
                        rel="nofollow" 
                        href='mailto:?subject={{ tag.name }}&body=Check out the topic "{{ tag.name }}" on IEEE TechNav {{ host_info }}/tag/{{ tag.id }}/{{ tag.name|slugify }}' 
                        aria-hidden="true" 
                        class="icon-mail" 
                        target="_blank" 
                        onClick="_gaq.push(['_trackEvent', 'Social', 'Email', '{{ tag.name }}']);">
                    </a>
                    {% endspaceless %}
                </div>
                <span aria-hidden="true" class="icon-printer"></span>
                <div class="clear"></div>
            </div>
            <div style="clear:both"></div>
            {% if is_ajax %}
            <div id="landingLink">
                <a onclick="javascript:window.open('/tag/{{ tag.id }}/{{ tag.name|slugify }}', 'landing');" href="javascript:void(0)" rel="nofollow">*</a>
            </div>

        </div>
    </div>
</div>
            {% endif %}
{% endblock %}
