{% load filters smartif %}

{% spaceless %}
    
    {# Extra message for when there are zero results #}
    {% ifequal child_nodes|length 0 %}
        <span style="width:100%;text-align:center;display:block;position:absolute;top:35%;font-size:12pt;">
            <span id='no-results' style='font-weight:bold;'>No results</span><br /><br />
            Try one or more of the following:<br /><br />
            <ul id='no-results-choices' style='list-style-type: circle'>
                {% if search_length > 3 %}<li>Shorten the search phrase</li>{% endif %}
                <li><a href="javascript:void(0)" onclick="$('#textui-tags-search-clear').click()">Clear the search phrase</a></li>
                {% if cluster_id and society_id %}<li><a href="javascript:Tags.selectSociety({{ society_id }},null,1);">Search across the entire "{{ society.name }}" organization</li></a>{% endif %}
                {% if society_id %}<li><a href="javascript:Tags.selectSociety('all');">Search across all organizations</a></li>{% endif %}
            </ul>
        {% comment %}
        Try entering more or fewer characters or <a href="javascript:void(0)" onclick="$('#textui-tags-search-clear').click()">clearing the filter phrase now</a><br />
        {% if society_id %}
            <a href="javascript:Tags.selectSociety('all');">Search all organizations</a>
        {% endif %}
        {% endcomment %}
        <span>
    {% endifequal %}

    {% for tag in child_nodes %}
        <div id="tag-{{ tag.id }}" data-tag-score="{% if not tag.score1 %}1{% endif %}" data-tag-level="{{ tag.level }}" data-tag-id="{{ tag.id }}" data-tag-name="{{ tag.name|truncatechars:30 }}" data-tag-type="{% if tag.is_taxonomy_term %}term{% elif tag.node_type__name == 'tag' %}tag{% elif tag.node_type__name == 'tag_cluster' %}tag_cluster{% else %}{{ tag.node_type__name }}{% endif %}" data-cluster-args="{{ tag.id }}, {{ sector_id|reprjs }}, {{ society_id|reprjs}}">
            {% comment %}
            #if (!simplified) {
            #    // NOTE: Only show the separate color blocks if we're not using the simplified mode
            #    str += "      <td>";
            #    str += "        <div class=\"node-block-container\">";
            #    str += "          <div class=\"block-top " + tag.sectorLevel + "\">&nbsp;</div>";
            #    str += "          <div class=\"block-bottom " + tag.relatedTagLevel + "\">&nbsp;</div>";
            #    str += "        </div>";
            #    str += "      </td>";
            #}
            {% endcomment %}
        </div>
        <!--SPLIT-->
    {% endfor %}
{% endspaceless %}
