<a class="lightbox-close"></a>
<div class="skin-slidedeck">
	<dl class="slidedeck">
	    <dt>Overview</dt>
	    <dd>
	        <h1>Welcome to the IEEE Technology Navigator</h1>
	        <p>The IEEE Technology Navigator brings together the vast catalog of IEEE resources and organizes it into technology topics &mdash; engineering and science concepts that are relevant to you.</p>
            <p>Researching an emerging technology? Looking for a conference to attend?</p>
            <p>Technology Navigator puts you just a few clicks away from thousands of valuable IEEE resources.</p>
            <div class="slidedeck-navBtns">
                <span class="nav-next">Next <img src="{{MEDIA_URL}}images/nextArrow.png" style="padding-left:5px"/></span>
            </div>
        </dd>
	    
	    <dt>How to Use</dt>
	    <dd>
	       <p style="margin-top:10px">Technology Navigator organizes Engineering, Science &amp; Technology by <img class="tag-icon" src="/media/images/tag_icon_lg.png"> topics. Multiple related topics are grouped together into <img class="cluster-icon" src="/media/images/icon_cluster_lg.png"> topic areas.</p>
           <p>The colors of a topic shows you how much content is "inside" it. <span class="frequency-indicator"></span></p>
           <p>Selecting any topic gives you a view of all the IEEE resources &ndash; 
               <img class="tag-icon" src="/media/images/society_icon.png"> technical societies, <img class="tag-icon" src="/media/images/conf_icon.png"> conferences, <img class="tag-icon" src="/media/images/period_icon.png"> periodicals,<br/> 
               <img class="tag-icon" src="/media/images/standard_icon.png"> standards, <img class="tag-icon" src="/media/images/education_icon.png"> educational resources, and <img class="tag-icon" src="/media/images/job_icon.png"> jobs.</p>
           <p>Every resource is linked so you can go straight to it!</p>
            <div class="slidedeck-navBtns">
                <span class="nav-next">Next <img src="{{MEDIA_URL}}images/nextArrow.png"/></span>
            </div>
	    </dd>
	    
	    <dt>Get Started</dt>
	    <dd style="text-align:center">
            <div style="clear:both">
                <div class="help-col-left" class="help-col">
                    <table>
                        <tr>
                            <td class="help-arrow-container"><img src="{{MEDIA_URL}}images/help-arrow-dark.png"/></td>
                        </tr>
                        <tr>
                            <td>A topic's color shows how linked it is to industry topics, to other topics, and to IEEE resources.</td>
                        </tr>
                    </table>
                    <div>
                        <table><tr>
                            <td class="help-arrow-container"><img src="{{MEDIA_URL}}images/help-arrow-left-dark.png"/></td>
                            <td>Browse technology concepts (topics) by Industry Sector or IEEE Organization. The matching topics will then appear in the main window.</td>
                        </tr></table>
                    </div>
                </div>
                <div class="help-col-mid" class="help-col">
                    <table>
                        <tr>
                            <td class="help-arrow-container"><img src="{{MEDIA_URL}}images/help-arrow-dark.png" style="margin-left:90px"/></td>
                        </tr>
                        <tr>
                            <td>Narrow the results by searching for topics that contain your keyword.</td>
                        </tr>
                    </table>
                </div>
                <div class="help-col-right" class="help-col">
                    <table>
                        <tr>
                            <td class="help-arrow-container-right"><img src="{{MEDIA_URL}}images/help-arrow-dark.png" style="padding-left:100px"/></td>
                        </tr>
                        <tr>
                            <td>Order topics by alpha, overall linkages, or more detailed statistics.</td>
                        </tr>
                    </table>
                    <div style="padding-top:67px">
                        <table><tr>
                            <td>Zoom in or out to see more or fewer topics at once.</td>
                            <td class="help-arrow-container-right"><img src="{{MEDIA_URL}}images/help-arrow-right-dark.png" style="padding-left:5px"/></td>
                        </tr></table>
                    </div>
                </div>
                <br style="clear:both;display:block"/>
            </div>
	        <div class="slidedeck-navBtns">
                <span class="lightbox-close">Technology Navigator Go! <img src="{{MEDIA_URL}}images/nextArrow.png"/></span>
            </div>
	    </dd>
	</dl>
	<script type="text/javascript">
	    // The most basic implementation using the default options
	    $('.slidedeck').slidedeck();
	    $('.nav-next').click(function(){
	        $('.slidedeck').slidedeck().next();
        });
	</script>
	<!-- Help support SlideDeck! Place this noscript tag on your page when you deploy a SlideDeck to provide a link back! -->
	<noscript>
	    <p>Powered By <a href="<a href="http://www.slidedeck.com/" target="_blank">http://www.slidedeck.com</a>" title="Visit SlideDeck.com">SlideDeck jQuery Slider</a></p>
	</noscript>
</div>
