<script type="text/javascript">
    $(function(){
        $('#ieee-societies-tab span.right').html('{{ societies.count }}');
        var count = parseInt($("#num-related-items").metadata().number);
        var newNum = parseInt('{{ societies.count }}');
        if (!isNaN(newNum)){    
            count += newNum;
            //$("#num-related-items").text(count);  
            $('#num-related-items').metadata().number = count;      
        }
    });
    $(function() {
        var action;
        var nodeid;
        $('.favorite-society').on('click', function(){
            $('.qtip').qtip('hide');
            nodeid = $(this).data('nodeid');
            if ($(this).hasClass('enabled')) {
                action = 'disable';
                $(this).removeClass('icon-star-whole enabled').addClass('icon-star');
            } else {
                action = 'enable';
                $(this).removeClass('icon-star').addClass('icon-star-whole enabled');
            }
            $.post('/ajax/favorite-society/request',
                {
                    nodeid: nodeid,
                    action: action,
                },
                function(){
                    return false;
                }
            );
        }).qtip();
    });
</script>            
                    <div class="group">
                            {% if loaded %}                  
                                {% if societies.all %}
                                <table class="society-images">
                                    {% for society in societies %}
                                    <tr>
                                        <td class="society-logo">
                                            {% if society.logo_thumbnail %}
                                            <div class="image-container">
                                                <img src="{{ society.logo_thumbnail.url }}" />
                                            </div>
                                            {% else %}
                                            <div class="image-container">
                                                <img src="{{ MEDIA_URL }}images/society_logo_none.png" />
                                            </div>
                                            {% endif %}
                                        </td>
                                        <td>{% spaceless %}
                                            {% if society.url %}<a href="{{ society.url }}" target="_blank" rel="nofollow">{% endif %}{{ society.name }}{% if society.abbreviation %} ({{ society.abbreviation }}){% endif %}{% if society.url %}<span class="popup newWinIcon"></span>{% endif %}{% if society.node_society.is_machine_generated %}<span class="drive flyover {width:300}" alt="Machine-generated relationship" title="Machine-generated relationship" style="vertical-align:middle;"></span>{% endif %}{% if society.url %}</a>{% endif %}
                                            {% if user.is_authenticated %}<span class="{% if society.is_favorite %}icon-star-whole enabled{% else %}icon-star{% endif %} favorite-society icomoon-icon" data-nodeid="{{ society.id }}" title="{% if society.is_favorite %}Unfavorite organization{% else %}Favorite organization{% endif %}"></span>{% endif %}
                                            {% if society.description %}<p>{{ society.description }}</p>{% endif %}
                                        {% endspaceless %}</td>
                                    </tr>    
                                    {% endfor %}
                                </table>
                                {% else %}
                                <p class="no-resources">No organizations are currently tagged "{{ tag.name }}"</p>
                                {% endif %}
                            {% else %}     
                                <div class="loading" style="padding-top: 6em;text-align: center;padding-bottom: 3em;"><img src="/media/images/ajax-loader.gif" class="loading" /></div>
                            {% endif %}
                    </div>