<style>
    .no-education-results {color: grey};
</style>

<script type="text/javascript">

    $(function(){
        attachXploreResults('#new-education-results-container', 'Educational Courses', true);
        attachTvResults('#new-tv-results-container');

        $('#education-jumps').change(function(){
            $($(this).val()).get(0).scrollIntoView();
        });
        $('#education-ebooks').load("/ajax/tag_content/{{ tag.id }}/textui/education");
    });
</script>
<div class="print-resource" style="margin-top: 0;">
    <select id='education-jumps'>
        <option>Jump to</option>
        <option value='#education-articles'>Articles</option>
        <option value='#education-videos'>Videos</option>
        <option value='#education-ebooks'>E-Books</option>
    </select>
</div>
<div class="group" style="height:338px;margin-top: 32px;">
    <div id="new-education-results-container" class="{ tagId: {{ tag.id }} }">
        <div id="education-articles" class="group" style="height:100%;">
            <h3>Articles (<span id="num-education-results"></span>)</h3>
            <ul>
                {# NOTE: This will be replaced by AJAX. #}
            </ul>
        </div>
    <div id="new-tv-results-container" class="{ tagId: {{ tag.id }} }">
        <div id="education-videos" class="group" style="height:100%;">
            <h3>Videos (<span id="num-tv-results"></span>)</h3>
        </div>
    </div>
        <div id="education-ebooks" class="group" style="height:100%;">            
        </div>    
    </div>
</div>