                    <div class="group">
                        {% if tag.related_tags.all %}
                        {% for related_tag in tag.related_tags.all %}
                        <p class="{% cycle 'item_odd' 'item_even' %}">
                            {% ifequal ui "textui" %}
                            <a href="javascript:Tags.selectTag({{ related_tag.id }});" rel="nofollow">
                                <span>{{ related_tag.name }}</span>
                            </a>
                            {% else %}
                            <span>{{ related_tag.name }}</span>
                            {% endifequal %}
                        </p>
                        {% endfor %}
                        {% else %}
                        <p class="no-resources">No related topics are currently tagged "{{ tag.name }}"</p>
                        {% endif %}
                    </div>