{% extends "base_table.html" %}
{% load filters %}

{# NOTE: This the template page for the Resource Results lightbox/popup #}

{% block main_table_content %}
    
    {% if is_ajax %}
        
        <a class="lightbox-close"></a>
        <a id="resource-print-link" href="{% url print_resource tag.id "all" %}">Print All Tabs</a>
        
        <h1>{{ num_resources }} Resource{{num_resources|pluralize}} Tagged "{{ tag.name }}"</h1>
        <div class="resources-pad">
        
            
            <div class="alt-box">
                <div id="content" class="alt-box-pad">
    {% else %}
        
    {% endif %}

                    <div id="resource-tabs" class="nootabs tag-resources-tabs { useCookies:false, defaultTab:3, useHash:false }">
                        <ul class="nootabs-menus">
                            <li><a href="">Sectors <span>({{ parent_nodes|length }})</span></a></li>
							{% comment %}
							#TODO: Re-enable clusters
							#<li><a href="">Sectors &amp; Clusters ({{ parent_nodes|length }})</a></li>
							{% endcomment %}
							{% comment %}
                            #<li><a href="">Filters ({{ tag.filters.count }})</a></li>
							{% endcomment %}
                            <li><a href="">Related Tags <span>({{ tag.related_tags.count }})</span></a></li>
                            <li><a href="">Societies <span>({{ tag.societies.count }})</span></a></li>
                            <li><a href="">Conferences <span>({{conferences|length}})</span></a></li>
                            <li><a href="">Periodicals <span>({{periodicals|length}})</span></a></li>
                            <li><a href="">Standards <span>({{standards|length}})</span></a></li>
                            {% comment %}
                            #    <li><a href="">Experts <span>({{experts|length}})</span></a></li>
                            {% endcomment %}
                            <li><a href="" style="overflow:hidden; height: 16px;"><span id="articles-tab">Articles <span id="num-xplore-results">(...)</span></span><img src="{{ MEDIA_URL }}images/powered.png" id="powered-by"/></a></li>
                        </ul>
                        
                        <!-- Sectors &amp; Clusters -->
                        <div id="sector-tab" class="sector-tab">
                            <a class="resource-tab-print-link" href="{% url print_resource tag.id "sectors" %}">Print This Tab</a>
                            <div class="group">
                                {% for parent_node in parent_nodes %}
                                    <p class="{% cycle 'item_odd' 'item_even' %}">
                                        {% ifequal ui "textui" %}
                                            <a href="javascript:Tags.selectSector({{ parent_node.sector.id }});">
                                                {{ parent_node.sector.name }}
                                            </a>
                                        {% else %}
                                            {% ifequal ui "roamer" %}
                                                <a href="javascript:Roamer.setNode({{ parent_node.sector.id }});">
                                                    {{ parent_node.sector.name }}
                                                </a>
                                            {% endifequal %}
                                        {% endifequal %}
                                        {% if parent_node.clusters %}
                                            - {{ parent_node.clusters|textlist }} cluster{{ parent_node.clusters|pluralize }}
                                        {% endif %}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
						
						{% comment %}
                        <!-- Filters -->
                        <div>
                            <div class="group">
                                {% for filter in tag.filters.all %}
                                    <p class="{% cycle 'item_odd' 'item_even' %}">
                                        {{ filter.name }}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
						{% endcomment %}
                        
                        <!-- Related Tags -->
                        <div id="related-tab">
                            <a class="resource-tab-print-link" href="{% url print_resource tag.id "related_tags" %}">Print This Tab</a>
                            <div class="group">
                                {% for related_tag in tag.related_tags.all %}
                                    <p class="{% cycle 'item_odd' 'item_even' %}">
										{% ifequal ui "textui" %}
											<a href="javascript:Tags.selectTag({{ related_tag.id }});">
												{{ related_tag.name }}
											</a>
										{% else %}
											{{ related_tag.name }}
										{% endifequal %}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                        
						<!-- Societies -->
                        <div id="society-tab">
                            <a class="resource-tab-print-link" href="{% url print_resource tag.id "societies" %}">Print This Tab</a>
                            <table class="society-images">
                                {% for society in tag.societies.all %}
                                    <tr>
                                        <td class="society-logo">
                                            {% if society.logo_thumbnail %}
                                                <img src="{{ society.logo_thumbnail.url }}" class="logo-flyover { full_url:'{{ society.logo_full.url }}' }" />
                                            {% else %}
                                                <img src="{{ MEDIA_URL }}images/society_logo_none.png" />
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if society.url %}
                                                <a href="{{ society.url }}" target="_blank">
                                            {% endif %}
                                            {{ society.name }} ({{ society.abbreviation }})
                                            {% if society.url %}
                                                <img src="{{ MEDIA_URL }}images/popup.png" />
                                            {% endif %}
                                            {% if society.url %}
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>    
                                {% endfor %}
                            </table>
                        </div>
                        
                        <div id="conference-tab">
                            <!-- Conferences -->
                            <a class="resource-tab-print-link" href="{% url print_resource tag.id "conferences" %}">Print This Tab</a>
                            <div class="group">
                                {% if conferences|length %}
                                    {% for resource in conferences %}
                                        {% if resource.url %}
                                            <a href="{{ resource.url }}" target="_blank">
                                        {% endif %}
                                        <p class="{% cycle 'item_odd' 'item_even' %}">
                                            {{resource.name}}
                                            {% if resource.url %}
                                                <img src="{{ MEDIA_URL }}images/popup.png" />
                                            {% endif %}
                                        </p>
                                        {% if resource.url %}
                                            </a>
                                        {% endif %}
                                        <p class="{% cycle 'desc_odd' 'desc_even' %} auto-truncate-words {length:165, flyover:true, flyoverPosition:'top', flyoverCustomClass:'resource-description'}">{{resource.description}}</p>
                                        
                                        {% if resource.is_current_conference %}
                                            <p class="more-conferences">
                                                <a href="#" id="show-other-conferences-{{ resource.id }}" class="show-other-conferences {id: {{ resource.id }}}">
                                                    <img src="{{ MEDIA_URL }}images/plusbox.png"/>
                                                    Show {{ resource.other_conferences.count }} more conferences in this series...
                                                </a>
                                                <a href="#" id="hide-other-conferences-{{ resource.id }}" class="hide-other-conferences {id: {{ resource.id }}}">
                                                    <img src="{{ MEDIA_URL }}images/minusbox.png"/>
                                                    Hide other conferences in this series
                                                </a>
                                            </p>
                                            
                                            <div id="other-conferences-{{ resource.id }}" class="other-conferences">
                                                {% for other_conference in resource.other_conferences %}
                                                    {% if other_conference.url %}
                                                        <a href="{{ other_conference.url }}" target="_blank">
                                                    {% endif %}
                                                    <p class="{% cycle 'item_odd' 'item_even' %}">
                                                        {{other_conference.name}}
                                                        {% if other_conference.url %}
                                                            <img src="{{ MEDIA_URL }}images/popup.png" />
                                                        {% endif %}
                                                    </p>
                                                    {% if other_conference.url %}
                                                        </a>
                                                    {% endif %}
                                                    <p class="{% cycle 'desc_odd' 'desc_even' %} auto-truncate-words {length:165, flyover:true, flyoverPosition:'top', flyoverCustomClass:'resource-description'}">{{other_conference.description}}</p>
                                                {% endfor %}
                                            </div>
                                            
                                        {% endif %}
                                        
                                    {% endfor %}
                                {% else %}
                                    <p class="no-resources">(no conferences)</p>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div id="periodical-tab">
                            <!-- Periodicals -->
                            <a class="resource-tab-print-link" href="{% url print_resource tag.id "periodicals" %}">Print This Tab</a>
                            <div class="group">
                                {% if periodicals|length %}
                                    {% for resource in periodicals %}
                                        {% if resource.url %}
                                            <a href="{{ resource.url }}" target="_blank">
                                        {% endif %}
                                        <p class="{% cycle 'item_odd' 'item_even' %}">
                                            {{resource.name}}
                                            {% if resource.url %}
                                                <img src="{{ MEDIA_URL }}images/popup.png" />
                                            {% endif %}
                                        </p>
                                        {% if resource.url %}
                                            </a>
                                        {% endif %}
                                        <p class="{% cycle 'desc_odd' 'desc_even' %} auto-truncate-words {length:165, flyover:true, flyoverPosition:'top', flyoverCustomClass:'resource-description'}">{{resource.description}}</p>
                                    {% endfor %}
                                {% else %}
                                    <p class="no-resources">(no periodicals)</p>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div id="standard-tab">
                            <!-- Standards -->
                            <a class="resource-tab-print-link" href="{% url print_resource tag.id "standards" %}">Print This Tab</a>
                            <div class="group">
                                {% if standards|length %}
                                    {% for resource in standards %}
                                        {% if resource.url %}
                                            <a href="{{ resource.url }}" target="_blank">
                                        {% endif %}
                                        <p class="{% cycle 'item_odd' 'item_even' %}">
                                            {{resource.name}}
                                            {% if resource.url %}
                                                <img src="{{ MEDIA_URL }}images/popup.png" />
                                            {% endif %}
                                        </p>
                                        {% if resource.url %}
                                            </a>
                                        {% endif %}
                                        <p class="{% cycle 'desc_odd' 'desc_even' %} auto-truncate-words {length:165, flyover:true, flyoverPosition:'top', flyoverCustomClass:'resource-description'}">{{resource.description}}</p>
                                    {% endfor %}
                                {% else %}
                                    <p class="no-resources">(no standards)</p>
                                {% endif %}
                            </div>
                        </div>
                        
                        {% comment %}
                        #    <div>
                        #        <!-- Experts -->
                        #        <div class="group">
                        #            {% if experts|length %}
                        #                {% for resource in experts %}
                        #                    {% if resource.url %}
                        #                        <a href="{{ resource.url }}" target="_blank">
                        #                    {% endif %}
                        #                    <p class="{% cycle 'item_odd' 'item_even' %}">{{resource.name}}</p>
                        #                    {% if resource.url %}
                        #                        </a>
                        #                    {% endif %}
                        #                    <p class="{% cycle 'desc_odd' 'desc_even' %}">{{resource.description}}</p>
                        #                {% endfor %}
                        #            {% else %}
                        #                <p class="no-resources">(no experts)</p>
                        #            {% endif %}
                        #        </div>
                        #    </div>
                        {% endcomment %}

                        <div id="xplore-tab">
                            <!-- Xplore -->
                            <a class="resource-tab-print-link" href="{% url print_resource tag.id "xplore" %}">Print This Tab</a>
                            <div class="group">
                                <div id="xplore-results-container" class="{ tagId: {{ tag.id }} }">
                                    {# NOTE: This is replaced by ajax after page load. #}
                                </div>
                            </div>
                        </div>
                        
                        <script type="text/javascript">
                            $(function() {
                                attachXploreResults('#xplore-results-container');
                            });
                        </script>
                    
                    </div>
    
    {% if is_ajax %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

