<script type="text/javascript">
    $(function(){
        $('#periodicals-tab span.right').html('{{ periodicals|length }}');
        var count = parseInt($("#num-related-items").metadata().number);
        var newNum = parseInt('{{ periodicals|length }}');
        if (!isNaN(newNum)){        
            count += newNum;
            //$("#num-related-items").text(count);
            $('#num-related-items').metadata().number = count;
        }
    });
</script>                    
                    <div class="group">
                        <ul>
                            {% if loaded %}
                                {% if periodicals|length %}
                                {% for resource in periodicals %}
                                <li>
                                    <p class="{% cycle 'item_odd' 'item_even' %}">
                                        {% if resource.url and resource.url_status != "bad" %}
                                        <a href="{{ resource.url }}" target="_blank" rel="nofollow">
                                            {% endif %}
                                            <span>{{resource.name}}</span>{% if resource.url and resource.url_status != "bad" %}<span class="popup newWinIcon"></span>{% if resource.is_machine_generated %}<span class="drive flyover {width:300}" alt="Machine-generated relationship" title="Machine-generated relationship" style="vertical-align:middle;"></span>{% endif %}{% endif %}
                                            {% if resource.url and resource.url_status != "bad" %}
                                        </a>
                                        {% endif %}
                                    </p>
                                    <p class="{% cycle 'desc_odd' 'desc_even' %} auto-truncate-words {length:165, flyover:true, flyoverPosition:'top', flyoverCustomClass:'resource-description'}">{{resource.description}}</p>
                                </li>
                                {% endfor %}
                                {% else %}
                                <p class="no-resources">No periodicals are currently tagged "{{ tag.name }}"</p>
                                {% endif %}
                            {% else %}     
                                <div class="loading" style="padding-top: 6em;text-align: center;padding-bottom: 3em;"><div></div></div>
                            {% endif %}
                        </ul>
                    </div>
