{% for related_tag in related_tags %}
<p class="{% cycle 'item_odd' 'item_even' %}">
    {% ifequal ui "textui" %}
    <a href="javascript:Tags.selectTag({{ related_tag.id }});" rel="nofollow">{{ related_tag.name }}</a>
    {% else %}
    {{ related_tag.name }}
    {% endifequal %}
    {% if user.is_authenticated %}{% if related_tag.is_favorite %}<span class="icon-star-whole favorite-topic enabled icomoon-icon" data-nodeid="{{ related_tag.id }}"></span>{% else %}<span class="icon-star-whole favorite-topic icomoon-icon" data-nodeid="{{ related_tag.id }}"></span>{% endif %}{% endif %}
</p>
{% endfor %}