{% load noo_jscssmin %}

{% if not is_ajax %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
    <head>
        <meta name="description" content="Connecting You to the IEEE Universe of Information">
        <title>IEEE Technology Navigator {% block server_title %}{% endblock %}</title>

        <link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.ico" type="image/x-icon" />
        
        {% cssmin css/style.css css/lightbox.css css/nootabs.css css/multisearch.css css/flyover.css css/vert-center.css css/jquery-ui-1.7.2.custom.css %}
        <!--[if IE 7]>
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/style-ie7.css" title="Style for IE7" />
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/vert-center-ie.css" title="Vert Center Style for IE" />
        <![endif]-->
        
        <script type="text/javascript">
            // Create global JS var
            var INDEX_URL = "{% url index %}";
            var MEDIA_URL = "{{ MEDIA_URL }}";
            var TEXTUI_HELP_URL = "{% url textui_help %}";
            var TEXTUI_HOME_URL = "{% url textui_home %}";
        </script>
        
        {% jsmin js/jquery-1.3.2.js js/jquery.scrollTo.js js/jquery.metadata.js js/jquery.history.js js/global.js js/roamer.js js/textui.js js/lightbox.js js/nootabs.js js/json2.js js/multisearch.js js/jquery.hoverIntent.js js/flyover.js js/blurText.js js/autoTruncate.js js/jqbrowser2.js js/liveUrl.js js/php.js js/jquery.color.js js/jquery.bgiframe.js js/expandSeries.js js/jquery.cookie.js js/livesearch.js js/jquery-ui-1.7.2.custom.min.js js/jquery.imageDropdown.js %}
        <!-- BEGIN IE ActiveX activation workaround for Constellation Roamer by Chris Benjaminsen -->
        <script type="text/javascript">function writeHTML(a){document.write(a)}</script>
        <!--
        <script type="text/javascript" src="javascript%3A'function+writeHTML(a)%7Bdocument.write(a)%7D'"></script>
        -->
        <!-- END Workaround -->
		
		{% if ENABLE_FIREBUG_LITE %}
			<script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>
		{% endif %}
                
        {% block extra_head %}{% endblock %}
        {% block extra_head2 %}{% endblock %}
    </head>
    <body {% block body_class %}{% endblock %} >
        <a name="top"></a>
        {% block server_info %}{% endblock %}
        <div id="page-container">
            <div id="inner-container">
                {% include "header.inc.html" %}
{% endif %}
                {% block content %}{% endblock %}
{% if not is_ajax %}
            </div>
            {% include "footer.inc.html" %}
        </div>

        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
            var pageTracker = _gat._getTracker("UA-9482893-1");
            pageTracker._trackPageview();
            } catch(err) {}
        </script>
    </body>
</html>
{% endif %}
