{% load noo_jscssmin %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
    <head>
        <title>
            IEEE Technology Navigator {% block server_title %}{% endblock %}
        </title>
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon" />
        {% cssmin css/reset.css css/print.css %}

        <!-- Use Google CDN jquery script with a fallback of our local copy -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/lib/jquery/jquery-1.7.2.js"><\/script>')</script>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
