{% extends 'base.html' %}

{% block content %}

{% if not is_ajax %}    
    <table class="main">
        <tr>
            <td class="left">
            </td>
            <td class="center">
                
                <!-- Begin center column -->
                
                <div id="header">
                    <img class="leftCorner" src="{{MEDIA_URL}}images/mainTopLeftCorner.png" width="26" height="67" />
                    <a href="{% url index %}" class="home"><img class="left-banner" src="{{MEDIA_URL}}images/technav_banner.png" width="139" height="57" /></a>
                    <span id="tagline">Connecting You to the IEEE Universe of Information</span>
                    <span id="links">
                            <a id="feedback-link" href="{% url feedback %}" class="floating lightbox { customClass:'feedback' }">Feedback Survey</a>
                            {% if user.is_authenticated %}
                            <p class="admin-links">                                
                                {% ifequal user.get_profile.role "admin" %}
                                    <a href="{% url admin_home %}">Admin</a> |
                                {% endifequal %}
                                {% ifequal user.get_profile.role "society_admin" %}
                                    <a href="{% url admin_home %}">Society Admin</a> |
                                {% endifequal %}
                                {% ifequal user.get_profile.role "society_manager" %}
                                    <a href="{% url admin_home %}">Society Manager</a> |
                                {% endifequal %}
                                <a href="{{ EXTERNAL_HELP_URL }}" target="zendesk">Help</a> |
                                <a href="{% url admin_logout %}">Logout</a>
                            </p>
                            {% endif %}
                    </span>
                    <a href="http://ieee.org/index.html" class="home"><img class="right-banner" src="{{MEDIA_URL}}images/ieee_banner.png" width="95" height="28" /></a>
                    <img class="rightCorner" src="{{MEDIA_URL}}images/mainTopRightCorner.png" width="26" height="67" />
                    {% block extra_header %}{% endblock %}
                </div>
                
{% endif %}
                {% block main_content_nopad %}
{% if not is_ajax %}    
                    <div class="center-pad">
{% endif %}
                        {% block main_table_content %}{% endblock %}
{% if not is_ajax %}    
                    </div>
{% endif %}
                {% endblock %}
{% if not is_ajax %}
                    
                <div id="footer">
                    <img class="leftCorner" src="{{MEDIA_URL}}images/mainBottomLeftCorner.png" width="26" height="40" />
                    <img class="rightCorner" src="{{MEDIA_URL}}images/mainBottomRightCorner.png" width="26" height="40" />
                    <div id="copyright">&copy; Copyright 2010 IEEE – All rights reserved. Use of this Web site signifies your agreement to the terms and conditions.</div>
                </div>
                
                <!-- End center column -->
                
            </td>
            <td class="right" rowspan="2">
            </td>
        </tr>
    </table>
{% endif %}
    
{% endblock %}
