{% extends 'base.html' %}

{% block content %}

{% if not is_ajax %}    
    <table class="main">
        <tr>
            <td class="left">
            </td>
            <td class="center">
                
                <!-- Begin center column -->
                
                <div id="header">
                    <img class="leftCorner" src="{{MEDIA_URL}}images/mainTopLeftCorner.gif" width="26" height="67" />
                    <a href="{% url index %}" class="home"><img class="banner" src="{{MEDIA_URL}}images/ieee_banner.jpg" width="563" height="42" /></a>
                    <img class="rightCorner" src="{{MEDIA_URL}}images/mainTopRightCorner.gif" width="26" height="67" />
                    {% block extra_header %}{% endblock %}
                </div>
                
{% endif %}
                {% block main_content_nopad %}
{% if not is_ajax %}    
                    <div class="center-pad">
{% endif %}
                        {% block main_table_content %}{% endblock %}
{% if not is_ajax %}    
                    </div>
{% endif %}
                {% endblock %}
{% if not is_ajax %}
                    
                <div id="footer">
                    <img class="leftCorner" src="{{MEDIA_URL}}images/mainBottomLeftCorner.png" width="26" height="40" />
                    <img class="rightCorner" src="{{MEDIA_URL}}images/mainBottomRightCorner.png" width="26" height="40" />
                </div>
                
                <!-- End center column -->
                
            </td>
            <td class="right" rowspan="2">
            </td>
        </tr>
    </table>
{% endif %}
    
{% endblock %}
