{% load filters noo_jscssmin %}
{% if not is_ajax %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>IEEE Technology Navigator {% block server_title %}{% endblock %}</title>
    <meta name="description" content="Connecting You to the IEEE Universe of Information">
	<meta name="author" content="">

    <meta property="og:title" content="IEEE Technology Navigator Topics and Topic Areas"/>
    <meta property="og:url" content="{{ host_info }}"/>
    <meta property="og:host_info" content="{{ host_info }}"/>
    <meta property="og:image" content="{{ host_info }}/media/images/sprite-images/technav_banner.png"/>
    <meta property="og:site_name" content="IEEE Technology Navigator"/>
    <meta property="og:description" content="Connecting You to the IEEE Universe of Information"/>

	<meta name="viewport" content="width=device-width,initial-scale=1">
    
    <link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ MEDIA_URL }}images/apple-touch-icon.png">
    
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />

    <!-- Use Google CDN jquery script with a fallback of our local copy -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/lib/jquery/jquery-1.7.2.js"><\/script>')</script>

    {% comment %}
    <!-- Using Django jsmin to hanle minifying our scripts instead of H5BP plugins.js -->
    <!-- scripts concatenated and minified via ant build script-->
    <script src="js/plugins.js"></script>
    <script src="js/script.js"></script>
    <!-- end scripts-->
    {% endcomment %}

    {% jsmin js/lib/jquery_plugins/jquery.scrollTo.js js/lib/jquery_plugins/jquery.metadata.js js/lib/jquery_plugins/jquery.cookie.js js/lib/jquery_plugins/jquery.history.js js/global.js js/roamer.js js/textui.js js/lightbox.js js/nootabs.js js/lib/json2.js js/multisearch.js js/lib/jquery_plugins/jquery.hoverIntent.js js/flyover.js js/blurText.js js/autoTruncate.js js/lib/jqbrowser2.js js/liveUrl.js js/lib/php.js js/lib/jquery_plugins/jquery.color.js js/lib/jquery_plugins/jquery.bgiframe.js js/expandSeries.js js/livesearch.js js/lib/jquery/jquery-ui-1.8.18.custom.min.js js/jquery.imageDropdown.js js/lib/jquery_plugins/slidedeck.jquery.js js/lib/modernizr.js js/lib/spin.js js/jquery.spin.js js/lib/jquery_plugins/jquery.qtip.js js/lib/jquery_plugins/jquery.joyride-2.0.3.js %}

    {% cssmin css/h5bp.css css/multisearch.css css/flyover.css css/vert-center.css css/jquery-ui-1.7.2.custom.css css/slidedeck.skin.css css/jquery.qtip.css css/joyride-2.0.3.css %}

    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/style-newui.css" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/sprites-newui.css" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/icomoon-style.css" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/lightbox-newui.css" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/nootabs-newui.css" />

    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/style-ie7.css" title="Style for IE7" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/vert-center-ie.css" title="Vert Center Style for IE" />
    <![endif]-->
            
    {% block extra_head %}{% endblock %}
    {% block extra_head2 %}{% endblock %}

</head>
<body {% block body_class %}{% endblock %}>
    <a name="top"></a>
    {% block server_info %}{% endblock %}
    <div id="page-container">
        <div id="inner-container">    
            <header>
                {% include "utility_links.inc.html" %}
                <div id="corner-notch"></div>
                {% include "header.inc.html" %}
            </header>
{% endif %}
            <div role="main">
                {% block content %}{% endblock %}
            </div>
{% if not is_ajax %}
        </div>
        <footer>
        {% include "footer.inc.html" %}
        </footer>
    </div>

    <script>
        // Create global JS variables
        var INDEX_URL = "{% url index %}";
        var MEDIA_URL = "{{ MEDIA_URL }}";
        var TEXTUI_HELP_URL = "{% url textui_help %}";
        var ENABLE_PROGRESSIVE_LOADING = {{ ENABLE_PROGRESSIVE_LOADING|reprjs }};
        var DEBUG = {{ DEBUG|reprjs }};
    </script>

    <script>
        // Google Analytics snippet
    	var _gaq=[['_setAccount','UA-9482893-{{ GA_SITE_NUM }}'],['_trackPageview']];
    	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    	s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    <script>
        // Zen support variables, script, and styles
        var zenbox_params = {};
        zenbox_params.tab_id = "support";
        zenbox_params.tab_color = "black";
        zenbox_params.title = "Technology Navigator";
        zenbox_params.text = "How may we help you? Please fill in details below, and we'll get back to you as soon as possible.";
        zenbox_params.tag = "dropbox";
        zenbox_params.url = "technav.zendesk.com";
    </script>
    <style type='text/css'>@import url('//assets0.zendesk.com/external/zenbox/overlay.css');</style>
    <script src='//assets0.zendesk.com/external/zenbox/overlay.js'></script>

    <script>
        // IE ActiveX workaround for roamer
        function writeHTML(a){document.write(a)}
    </script>

    {% if '/admin/' not in request.path %}
    <script>
        // AddThis configuration and script
        var addthis_config = {
            pubid: "ra-4e02511c660b81ce",
            data_ga_property: "UA-9482893-{{ GA_SITE_NUM }}",
            data_track_clickback: true
        };
    </script>
    <script src="http://s7.addthis.com/js/250/addthis_widget.js"></script> 
    {% endif %}

    {% if ENABLE_FIREBUG_LITE %}
    <script src="https://getfirebug.com/firebug-lite.js"></script>
    {% endif %}

    <!--[if lt IE 7 ]>
    	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
    	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->

</body>
</html>
{% endif %}
