{% block content %}
    <div class="browser-warning-shadow">
    </div>
    <div class="browser-warning-content">
        <div class="browser-warning-content2">
            <h1>Unsupported Browser Detected</h1>
            <p>
                It appears that you are using an unsupported browser.
            </p>
            <p>
                Please use one of the following supported browsers when using this site:
            </p>
            <ul>
                <li>
                    <a href="http://www.microsoft.com/windows/Internet-explorer/default.aspx">Internet Explorer 8</a>
                </li>
                <li>
                    <a href="http://www.microsoft.com/windows/internet-explorer/ie7/">Internet Explorer 7</a>
                </li>
                <li>
                    <a href="http://www.firefox.com/">Mozilla Firefox 3.0 or 3.5</a>
                </li>
                <li>
                    <a href="http://www.apple.com/safari/">Apple Safari 4</a>
                </li>
                {% comment %}
                    TODO: Add safari back in later.
                    <li>
                        <a href="http://support.apple.com/downloads/#internet">Safari 3</a>
                    </li>
                {% endcomment %}
            </ul>
        </div>
    </div>
{% endblock %}
