{% block content %}
    <div class="browser-warning-shadow">
    </div>
    <div class="browser-warning-content">
        <div class="browser-warning-content2">
            <h1>Incompatible Browser Detected</h1>
            <p>
                It appears that you are using an unsupported browser.  The following browsers are supported:
            </p>
            <ul>
                <li>
                    <a href="http://www.microsoft.com/windows/internet-explorer/ie7/">Internet Explorer 7</a>
                </li>
                <li>
                    <a href="http://www.firefox.com/">Mozilla Firefox 3.0</a>
                </li>
                <li>
                    <a href="http://support.apple.com/downloads/#internet">Safari 3</a>
                </li>
            </ul>
            </p>
                Please revisit the site using a compatible browser.
            </p>
        </div>
    </div>
{% endblock %}
