
{% block content %}
    
    {% if is_ajax %}
        
        <a class="lightbox-close"></a>
        <h1>{{ num_resources }} Resource{{num_resources|pluralize}} Tagged "{{ tag.name }}"</h1>
        <div class="resources-pad">
        
            
            <div class="alt-box">
                <div id="content" class="alt-box-pad">
    {% endif %}

                    <div id="resource-tabs" class="nootabs tag-resources-tabs {useCookies:false}">
                        <ul class="nootabs-menus">
                            <li><a href="">Societies &nbsp;&nbsp;&nbsp;{% comment %}<span>({{ num_societies }})</span>{% endcomment %}</a></li>
                            <li><a href="">Periodicals <span>({{periodicals|length}})</span></a></li>
                            <li><a href="">Conferences <span>({{conferences|length}})</span></a></li>
                            <li><a href="">Standards <span>({{standards|length}})</span></a></li>
                            {% comment %}
                            #    <li><a href="">Experts <span>({{experts|length}})</span></a></li>
                            {% endcomment %}
                        </ul>
                        
                        <div>
                            <!-- Societies -->
                            {% if iconSocieties or noIconSocieties %}
                                <div class="group">
                                    {% if iconSocieties %}
                                        <!-- Societies with icons -->
                                        <p class="{% cycle 'item_even' 'item_odd' %}">
                                            {% for society in iconSocieties %}
                                                <img src="{{MEDIA_URL}}images/sc_logos/{{society.abbreviation}}.jpg" />
                                            {% endfor %}
                                        </p>
                                    {% endif %}
                                    
                                    <!-- Societies w/o icons -->
                                    {% for society in noIconSocieties %}
                                        <p class="{% cycle 'item_odd' 'item_even' %}">
                                            {{society.name}} ({{society.abbreviation}})
                                        </p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        
                        <div>
                            <!-- Periodicals -->
                            <div class="group">
                                {% if periodicals|length %}
                                    {% for resource in periodicals %}
                                        {% if resource.url %}
                                            <a href="{{ resource.url }}" target="_blank">
                                        {% endif %}
                                        <p class="{% cycle 'item_odd' 'item_even' %}">{{resource.name}}</p>
                                        {% if resource.url %}
                                            </a>
                                        {% endif %}
                                        <p class="{% cycle 'desc_odd' 'desc_even' %}">{{resource.description}}</p>
                                    {% endfor %}
                                {% else %}
                                    <p class="no-resources">(no periodicals)</p>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div>
                            <!-- Conferences -->
                            <div class="group">
                                {% if conferences|length %}
                                    {% for resource in conferences %}
                                        {% if resource.url %}
                                            <a href="{{ resource.url }}" target="_blank">
                                        {% endif %}
                                        <p class="{% cycle 'item_odd' 'item_even' %}">{{resource.name}}</p>
                                        {% if resource.url %}
                                            </a>
                                        {% endif %}
                                        <p class="{% cycle 'desc_odd' 'desc_even' %}">{{resource.description}}</p>
                                    {% endfor %}
                                {% else %}
                                    <p class="no-resources">(no conferences)</p>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div>
                            <!-- Standards -->
                            <div class="group">
                                {% if standards|length %}
                                    {% for resource in standards %}
                                        {% if resource.url %}
                                            <a href="{{ resource.url }}" target="_blank">
                                        {% endif %}
                                        <p class="{% cycle 'item_odd' 'item_even' %}">{{resource.name}}</p>
                                        {% if resource.url %}
                                            </a>
                                        {% endif %}
                                        <p class="{% cycle 'desc_odd' 'desc_even' %}">{{resource.description}}</p>
                                    {% endfor %}
                                {% else %}
                                    <p class="no-resources">(no standards)</p>
                                {% endif %}
                            </div>
                        </div>
                        
                        {% comment %}
                        #    <div>
                        #        <!-- Experts -->
                        #        <div class="group">
                        #            {% if experts|length %}
                        #                {% for resource in experts %}
                        #                    {% if resource.url %}
                        #                        <a href="{{ resource.url }}" target="_blank">
                        #                    {% endif %}
                        #                    <p class="{% cycle 'item_odd' 'item_even' %}">{{resource.name}}</p>
                        #                    {% if resource.url %}
                        #                        </a>
                        #                    {% endif %}
                        #                    <p class="{% cycle 'desc_odd' 'desc_even' %}">{{resource.description}}</p>
                        #                {% endfor %}
                        #            {% else %}
                        #                <p class="no-resources">(no experts)</p>
                        #            {% endif %}
                        #        </div>
                        #    </div>
                        {% endcomment %}

                    </div>
    
    {% if is_ajax %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

