{% extends 'base.html' %}

{% block content %}
    <div class="email-lightbox lightbox-pad">
        <h3>Feedback Form</h3>
        
        <form action="{% url feedback %}" method="post">
            <table id="feedback">
                <tr>
                    <td class="left-column">
                        Name:
                    </td>
                    <td class="right-column">
                        {{ form.name.errors }}
                        {{ form.name }}
                    </td>
                </tr>
                <tr>
                    <td class="left-column">
                        Email:
                    </td>
                    <td class="right-column">
                        {{ form.email.errors }}
                        {{ form.email }}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Comments:<br/>
                        {{ form.comments.errors }}
                        <textarea name="comments" class="text">{% if form.comments.data %}{{ form.comments.data }}{% endif %}</textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <input type="submit" value="Send" class="button" />
                        <a href="javascript:Lightbox.hide();" class="cancel-link">Cancel</a>
                    </td>
                </tr>
            </table>
        </form>
        
</div>
{% endblock %}

