{% load humanize filters smartif %}

{% block extra_head %}
<script src="https://www.google.com/jsapi?key=ABQIAAAAET-l-_pKVFbYTFwkzUZFuxQqXNOgVZsVxxAJPjYxgMwG3sAPmRRUT1Aw1TCcL7OyNBCohYUcq2aExA"></script>
<script type="text/javascript">
    google.load('search', '1');
</script>
{% endblock %}


{% comment %}
Include file used by both print_resource.html and tag_landing.html
{% endcomment %}
<div id="tag_page">    
    {% if toc %}
    <div id="tag_contents">
        <h1 class="title"><span>{{ tag.name }}</span>: {{ related_items_count|intcomma }} related resources</h1>
        <ol>
            {% if conferences %}<li><a href="#conferences">Conferences</a></li>{% endif %}
            {% if xplore_results %}<li><a href="#xplore">Xplore Articles</a></li>{% endif %}
            {% if jobsHtml %}<li><a href="#jobs">Jobs</a></li>{% endif %}
            {% comment %}<li><a href="#patents">Patents</a></li>{% endcomment %}
            {% if xplore_edu_results %}<li><a href="#xplore_edu">Educational Resources</a></li>{% endif %}
            {% if standards %}<li><a href="#standards">Standards</a></li>{% endif %}
            {% if periodicals %}<li><a href="#periodicals">Periodicals</a></li>{% endif %}
            {% if societies %}<li><a href="#societies">IEEE Organizations</a></li>{% endif %}
            {% if related_tags %}<li><a href="#concepts">Topics</a></li>{% endif %}
            {% if sectors %}<li><a href="#sectors">Industry Topic</a></li>{% endif %}
        </ol>
    </div>
    <hr/>
    {% endif %}
    
    {% if conferences %}
    <div id="tag-conferences">
        <h3><a name="conferences"></a><span class="index"></span> Conferences related to {{ tag.name }}</h3><a href="#tag_contents" class="topLink" rel="nofollow">Back to Top</a><br/>
    {% if conferences|length %}
        {% for conference in conferences|slice:":1" %}
            {# ungrouped conference displayed on the print resource page #}
            <p class="title">
            {% if create_links %}
                <a href="{{ conference.url }}" target="_blank" rel="nofollow">{{ conference.name }}</a>
            {% else %}
                {{ conference.name }}
            {% endif %}
            </p>
            <p class="description">
                {{ conference.description|truncatewords:60 }}<br/>
                <a href="{{ conference.url }}" target="_blank" rel="nofollow">Read more</a>
            </p>
            <br/>
        {% endfor %}
    {% else %}
        <p class="no-resources">No conferences are currently tagged "{{ tag.name }}"</p>
    {% endif %}
    </div>
    <hr/>
    {% endif %}
    
    {% if xplore_results %}
    <div id="tag-xplore">
        <h3><a name="xplore"></a><span class="index"></span> Xplore Articles mentioning {{ tag.name }}</h3><a href="#tag_contents" class="topLink" rel="nofollow">Back to Top</a><br/>
        {% for xplore_result in xplore_results|slice:":5" %}
            <p class="title">
            {% if create_links %}
                <a href="{{ xplore_result.url }}" target="_blank" rel="nofollow">{{ xplore_result.name }}</a>
            {% else %}
                {{ xplore_result.name }}
            {% endif %}
            </p>
            <p class="pub-info">
                {{ xplore_result.authors }} {{ xplore_result.pub_title }},  {{ xplore_result.pub_year }}
            </p>
            <p class="description">
                {{ xplore_result.description|truncatewords:60 }}<br/>
                <a href="{{ xplore_result.url }}" target="_blank" rel="nofollow">Read more</a>
            </p>
            <br/>
        {% endfor %}
    </div>
    <hr/>
    {% endif %}
    
    {% if jobsHtml %}
    <div id="tag-jobs" class="tag-section">
        <h3><a href="" name="jobs"></a><span class="index"></span> Jobs related to {{ tag.name }}</h3><a href="#tag_contents" class="topLink" rel="nofollow">Back to Top</a><br/>
        {% if jobsHtml %}
            {{ jobsHtml|safe }}
        {% else %}
        <p class="no-resources">No jobs are currently tagged "{{ tag.name }}"</p>
        {% endif %}
    </div>
    <hr/>
    {% endif %}
    
    {% comment %}
    <div id="tag-patents" class="tag-section">
        <h3><a name="patents"></a><span class="index"></span> Patents related to {{ tag.name }}</h3><a href="#tag_contents" class="topLink" rel="nofollow">Back to Top</a><br/>
        <div class="patent-list"></div>
        <div id="branding"></div>
    </div>
    <hr/>
    {% endcomment %}
    
    {% if xplore_edu_results %}
    <div id="tag-xplore_edu">
        <h3><a name="xplore_edu"></a><span class="index"></span> Educational Resources on {{ tag.name }}</h3><a href="#tag_contents" class="topLink" rel="nofollow">Back to Top</a><br/>
        {% for xplore_result in xplore_edu_results|slice:":5" %}
            <p class="title">
            {% if create_links %}
                <a href="{{ xplore_result.url }}" target="_blank" rel="nofollow">{{ xplore_result.name }}</a>
            {% else %}
                {{ xplore_result.name }}
            {% endif %}
            </p>
            <p class="pub-info">
                {{ xplore_result.authors }} {{ xplore_result.pub_title }},  {{ xplore_result.pub_year }}
            </p>
            <p class="description">
                {{ xplore_result.description|truncatewords:60 }}<br/>
                <a href="{{ xplore_result.url }}" target="_blank" rel="nofollow">Read more</a>
            </p>
            <br/>
        {% endfor %}
    </div>
    <hr/>
    {% endif %}
    
    {% if standards %}
    <div id="tag-standards">
        <h3><a name="standards"></a><span class="index"></span> Standards related to {{ tag.name }}</h3><a href="#tag_contents" class="topLink" rel="nofollow">Back to Top</a><br/>
        {% for standard in standards.all|slice:":5" %}
            <p class="title">
            {% if create_links %}
                <a href="{{ standard.url }}" target="_blank" rel="nofollow">{{ standard.name }}</a>
            {% else %}
                {{ standard.name }}
            {% endif %}
            </p>
            <p class="description">
                {{ standard.description|truncatewords:60 }}<br/>
                <a href="{{ standard.url }}" target="_blank" rel="nofollow">Read more</a>
            </p>
            <br/>
        {% endfor %}
    </div>
    <hr/>
    {% endif %}
    
    {% if periodicals %}
    <div id="tag-periodicals">
        <h3><a name="periodicals"></a><span class="index"></span> Periodical articles related to {{ tag.name }}</h3><a href="#tag_contents" class="topLink" rel="nofollow">Back to Top</a><br/>
        {% for periodical in periodicals.all|slice:":5" %}
            <p class="title">
            {% if create_links %}
                <a href="{{ periodical.url }}" target="_blank" rel="nofollow">{{ periodical.name }}</a>
            {% else %}
                {{ periodical.name }}
            {% endif %}
            </p>
            <p class="description">
                {{ periodical.description|truncatewords:60 }}<br/>
                <a href="{{ periodical.url }}" target="_blank" rel="nofollow">Read more</a>
            </p>
            <br/>
        {% endfor %}
    </div>
    <hr/>
    {% endif %}
    
    {% if societies %}
    <div id="tag-societies">
        <h3><a name="societies"></a><span class="index"></span> IEEE Organizations related to {{ tag.name }}</h3><a href="#tag_contents" class="topLink" rel="nofollow">Back to Top</a><br/>
        {% for society in societies|slice:":5" %}
            {% if create_links %}
                <a href="{{ society.url }}" rel="nofollow">{{ society.name }}</a>
            {% else %}
                {{ society.name }}
            {% endif %}
            <br/>
        {% endfor %}
    </div>
    <hr/>
    {% endif %}
    
    {% if related_tags %}
    <div id="tag-related-tags">
        <h3><a name="concepts"></a><span class="index"></span> Topics related to {{ tag.name }}</h3><a href="#tag_contents" class="topLink" rel="nofollow">Back to Top</a><br/>
        {% for related_tag in related_tags|slice:":5" %}
            {% if create_links %}
                <a href="/tag/{{ related_tag.id }}/{{ related_tag.name|slugify }}">{{ related_tag.name }}</a>
            {% else %}
                {{ related_tag.name }}
            {% endif %}
            <br/>
        {% endfor %}
    </div>
    <hr/>
    {% endif %}

    {% if sectors %}
    <div id="tag-sectors">
        <h3><a href="" name="sectors"></a><span class="index"></span> Industry topics related to {{ tag.name }}</h3><a href="#tag_contents" class="topLink" rel="nofollow">Back to Top</a><br/>
        {% for parent in sectors|slice:":5" %}
            {% if create_links %}
                <a href="/tag/{{ parent.id }}/{{ parent.name|slugify }}">{{ parent.name }}</a>
            {% else %}
                {{ parent.name }}
            {% endif %}
            <br/>
        {% endfor %}
    </div>
    <hr/>
    {% endif %}
    <a href="javascript:void(0)" class="topLink" rel="nofollow">Back to Top</a>
    <br style="clear:both"/>
</div>


<script type="text/javascript">
    // Initialize Google Patent Search
    //var id = '{{ tag.name }}';
    //patentSearch = new google.search.PatentSearch();
    //patentSearch.setSearchCompleteCallback(this,
    //function(){
    //    $.each(patentSearch.results, function(i, result){
    //      $('.patent-list').append($(result.html));
          //$('.patent-list a span').text(patentSearch.results.length); // patentSearch.cursor.estimatedResultCount
    //    });
        //$("<span class='newWindowIcon'></span>").insertAfter("a.gs-title");
    //}
    //, null);

    // Specify search quer(ies)
    //patentSearch.execute($('h1.title > span').eq(0).text());

    // Include the required Google branding
    //google.search.Search.getBranding('branding');

    // Dynamically number the section content blocks.
    $(document).ready(function(){
        $('h3 span.index').each(function(i, obj){
            $(this).text((i+1) + '.');
        });
        var mainWidth = $("#inner-container").outerWidth();    
        $("#tag_frozen_header").css('width', mainWidth);
    });
</script>
