{% comment %}
Include file used by both print_resource.html and tag_landing.html
{% endcomment %}
        
        <h1>{{ tag.societies.all.count }} Related Items for {{ tag.name }}</h1>
        
        {% if toc %}
        <ul>
            {% if sectors %}<li><a href="#sectors">Sectors</a></li>{% endif %}
            {% if related_tags %}<li><a href="#related_tags">Related Tags</a></li>{% endif %}
            {% if societies %}<li><a href="#societies">Societies</a></li>{% endif %}
            {% if conferences %}<li><a href="#conferences">Conferences</a></li>{% endif %}
            {% if periodicals %}<li><a href="#periodicals">Periodicals</a></li>{% endif %}
            {% if standards %}<li><a href="#standards">Standards</a></li>{% endif %}
            {% if xplore_results %}<li><a href="#xplore">Xplore Articles</a></li>{% endif %}
        </ul>
        {% endif %}
        
        {% if sectors %}
            <h3><a href="" name="sectors"></a>Sectors</h3>
            <ul>
                {% for parent in sectors %}
                    <li>
                        {% if create_links %}
                            <a href="/tag/{{ parent.id }}/{{ parent.name|slugify }}">{{ parent.name }}</a>
                        {% else %}
                            {{ parent.name }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        
        {% if related_tags %}
            <h3><a name="related_tags"></a>Related Tags</h3>
            <ul>
                {% for related_tag in related_tags %}
                    <li>
                        {% if create_links %}
                            <a href="/tag/{{ related_tag.id }}/{{ related_tag.name|slugify }}">{{ related_tag.name }}</a>
                        {% else %}
                            {{ related_tag.name }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        
        {% if societies %}
            <h3><a name="societies"></a>Societies</h3>
            <ul>
                {% for society in societies %}
                    <li>
                        {% if create_links %}
                            <a href="{{ society.url }}">{{ society.name }}</a>
                        {% else %}
                            {{ society.name }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
            
        {% if conferences %}
            <h3><a name="conferences"></a>Conferences</h3>
            <ul>
                {% for conference in conferences.all %}
                    <li>
                        <p class="title">
                        {% if create_links %}
                            <a href="{{ conference.url }}">{{ conference.name }}</a>
                        {% else %}
                            {{ conference.name }}
                        {% endif %}
                        </p>
                        <p class="description">
                            {{ conference.description|truncatewords:60 }}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
            
        {% if periodicals %}
            <h3><a name="periodicals"></a>Periodicals</h3>
            <ul>
                {% for periodical in periodicals.all %}
                    <li>
                        <p class="title">
                        {% if create_links %}
                            <a href="{{ periodical.url }}">{{ periodical.name }}</a>
                        {% else %}
                            {{ periodical.name }}
                        {% endif %}
                        </p>
                        <p class="description">
                            {{ periodical.description|truncatewords:60 }}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
            
        {% if standards %}
            <h3><a name="standards"></a>Standards</h3>
            <ul>
                {% for standard in standards.all %}
                    <li>
                        <p class="title">
                        {% if create_links %}
                            <a href="{{ standard.url }}">{{ standard.name }}</a>
                        {% else %}
                            {{ standard.name }}
                        {% endif %}
                        </p>
                        <p class="description">
                            {{ standard.description|truncatewords:60 }}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
            
        {% if xplore_results %}
            <h3><a name="xplore"></a>Xplore</h3>
            <ul>
                {% for xplore_result in xplore_results %}
                    <li>
                        <p class="title">
                        {% if create_links %}
                            <a href="{{ xplore_result.url }}">{{ xplore_result.name }}</a>
                        {% else %}
                            {{ xplore_result.name }}
                        {% endif %}
                        </p>
                        <p class="pub-info">
                            {{ xplore_result.authors }} {{ xplore_result.pub_title }},  {{ xplore_result.pub_year }}
                        </p>
                        <p class="description">
                            {{ xplore_result.description|truncatewords:60 }}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}