{% load humanize filters smartif %}

{% block extra_head %}
<script src="https://www.google.com/jsapi?key=ABQIAAAAET-l-_pKVFbYTFwkzUZFuxQqXNOgVZsVxxAJPjYxgMwG3sAPmRRUT1Aw1TCcL7OyNBCohYUcq2aExA"></script>
<script type="text/javascript">
    google.load('search', '1');
</script>
{% endblock %}

{% comment %}
Include file used by both print_resource.html and tag_landing.html
{% endcomment %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/landing.css" title="Style for tag landing pages" />
<div id="tag_page">
    <div id="tag_frozen_header">
        <div id="corner-notch"></div>
        {% include "utility_links.inc.html" %}
        {% include "header.inc.html" %}
        <div class="tag_header_inner">
            <h1 class="title">{{ tag.name }}</h1>
            {% if tag and create_links %}
                <div id="tag_technav" onclick="location.href='/textui/?autoload={{ tag.id }}';" rel="nofollow">
                    <div><span>View this topic in</span></div>
                </div>
            {% endif %}
            {% if tag.definition %}
            <div id="tag_definition">
                {{ tag.short_definition|safe }} <small>(Wikipedia.org)</small>
            </div>
            {% endif %}
        </div>
    </div>
    
    <hr/>
    
    {% if toc %}
    <div id="tag_contents">
        <h1 style="font-size:13pt">{{ related_items_count|intcomma }} resources related to {{ tag.name }}</h1>
        {# Using break line list method for browser compatibility #}
        <ol style="width:570px">
            <li {% if not conferences %}class="disabled"{% endif %}><a href="#conferences">Conferences related to {{ tag.name }}</a></li>
            <li {% if not xplore_results %}class="disabled"{% endif %}><a href="#xplore">Xplore Articles related to  {{ tag.name }}</a></li>
            <li {% if not jobsHtml %}class="disabled"{% endif %}><a href="#jobs">Jobs related to {{ tag.name }}</a></li>
            {% comment %}<li><a href="#patents">Patents related to {{ tag.name }}</a></li>{% endcomment %}
            <li {% if not xplore_edu_results %}class="disabled"{% endif %}><a href="#xplore_edu">Educational Resources on {{ tag.name }}</a></li>    
        </ol>
        <ol start="5">
            <li {% if not standards %}class="disabled"{% endif %}><a href="#standards">Standards related to {{ tag.name }}</a></li>
            <li {% if not periodicals %}class="disabled"{% endif %}><a href="#periodicals">Periodicals related to {{ tag.name }}</a></li>
            <li {% if not societies %}class="disabled"{% endif %}><a href="#societies">IEEE Organizations related to {{ tag.name }}</a></li>
            <li {% if not related_tags %}class="disabled"{% endif %}><a href="#concepts">Topics related to {{ tag.name }}</a></li>
            {% comment %}<li {% if not sectors %}class="disabled"{% endif %}><a href="#sectors">Industry topics related to {{ tag.name }}</a></li>{% endcomment %}
        </ol>
    </div>
    <hr/>
    {% endif %}

    {% if overview %}
    <div id="tag-overview" class="tag-section">
        <h3><a href="" name="overview"></a>{% if toc %}<span class="index"></span>{% endif %} Overview of {{ tag.name }}</h3><a href="javascript:void(0)" class="topLink" rel="nofollow">Back to Top</a>
        <div>
                <ul>
            <!-- Don't show this section if definition = none -->
            {% if tag.definition %}
            <li>
                <div class="overview-label">Definition</div>
                <div>{{ tag.definition }}</div>
            </li>
            {% endif %}
            <li>
                <div class="overview-label">Recent Related Xplore Article</div>
                <div id="xplore-overview">
                    <a href="{{ xplore_article.url }}" target="_blank" rel="nofollow">{{ xplore_article.name|safe }}</a>{% if xplore_article.url and xplore_article.url_status != "bad" %}<span class="popup newWinIcon"></span>{% endif %}
                </div>
            </li>
            {% if close_conference %}
            <li>
                <div class="overview-label">Upcoming Related Conference</div>
                {% if close_conference.url and close_conference_status != "bad" %}
                    <a href="{% if close_conference.url|slice:":4" != 'http' %}http://{% endif %}{{ close_conference.url }}" target="_blank" rel="nofollow">
                {% endif %}
                    <div>
                        <span>{{close_conference.name}}</span>{% if close_conference.url and close_conference.url_status != "bad" %}<span class="popup newWinIcon"></span>{% endif %}{% if close_conference.is_machine_generated %}<span class="drive flyover {width:300}" alt="Machine-generated relationship" title="Machine-generated relationship" style="vertical-align:middle;"></span>{% endif %}
                    </div>
                    {% if close_conference.url and close_conference_status != "bad" %}
                    </a>
                    {% endif %}                                
            </li>
            {% endif %}
            {% comment %}
            <li>
                <div class="overview-label">Recent Related Patent</div>
                <div id="patent-overview"></div>
            </li>
            {% endcomment %}
        </ul>
        </div>
    </div>
    <hr/>
    {% endif %}

    {% if conferences or toc %}
    <div id="tag-conferences" class="tag-section">
        <h3><a name="conferences"></a>{% if toc %}<span class="index"></span>{% endif %} Conferences related to {{ tag.name }}</h3><a href="javascript:void(0)" class="topLink" rel="nofollow">Back to Top</a>
        {% if conferences %}
            {% if conferences|length %}
                <div id="notaccordion">
                    {% for resource in conferences|slice:":5" %}{# grouped conference displayed on the tag landing page #}
                        <p class="title">{{resource.name}}</p>
                        {% if resource.url and resource.url_status != "bad" %}<a href="{{ resource.url }}" target="_blank" rel="nofollow">Visit website</a>{% endif %}
                        <p class='description'>{{resource.description}}</p>
                        <div style="display:none">
                            {% if resource.is_current_conference and resource.other_conferences|length %}
                            <ul class="conference-series">
                                {% for other_conference in resource.other_conferences %}
                                <li>
                                    {% if other_conference.url and other_conference.url_status != "bad" %}<a href="{{ other_conference.url }}" target="_blank" rel="nofollow">{% endif %}
                                        <span>{{other_conference.name}}</span>
                                    {% if other_conference.url and other_conference.url_status != "bad" %}</a>{% endif %}
                                    <p class="{% cycle 'desc_odd' 'desc_even' %} ">{{other_conference.description}}</p>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <br/>
                    {% endfor %}
                    {% if conferences|length > 5 %}
                        <span class="more-link">
                        <a href="/textui/?autoload={{tag.id}}&tab=conference-tab" rel="nofollow">More Conferences</a>
                        </span>
                    {% endif %}
                </div>
            {% endif %}
            
            {% comment %}
            {% for conference in conferences.all %}{# ungrouped conference displayed on the print resource page #}
                <li>
                    <p class="title">
                    {% if create_links %}
                        <a href="{{ conference.url }}" target="_blank" rel="nofollow">{{ conference.name }}</a>
                    {% else %}
                        {{ conference.name }}
                    {% endif %}
                    </p>
                    <p class="description">
                        {{ conference.description|truncatewords:60 }}
                    </p>
                </li>
            {% endfor %}
            {% endcomment %}
            
        {% else %}
        <p class="no-resources">No conferences are currently tagged "{{ tag.name }}"</p>
        {% endif %}
    </div>
    <hr/>
    {% endif %}

    {% if xplore_results or toc %}
    <div id="tag-xplore" class="tag-section">
        <h3><a name="xplore"></a>{% if toc %}<span class="index"></span>{% endif %} Xplore Articles related to {{ tag.name }}</h3><a href="javascript:void(0)" class="topLink" rel="nofollow">Back to Top</a>
        {% if xplore_results %}
        <ul class="tag_list">
            {% for xplore_result in xplore_results|slice:":5" %}
                <li>
                    <p class="title">
                    {% if create_links %}
                        <a href="{{ xplore_result.url }}" target="_blank" rel="nofollow">{{ xplore_result.name }}</a>
                    {% else %}
                        {{ xplore_result.name }}
                    {% endif %}
                    </p>
                    <p class="pub-info">
                        {{ xplore_result.authors }} {{ xplore_result.pub_title }},  {{ xplore_result.pub_year }}
                    </p>
                    <p class="description">
                        {{ xplore_result.description|truncatewords:60 }}
                    </p>
                </li>
            {% endfor %}
        </ul>
                    {% if xplore_results|length > 5 %}
                        <span class="more-link">
                        <a href="/textui/?autoload={{tag.id}}&tab=xplore-tab" rel="nofollow">More Xplore Articles</a>
                        </span>
                    {% endif %}
        {% else %}
        <p class="no-resources">No Xplore Articles are currently tagged "{{ tag.name }}"</p>
        {% endif %}
    </div>
    <hr/>
    {% endif %}

    {% if jobsHtml or toc %}
    <div id="tag-jobs" class="tag-section">
        <h3><a href="" name="jobs"></a>{% if toc %}<span class="index"></span>{% endif %} Jobs related to {{ tag.name }}</h3><a href="javascript:void(0)" class="topLink" rel="nofollow">Back to Top</a>
        <div>
            {% if jobsHtml %}
                {{ jobsHtml|safe }}
            {% else %}
            <p class="no-resources">No jobs are currently tagged "{{ tag.name }}"</p>
            {% endif %}
        </div>
    </div>
    <hr/>
    {% endif %}
    
    {% comment %}
    {% if patents or toc %}
    <div id="tag-patents" class="tag-section">
        <h3><a name="patents"></a>{% if toc %}<span class="index"></span>{% endif %} Patents related to {{ tag.name }}</h3><a href="javascript:void(0)" class="topLink" rel="nofollow">Back to Top</a>
        <div class="patent-list"></div>
        <div id="branding"></div>
    </div>
    <hr/>
    {% endif %}
    {% endcomment %}
    
    {% if xplore_edu_results or toc %}
    <div id="tag-xplore_edu" class="tag-section">
        <h3><a name="xplore_edu"></a>{% if toc %}<span class="index"></span>{% endif %} Educational Resources on {{ tag.name }}</h3><a href="javascript:void(0)" class="topLink" rel="nofollow">Back to Top</a>
        {% if xplore_edu_results %}
        <ul class="tag_list">
            {% for xplore_result in xplore_edu_results|slice:":5" %}
                <li>
                    <p class="title">
                    {% if create_links %}
                        <a href="{{ xplore_result.url }}" target="_blank" rel="nofollow">{{ xplore_result.name }}</a>
                    {% else %}
                        {{ xplore_result.name }}
                    {% endif %}
                    </p>
                    <p class="pub-info">
                        {{ xplore_result.authors }} {{ xplore_result.pub_title }},  {{ xplore_result.pub_year }}
                    </p>
                    <p class="description">
                        {{ xplore_result.description|truncatewords:60 }}
                    </p>
                </li>
            {% endfor %}
        </ul>
                    {% if xplore_edu_results|length > 5 %}
                        <span class="more-link">
                        <a href="/textui/?autoload={{tag.id}}&tab=education-tab" rel="nofollow">More Educational Resources</a>
                        </span>
                    {% endif %}
        {% else %}
        <p class="no-resources">No education resources are currently tagged "{{ tag.name }}"</p>
        {% endif %}
    </div>
    <hr/>
    {% endif %}

    {% if standards or toc %}
    <div id="tag-standards" class="tag-section">
        <h3><a name="standards"></a>{% if toc %}<span class="index"></span>{% endif %} Standards related to {{ tag.name }}</h3><a href="javascript:void(0)" class="topLink" rel="nofollow">Back to Top</a>
        {% if standards %}
        <ul class="tag_list">
            {% for standard in standards.all|slice:":5" %}
                <li>
                    <p class="title">
                    {% if create_links %}
                        <a href="{{ standard.url }}" target="_blank" rel="nofollow">{{ standard.name }}</a>
                    {% else %}
                        {{ standard.name }}
                    {% endif %}
                    </p>
                    <p class="description">
                        {{ standard.description|truncatewords:60 }}
                    </p>
                </li>
            {% endfor %}
        </ul>
                    {% if standards.all|length > 5 %}
                        <span class="more-link">
                        <a href="/textui/?autoload={{tag.id}}&tab=standard-tab" rel="nofollow">More Standards</a>
                        </span>
                    {% endif %}
        {% else %}
        <p class="no-resources">No standards are currently tagged "{{ tag.name }}"</p>
        {% endif %}
    </div>
    <hr/>
    {% endif %}
    
    {% if periodicals or toc %}
    <div id="tag-periodicals" class="tag-section">
        <h3><a name="periodicals"></a>{% if toc %}<span class="index"></span>{% endif %} Periodicals related to {{ tag.name }}</h3><a href="javascript:void(0)" class="topLink" rel="nofollow">Back to Top</a>
        {% if periodicals %}
        <ul class="tag_list">
            {% for periodical in periodicals.all|slice:":5" %}
                <li>
                    <p class="title">
                    {% if create_links %}
                        <a href="{{ periodical.url }}" target="_blank" rel="nofollow">{{ periodical.name }}</a>
                    {% else %}
                        {{ periodical.name }}
                    {% endif %}
                    </p>
                    <p class="description">
                        {{ periodical.description|truncatewords:60 }}
                    </p>
                </li>
            {% endfor %}
        </ul>
                    {% if periodicals.all|length > 5 %}
                        <span class="more-link">
                        <a href="/textui/?autoload={{tag.id}}&tab=periodical-tab" rel="nofollow">More Periodicals</a>
                        </span>
                    {% endif %}
        {% else %}
        <p class="no-resources">No periodicals are currently tagged "{{ tag.name }}"</p>
        {% endif %}
    </div>
    <hr/>
    {% endif %}
    
    {% if societies or toc %}
    <div id="tag-societies" class="tag-section">
        <h3><a name="societies"></a>{% if toc %}<span class="index"></span>{% endif %} IEEE Organizations related to {{ tag.name }}</h3><a href="javascript:void(0)" class="topLink" rel="nofollow">Back to Top</a>
        {% if societies %}
        <ul>
            {% for society in societies|slice:":5" %}
                <li>
                    {% if create_links %}
                        <a href="{{ society.url }}" rel="nofollow">{{ society.name }}</a>
                    {% else %}
                        {{ society.name }}
                    {% endif %}
                </li>
            {% endfor %}

        </ul>
                   {% if societies|length > 5 %}
                        <span class="more-link">
                        <a href="/textui/?autoload={{tag.id}}&tab=society-tab" rel="nofollow">More Organizations</a>
                        </span>
                    {% endif %}
        {% else %}
        <p class="no-resources">No organizations are currently tagged "{{ tag.name }}"</p>
        {% endif %}
    </div>
    <hr/>
    {% endif %}
    
    {% if related_tags or toc %}
    <div id="tag-related-tags" class="tag-section">
        <h3><a name="concepts"></a>{% if toc %}<span class="index"></span>{% endif %} Topics related to {{ tag.name }}</h3><a href="javascript:void(0)" class="topLink" rel="nofollow">Back to Top</a>
        {% if related_tags %}
        <ul>
            {% for related_tag in related_tags|slice:":5" %}
                <li>
                    {% if create_links %}
                        <a href="/tag/{{ related_tag.id }}/{{ related_tag.name|slugify }}">{{ related_tag.name }}</a>
                    {% else %}
                        {{ related_tag.name }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
                    {% if related_tags|length > 5 %}
                        <span class="more-link">
                        <a href="/textui/?autoload={{tag.id}}&tab=related-tab" rel="nofollow">More Related Tags</a>
                        </span>
                    {% endif %}
        {% else %}
        <p class="no-resources">No topics related to "{{ tag.name }}"</p>
        {% endif %}
    </div>
    <hr/>
    {% endif %}
    
    {% comment %}
    <div id="tag-sectors" class="tag-section">
        <h3><a href="" name="sectors"></a>{% if toc %}<span class="index"></span>{% endif %} Industry topics related to {{ tag.name }}</h3><a href="javascript:void(0)" class="topLink" rel="nofollow">Back to Top</a>
        {% if sectors %}
        <ul>
            {% for parent in sectors|slice:":5" %}
                <li>
                    {% if create_links %}
                        <a href="/tag/{{ parent.id }}/{{ parent.name|slugify }}">{{ parent.name }}</a>
                    {% else %}
                        {{ parent.name }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
                    {% if sectors|length > 5 %}
                        <span class="more-link">
                        <a href="/textui/?autoload={{tag.id}}&tab=sector-tab" rel="nofollow">More Sectors</a>
                        </span>
                    {% endif %}
        {% else %}
        <p class="no-resources">No industry topics are currently tagged "{{ tag.name }}"</p>
        {% endif %}
    </div>
    <br/>
    {% endcomment %}
    
</div>

<script type="text/javascript">
    var addthis_config = {
        pubid: "ra-4e02511c660b81ce",
        data_ga_property: "UA-9482893-{{ GA_SITE_NUM }}",
        data_track_clickback: true
    };
    var addthis_share = {
        url: "{{ host_info }}/tag/{{ tag.id }}/{{ tag.name|slugify }}",
        title: "{{ tag.name }}",
        description: "Read more about {{ tag.name }} on IEEE TechNav."
    };
    
    // Initialize Google Patent Search
    //var id = '{{ tag.name }}';
    //patentSearch = new google.search.PatentSearch();
    //patentSearch.setSearchCompleteCallback(this,
    //function(){
    //    $.each(patentSearch.results, function(i, result){
    //      $('.patent-list').append($(result.html));
          //$('.patent-list a span').text(patentSearch.results.length); // patentSearch.cursor.estimatedResultCount
    //    });
        //$("<span class='newWindowIcon'></span>").insertAfter("a.gs-title");
    //}
    //, null);

    // Specify search quer(ies)
    //patentSearch.execute($('h1.title').text());
    // Include the required Google branding
    //google.search.Search.getBranding('branding');
    //patentSearch1 = new google.search.PatentSearch();
    //patentSearch1.setResultSetSize(1);
    // Set searchComplete as the callback function when a search is 
    // complete.  The patentSearch object will have results in it.
    //patentSearch1.setSearchCompleteCallback(this,
    //    function(){
    //        if (typeof patentSearch1.cursor != "undefined"){
    //            $.each(patentSearch1.results, function(i, result){
    //                $('#patent-overview').append($(result.html));
    //            });
    //        }
    //    }
    //, null);      
    //patentSearch1.setResultOrder(google.search.Search.ORDER_BY_DATE);
        // Specify search quer(ies)
    //patentSearch1.execute($('h1.title').text());

    // Dynamically number the section content blocks.
    $(document).ready(function(){
        {% if toc %}
        $('h3 span.index').each(function(i, obj){
            $(this).text((i+1) + '.');
        });
        {% endif %}
        var mainWidth = $("#inner-container").outerWidth();    
        $("#tag_frozen_header").css('width', mainWidth);
        /*
        $.ajax('http://jobs.ieee.org/qjs/', jobsQstr,
          function(data) {
            alert('success');
            $.each(data.items, function(i,item){
              alert('in');
            });
          },
          function(){
            var foo = 120;
            });
        */
        $('.featured').each(function(){
                var href = $(this).attr('href');
                //$(this).attr('href', 'http://jobs.ieee.org'+href);
                if ($(this).text() == "More jobs") {
                    $(this).attr('href', '/textui/?autoload={{tag.id}}&tab=job-tab');
                    $(this).css('margin','0');
                }
                var textEl = this.nextSibling;
                var spanEl = $('<p />').text(textEl.data).addClass('job-desc');
                $(this).after(spanEl);
                $(textEl).remove();
        });

        $('span.Featured').children('table').attr('id','jobs-table')
    });
</script>
