<script type="text/javascript">
    $(function(){
        var content = {text: true, attr: 'title'};
        setupQtips('#ieee-home',content=content);
    });
</script>
<div id="footer">
    <a id="testerSurveyBtn" href="{% url tester_survey %}" class="lightbox {customClass: 'tester-survey'}" rel="nofollow">User Survey</a>
    <a id="welcome-link" href="{% url ajax_welcome %}" class="lightbox {customClass: 'welcome-panels'}" rel="nofollow">&nbsp;**</a>
    <div id="copyright">
        &copy; Copyright 2012 <a href="http://ieee.org" title="Visit IEEE Home" id="ieee-home" rel="nofollow">IEEE</a> – All rights reserved. Use of this Web site signifies your agreement to the terms and conditions. <a href="http://www.ieee.org/privacy" id="opt-link">Privacy &amp; Opting Out of Cookies</a>
        <span id="footer-login">
            {% if user %}
                <p class="admin-links">                                
                    {% ifequal user.get_profile.role "admin" %}
                        <a href="{% url admin_home %}">Admin</a>
                    {% endifequal %}
                    {% ifequal user.get_profile.role "society_admin" %}
                        <a href="{% url admin_home %}">Organization Admin</a>
                    {% endifequal %}
                    {% ifequal user.get_profile.role "society_manager" %}
                        <a href="{% url admin_home %}">Organization Manager</a>
                    {% endifequal %}
                    {% if user.is_authenticated %}
                        <a href="{% url admin_logout %}" rel="nofollow">logout</a>
                    {% else %}
                        <a href="{% url admin_login %}" rel="nofollow">*</a>
                    {% endif %}
                </p>
            {% endif %}
         </span>
    </div>
</div>