{% load humanize %}
<div id="header">
    <span id="header-links">
        <a href="http://ieee.org" rel="nofollow" style="float:right"><span class="sm-logo"></span></a>
        <span id="tagline">Connecting You to the IEEE Universe of Information</span>
        <span class="header-btns">
            {% comment %}
            {% if tag %}
                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js"></script> 
                <div class="custom_images addthis_16x16_style">
                    <a class="addthis_button_email"><img src="{{MEDIA_URL}}images/email.png" width="24" height="24" border="0" alt="Email" /></a>
                    <a class="addthis_button_twitter"><img src="{{MEDIA_URL}}images/twitter.png" width="24" height="24" border="0" alt="Share to Twitter" /></a>
                    <a class="addthis_button_facebook"><img src="{{MEDIA_URL}}images/facebook.png" width="24" height="24" border="0" alt="Share to Facebook" /></a>
                    <a class="addthis_button_linkedin"><img src="{{MEDIA_URL}}images/linkedin.png" width="24" height="24" border="0" alt="Share to LinkedIn" /></a>
                    <a class="addthis_counter addthis_bubble_style"></a>
                </div>
            {% endif %}
            {% endcomment %}
            
            {% if user.is_superuser %}<a href="{% url admin_home %}" class="btn admin" rel="nofollow">Admin</a>{% endif %} 
            {% comment %}<a href="http://www.ieee.org/membership_services/membership/join/index.html?WT.mc_id=u_join" class="btn join" target="_self" rel="nofollow">Join IEEE!</a>{% endcomment %}
            {% if not tag %}<a href="javascript:void(0)" class="btn startTour" rel="nofollow">Tour</a>{% endif %}
            <a href="http://help.technav.systemicist.com/forums" target="zendesk" class="btn help" rel="nofollow">Help</a>
        </span>
    </span>
    <div id="header-logo">
        <a href="{{ LOGO_HREF }}" class="home" rel="nofollow"><span class="technav_banner"></span></a>
        <a href="/tags/all" id="totalTagLink">We cover <span id="totalTagCount">{{ total_tag_count|intcomma  }}</span> topics {% if tag %}besides {{ tag.name }}{% endif %}</a> &nbsp;&nbsp;
    </div>
</div>
