{% load humanize %}
<div id="header">
    <span id="header-links">
        <a href="http://ieee.org" rel="nofollow" style="float:right"><img src="{{MEDIA_URL}}images/sm-logo.png" width="106" height="32"/></a>
        <span id="tagline">Connecting You to the IEEE Universe of Information</span>
        <span class="header-btns">
            {% if tag %}
                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js"></script> 
                <div class="custom_images addthis_16x16_style">
                    <a class="addthis_button_email"><img src="{{MEDIA_URL}}images/email.png" width="24" height="24" border="0" alt="Email" /></a>
                    <a class="addthis_button_twitter"><img src="{{MEDIA_URL}}images/twitter.png" width="24" height="24" border="0" alt="Share to Twitter" /></a>
                    <a class="addthis_button_facebook"><img src="{{MEDIA_URL}}images/facebook.png" width="24" height="24" border="0" alt="Share to Facebook" /></a>
                    <a class="addthis_button_linkedin"><img src="{{MEDIA_URL}}images/linkedin.png" width="24" height="24" border="0" alt="Share to LinkedIn" /></a>
                    {% comment %}<a class="addthis_counter addthis_bubble_style"></a>{% endcomment %}
                </div>
            {% endif %}
            {% if user.is_superuser %}<a href="{% url admin_home %}" class="btn admin" rel="nofollow">Admin</a>{% endif %} 
            {% comment %}<a href="http://www.ieee.org/membership_services/membership/join/index.html?WT.mc_id=u_join" class="btn join" target="_self" rel="nofollow">Join IEEE!</a>{% endcomment %}
            <a href="javascript:void(0)" class="btn help" rel="nofollow">Help</a>
        </span>
    </span>
    <div id="header-logo">
        <a href="{{ LOGO_HREF }}" class="home" rel="nofollow">
            <img src="{{MEDIA_URL}}images/technav_banner.png" width="410" height="73"/>
        </a>
        <a href="/tags/all" id="totalTagLink">We cover <span id="totalTagCount">{{ total_tag_count|intcomma  }}</span> topics besides {{ tag.name }}</a> &nbsp;&nbsp;
    </div>
</div>
