{% load humanize filters %}

{% for result in xplore_results %}
    <li>{% spaceless %}
        {% if result.url %}
            <span class="newWinTrigger"><a href="{{ result.url }}" target="_blank" rel="nofollow">
        {% endif %}
        <span class="{% cycle 'item_odd' 'item_even' %}">
            <span class="auto-truncate-words {length:165, flyover:true}">{{ result.name|safe }} ({{ result.count }})</span>
        </span>
        {% if result.url %}
            </a> <span class="popup newWinIcon"></span></span>
        {% endif %}
        {% if user.is_authenticated %}
            <span class="{% if result.is_favorite %}icon-star-whole enabled{% else %}icon-star{% endif %} favorite-author icomoon-icon"
                  data-nodeid="{{ result.ext_id }}" data-rtype="author"
                  title="{% if result.is_favorite %}Remove author from Your Favorites{% else %}Add author to Your Favorites{% endif %}"></span>
        {% else %}
            <span class="deferRegister icon-star icomoon-icon" title="Join IEEE Technology Navigator<br/>to add topic to favorites."></span>
        {% endif %}
    {% endspaceless %}</li>
{% endfor %}
