{% extends 'base_table.html' %}

{% block content %}
    <div id="choose-page">
        <table class="main">
            <tr>
                <td class="left">
                </td>
                <td class="center">
                    
                    <!-- Begin center column -->
                    
                    <div id="header">
                        <img class="leftCorner" src="{{MEDIA_URL}}images/mainTopLeftCorner.gif" width="26" height="67" />
                        <a href="/" class="home"><img class="banner" src="{{MEDIA_URL}}images/ieee_banner.jpg" width="563" height="42" /></a>
                        <img class="rightCorner" src="{{MEDIA_URL}}images/mainTopRightCorner.gif" width="26" height="67" />
                        
                        {% if user %}
                            {% ifequal user.get_profile.role "admin" %}
                                <a href="{% url admin_home %}" class="admin-link">Admin</a>
                            {% endifequal %}
                            {% ifequal user.get_profile.role "society_manager" %}
                                <a href="{% url admin_home %}" class="admin-link">Society Manager Admin</a>
                            {% endifequal %}
                        {% endif %}
                        
                    </div>
                    
                    <div class="center-pad">
                        <br/>
                        <h1>Please choose an interface to start browsing:</h1>
                        <div class="screenshot-container">
                            <h2><a href="{% url roamer %}" style="color:#006699;">Visual Map</a></h2>
                            <a href="{% url roamer %}">
                                <img src="{{MEDIA_URL}}images/screenshot_roamer.png" width="300" height="225" />
                            </a>
                        </div>
                        
                        <div class="screenshot-container">
                            <h2><a href="{% url textui_help %}" style="color:#006699;">Textual</a></h2>
                            <a href="{% url textui_help %}">
                                <img src="{{MEDIA_URL}}images/screenshot_tags.png" width="300" height="229" />
                            </a>
                        </div>
                    </div>
                        
                    <div id="footer">
                        <img class="leftCorner" src="{{MEDIA_URL}}images/mainBottomLeftCorner.png" width="26" height="40" />
                        <img class="rightCorner" src="{{MEDIA_URL}}images/mainBottomRightCorner.png" width="26" height="40" />
                    </div>
                    
                    <!-- End center column -->
                    
                </td>
                <td class="right" rowspan="2">
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
