
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN" "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>IEEE - Technology Navigator Mobile</title>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta http-equiv="Cache-Control" content="no-cache,must-revalidate,no-transform" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; target-densityDpi=medium-dpi; user-scalable=no;"/>
<meta http-equiv="pragma" content="no-cache" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon-precomposed" href="/iphone_icon.png"/>
<link rel="apple-touch-startup-image"  href="/iphone_splash.png">
<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/mobile/default.css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.3.2.js"><\/script>')</script>


<script type="text/javascript" src="{{ MEDIA_URL }}js/mobile/jquery_custom.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/mobile/master.js"></script>
<script type="text/javascript">
	if ('standalone' in navigator && !navigator.standalone && (/iphone|ipod|ipad/gi).test(navigator.platform) && (/Safari/i).test(navigator.appVersion)) {
		document.write('<link rel="stylesheet" href="..\/..\/lib\/iphone.css">');
		document.write('<script type="application\/javascript" src="..\/..\/lib\/js\/iphone.js" charset="utf-8"><\/s' + 'cript>');
	}
</script>
</head>
<body>

<div id="page_wrap">
	
	<div class="logo">
		<a href="/"><img src="{{ MEDIA_URL }}images/mobile/logo.png" alt="IEEE Technology Navigator Mobile" class="center" border="0" /></a>
	</div>
	
	<div class="top_bar">
		<div class="left">
			<a href="https://www.facebook.com/dialog/feed?app_id=348030178564981&link=http://technav.ieee.org/tag/{{ tag.id }}/{{ tag.name|urlencode }}/&name=IEEE TechNav: {{ tag.name|urlencode }}&description=Check out these great resources on {{ tag.name|urlencode }} from the IEEE TechNav&redirect_uri=http://technav.ieee.org/tag/{{ tag.id }}/{{ tag.name|urlencode }}/"><img src="{{ MEDIA_URL }}images/mobile/facebook.png" width="24" /></a>
			<a href="https://twitter.com/share?url=&text=Check out these great resources on {{ tag.name }} from the IEEE TechNav http://technav.ieee.org/tag/{{ tag.id }}/{{ tag.name|urlencode }}/"><img src="{{ MEDIA_URL }}images/mobile/twitter.png" width="24" /></a>
			<a href="mailto:%20?subject=IEEE Resources for {{ tag.name }}&body=Check out these great resources on {{ tag.name }} from the IEEE TechNav http://technav.ieee.org/tag/{{ tag.id }}/{{ tag.name|urlencode }}/"><img src="{{ MEDIA_URL }}images/mobile/email.png" width="24" /></a>
		</div>

		<div class="right">
			<a href="/">&laquo; Back to search</a>
		</div>
	</div>


{% include 'flat_resources_mobile.inc.html' %}

</div>

<div id="share_wrap">
	
	<a id="share_email"><img src="{{ MEDIA_URL }}images/mobile/email.png" style="margin-bottom: 8px;" /></a>

</div>

<script type="text/javascript">
$(document).ready(function() {
	var src;

	$('p.title a').each(function(index) {
		href = $(this).attr('href');
		external_link = '</p><p class="external_link_wrap"><a href="' + href + '" class="external_link">Read more &raquo;</a>';
		$(this).attr('href', 'javascript:;');
	    $(this).html(src);
	    
	    if ($(this).parent().next('p.description').length == 0) {
	    	$(this).parent().next('p.pub-info').append(external_link);
	    } else {
		    $(this).parent().next('p.description').append(external_link);
		}
	}).bind('click', function() {
		$(this).parent().next('p.description').show();
		$(this).parent().next('p.pub-info').show();
	});
});
</script>


<div id="footer">
	<p><a href="/about/">About</a> | <a href="http://technav.ieee.org/?nomobile=1">Full Site</a> | <a href="http://www.ieee.org/">IEEE.org</a> | <a href="http://aptuscollaborative.wufoo.com/forms/ieee-technology-navigator-feedback/">Feedback</a></p>
	© {% now "Y" %} IEEE - All Rights Reserved.
</div>

</body>
</html>
