
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN" "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>IEEE - Technology Navigator Mobile</title>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta http-equiv="Cache-Control" content="no-cache,must-revalidate,no-transform" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; target-densityDpi=medium-dpi; user-scalable=no;"/>
<meta http-equiv="pragma" content="no-cache" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon-precomposed" href="/iphone_icon.png"/>
<link rel="apple-touch-startup-image"  href="/iphone_splash.png">
<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/mobile/default.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/icomoon-style.css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.3.2.js"><\/script>')</script>


<script type="text/javascript" src="{{ MEDIA_URL }}js/mobile/jquery_custom.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/mobile/master.js"></script>
<script type="text/javascript">
	if ('standalone' in navigator && !navigator.standalone && (/iphone|ipod|ipad/gi).test(navigator.platform) && (/Safari/i).test(navigator.appVersion)) {
		document.write('<link rel="stylesheet" href="..\/..\/lib\/iphone.css">');
		document.write('<script type="application\/javascript" src="..\/..\/lib\/js\/iphone.js" charset="utf-8"><\/s' + 'cript>');
	}
</script>
</head>
<body>

<div id="page_wrap">
	
	<div class="logo">
		<a href="/"><img src="{{ MEDIA_URL }}images/mobile/logo.png" alt="IEEE Technology Navigator Mobile" class="center" border="0" /></a>
	</div>
	
	<div class="top_bar">
		<div class="left">
			{% spaceless %}
            <a 
                rel="nofollow" 
                href='https://www.facebook.com/dialog/feed?app_id=528098277254889&name={{ tag.name }}&description=Check%20out%20the%20topic%20"{{ tag.name }}"%20at%20IEEE%20Technology%20Navigator%20&link={{ host_info }}/tag/{{ tag.id }}/{{ tag.name|slugify }}&redirect_uri={{ host_info }}&picture=http://www.ieee.org/ucm/groups/public/@ieee/@web/@org/documents/images/42070894.jpg' 
                target="_blank" 
                aria-hidden="true" 
                class="icon-facebook" 
                onClick="_gaq.push(['_trackEvent', 'Social', 'Facebook', '{{ tag.name }}']);">
            </a>
            <a 
                rel="nofollow" 
                href='https://twitter.com/intent/tweet?source=webclient&text=Check%20out%20the%20topic%20"{{ tag.name }}"%20at%20IEEE%20Technology%20Navigator%20{{ host_info }}/tag/{{ tag.id }}/{{ tag.name|slugify }}'
                target="_blank" 
                aria-hidden="true" 
                class="icon-twitter" 
                onClick="_gaq.push(['_trackEvent', 'Social', 'Twitter', '{{ tag.name }}']);">
            </a>
            <a 
                rel="nofollow" 
                href='mailto:?subject={{ tag.name }}&body=Check out the topic "{{ tag.name }}" on IEEE Technology Navigator {{ host_info }}/tag/{{ tag.id }}/{{ tag.name|slugify }}' 
                aria-hidden="true" 
                class="icon-mail" 
                target="_blank" 
                onClick="_gaq.push(['_trackEvent', 'Social', 'Email', '{{ tag.name }}']);">
            </a>
            {% endspaceless %}
		</div>

		<div class="right">
			<a href="/">&laquo; Back to search</a>
		</div>
	</div>


{% include 'flat_resources_mobile.inc.html' %}

</div>

<div id="share_wrap">
	
	<a id="share_email"><img src="{{ MEDIA_URL }}images/mobile/email.png" style="margin-bottom: 8px;" /></a>

</div>

<div id="footer">
	<p>{% comment %}<a href="/about/">About</a> | {% endcomment %}<a href="http://technav.ieee.org/?nomobile=1">Full Site</a> | <a href="http://www.ieee.org/">IEEE.org</a> | <a href="http://aptuscollaborative.wufoo.com/forms/ieee-technology-navigator-feedback/">Feedback</a></p>
	© {% now "Y" %} IEEE - All Rights Reserved.
</div>

</body>
</html>
