<a class="lightbox-close"></a>
<div style="margin-top:-10px">
    <p>
        Thanks for volunteering some time to take a look at the <strong>IEEE Technology Navigator</strong>, releasing at the end of February to all IEEE members and the general public! <strong>Technology Navigator (TechNav)</strong> is a tool that uses engineering and technology concepts to connect you to the rich and ever-evolving base of IEEE content and events.
    </p>
    <p>
        Most of the information you need is contained in the overview video and the contextual help, so we wonʼt ask you to read much here.
    </p>
    <p>
        In order to make the most of your time, weʼve asked you to follow 3 steps to using the TechNav and provide your feedback. This should take about 15 minutes. 
    </p>
    <ol>
        <li>Login with the user name and password included in your invitation email.</li>
        <li>Watch the TechNav overview video.</li>
        <li>Pick one or two of the usage examples provided below and follow them from your perspective and personal expertise. In a limited time, this will be more effective than taking a general “look around the tool”.</li>
        <li>Complete the survey linked from the green button at the bottom of the TechNav screen.</li>
    </ol>
    <p>
        <strong>Example Use Cases</strong>
    </p>
    <ul>
        <li>Find a Conference to Attend: navigate through technology concepts and their relationship to each other to ﬁnd a conference that is relevant to your work that you werenʼt speciﬁcally aware of.</li> 
        <li>Discover relevant society/ies to join: Discover one or more society that is related to technology concepts you are interested in, where you are not already a member.</li>
        <li>Get up to speed on a technology area: ﬁnd a technology concept and related concepts that is new but relevant to you, and review linked resources to gain a general understanding of the current and upcoming research.</li> 
        <li>Explore published work: pick a technology concept relevant to you, and explore standards and XPlore articles related to the concept.</li>
    </ul>
    <p>
        Please send us any additional comments to <a href="mailto:technav@ieee.org">technav@ieee.org</a>. Thanks again for your time!
    </p>
</div>