
{# This page is loaded into the textui tags DIV when the page is first loaded #}

<script type="text/javascript">
    attachScripts($("#help-container"));
</script>

<table id="help-container" cellpadding="0" cellspacing="0">
    <tr id="help-top-row">
        <td>
            <div id="help-panel-left">&nbsp;</div>
        </td>
        <td>
            <div id="help-panel-right">&nbsp;</div>
        </td>
    </tr>
    <tr id="help-btm-row">
        <td>
            <div id="help-panel-left-btm">&nbsp;</div>
        </td>
        <td>
            <div id="help-overview-link">
                <div id="overview-video-link">
                    <a href="{% url ajax_video %}" class="lightbox {customClass: 'overview-video'}"><img src='{{ MEDIA_URL}}images/video-still.png' alt="IEEE Video Still" style="width: 223px; height: 125px;" /><br /><span class="lightbox {customClass: 'overview-video'}">Watch Overview Video</span></a>
                </div>
            </div>
        </td>
    </tr>
</table>

