{% extends 'base.html' %}

{% block extra_head %}
    <script type="text/javascript">
        
        var start, end;
        var tags_callback = null;
        
        $(function() {
            
            // NOTE: .change() doesn't fire in IE till the checkbox loses focus, must use 'propertychange' for IE.
            $('#show-clusters').bind($.browser.msie ? 'propertychange': 'change', function() {
                Tags.updateResults();
                $.cookie('show_clusters', this.checked, { expires: 100 });
            });
            
            $('#show-terms').bind($.browser.msie ? 'propertychange': 'change', function() {
                Tags.updateResults();
                $.cookie('show_terms', this.checked, { expires: 100 });
            });
            
            start = new Date();
            log('Starting at ' + start);
            
            var tagGalaxyWidth = $('#tag-galaxy').width();
            $('#tag-help-box').css('width', tagGalaxyWidth - 5);
            
            var resizeTagGalaxy = function() {
                
                var windowHeight = $(window).height();
                var tagBoxHeight = $('#tag-help-box').height();
                var tagGalaxyWidth = $('#tag-galaxy').width();
                var navTabsHeight = $('#galaxy-tabs .nootabs-menu').eq(0).height();
                var tagCountsHeight = $('#tag-counts').outerHeight();
                
                if ($('#tag-help-box').is(':visible')) {
                    //Set nav height to match main window
                    $('div#sectors-tab, div#societies-tab').css('min-height', 633 - navTabsHeight);
                    //Set nav height for when help box is visible
                    $('div#sectors-tab, div#societies-tab').css('height', windowHeight - 146 - navTabsHeight);
                } else {
                    //Set nav min-height to match main window (should match textui.js hideHelpBox function)
                    $('div#sectors-tab, div#societies-tab').css('min-height', 437 - navTabsHeight);
                    //Set nav height to match main window (should match textui.js hideHelpBox function)
                    $('div#sectors-tab, div#societies-tab').css('height', windowHeight - 343 - navTabsHeight);
                };
                
                //Set height for main window on initial load
                $('div#tag-galaxy').css('height', windowHeight - tagBoxHeight - 180 - tagCountsHeight);
                
                //Set width for help box
                $('#tag-help-box').css('width', tagGalaxyWidth - 19);
            };
            
            resizeTagGalaxy();
            $(window).resize(resizeTagGalaxy).resize(resizeLightboxTab);
            $(document).bind('onShowLightboxTab', resizeLightboxTab);
            
            // Attach event to tags-search clear button.
            $('#textui-tags-search-clear').click(function() {
                Tags.clearSearchResults();
                $("#tags-live-search").focus();
            });
            
            $("#textui-tags-search-clear").hover(function(){
                $("#tags-live-search").addClass("textui-tags-search-clear-hover");
            }, function(){ 
                $("#tags-live-search").removeClass("textui-tags-search-clear-hover");
            });
            
            // Attach the zoom slider.
            $("#textui-zoom-slider").slider({
                min: 50,
                max: 150,
                value: 100,
                orientation: 'vertical',
                slide: function(e, ui) {
                    $('#textui-zoom-value').text(ui.value + '%');
                },
                change: function(e, ui) {
                    $('#textui-zoom-value').text(ui.value + '%');
                    Tags.updateZoom();
                }    
            });
            
            // Attach event to default-zoom image.
            $('#textui-zoom-default-zoom').click(function() {
                $('#textui-zoom-slider').slider('value', 100);
            });
            
            /*
            function callback() {
                // This should execute when the new data is loaded and the zoom is done.
                log('Done!');
                end = new Date();
                log('Ending at ' + end);
                var elapsed = (end - start) / 1000;
                log('Elapsed ' + elapsed);
                //alert('Elapsed ' + elapsed);
                
                
                $.post(
                    '/ajax/profile_log'
                    , {
                        url: '{{ current_url }}'
                        , elapsed_time: elapsed
                    }
                );
                
                tags_callback = null;
            }
            
            tags_callback = callback;
            */
            
            var show_clusters = $.cookie('show_clusters');
            if (show_clusters == null) {
                // Set the default.
                show_clusters = true;
                $.cookie('show_clusters', show_clusters, { expires: 100 });
            } else {
                show_clusters = (show_clusters == 'true')
            }
            $('#show-clusters').attr('checked', show_clusters);
            
            var show_terms = $.cookie('show_terms');
            if (show_terms == null) {
                // Set the default.
                show_terms = true;
                $.cookie('show_terms', show_terms, { expires: 100 });
            } else {
                show_terms = (show_terms == 'true')
            }
            $('#show-terms').attr('checked', show_terms);
            
            Tags.init();
        });
    </script>
{% endblock %}

{% block content %}
    <div id="alternate-page">
                    
        <div class="center-pad">
                        
        <!-- Navigation links -->
            <div id="left-column">
                <span class="feature_label">Navigate by:</span>
                <div id="left-column-container" class="{ useCookies:false, useHash:false }">
                    <ul id="galaxy-tabs" class="nootabs-menus">
                        <li><a href="">Industry Sector</a></li>
                        <li class="last-menu"><a href="">IEEE Organization</a></li>
                        <li style="display:none;"><a href="">&nbsp;</a></li> {# used to compensate for filters div #}
                    </ul>
                    <div id="sectors-tab" class="sectors-vert-box">
                        <ul id="sectors">
                            <li id="sector-list-item-all"><a href="javascript:Tags.selectSector('all');">All Industry Sectors</a></li>                        
                            {% for sector in sectors %}
                                <li id="sector-list-item-{{ sector.id }}"><a href="javascript:Tags.selectSector({{ sector.id }});">{{ sector.name }}</a></li>
                                {% endfor %}
                        </ul>
                    </div>
                    <div id="societies-tab">
                        <ul id="societies">
                            <li id="society-list-item-all"><a href="javascript:Tags.selectSociety('all');">All IEEE Organizations</a></li>                         
                            {% for society in societies %}
                                <li id="society-list-item-{{ society.id }}"><a href="javascript:Tags.selectSociety({{ society.id }});">{{ society.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                                
                    {# NOTE: Filters are hidden from end-user for now, but must still exist on page for JS to function #}
                        <div style="display:none;">
                            <!-- Filters -->
                            <h2 class="feature_label">View Filters:</h2>
                            <div class="filters-vert-box alt-box">
                                <ul id="views">
                                    {% for filter in filters %}
                                        <li id="{{filter.value}}_highlight" class="filter_background">
                                            <input id="{{filter.value}}" value="{{filter.value}}" type="checkbox" onclick="Tags.refresh();" class="filter highlight-checkbox { highlightElem: '#{{filter.value}}_highlight' }" checked="checked" />
                                            <label for="{{filter.value}}">{{filter.name}}</label>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div> 
                        </div>
                    </div>
                </div>
                        
                <div id="right-column">
                    <div id="frequencybar-tags">
                        {% comment %}
                            # NOTE: We are hiding the word Key for now, will appear in galaxy help page
                            <div id="galaxy-key">
                                <span id="key-label">Key:</span>
                                <table id="tag-model-indicator">
                                    <tr>
                                        <td>
                                            <span class="flyover helpbracket" id="tag-model-indicator-helpico" title="Color coding reflecting the # of each of the 3 variables to the right">[?]</span>
                                        </td>
                                    </tr>
                                </table>
                                <table id="tag-model-left">
                                    <tr>
                                        <td>
                                            # of Resources 
                                        </td>
                                        <td>
                                            <span class="flyover helpbracket" title="The number of IEEE products or services mapped to this tag" style="margin-right: 3px;">[?]</span><img src="/media/images/arrow-right.png" class="tag-model-arrow" />
                                        </td>
                                    </tr>
                                </table>
                                <img style="margin-top:-4px;" src="/media/images/model-tag-simplified.png"/>
                            </div>
                        {% endcomment %}
                        
                        <div id="connectedness-container">
                            <span id="frequency-indicator"><span class="small">Few</span>&nbsp;&#8592;&nbsp;Linkages&nbsp;&#8594;&nbsp;<span class="small">Many</span></span>
                            <span id="connectedness-help" class="helpicon flyover {width:300}" title="A tag's color shows how linked it is within Technology Navigator to other tags, industry sectors, IEEE societies, and IEEE resources.">&nbsp;</span>
                        </div>
                            
                        <div id="textui-tags-search">
                            <div style="float:left">
                                <span class="feature_label">Show items containing:</span>
                                <input id="tags-live-search" class="live-search { use_tags_callback: true }" />
                                <span id="textui-tags-search-clear">&nbsp;</span>
                            </div>
                        </div>
                            
                        <div id="sortContainer_outter">
                            <div id="sortContainer_inner">
                                <span>&nbsp;</span>
                                <ul id="sortSelect_options" class="customSelectList">
                                    <li data-value="connectedness"><span>Linkages</span></li>
                                    {% comment %}
                                    #    TODO: Re-enable clusters
                                    #    <li data-value="clusters_first_alpha"><span>Clusters First</span></li>
                                    {% endcomment %}
                                    <li data-value="alphabetical"><span>Alphabetical</span></li>
                                    <li data-value="frequency" ><span>Resources</span></li>
                                    <li data-value="num_sectors"><span>Industry Sectors</span></li>
                                    <li data-value="num_related_tags"><span>Related Tags</span></li>
                                    <li data-value="num_societies"><span>IEEE Organizations</span></li>
                                </ul>
                            </div>
                            <span id="sortSelect" class="customSelectContainer" tabindex="0">
                                <span class="selected"></span>
                                <span class="dropIcon" style="float:right;"></span>
                            </span>
                        </div>
                    </div>
                    
                    <div id="textui-zoom-container">
                        <div id="textui-zoom-slider"></div>
                        <div id="textui-zoom-value">100%</div>
                        <span id="textui-zoom-default-zoom" style="display:none">Reset</span>
                    </div>
                    
                    <div id="tag-help-box">
                        <div id="help-col-left" class="help-col">
                            <table><tr>
                                <td class="help-arrow-container"><img src="{{MEDIA_URL}}images/help-arrow.png"/></td>
                                <td>A tag's color shows how linked it is to industry sectors, to other tags, and to IEEE resources.</td>
                            </tr></table>
                            <div>
                                <table><tr>
                                    <td class="help-arrow-container"><img src="{{MEDIA_URL}}images/help-arrow-left.png"/></td>
                                    <td>Browse technology concepts (tags), Industry Sector or IEEE Organization. The matching tags will then appear below.</td>
                                </tr></table>
                            </div>
                        </div>
                        <div id="help-col-mid" class="help-col">
                            <table><tr>
                                <td class="help-arrow-container"><img src="{{MEDIA_URL}}images/help-arrow.png"/></td>
                                <td>Narrow the results by searching for tags that contain your keyword.</td>
                            </tr></table>
                            <div id="links-help-box">
                                <div style="text-align:left">
                                    <span id="link-video">
                                        <a id="video-image-link" href="{% url ajax_video %}" class="lightbox {customClass: 'overview-video'}"><span id="video-icon"></span></a>
                                        <a id="video-link" href="{% url ajax_video %}" class="lightbox {customClass: 'overview-video'}">Watch Overview Video</a>
                                    </span>
                                    <br/>
                                    <span id="link-help">
                                        <a id="help-image-link" href="http://help.technav.systemicist.com/forums" target="zendesk"><span id="help-icon"></span></a>
                                        <a id="help-link" href="http://help.technav.systemicist.com/forums" target="zendesk">Get More Help</a>
                                    </span>
                                    <br/><a id="welcome-link" href="{% url ajax_welcome %}" class="lightbox {customClass: 'welcome-panels'}" style="color:#FFFFFF">Welcome Panels</a>
                                </div>
                            </div>
                        </div>
                        <div id="help-col-right" class="help-col">
                            <table><tr>
                                <td>Order tags by alpha, overall linkages, or more detailed statistics.</td>
                                <td class="help-arrow-container-right"><img src="{{MEDIA_URL}}images/help-arrow.png" style="padding-left:5px"/></td>
                            </tr></table>
                            <div style="padding-top:28px">
                                <table><tr>
                                    <td>Zoom in or out to see more or fewer tags at once.</td>
                                    <td class="help-arrow-container-right"><img src="{{MEDIA_URL}}images/help-arrow-right.png" style="padding-left:5px"/></td>
                                </tr></table>
                            </div>
                            <div id="hide-help-box" style="padding-top:36px;margin-bottom:-7px">
                                <div class="close-help" id="help-close-button">Hide</div> 
                                <div class="close-help" id="no-show-box">Hide and don't show again</div>
                            </div>
                        </div>
                    </div>
                    
                    <div id="misc-bar">
                        <div id="tag-counts">
                        </div>
                        
                        <p id="show-clusters-terms-box">
                            {% if ENABLE_SHOW_CLUSTERS_CHECKBOX %}
                                <input id="show-clusters" type="checkbox" /> <label for="show-clusters">Show Clusters</label>
                            {% endif %}
                            
                            {% if ENABLE_SHOW_TERMS_CHECKBOX %}
                                <input id="show-terms" type="checkbox" /> <label for="show-terms">Show Terms</label>
                            {% endif %}
                        </p>
                        
                        <br style="clear:both;" />
                    </div>
                    
                    <div id="tag-galaxy" class="alt-box">
                        
                        <!-- NOTE: This is only used by javascript to get the default height/padding/margin/etc. -->
                        <div id="default-height-tag" class="node tag_cluster">
                            <a href="">
                                <img src="/media/images/icon_cluster_sm.png" class="cluster-icon" />
                                Test Node
                            </a>
                        </div>
                        
                        <div id="tags" class="alt-box-pad">
                        </div>
                    </div>
                    
                </div>
                <!-- end of right-column -->
            </div>
        </div>
    
{% endblock %}

