{% extends 'base.html' %}

{% block extra_head %}
    <script type="text/javascript">
        $(function() {
            
            var navTabsHeight = $('#galaxy-tabs .nootabs-menu').eq(0).height();
            $('div#sectors-tab, div#societies-tab').css('min-height', 441-navTabsHeight);
            
            var onWindowResize = function() {
                
                var windowHeight = $(window).height();
                
                $('div#sectors-tab, div#societies-tab').css('height', windowHeight - 180 - navTabsHeight);
                $('div#tag-galaxy').css('height', windowHeight - 180);
            };
            
            var resizeLightboxTab = function() {
                var windowHeight = $(window).height();
                $('.resources-lightbox-content').css('height', windowHeight - 200);
                $('#resource-tabs .nootabs-selected-tab').css('height', windowHeight - 320);
                $('.nootabs-selected-tab div.group').css('height', windowHeight - 350);
            }
            resizeTagGalaxy();
            $(window).resize(resizeTagGalaxy).resize(resizeLightboxTab);
            $(document).bind('onShowLightboxTab', resizeLightboxTab);
            
			// Attach event to tags-search clear button.
			$('#textui-tags-search-clear').click(function() {
				Tags.clearSearchResults();
			});
			
			// Attach the zoom slider.
			$("#textui-zoom-slider").slider({
				min: 50,
				max: 150,
				value: 100,
				orientation: 'vertical',
				slide: function(e, ui) {
					$('#textui-zoom-value').text(ui.value + '%');
				},
				change: function(e, ui) {
					$('#textui-zoom-value').text(ui.value + '%');
					Tags.updateZoom();
				}	
			});
            
            // Attach event to default-zoom image.
			$('#textui-zoom-default-zoom').click(function() {
				$('#textui-zoom-slider').slider('value', 100);
			});
            
            Tags.init();
        });
    </script>
{% endblock %}

{% block content %}
    <div id="alternate-page" class="textui-page">
        <table class="main alternate-page">
            <tr>
                <td class="left">
                </td>
                <td class="center">
                    
                    <!-- Begin center column -->
                    
                    <div id="page-min-width"></div>
                    
                    <div id="header">
                        <img class="leftCorner" src="{{MEDIA_URL}}images/mainTopLeftCorner.gif" width="26" height="67" />
                        <a href="javascript:Tags.clearSectorSociety();" class="home"><img class="left-banner" src="{{MEDIA_URL}}images/technav_banner.png" width="139" height="57" /></a>
                        <span id="tagline">Connecting You to the IEEE Universe of Information</span>
                        <span id="links">
                            {% if user %}
                            <p class="admin-links">                                
                                {% ifequal user.get_profile.role "admin" %}
                                    <a href="{% url admin_home %}">Admin</a> |
                                {% endifequal %}
                                {% ifequal user.get_profile.role "society_admin" %}
                                    <a href="{% url admin_home %}">Society Admin</a> |
                                {% endifequal %}
                                {% ifequal user.get_profile.role "society_manager" %}
                                    <a href="{% url admin_home %}">Society Manager</a> |
                                {% endifequal %}
                                <a href="{{ EXTERNAL_HELP_URL }}" target="zendesk">Help</a> |
                                <a href="{% url admin_logout %}">Logout</a>
                            </p>
                            {% endif %}
                        </span>
                        <a href="javascript:Tags.clearSectorSociety();" class="home"><img class="right-banner" src="{{MEDIA_URL}}images/ieee_banner.png" width="95" height="28" /></a>
                        <img class="rightCorner" src="{{MEDIA_URL}}images/mainTopRightCorner.gif" width="26" height="67" />
                    </div>
                    
                    <div class="center-pad">
                        
                        <!-- Navigation links -->
                        <div id="left-column">
                            <span id="homeico-tags"><a href="javascript:Tags.clearSectorSociety()"><img src="{{MEDIA_URL}}images/home_icon.png" alt="home" height="18" /></a></span>
                            <h2 class="feature_label">Navigate by:</h2>
                            <div id="left-column-container" class="nootabs {useCookies:false, useHash:false}">
                                <ul id="galaxy-tabs" class="nootabs-menus">
                                    <li><a href="">Industry Sector</a></li>
                                    <li class="last-menu"><a href="">IEEE Society</a></li>
                                    <li style="display:none;"><a href="">&nbsp;</a></li> {# used to compensate for filters div #}
                                </ul>
                                <div id="sectors-tab" class="sectors-vert-box">
                                    <ul id="sectors">                                        
                                        {% for sector in sectors %}
                                            <li id="sector-list-item-{{ sector.id }}"><a href="javascript:Tags.selectSector({{ sector.id }});">{{ sector.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div id="societies-tab">
                                    <ul id="societies">                                        
                                        {% for society in societies %}
                                            <li id="society-list-item-{{ society.id }}"><a href="javascript:Tags.selectSociety({{ society.id }});">{{ society.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                
                                {# NOTE: Filters are hidden from end-user for now, but must still exist on page for JS to function #}
                                <div style="display:none;">
                                    <!-- Filters -->
                                    <h2 class="feature_label">View Filters:</h2>
                                    <div class="filters-vert-box alt-box">
                                        <ul id="views">
                                            {% for filter in filters %}
                                                <li id="{{filter.value}}_highlight" class="filter_background">
                                                    <input id="{{filter.value}}" value="{{filter.value}}" type="checkbox" onclick="Tags.refresh();" class="filter highlight-checkbox { highlightElem: '#{{filter.value}}_highlight' }" checked="checked" />
                                                    <label for="{{filter.value}}">{{filter.name}}</label>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        
                        <div id="right-column">
                            <div id="frequencybar-tags">
                                <div id="galaxy-key">
                                    {% comment %} We are hiding the word Key for now, will appear in galaxy help page
                                    #<span id="key-label">Key:</span>
                                    {% endcomment %}
                                    {% comment %}
                                    #<table id="tag-model-indicator">
                                    #    <tr>
                                    #        <td>
                                    #            <span class="flyover helpbracket" id="tag-model-indicator-helpico" title="Color coding reflecting the # of each of the 3 variables to the right">[?]</span>
                                    #        </td>
                                    #    </tr>
                                    #</table>
                                    #
                                    #    <table id="tag-model-left">
                                    #        <tr>
                                    #            <td>
                                    #                # of Resources 
                                    #            </td>
                                    #            <td>
                                    #                <span class="flyover helpbracket" title="The number of IEEE products or services mapped to this tag" style="margin-right: 3px;">[?]</span><img src="/media/images/arrow-right.png" class="tag-model-arrow" />
                                    #            </td>
                                    #        </tr>
                                    #    </table>
                                    {% endcomment %}
                                    {% if ENABLE_TEXTUI_SIMPLIFIED_COLORS %}
                                    {% comment %}
                                    #    <img style="margin-top:-4px;" src="/media/images/model-tag-simplified.png"/>
                                    {% endcomment %}
                                    {% else %}
                                        <img style="margin-top:-4px;" src="/media/images/model-tag.png"/>
                                        <span id="tag-model-right">
                                            <ul style="line-height:10px;">
                                                <li><img class="tag-model-rightarrow" src="/media/images/arrow-left.png"/># of Sectors <span class="flyover helpbracket" style="height:12px; font-size:1em;" title="The number of sectors that this tag is associated with">[?]</span></li>
                                                <li><img class="tag-model-rightarrow" src="/media/images/arrow-left.png"/># of Related Tags <span class="flyover helpbracket" style="height:12px; font-size:1em;" title="The number of tags that are related concepts or technology areas">[?]</span></li>
                                            </ul>
                                        </span>
                                    {% endif %}
                                        <!-- TODO: Enable live tag count -->
                                        <!--
                                        <h2 style="float: left;">42 Tags</h2>  
                                        -->
                                    </div>
                                    
                                    <div id="textui-tags-search">
                                        <span class="feature_label">Show tags that contain:</span>
                                        <input id="tags-live-search" class="live-search { use_tags_callback: true }" /><span id="textui-tags-search-clear">&nbsp;</span>
                                    </div>
                                    
                                    <div id="sortmenu" class="feature_label">
                                        Sort by:
                                        <select id="tag-sort" onchange="Tags.updateSort();">
                                            <option value="alphabetical">Alphabetical</option>
                                            {% if ENABLE_TEXTUI_SIMPLIFIED_COLORS %}
                                                <option value="connectedness">Most Connectedness</option>
                                            {% endif %}

											{% comment %}
											#TODO: Re-enable clusters
                                            #<option value="clusters_first_alpha">Clusters First</option>
											{% endcomment %}
											
                                            <option value="frequency">Most Resources</option>
                                            <option value="num_sectors">Most Sectors</option>
                                            <option value="num_related_tags">Most Related Tags</option>
                                            <option value="num_societies">Most Societies</option>
                                        </select>
                                    </div>
                                    
                                <br style="clear: both;" />
                            </div>    
                            
                            <div id="textui-zoom-container">
                                <div id="textui-zoom-slider"></div>
                                <div id="textui-zoom-value">100%</div>
                                <span id="textui-zoom-default-zoom">Reset</span>
                            </div>
                            
							<div id="tag-galaxy" class="alt-box">
                                <div id="tags" class="alt-box-pad">
                                </div>
                            </div>
                            
                        </div>
                        <!-- end of right-column -->
                    </div>
                    
                    <div id="footer">
                         <div id="connectedness-container">
                            <span id="connectedness" class="feature_label">Connectedness:</span>
                            <span id="frequency-indicator"><img src="/media/images/frequency-bar.png"/></span>
                            <span id="connectedness-help" class="helpicon flyover {width:300}" title="A tag's color shows how connected it is to industry sectors, to IEEE societies, to other tags, and to IEEE resources.">&nbsp;</span>
                        </div>
                        <div id="textswitchlink-container">
                            <a id="switch-link" class="floating textui-switch" href="{% url roamer %}">Visual Map Interface (Beta)</a>
                        </div>

                        <div class="survey-button">
                            <a id="feedback-link" href="{% url feedback %}" class="floating lightbox { customClass:'feedback' }">&nbsp;</a>
                        </div>
                        
                        <img class="leftCorner" src="{{MEDIA_URL}}images/mainBottomLeftCorner.png" width="26" height="40" />
                        <img class="rightCorner" src="{{MEDIA_URL}}images/mainBottomRightCorner.png" width="26" height="40" />
                    </div>
                    
                    <!-- End center column -->
                    
                </td>
                <td class="right" rowspan="2">
                </td>
            </tr>
        </table>
        
    </div>
    
{% endblock %}

