 {% extends 'base.html' %}

{% block extra_head %}
    <script type="text/javascript">
        $(function() {
            Tags.init();
            {% if tagId %}
                Tags.selectSector({{sectorId}}, function(){Tags.selectTag({{tagId}});} );
            {% else %}
                {% if sectorId %}
                    Tags.selectSector({{sectorId}});
                {% else %}
                    {% if clusterId %}
                        Tags.selectCluster({{ clusterId }});
                    {% endif %}
                {% endif %}
            {% endif %}
            
            //Tags.showHelp();
        });
    </script>
{% endblock %}

{% block content %}
    <div id="alternate-page" class="textui-page">
        <table class="main alternate-page">
            <tr>
                <td class="left">
                </td>
                <td class="center">
                    
                    <!-- Begin center column -->
                    
                    <div id="page-min-width"></div>
                    
                    <div id="header">
                        <img class="leftCorner" src="{{MEDIA_URL}}images/mainTopLeftCorner.gif" width="26" height="67" />
                        <a href="/" class="home"><img class="banner" src="{{MEDIA_URL}}images/ieee_banner.jpg" width="563" height="42" /></a>
                        
                        <a id="switch-link" class="floating" href="{% url roamer %}">
                            <img src="{{MEDIA_URL}}images/roamer_icon.png"/>
                            Switch to<br/>
                            Visual Map Interface (Beta)
                        </a>
                        
                        <img class="rightCorner" src="{{MEDIA_URL}}images/mainTopRightCorner.gif" width="26" height="67" />
                    </div>
                    
                    <div class="center-pad">
                        
                        <!-- Navigation links -->
                        <div id="left-column">
                            <h2>Choose Sector:</h2>
                            <div id="left-column-container">  
                            
                                <div class="sectors-vert-box alt-box">
                                    <ul id="sectors">                                        
                                        {% for sector in sectors %}
                                            <li id="sector-list-item-{{ sector.id }}"><a href="javascript:Tags.selectSector({{sector.id}});">{{sector.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                
                                <!-- Filters --> 
                                <h2>View Filters:</h2>
                                <div class="filters-vert-box alt-box">
                                    <ul id="views">
                                        {% for filter in filters %}
                                            <li id="{{filter.value}}_highlight" class="filter_background">
                                                <input id="{{filter.value}}" value="{{filter.value}}" type="checkbox" onclick="Tags.refresh();" class="filter highlight-checkbox { highlightElem: '#{{filter.value}}_highlight' }" checked="checked" />
                                                <label for="{{filter.value}}">{{filter.name}}</label>
                                            </li>
                                        {% endfor %}
                                    </ul>
                               </div> 
                            </div>
                        </div>
                    
                        <div id="right-column">
                            <div id="frequencybar-tags">
                                <div id="galaxy-key">
                                    {% comment %}
                                    <span id="homeico-tags"><a href="javascript:Tags.showHelp();"><img src="{{MEDIA_URL}}images/home_icon.png" alt="home" height="18" /></a></span>
                                    {% endcomment %}
                                        {% comment %} We are hiding the word Key for now, will appear in galaxy help page
                                        <span id="key-label">Key:</span>
                                        {% endcomment %}
                                        <span id="frequency-indicator"><img src="/media/images/frequency-bar.png"/></span>
                                        <table id="tag-model-indicator">
                                            <tr>
                                                <td>
                                                    <span class="flyover helpbracket" id="tag-model-indicator-helpico" title="Color coding reflecting the # of each of the 3 variables to the right">[?]</span>
                                                </td>
                                            </tr>
                                        </table>
                                            <table id="tag-model-left">
                                                <tr>
                                                    <td>
                                                        # of Resources 
                                                    </td>
                                                    <td>
                                                        <span class="flyover helpbracket" title="The number of IEEE products or services mapped to this tag" style="margin-right: 3px;">[?]</span><img src="/media/images/arrow-right.png" class="tag-model-arrow" />
                                                    </td>
                                                </tr>
                                            </table>
                                        
                                        {% if ENABLE_TEXTUI_SIMPLIFIED_COLORS %}
                                            <img style="margin-top:-4px;" src="/media/images/model-tag-simplified.png"/>
                                        {% else %}
                                            <img style="margin-top:-4px;" src="/media/images/model-tag.png"/>
                                            <span id="tag-model-right">
                                                <ul style="line-height:10px;">
                                                    <li><img class="tag-model-rightarrow" src="/media/images/arrow-left.png"/># of Sectors <span class="flyover helpbracket" style="height:12px; font-size:1em;" title="The number of sectors that this tag is associated with">[?]</span></li>
                                                    <li><img class="tag-model-rightarrow" src="/media/images/arrow-left.png"/># of Related Tags <span class="flyover helpbracket" style="height:12px; font-size:1em;" title="The number of tags that are related concepts or technology areas">[?]</span></li>
                                                </ul>
                                            </span>
                                        {% endif %}
                                        
                                        <!-- TODO: Enable live tag count -->
                                        <!--
                                        <h2 style="float: left;">42 Tags</h2>  
                                        -->
                                    </div>
                                    <div id="sortmenu">
                                        Sort by:
                                        <select id="tag-sort" onchange="Tags.selectSector();">
                                            <option value="alphabetical">Alphabetical</option>

											{% comment %}
											#TODO: Re-enable clusters
                                            #<option value="clusters_first_alpha">Clusters First</option>
											{% endcomment %}
											
                                            <option value="frequency">Frequency</option>
                                            <option value="num_sectors"># Sectors</option>
                                            <option value="num_related_tags"># Related Tags</option>
                                        </select>
                                    </div>
                                <br style="clear: both;" />
                            </div>    
                            
                            <div id="tag-galaxy" class="alt-box" style="height: 100%;">
                                <div id="tags" class="alt-box-pad">
                                </div>
                            </div>
                        
                        </div>
                            <div class="ui-footer">
                                <div class="feedback-bar">
                                    Comments, Suggestions? <a href="{% url feedback %}" class="lightbox">Send Feedback</a>
                                </div>
                                
                                {% if user %}
                                    <p class="admin-links">
                                        {% ifequal user.get_profile.role "admin" %}
                                            <a href="{% url admin_home %}">Admin</a> |
                                        {% endifequal %}
                                        {% ifequal user.get_profile.role "society_admin" %}
                                            <a href="{% url admin_home %}">Society Admin</a> |
                                        {% endifequal %}
                                        {% ifequal user.get_profile.role "society_manager" %}
                                            <a href="{% url admin_home %}">Society Manager</a> |
                                        {% endifequal %}
                                        <a href="{% url admin_logout %}">Logout</a>
                                    </p>
                                {% endif %}
                            </div>
                    
                    </div>
                    
                    <div id="footer">
                        <img class="leftCorner" src="{{MEDIA_URL}}images/mainBottomLeftCorner.png" width="26" height="40" />
                        <img class="rightCorner" src="{{MEDIA_URL}}images/mainBottomRightCorner.png" width="26" height="40" />
                    </div>
                    
                    <!-- End center column -->
                    
                </td>
                <td class="right" rowspan="2">
                </td>
            </tr>
        </table>
        
    </div>
    
{% endblock %}

