
{# This page is loaded into the textui tags DIV when the page is first loaded #}
<div id="home-container">
    <table style="width: 100%">
        <tr>
            <td>
                &nbsp;
            </td>
            <td id="home-stepconnect-cell">
                A tag's color denotes the extent to which it is connected to sectors, to resources, as well as to other tags.
            </td>
            <td id="home-stepsort-cell">
                Sort the tags alphabetically or by their "connectedness".
            </td>
        </tr>
        <tr>
            <td id="home-stepstart-arrow" class="home-leftarrow-cell">
                &nbsp;
            </td>
            <td id="home-stepstart-cell">
                <span id="start">Start here.</span> Choose an industry sector. The sector's tags will appear in this window.
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td id="home-stepfilter-arrow" class="home-leftarrow-cell">
                &nbsp;
            </td>
            <td id="home-stepfilter-cell">
                Narrow the tags down by adding and removing filters.
            </td>
            <td id="home-titletag-cell">
                <span id="title">Technology Navigator</span><br />
                <span id="tag">helps you discover connections across IEEE's universe of information.</span>
            </td>
        </tr>
</div>

