
{% block content %}
    <div class="node-tooltip">
        <h3 class="{{ tagLevel }}">{{ tag.name }}</h3>
        <table class="node-tooltip-grid">
            {% comment %}
            #<tr>
            #    <td class="filter-block">
            #        Filters:
            #    </td>
            #    <td class="tooltip-filters">
            #        {% for filter in tag.filters.all %}
            #            {{ filter.name }}{% if not forloop.last %}, {% endif %}
            #        {% endfor %}
            #    </td>
            #</tr>
            {% endcomment %}
            <tr>
                <td>
                    <a href="javascript:void(0){% comment %}javascript:Tags.selectTag({{tag.id}}, 'sector-tab');{% endcomment %}" rel="nofollow" style="cursor:default">
                        <table class="sector-block vert-center">
                            <tr>
                                <td class="{{sectorLevel}}">
                                    Industry Topics
                                </td>
                            </tr>
                        </table>
                    </a>
                </td>
                <td>
                    {{ sectors|safe }}
                </td>
            </tr>
            <tr>
                <td>
                    <a href="javascript:Tags.selectTag({{tag.id}}, 'society-tab');" rel="nofollow">
                        <table class="societies-block vert-center">
                            <tr>
                                <td class="{{societyLevel}}">
                                    IEEE<br/>Orgs
                                </td>
                            </tr>
                        </table>
                    </a>
                </td>
                <td>
                    {{ societies|safe }}
                </td>
            </tr>
            <tr>
                <td>
                    <a href="javascript:Tags.selectTag({{tag.id}}, 'related-tab');" rel="nofollow">
                        <table class="related-tags-block vert-center">
                            <tr>
                                <td class="{{relatedTagLevel}}">
                                    Related Topics
                                </td>
                            </tr>
                        </table>
                    </a>
                </td>
                <td>
                    {{ related_tags|safe }}
                </td>
            </tr>
        </table>
        <div class="results-links">
            <a href="javascript:Tags.selectTag({{tag.id}});" rel="nofollow">{{ tag.resources.count }} Resource{{tag.resources.count|pluralize}} Tagged "{{ tag.name }}"</a> 
			<a onclick="javascript:window.open('/tag/{{ tag.id }}/{{ tag.name|slugify }}', 'landing');" href="javascript:void(0)" style="text-decoration: none;float:right;" rel="nofollow">*</a>
            {% if showEditLink %}
                <br /><a href="/admin/tag/{{ tag.id }}/edit" rel="nofollow">Edit this Topic</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
