
{% block content %}
    <div class="node-tooltip">
        <h3 class="{{tagLevel}}">{{tag.name}}</h3>
        <table class="node-tooltip-grid">
            <tr>
                <td class="filter-block">
                    Filters:
                </td>
                <td class="tooltip-filters">
                    {% for filter in tag.filters.all %}
                        {{ filter.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    <table class="sector-block vert-center">
                        <tr>
                            <td class="{{sectorLevel}}">
                                Sectors
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    {% for sector in tag.parents.all %}
                        {% ifequal sector tag.parent %}
                            {{sector.name}}
                        {% else %}
                            <a href="{% url textui %}?nodeId={{sector.id}}">{{sector.name}}</a>{% if not forloop.last %}, {% endif %}
                        {% endifequal %}
                        
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    <table class="related-tags-block vert-center">
                        <tr>
                            <td class="{{relatedTagLevel}}">
                                Related Tags
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    {% if not related_tags %}
                        None
                    {% else %}
                        {% for related_tag in related_tags %}
                            <a href="javascript:Tags.selectTag({{ related_tag.id }});">{{ related_tag }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        </table>
        <div class="results-links"><a href="javascript:Tags.selectTag({{tag.id}});">{{ tag.resources.count }} Resource{{tag.resources.count|pluralize}} Tagged "{{ tag.name }}"</a></div>
        
    </div>
{% endblock %}
