
{% block content %}
    <div class="node-tooltip">
        <h3 class="{{ clusterLevel }}">{{ cluster.name }}</h3>

        <table class="node-tooltip-grid">
            <tr>
                <td>
                    <table class="sector-block vert-center">
                        <tr>
                            <td class="no-level">
                                Tags
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    {{ tags|safe }}
                </td>
            </tr>
        </table>
        
        <div class="node-tooltip-details">
            <a href="javascript:Tags.selectCluster({{ cluster.id }}, {{ sector_id|default_if_none:"null" }}, null);">View full details</a>
			<a onclick="javascript:window.open('/cluster/{{ cluster.id }}/{{ cluster.name|slugify }}', 'landing');" href="javascript:void(0)" style="text-decoration: none;float:right;">*</a>
        </div>
    </div>
{% endblock %}
