
{% block content %}
    <div class="node-tooltip">
        <h3 class="{{tagLevel}}">{{tag.name}}</h3>
        <table class="node-tooltip-grid">
            <tr>
                <td>
                    <table class="sector-block vert-center">
                        <tr>
                            <td class="{{sectorLevel}}">
                                Sectors
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    {% for sector in tag.parents.all %}
                        {% ifequal sector tag.parent %}
                            {{sector.name}}
                        {% else %}
                            <a href="{% url textui %}?tagId={{sector.id}}">{{sector.name}}</a>
                        {% endifequal %}
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    <table class="related-tags-block vert-center">
                        <tr>
                            <td class="{{relatedTagLevel}}">
                                Related Tags
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    {% for related_tag in tag.related_tags.all %}
                        <a href="javascript:Tags.selectTag({{ related_tag.id }});">
                            {{ related_tag }}
                        </a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
        </table>
        <div class="results-links"><a href="javascript:Tags.selectTag({{tag.id}});">{{tag.num_resources}} Resource Results</a></div>
        
    </div>
{% endblock %}
