<div id="utility-links">
    <a href="http://ieee.org/"><img src="{{MEDIA_URL}}images/icon-house.gif" width="15" height="11"/>IEEE.org</a>&nbsp;|&nbsp;
    <a href="http://ieeexplore.ieee.org/">IEEE Xplore Digital Library</a>&nbsp;|&nbsp;
    <a href="http://standards.ieee.org/">IEEE Standards Association</a>&nbsp;|&nbsp;
    <a href="http://spectrum.ieee.org/">IEEE Spectrum Online</a>&nbsp;|&nbsp;
    <a href="http://ieee.org/sitemap.html">More IEEE Sites</a>
    <a href="{{ EXTERNAL_HELP_URL }}" id="right-help" target="zendesk">Help</a>
</div>