{% if favorite_topics or favorite_resources or favorite_societies %}
<p class="first">By clicking the <span class="icon-star-whole icomoon-icon"></span> next to a topic or resource, it will be listed here for easy access later.</p>
{% if favorite_societies %}
<strong>IEEE Organizations</strong><br/>
<ul class="topicList">
    {% for society in favorite_societies %}
    <li><a href="{{ society.url }}" rel="nofollow">{{ society.name }}</a> <span class="icon-cancel unfavorite-society icomoon-icon" data-nodeid="{{ society.id }}"></span>
    {% endfor %}
</ul>
{% endif %}
{% if favorite_topics %}
<strong>Topics</strong><br/>
<ul class="topicList">
	{% for topic in favorite_topics %}
	<li><a href="javascript:Tags.selectTag({{ topic.id }});" onclick="_gaq.push(['_trackEvent', 'Tags', 'Click', '{{ topic.name}}']);" rel="nofollow">{{ topic.name }}</a> {% if topic.has_alert %}<span class="icon-alert unsubscribe icomoon-icon" data-nodeid="{{ topic.id }}"></span>{% endif %} <span class="icon-cancel unfavorite-topic icomoon-icon" data-nodeid="{{ topic.id }}"></span></li>
	{% endfor %}
</ul>
{% endif %}
{% if favorite_resources %}
{% regroup favorite_resources by resource_type as favorite_resources %}
{% for resource_type in favorite_resources %}
<strong>{{ resource_type.grouper|title }}s</strong>
<ul class="topicList">
    {% for resource in resource_type.list %}
    <li><a href="{{ resource.url }}" target="_blank" rel="nofollow">{{ resource.name }}<span class="popup newWinIcon"></span></a> <span class="icon-cancel unfavorite-resource icomoon-icon" data-nodeid="{{ resource.id }}"></span>
    {% endfor %}
</ul>
{% endfor %}
{% endif %}
{% else %}
You do not have any favorites. Click the <span class="icon-star -wholeicomoon-icon"></span> icon for topics, resources, or organizations to list here for easy access later.
{% endif %}

<script type="text/javascript">
    $(function() {
        var action;
        var nodeid;
        $('.unsubscribe').click(function(){
            nodeid = $(this).data('nodeid');
            $.post('/ajax/notification/request',
                {
                    email: '{{ user.email }}',
                    nodeid: nodeid,
                    action: 'disable'
                },
                function(){
                    $('#favorites-tab').load('/ajax/favorite_list');
                    return false;
                }
            );
        });
    });
    $(function() {
        var action;
        var nodeid;
        $('.unfavorite-topic').click(function(){
            nodeid = $(this).data('nodeid');
            $.post('/ajax/favorite-topic/request',
                {
                    nodeid: nodeid,
                    action: 'disable'
                },
                function(){
                    $('#favorites-tab').load('/ajax/favorite_list');
                    return false;
                }
            );
        });
    });
    $(function() {
        var action;
        var nodeid;
        $('.unfavorite-resource').click(function(){
            nodeid = $(this).data('nodeid');
            $.post('/ajax/favorite-resource/request',
                {
                    nodeid: nodeid,
                    action: 'disable'
                },
                function(){
                    $('#favorites-tab').load('/ajax/favorite_list');
                    return false;
                }
            );
        });
    });
    $(function() {
        var action;
        var nodeid;
        $('.unfavorite-society').click(function(){
            nodeid = $(this).data('nodeid');
            $.post('/ajax/favorite-society/request',
                {
                    nodeid: nodeid,
                    action: 'disable'
                },
                function(){
                    $('#favorites-tab').load('/ajax/favorite_list');
                    return false;
                }
            );
        });
    });
</script>