{% load socialaccount %}
{% load url from future %}
<strong>Connected Accounts</strong><br/>
You can remove your connected social media accounts:
{% get_social_accounts user as accounts %}
{% if accounts %}
    <ul>
    {% for key, values in accounts.items %}
        <li>{{ key }} accounts:
            <ul>
            {% for account in values %}
                <li>
                    - {{ account }}
                    <a class="disconnect_account" href="#" data-account-id="{{ account.id }}">disconnect</a>
                </li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% else %}
    There are no connected accounts (impossible situation)
{% endif %}

You can connect new social media accounts:
<div class="signinBtns">
    <a class="btn account connect_account" target="_blank" href="{% provider_login_url "google" process="connect" %}"><span class="icon-google icomoon-icon"></span>Connect your Google Account</a>
{#    <a class="btn account" target="_blank" href="{% provider_login_url "facebook" process="connect" %}"><span class="icon-facebook icomoon-icon"></span>Sign In or Join with Facebook</a>#}
    <a class="btn account connect_account" target="_blank" href="{% provider_login_url "linkedin_oauth2" process="connect" %}"><span class="icon-linkedin icomoon-icon"></span>Connect your LinkedIn account</a>
</div>

<p>
    <strong>Delete TechNav Account</strong><br/>
    Your social accounts will be disconnected and you will be unsubscribed from all alerts. This cannot be undone.<br/>
    <a href="javascript:void()" onclick="$('#connectacct-tab').load('/account/delete_confirm/');">Delete my account</a>
</p>

<script type="text/javascript">
    function update_connections() {
        // note: this function is also used in "socialaccount/connections.html"
        $('#connectacct-tab').load('/ajax/connections');
    }

    $('.disconnect_account').click(function () {
        var account_id = $(this).data('account-id');
        //todo: add some "refreshing" icon
        $.post("{% url 'socialaccount_connections' %}", {'account': account_id}, function () {
            update_connections()
        });
    });
</script>
