{% load socialaccount %}
{% load url from future %}
<strong>Connected Accounts</strong><br/>
{% get_social_accounts user as accounts %}
{% if accounts %}
    <ul class="accountList">
    {% for key, values in accounts.items %}
        {% for account in values %}
            <li class="accountField row-{{ forloop.parentloop.counter }}">
                <span class="icomoon-icon service-icon{{ forloop.parentloop.counter }}"></span> {{ account.extra_data.email }}{{ account.extra_data.emailAddress }} ({{ key|title }} Account)
                {% if accounts|length > 1 or accounts.items.0.1|length > 1 or user.get_profile.role = "admin" and password_exists or user.get_profile.role = "society_admin" and password_exists or user.get_profile.role = "society_manager" and password_exists %}
                    <a class="disconnect_account icon-cancel2 icomoon-icon" href="#" title="Disconnect account" data-account-id="{{ account.id }}"></a>
                {% endif %}
            </li>
            <script type="text/javascript">
                if ('{{ key|title }}' == 'Linkedin_Oauth2') {
                    $('.linkedMeth').remove();
                    $('.service-icon{{ forloop.parentloop.counter }}').addClass('icon-linkedin');
                    $('.dynaService').text('Google')
                } else if ('{{ key|title }}' == 'Google') {
                    $('.googleMeth').remove();
                    $('.service-icon{{ forloop.parentloop.counter }}').addClass('icon-google');
                    $('.dynaService').text('LinkedIn')
                }
            </script>
        {% endfor %}
    {% endfor %}
    </ul>
    {% if accounts|length < 2 %}
        If you like, you can also connect your <span class="dynaService"></span> account:
    {% endif %}
{% else %}
    You can connect new social media accounts:
{% endif %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="message-{{ message.tags }}"{% endif %}>
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% if accounts|length < 2 %}
<div class="signinBtns">
    <a class="btn account connect_account googleMeth" target="_blank" href="{% provider_login_url "google" process="connect" %}"><span class="icon-google icomoon-icon"></span>Connect your Google Account</a>
{#    <a class="btn account" target="_blank" href="{% provider_login_url "facebook" process="connect" %}"><span class="icon-facebook icomoon-icon"></span>Sign In or Join with Facebook</a>#}
    <a class="btn account connect_account linkedMeth" target="_blank" href="{% provider_login_url "linkedin_oauth2" process="connect" %}"><span class="icon-linkedin icomoon-icon"></span>Connect your LinkedIn account</a>
</div>
{% endif %}

<p>
    <strong>Delete Your Technology Navigator Account</strong><br/>
    Your social accounts will be disconnected and you will be unsubscribed from all alerts. This cannot be undone.<br/>
    <a href="javascript:void()" onclick="$('#settings-tab').load('/account/delete_confirm/');">Delete my account</a>
</p>

<script type="text/javascript">
    function update_connections() {
        // note: this function is also used in "socialaccount/connections.html"
        $('#settings-tab').load('/ajax/connections');
    }

    $('.disconnect_account').click(function () {
        var account_id = $(this).data('account-id');
        //todo: add some "refreshing" icon
        $.post("{% url 'socialaccount_connections' %}", {'account': account_id}, function () {
            update_connections()
        });
    });
</script>
