{% extends "base_table.html" %}

{% block extra_head %}
    <script src="{{ MEDIA_URL }}js/other/conf_app.js"></script>
{% endblock %}

{% block main_table_content %}
    <div style="padding: 20px;">
        <div style="margin: 5px;">
            <a href="{% url 'create_conference_application' %}">Create New</a>
            ::
            <a href="{% url 'debug_conf_app_create' %}">Create Random</a>
        </div>
        <div style="margin: 5px;">
            <span class="keyword_name">{{ keyword_name }}</span>
            {% if keyword_name %}
                <i>Filtered by:</i> <b>{{ keyword_name }}</b>: (<a href="{% url 'conference_applications' %}">clear filter</a>)
            {% else %}
                <b>All conference applications</b>:
            {% endif %}
        </div>
        <ul class="conf-list" style="margin-left: 20px;">
        </ul>
    </div>
{% endblock %}
