@import "media/scss/variables";

#lightbox {
    position:absolute;
    width:100%;
    height:100%;
    margin:0px auto;
    z-index: 10000;
}

.lightbox-background {
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background:gray;
    opacity:0.50;
    filter:alpha(opacity=50);
    z-index: 9999;
}

#lightbox .lightbox-content-outer {
    width:100%;
    height:100%;
    position:absolute;
}

.lightbox-content,
.lightbox-content .create-tag-lightbox
{
    width: 600px;
    margin: 0 auto;
    background: white;
}

#lightbox .lightbox-content .create-tag-lightbox {
    width: 750px;
}

#lightbox .lightbox-content .lightbox-pad,
#lightbox .lightbox-content .create-tag-lightbox
{
    padding:1em;
}

#lightbox .lightbox-content .create-tag-lightbox h1  {
    margin-top: 0;
}

.lightbox-pad .submit, .create-tag-lightbox .submit  {
    text-align: right;
}

#lightbox .lightbox-content .create-tag-lightbox th  {
    padding-left: 0;
}

#lightbox .lightbox-content h3 {
    margin:0em 0em .5em 0em;
    padding-bottom:.5em;
    border-bottom:1px solid silver;
}

/*
input.text, textarea {
    border:1px inset gray;
}

input.text {
    width:50%;
}

*/

/* */

.create-tag-lightbox {
    background:white;
    width:50%;
    margin:0px auto;
    padding:1em;
}

.email-lightbox tr td {
    width:100%;
    /*border:1px solid black;*/
}

.email-lightbox tr td.left-column {
    width:1%;
}

.email-lightbox tr td.right-column {
    width:99%;
}

.email-lightbox tr td {
    padding-top:.5em;
    padding-right:.5em;
}

/*
.email-lightbox {
    background:white;
    width:80%;
    margin:0px auto;
}
*/

.email-lightbox input,
.email-lightbox input#id_name
{
    border:1px inset gray;
    width:50%;
}

.email-lightbox input[type=button],
.email-lightbox input[type=submit]
{
    border: 1px outset #53595F;
    width:auto;
}

.email-lightbox textarea {
    border:1px inset gray;
    width:100%;
    height:100px;
}
  
.dialogTitle {
    display: inline-block;
    font-size: $xlargeFont;
    margin: 15px 0 0 0;
    color: $white;
    clear: both;
    width: 100%;
}

#tag-name {
    margin-left: 25px;
}

.tag-icons {
    float: right;
    margin-right: 25px;
    position: relative;
    &.is-favorite:hover {
        .alertMenu {
            display: block !important;
        }
    }
    a {
        color: #FFFFFF;
    }
    .icon-star-whole,
    .icon-star,
    .icon-star-whole-alert {
        font-size: 16px;
    }
    .icon-alert {
        font-size: 18px;
        margin-left: 10px;
        cursor: pointer;
        vertical-align: middle;
    }
    .favorite-topic,
    .favorite-resource,
    .over-favorite-resource,
    .favorite-society,
    .favorite-job {
        color: $white;
        &:hover {
            color: lighten(#FFD700, 40%);
        }
    }
}

.favorite-topic,
.favorite-resource,
.over-favorite-resource,
.favorite-society,
.favorite-job {
    text-decoration: none;
    color: $secondaryColor;
    cursor: pointer;
    &:hover {
        color: #FFD700;
    }
    &.enabled {
        color: #FFD700;
    }
}

.unfavorite-topic,
.unfavorite-resource,
.unfavorite-society,
.unfavorite-job,
.icon-cancel2 {
    text-decoration: none;
    color: $light-gray;
    cursor: pointer;
    &:hover {
        color: red;
    }
} 

.icon-alert,
.icon-alert2 {
    font-size: 15px;
    vertical-align: middle;
    color: $light-gray;
    cursor: pointer;
    text-decoration: none;
    &:hover,
    &.enabled {
        color: #FFD700;
    }
}

#resources-lightbox-count {
    width: 128px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 14pt;
    color: #FFFFFF;
    float: left;
    #num-related-items-loading {
        display: inline-block;
        height: 15px;
        position: relative;
        width: 15px;
        color: $white;
        font-size: 14pt;
    }
    .count-label {
        font-size: 9pt;
        color: #9F9F9F;
        white-space: nowrap;
    }
}

#lightbox .resources-lightbox-content {
    margin-top:5em;
    padding-bottom: 30px;
    height:560px;
    min-width:875px;
    background-color: $primaryColor;
    min-height: 560px;   
}

.resources-lightbox-content .resource-loading {
    width: 100%;
    height: 100%;
}

.lightbox-close {
    margin: -20px 0 0 856px;
    position: absolute;
    z-index: 9999;
    cursor: pointer;
}

#lightbox .resources-lightbox-content div.nootabs-tab {
    float: right;  
    clear: none;
    width: 687px;
}

#lightbox .resources-lightbox-content .resources-pad {
    height: 100%;
}

#lightbox .resources-lightbox-content .alt-box {
    clear:both;
    padding: 0 10px 0 10px;
    margin: 0 15px 0 15px;
}

#lightbox .resources-lightbox-content .resources-pad .alt-box,
#lightbox .resources-lightbox-content .resources-pad .alt-box #content,
#resource-tabs {
    height: 100%;
    clear: both;
}

#lightbox .resources-lightbox-content .nootabs-selected-tab {
    height: 458px;
    background-color: white;
    margin-top: -55px;
}

#lightbox .resources-lightbox-content h1 {
    font-size:14pt;
    margin: 13px 1em 0 24px;
    font-weight: normal;
}

#lightbox .resources-lightbox-content ul.nootabs-menus li.nootabs-selected-menu a span {
    font-weight: bold;
}

#lightbox .resources-lightbox-content ul.nootabs-menus li.nootabs-selected-menu a span#articles-tab {
    font-weight: bold;
}

#lightbox .resources-lightbox-content ul.nootabs-menus li a.one-word-menu {
    padding-top: 12px;
    height: 25px !important;
}

#lightbox .resources-lightbox-content .group p.more-conferences {
    margin: 5px 0 0 15px;
    padding:0;
}

#lightbox .resources-lightbox-content .other-conferences {
    background-color: #DFDFDF;
    padding: 10px;
    margin: 3px 35px 0;
    display: none;
}

.resources-lightbox-content .nootabs-tab {
    .icon-star {
        margin-left: 5px;
        color: $medium-gray;
        &:hover {
            color: #FFD700;
        }
    }
    .icon-star-whole, {
        margin-right: 5px;
        margin-left: 5px;
    }
    .drive {
        margin-left: 5px;
        color: $medium-gray;
        vertical-align: middle;
    }
}

#content .other-conferences p.desc_odd,
#content .other-conferences p.desc_even {
    margin-bottom: 20px;
}

#lightbox .resources-lightbox-content .hide-other-conferences {
    display:none;
}

.feedback-lightbox-middle {
    height:100%;
}

.feedback-lightbox-content {
    height:80% !important;
    width:690px !important;
    position:relative;
}

.paste-tags-lightbox-content {
    padding:1em;
}

.paste-tags-lightbox-content p.tags {
    margin-left:1em;
}

#lightbox .welcome-panels-lightbox-content .lightbox-close {
   margin-left: 919px;
}

#lightbox .welcome-panels-lightbox-content {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #FFFFFF;
    width: 937px;
    min-width: 512px;
    padding: 0;
}

.welcome-panels-lightbox-content .skin-slidedeck {
    height: 400px;
    width: 915px;
    box-shadow: 1px 1px 5px #3F3F3F inset;
    background: $primaryColor 0 0 none;   
    border: 0px solid #FFFFFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.welcome-panels-lightbox-content .skin-slidedeck .slidedeck {
    background-color: #D7D7D7;
}

.skin-slidedeck {
   padding: 11px !important;
}

.skin-slidedeck dl.slidedeck > dt {
   width: 755px;
}

#lightbox .welcome-panels-lightbox-content .lightbox-close.link {
    background-image: none;
    margin: 3px 0 0;  
    height: auto;
    width: auto;
    position: relative;
    display: inline-block; 
    color: #FFFFFF;
}

.slidedeck .slide_1 h1 {
    margin-top: 10px;
}

.skin-slidedeck dl.slidedeck > dd.slide_1,
.skin-slidedeck dl.slidedeck > dd.slide_2 {
    background: url(/media/images/slidedeck/panel.png) no-repeat 42px 0 $primaryColor;
    border-right: 5px solid $primaryColor;
}

.skin-slidedeck dl.slidedeck > dd.slide_3 {
    background: url(/media/images/get-started-diagram.png) no-repeat 42px 0 $primaryColor;
    font-size: 13pt;
    border-right: 5px solid $primaryColor;
}

.slidedeck .slide_1 p,
.slidedeck .slide_2 p {
   font-size: 17pt;
   line-height: 1.5;
}

.skin-slidedeck dl.slidedeck > dt {
   background-color: $primaryColor !important;
}

.slidedeck .frequency-indicator {
    float: none;
    display: inline-block;
    font-size: 10pt;
}

.skin-slidedeck .tag-icon, .skin-slidedeck .cluster-icon {
   vertical-align: baseline;
   
}

.slide_3 .help-col-left {
    margin-left: 120px;
    margin-top: 32px;
    width: 231px;
    margin-right: 0;
}

.slide_3 .help-col-left div {
    padding-top: 50px;
}

.slide_3 .help-col-mid {
    width: 185px;
    margin-top: 15px;
}

.slide_3 .help-col-right {
    width: 175px;
    margin-top: 15px;
    margin-right: 10px;
}

.signin-lightbox-content,
.your-account-lightbox-content,
.overview-video-lightbox-content {
    background-color: $primaryColor;
    width: 512px;
    min-width: 512px;
    padding: 2em;
    .lightbox-close {
        margin: -45px 0 0 520px;
    }
    h2 {
        color: $white;
    }
}

.your-account-lightbox-content {
    min-height: 566px;
}

.slidedeck-navBtns {
    bottom: 10px;
    position: absolute;
    right: 10px;
    white-space: nowrap;
}

.slidedeck-navBtns .nav-next,
#lightbox .slidedeck-navBtns .lightbox-close {
    border: 1px solid #33CC00;
    color: #FFFFFF;
    padding: 4px 10px 2px;
    margin: 0;
    position: relative;
    display: inline-block;
    line-height: 1;
    width: auto;
    height: auto;
    font-size: 12pt;
    background: #33cc00; /* Old browsers */
    background: -moz-linear-gradient(top, #33cc00 40%, #269900 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#33cc00), color-stop(100%,#269900)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #33cc00 40%,#269900 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #33cc00 40%,#269900 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #33cc00 40%,#269900 100%); /* IE10+ */
    background: linear-gradient(top, #33cc00 40%,#269900 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33cc00', endColorstr='#269900',GradientType=0 ); /* IE6-9 */
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 1px 1px 2px #3F3F3F;
    -moz-box-shadow: 1px 1px 2px #3F3F3F;
    -webkit-box-shadow: 1px 1px 2px #3F3F3F;
}

.slidedeck-navBtns .nav-next:hover,
#lightbox .slidedeck-navBtns .lightbox-close:hover {
    cursor: pointer;
    color: #33CC00;
    background: none repeat scroll 0 0 #FFFFFF;
}

.slidedeck-navBtns .nav-next img,
.slidedeck-navBtns .lightbox-close img {
    height: 20px;
    padding-left: 0;
    vertical-align: top;
}

#lightbox .tester-message-lightbox-content {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #FFFFFF; /*Old blue*/
    border:1px solid black;
    width: 650px;
    height: 350px;
    overflow-x: hidden;
    overflow-y: scroll;
    min-width: 512px;
    padding: 2em;
}

#lightbox .tester-survey-lightbox-content {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #FFFFFF; /*Old blue*/
    border:1px solid black;
    width: 848px;
    height: 350px;
    min-width: 512px;
    padding: 2em;
    overflow-x: hidden;
    overflow-y: scroll;
}

#lightbox .tester-survey-lightbox-content .lightbox-close {
    margin: -45px 0 0 856px;
}

#lightbox .tester-message-lightbox-content p {
margin: 15px 0;   
}

#lightbox .tester-message-lightbox-content p:first-child {
margin-top: 0;   
}

#lightbox .tester-message-lightbox-content .lightbox-close {
   margin: -45px 0 0 656px;
}

#lightbox .tester-message-lightbox-content ol {
    list-style-type: decimal;
}

#lightbox .tester-message-lightbox-content li {
   margin-left: 3em;
}

.overview-label {
   color: #9F9F9F;
   font-size: 11px;
   text-transform: uppercase;
}

#xplore-loading,
#job-loading,
#tv-loading {
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: center;
    height: 115px;
    padding: 110px 0 0;
}

#related-tab .group p {
    margin-bottom: 15px;
}

.loading div {
    left: 110px !important;
    top: 15px !important;
}

ul#overview-list {
    line-height: 1.5;
    img {
        display: none;
    }
}

#xplore-overview-loading {
    float: left;
    height: 16px;
    margin: 0 3px 0 0;
    width: 16px;
}

.lightbox-waiting-over-lightbox-content {
    border: 10px solid $light-gray;
    text-align: center;
    color: $medium-gray;
    padding: 1em;
    min-height: 175px;
    @include custom-border-radius (18px, 18px, 18px, 18px);
}

.slidedeck-navBtns .nav-next,
#lightbox .slidedeck-navBtns .lightbox-close {
    @include no-gradient;
    background: $green;
}

#job-tab{
    .group a {
        margin-top: 20px;
        &:first-child {
            margin-top: 0;
        }
    }
    b {
        font-weight: normal;
    }
    td {
        padding-left: 15px;
    }
}

#new-tv-results-container,
#tv-tab {
    img {
        margin: 0 15px 5px 0;
        vertical-align: middle;
        width: 105px;
        height: 60px;
    }
    a {
        display: inline-block;
        width: 500px;
    }
}

#xplore-results-container div.loading,
#education-results-container div.loading {
    height: 115px;
    margin-bottom: 6em;
    text-align: center;
}
  
#xplore-totals, #education-totals{
    float: left;
    margin: 0;
}
  
#xplore-nav {
    float: right;
    margin: 0;
}
  
.print-resource {
    width: 657px;
    height: 20px;
    margin-top: -32px;
    text-align: right;
    position: absolute;
    padding: 7px 15px 5px 15px;
    background: $white;
    border-bottom: 1px solid $light-gray;
}

#authors-results-container div.group,
#education-results-container div.group,
#xplore-results-container div.group {
    margin-top: 32px;
}

#authors-results-container {
    .print-resource {
        text-align: left;
    }
    li {
        margin: 0;
    }
    ul {
        line-height: 1.5;
    }
}

#xplore-results-container div.group ul {
   margin-top: 0px;
}
  
#xplore-results-container .error {
    margin-top: 20px;
    padding: 1em;
}

#education-articles,
#education-ebooks,
#education-videos {
    padding: 0;
    height: 100% !important;
    margin-top: 0 !important;
    margin-bottom: 20px;
}

.no-education-results {
    color: $light-gray;
}

#alertWrapper {
   display: block;
   float: right;
   margin-right: 26px;
   margin-top: 15px;
   #alertContainer {
       background-color: #CFCFCF;
       width: 687px;
       height: 46px;
       text-align: right;
       &.success {
           background-color: $green;
           text-align: center;
       }
       .notificationLabel {
            float: left;
            padding: 15px;
       }
       #notificationRequestEmail {
            border: 0 none;
            padding: 15px;
            display: inline-block;
            font-size: 10pt;
            width: 250px;
            position: relative;
            outline: none;
            border-left: 1px solid $primaryColor;
            border-right: 1px solid $primaryColor;
            vertical-align: top;
            height: 16px;
       }
       #alertForm {
            overflow: hidden;
       }
       #alertForm_error {
            float: right;
            display: inline-block;
            width: 250px;
            text-align: left;
            margin-right: 144px;
            background: red;
            color: white;
            padding: 3px 15px;
            margin-bottom: -20px;
            margin-top: -10px;
            position: relative;
            z-index: 99999;
            display: none;
       }
       #notificationRequestButton {
           border: 0 none;
           padding: 15px;
           width: 148px;
           margin-left: -5px;
           vertical-align: top;
           background-color: $green;
           float: right;
           @include custom-border-radius (0, 0, 0, 0);
            &:hover {
                background-color: $orange;
            }
       }
       #alertSuccess {
           color: white;
           margin-left: 15px;
           padding-top: 15px;
       }
   }
}

#resource-footer {
    background-color: #CFCFCF;
    width: 657px;
    padding: 10px 15px;
    margin-left: 137px;
    .share-links {
        float: left;
        a {
            background-color: $secondaryColor;
            color: $white;
            font-size: 19px;
            margin-right: 5px;
            padding: 3px;
            vertical-align: middle;
            cursor: pointer;
            display: inline-block;
            &:hover {
                background-color: $orange;
                text-decoration: none;
            }
        }
    }
}

.printContainer {
    float: right;
    position: relative;
    width: 127px;
    &:hover {
        .icon-printer {
            color: $orange;
        }
        .printMenu {
            display: block;
        }
    }
    .printMenu {
        position: absolute;
        background-color: darken($primaryColor, 15%); 
        color: $white;
        padding: 5px;
        width: 115px;
        right: 0;
        top: -47px;
        display: none;
        line-height: 1.5;
        a {
            color: $white;
        }
    }
    .icon-printer {
        color: $secondaryColor;
        font-size: 19px;
        padding: 3px;
        vertical-align: middle;
        cursor: pointer;
        float: right;
    }
}

#landingLink {
    clear: both;
    a {
        float: right;
        text-decoration: none;
        color: $white;   
    }
}

.alertMenu {
    font-size: 11px;
    position: absolute;
    background-color: darken($primaryColor, 15%);
    padding: 5px;
    right: 1px;
    top: 25px;
    white-space: nowrap;
    display: none;
    span span {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}