@import "media/scss/variables";

.nootabs {
}

ul.nootabs-menus {
    /* Trigger hasLayout bug in IE7 */
    min-height: 0;
    float: left;
}

ul.nootabs-menus li {
    list-style: none;
    float: left;
    text-align: left;
    width: auto;
    border: 1px solid gray;
    border-bottom: 1px solid #006699;
    position: relative;
}

#galaxy-tabs li a {
    padding: 7px 0 0 5px;
    height: 35px;
    display: block;
    line-height: 16px;
    text-align: left;
}

#galaxy-tabs li a span {
    float: right;
    font-weight: normal;
    padding-right: 7px;
    text-align: right;
}

.nootabs-menu-filler {
    padding: 0px;
    border-bottom: 1px solid var(pallette-lines);
}

#galaxy-tabs li.nootabs-selected-menu {
    text-decoration: none; 
    border: 1px solid #006699 !important;
    border-bottom: 1px solid white !important;
    z-index: 10;
}

.nootabs-tab {
    display: none;
    clear: both;
}

.nootabs-selected-tab {
    display: block;
    top: 5px;
    border: 1px solid #006699;
    overflow: hidden;
}

.noocontainer {
    padding: 5px;  
}

.nootabs-menus li.nootabs-menu a:hover {
    background: $orange;
    color: white;
    text-decoration: none;
}

.nootabs-selected-menu a, .nootabs-selected-menu a:hover {
    color: #006699 !important;
    text-decoration: none !important;
}


#left-column-container .nootabs-menu {
    margin-left: 0;
    background-color: $light-gray;
}
  
#left-column-container .nootabs-menu a {
    font-weight: normal;
}
  
#left-column-container .nootabs-tab {
    border: 1px solid $primaryColor;
    border-top: 0 none;
    height: 100%;
    width: 174px;
    padding-top: 3px;
}
  
#left-column-container .nootabs-menus li.nootabs-selected-menu {
    border: 1px solid $primaryColor;
    border-bottom: 0px solid $white !important;
    background-color: $white;
}
  
#left-column-container .nootabs-menus li.nootabs-selected-menu a:hover {
    background: none 0 0 $white;
    text-decoration: none !important;
    color: $primaryColor !important;
    cursor: default;
}
  
#left-column-container .nootabs-menus li.nootabs-selected-menu a{
    font-weight: bold;
    color: $primaryColor;
    background-color: $white;
}

.nootabs-selected-tab div.group {
    height: 100%;
    overflow: auto;
    padding: 10px 15px 0 15px;
    line-height: 1.5;
    a {
        outline: none;
    }
}

#job-tab div.group,
#xplore-tab div.group,
#education-tab div.group,
#authors-tab div.group {
    height: 415px;
}

/* used to be .nootab_tab */
.nootabs-tab2 {
    height: auto;
    overflow: hidden;
    clear: both;
}

/* These styles are for second level tabs (ie. tabs embedded in other tabs) */ 

.nootabs-second-level ul.nootabs-menus {
    margin-left: 0px !important;
}

.nootabs-second-level li.nootabs-menu {
    border:none;
    background:#f9f9f9;
    padding:0px;
}

.nootabs-second-level li.nootabs-menu a {
    border-top:1px solid var(pallette-lines);
    border-right:1px solid var(pallette-lines);
    padding: 5px 5px 5px 5px;
}

.nootabs-second-level li.nootabs-first-menu a {
    border-left:1px solid var(pallette-lines);
}

.nootabs-second-level li.nootabs-selected-menu a {
    /*border-top:1px solid #fafafa;*/
    border-top:none;
    background:white;
}

.nootabs-second-level div.nootabs-selected-tab {
    border:none;
}

.tag-resources-tabs ul.nootabs-menus,
.term-resources-tabs ul.nootabs-menus {
    float: left;
    clear: none;
    width: 136px;
    margin-bottom: -25px;
}

#resource-tabs ul.nootabs-menus li {
    background-color: transparent;
    margin: 0 0 -1px -1px;
    padding: 0 0 0 5px;
    width: 131px;
    border: 1px solid transparent;
}

#resource-tabs ul.nootabs-menus li.nootabs-selected-menu,
#resource-tabs ul.nootabs-menus li.nootabs-selected-menu:hover {
   background-color: #FFFFFF;
   border: 1px solid #006699;
   border-right: 1px solid #FFFFFF;
   cursor: default;
}

#resource-tabs ul.nootabs-menus li a {
   padding: 10px 0 10px 3px;
   display: inline-block;
   width: 131px;
   font-size: 10pt;
   background: transparent !important;
   outline: none;
   color: $white;
}

#resource-tabs ul.nootabs-menus li {
    height: 45px;
}

#resource-tabs ul.nootabs-menus li#over-tab {
    height: 35px;
}

#resource-tabs ul.nootabs-menus li a:hover {
   text-decoration: none;
   color: #FFA500;
}

#resource-tabs ul.nootabs-menus li a.disabled,
#resource-tabs ul.nootabs-menus li a.disabled:hover {
    color: #9F9F9F;
    cursor: default;
}

#resource-tabs ul.nootabs-menus li a span.right {
    font-size: 7pt;
    vertical-align: baseline;
    margin: 0;
    display: block;
    text-align: left;
}

.full-grid ul.nootabs-menus li {
    margin: 0em 0em -6px -1px;
}

.full-grid ul.nootabs-menus li.nootabs-first-menu {
    margin-left: 0;
}

ul.nootabs-menus li a {
    color:#666;
    background:#EEEEEE;
    font-size: 10pt;
}

ul.nootabs-menus li.nootabs-selected-menu a {
    background: white !important;
    color: #006699;
    padding-bottom: 6px;
    margin-bottom: -1px;
    z-index: 88;
    position: relative;
    cursor: default;
}

ul.nootabs-menus li.nootabs-selected-menu a:hover {
    background: white;
    color: #006699 !important;
}

div.nootabs-tab {
    border:1px solid #006699;
    border-bottom: 0 none;
    background-color:#FFFFFF;
}

#resource-tabs {
    margin: 0;
}

#resource-tabs p.no-resources {
    text-align:center;
    padding: 155px 0 0;
    color:gray;
}

#login-tabs ul {
    position: relative;
    z-index: 9999;
}

#login-tabs ul li {
   list-style-type: none;
   margin-left: 0;
}

#login-tabs .nootabs-first-menu {
   margin-left: 0;
}

#login-tabs .nootabs-selected-menu {
    border: 1px solid #006699;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 1px;
}

#login-tabs .nootabs-menus a {
   padding: 5px 20px;
   display: inline-block;
}

#left-column-container ul.nootabs-menus li a:hover,
#login-tabs ul.nootabs-menus li a:hover {
   color: #FFFFFF;
   text-decoration: none;
   background-color: $orange;
}

#left-column-container ul.nootabs-menus li a.disabled,
#left-column-container ul.nootabs-menus li a.disabled:hover {
    cursor: default;
    color: #666666;
    background: none repeat scroll 0 0 #EEEEEE !important;
}

#login-tabs .last-menu {
   margin-left: -1px;
}

#login-tabs ul.nootabs-menus {
   margin-bottom: -6px;
}

#account-tabs {
    @extend #login-tabs;
}
