@import "media/scss/variables";
  
// Global Styles//
html {
    overflow-y: scroll;
    min-width: 1100px;
    height: 100%;
}
  
body {
    height: 100%;
    margin: 0px;
    font-family: $fontFamily;
    font-size: $mediumFont;
    background-color: $white;
}
  
h2 {
    margin: 0px;
}
  
table {
    border-collapse: collapse;
}
  
td {
    padding: 0px;
}
  
a, a:visited {
    text-decoration: none;
    outline: none;
    color: $linkColor;
}
  
a:hover {
    text-decoration: underline;
    outline: none;
    color: $linkColor-hover;
}
  
button, input, select, textarea {
    font-family: $fontFamily;
}

input[type='radio'],
input[type='checkbox'] {
    cursor: pointer;
}
  
img {
   border: 0 none;
}
  
ul, ol {
    margin: 0px;
    padding: 0px;
}
  
li {
    margin: 0px;
    padding: 0px;
}

p.first {
    margin-top: 0;
}

.clear {
    clear: both;
}

.icon-new-tab {
    margin-left: 5px;
}

.icon-cancel2 {
    font-size: 11px;
}

#misc-bar .icon-cancel {
    color: $white;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        color: $orange;
    }
}

.newWinTrigger {
    .popup {
        color: $linkColor;
        pointer-events: none;
    }
    &:hover {
        a {
            color: $linkColor-hover;
            text-decoration: underline;
        }
        .popup {
            color: $linkColor-hover;
        }
    }
}
  
// Main Structure //
table.main {
    width: 100%;
    background: $white;
}
  
.smallFont {
    font-size: 11px;
}

.custom_images {
   float: left;
   margin-right: 11px;
}
  
.custom_images a {
   margin: 8px 5px 0 0;
   float: left;
}
.message-error {
    color: $red;
}
.message-info {
    color: $green;
}
.header-btns {
    display: block;
    clear: both;
    margin: 8px 0 0 0;
    text-align: right;
    float: right;
    .btn {
        font-size: 8pt;
        margin: 0 0 0 10px;
    }
} 

.btn {
    border: 1px solid transparent;
    color: $white;
    display: inline-block;
    padding: 1px 8px;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        background-color: $white;
    }
    a {
        color: $white;
        text-decoration: none;
    }
    .icomoon-icon {
        font-size: 18px;
        background-color: $primaryColor;
        color: $white;
        margin: 0px 10px 0px -12px;
        padding: 4px 5px;
        vertical-align: middle;
        border: 1px solid $primaryColor;
    }
}
.btn.startTour {
    background: $green;
    border: 1px solid $green;
    &:hover {
        color: $green;
        background: none repeat scroll 0 0 $white;
    }
}
.btn.help {
    background: #ffa500;
    border: 1px solid #ffa500;
    color: $white;
    &:hover {
        background: #FFFFFF;
        color: #ffa500;
    }
}
.btn.join {
    background-color: $orange;
    &:hover {
        border: 1px solid $orange;
        color: $orange;
    }
}
.btn.admin {
    background: $red;
    border: 1px solid $red;
    &:hover {
        color: $red;
        background: $white;
    }
}
.btn.account {
    background: $secondaryColor;
    border: 1px solid $secondaryColor;
    color: $white;
    &:hover {
        color: $secondaryColor;
        background: $white;
        a {
            color: $secondaryColor;
        }
        .icomoon-icon {
            color: $primaryColor;
            background-color: $white;
            border: 1px solid $secondaryColor;    
        }
    }
}
.signinBtns {
    text-align: center;
    line-height: initial;
    .btn {
        margin: 0 10px 0 0;
        padding: 4px 10px;
        font-size: 12px;
    }
}
.accountList {
    margin: 3px 0 15px;
    li {
        line-height: 1;
    }
}
.accountField {
    &.row-2 {
        margin-top: 5px;
    }
    .icon-cancel2 {
        color: $light-gray;
        text-decoration: none;
        float: right;
        &:hover {
            color: $red;
        }
    }
    .icon-google,
    .icon-linkedin {
        background-color: $primaryColor;
        color: $white;
        float: left;
        margin-right: 5px;
        font-size: 18px;
        padding: 4px 5px;
    }
}
.your-account-lightbox-content {
    .signinBtns {
        margin-top: 5px;
        display: inline-block;
    }
}
.lightbox-box {
    background: $white;
    padding: 20px;
    margin-top: 20px;
}

.signinText {
    margin-top: 20px;
    ul {
        margin-left: 18px;
        margin-top: 5px;
    }
    .icomoon-icon {
        text-decoration: none;
    }
    strong {
        display: inline-block;
        margin-bottom: 5px;
    }
}

.topicList {
    margin-bottom: 15px;
    line-height: 1.5;
    li {
        &:hover {
            .icon-cancel2 {
                text-decoration: none;
            }
        }
        &.delHover {
            a {
                color: $red;
            }
        }
    }
    a {
        display: inline-block;
        max-width: 415px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .popup {
        vertical-align: top;
        display: inline-block;
        color: $secondaryColor;
    }
}

#account-tabs {
    margin-top: 15px;
    strong {
        display: inline-block;
        margin-bottom: 5px;
        color: $medium-gray;
    }
    .nootabs-tab {
        height: 500px;
        padding: 10px;
        margin-top: 5px;
        float: left;
        width: 100%;
        box-sizing: border-box;
        overflow-y: auto;
        line-height: 1.5;
    }
    .nootabs-menus a {
        padding: 3px 5px;
    }
    .nootabs-menu {
        margin: 0 0 0 -1px;
    }
    .icon-star-whole {
        color: #FFD700;
    }
    ul.deleteText {
        li {
            list-style-type: disc;
            margin-left: 15px;
        }
    }
}

.deleteLink {
    font-size: 11px;
    color: $medium-gray;
    &:hover {
        color: $secondaryColor;
    }
}

.topic-icons {
    float: right;
    width: 50px;
    text-align: right;
    .subscribe {
        margin-right: 10px;
    }
}

.userMenu {
    position: relative;
    margin-bottom: 5px;
    float: left;
    &:hover {
        ul {
            display: block;
        }
    }
    ul {
        cursor: default;
        line-height: 1.8;
        position: absolute;
        top: -7px;
        right: -11px;
        border: 1px solid darken($primaryColor, 15%);
        padding: 5px 10px;
        z-index: 9999;
        display: none;
        background-color: darken($primaryColor, 15%);
        color: $white;
    }
    li {
        &:first-child {
            margin-bottom: 5px;
        }
        list-style-type: none;
    }
    a {
        color: $white;
        &:hover {
            text-decoration: underline;
        }
    }
    .icon-drop-arrow {
        margin-right: 3px;
        font-size: 11px;
    }
}

ul#societies, ul#sectors {
    a {
        &.active-society,
        &.active-sector {
            background: $primaryColor;
        }
        &:hover {
            background: $orange;
        }
    }
}
  
#header #tagline {
    color: $primaryColor;
    display: none;
    float: right;
    font-size: $largeFont;
    font-style: italic;
    margin: 12px 30px 0 0;
    position: relative;
    white-space: nowrap;
}
  
#header #links {
    display: inline-block;
    margin-right: 14px;
    margin-top: 20px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    width: 28%;
}
  
p.admin-links {
    font-size: 8pt;
    color: $gray;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.admin-page {
    .header-btns {
        display: none;
    }
    #header {
        height: 65px;
    }
}
  
.popup {
   margin-left: 5px;
}
  
#feedback-link {
    color: $white;
    font-size: 8pt;
    background-color: $green;
    display:none;
    padding: 2px 10px;
    float:left;
    margin-right: 10px;
    margin-bottom: .5em;
    -moz-box-shadow: 1px 1px 5px $dark-gray;
    -webkit-box-shadow: 1px 1px 5px $dark-gray;
    @include small-border-radius;
}
  
#feedback-link:hover {
    background-position: 0 -19px;
}
  
.textui-switch {
    padding-left: 3em;
    background: transparent url(/media/images/roamer_icon.png) no-repeat scroll left center;
    height: 16px;
    display: inline-block;
}
  
#roamerswitchlink-container {
    float: left;
    margin: -16px 0 0 185px;
}
  
.roamer-switch {
    padding-left: 3em;
    background: transparent url(/media/images/tags_icon.png) no-repeat scroll left center;
    font-size: $smallFont;
    height: 15px;
    display: inline-block;
}
  
#roamerswitchlink-container a {
    color: $gray;
}
  
#roamerswitchlink-container a:hover {
    color: $orange;
}

#main {
    padding-bottom: 43px;
}

footer {
   background-color: $primaryColor;
   position: relative;
   margin-top: -43px;
   #footer {
       clear: both;
       margin: 0 auto;
       position: relative;
       width: 85%;
       z-index: 1;
       text-align: center;
       padding: 15px 0;
   }
   a.floating img {
       vertical-align: middle;
       border: none;
   }
   .survey-button {
       float: right;
       margin: -15px 34px 10px 0;
   }
   p.admin-links a {
       color: $gray;
       &:hover {
           color: $orange;
       }
   }
   #footer-login {
      float: right;
      a {
         color: $secondaryColor;
         &:hover {
            color: $white;
            text-decoration: none;
         }
      }
   }
   #copyright {
       color: $white;
       font-size: $smallFont;
   }
   #ieee-home, #opt-link {
      color: $white;
      text-decoration: underline;
   }
}
  
img.toggleIcon {
    display: inline-block;
    margin: 0 10px 0 0;
}
  
.helpicon {
   cursor: pointer;
}
  
#connectedness-help {
    margin-left: 5px;
    margin-top: 5px;
}
  
.row-container {
    overflow:auto;
}
  
ul#view-header {
    list-style-type: none;
    float: right;
    /* For IE6 hasLayout bug */
    zoom: 1;
}
  
ul#view-header li {
    float: left;
    margin-left: 10px;
}
  
#left-column {
    float: left;
    margin: 5px 5px 10px 0;
    overflow: auto;
    display: none;
}
  
#left-column-border {
    border: 1px solid $light-gray;
    margin-right: 5px;
}
  
#left-column ul {
    display: block;
    list-style-type: none;
}
  
#left-column ul#sectors li,
#left-column ul#societies li {
    margin: 0px;
    width: 100%;
}
  
#left-column ul#sectors li#cluster,
#left-column ul#societies li#cluster {
    margin-left: 15px;
    width: 159px;
}
  
#alternate-page #left-column ul#sectors li#cluster a,
#alternate-page #left-column ul#societies li#cluster a {
    color: $primaryColor;
    border-left: 1px solid $primaryColor;
    border-bottom: 1px solid $primaryColor;
    border-top: 0 none;
    background: $white;
    width: 100%;
    cursor: default;
    @include custom-border-radius (0, 0, 0, 5px);
}
  
#left-column ul li.all {
    font-weight: bold;
}
  
#left-column ul li a {
    display: block;
    text-decoration: none;
}
  
#left-column ul li a:hover {
    background-color: $orange;
}
  
#galaxy-tabs {
    width: auto;
    text-align: left;
    margin-bottom: -1px;
}
  
#galaxy-tabs li{
    width: 95px;
    min-height: 42px;
    border: 1px solid $gray;
    border-bottom: 1px solid $primaryColor;
}
  
#galaxy-tabs li.last-menu {
    margin-left: -1px !important;
    border-left: 1px solid $primaryColor;
    width: 78px !important;
}
  
#left-column-container div#sectors-tab {
    min-height: 395px;
    @include custom-border-radius (0, 0, 5px, 5px);
}
  
#left-column-container div#societies-tab {
    min-height: 395px;
    @include custom-border-radius (0, 0, 5px, 5px);
    overflow-y:scroll;
    overflow-x:hidden;
    border-top: 1px solid $primaryColor;
    /*display: inline; Prevents them from snapping into place on load*/
}
  
#right-column-border {
    border:1px solid $light-gray;
    margin-left:5px;
    height:328px;
}
  
/* This prevents the page from getting so small that galaxy/roamer wraps underneath the left-side nav */
#page-min-width {
    /*border:10px solid purple;*/
    /*background:blue;
    height:2px;*/
    overflow:hidden;
    height:0px;
    width:803px;
}
  
#constellation_roamer {
    border:2px solid $black;
}
  
#constellation_roamer2 {
    border:2px solid $linkColor;
}
  
#results-label {
    font-weight:bold;
}
  
/* Content */
#resource_container {
    padding-right: 5%;
}
  
#content .sc_img {
    border: none;
    margin-left: 30px;
}
  
#content .sc_link {
    color: #485973;
}
  
#content .item_head {
    background-color: #006599;
    color: $white;
    font-size: 14pt;
    font-weight: bold;
    margin: 0px 0 0 0;
    padding:0px;
    text-indent: 10px;
}
  
#content .item_head img {
    vertical-align:bottom;
    margin:0px 15px;
}
  
#content table.society-images img {
    border:none;
}
  
#content table.society-images td {
    padding-bottom: 10px;
    a {
        display: inline-block;
    }
}
  
#content table.society-images td.society-logo {
    padding-right: 10px;
}
  
div.image-container {
    height: 75px;
    width: 75px;
    overflow: hidden;
    padding: 3px;
    border: 1px solid $light-gray;
}
  
#content p.item_even {
    margin: 0px;
    vertical-align: top;
}
  
#content p.item_odd {
    margin: 0px;
}
  
#xplore-tab, #education-tab {
    div.group ul li {
        list-style-type: none;
    }
    .articleDesc {
        display: block;
        .truncatedText {
            margin-left: 10px;
        }
    }
}
  
.xplore-full-results-page p.item_even, .xplore-full-results-page p.item_odd {
   font-weight: bold;
}
  
#xplore-totals a:hover {
    text-decoration: none;
    color: $gray;
}
  
.group a img, .xplore-totals img, .xplore-full-results-page img {
   cursor: pointer;
}
  
.waitCursor {
cursor: url(/media/images/wait-cursor.gif), wait;
}
  
#content p.desc_even {
    margin: 0px;
}
  
#content p.desc_odd {
    margin: 0px;
}
  
#content p.pub_even {
    font-style: italic;
    margin: 0px;
}
  
#content p.pub_odd {
    font-style: italic;
    margin: 0px;
}
  
#xplore-tab p.desc_even,
#xplore-tab p.desc_odd, 
#xplore-tab p.pub_even,
#xplore-tab p.pub_odd,
#education-tab p.desc_even,
#education-tab p.desc_odd, 
#education-tab p.pub_even,
#education-tab p.pub_odd {
  
}
  
#content-title {
    clear: both;
}
  
.gs-result .gs-title, .gs-result .gs-title * {
    color: blue !important;
    text-decoration: none !important;
    &:hover {
        color: #FFA500 !important;
        text-decoration: underline !important;
    }
}
  
.gs-patentResult {
    .gs-image-box {
        padding-bottom: 15px;
    }
    img.gs-image {
        border: 1px solid #CFCFCF !important; 
    }  
}
  
#patents-tab {
    div#branding {
        margin-top: -9px;
    }
}
  
.gs-watermark {
   display: none;
}

  
/* */
.backtotop, .backtoptop:hover, .backtotop img {
    text-decoration: none;
    border: none;
    color: $black;
    margin-top: -15px;
}
  
.debug {
    background: $white;
    padding: .2em;
    margin: 1em 0em;
}
  
.feedback-bar {
    color: $gray;
    clear: both;
    float: left;
    margin: 0 0 10px 10px;
}
  
.feedback-bar a {
    color: $gray;
    font-weight: bold;
}
  
/* Roamer Interface */ 
table#roamer-header {
    width: 100%;
}
  
span.roamer-note {
    font-weight: bold;
}
  
/* Galaxy Interface */
.textui-page, .roamer-page {
    min-width: 1090px;
}
  
#roamer-outline {
    border: 1px solid $primaryColor;
    margin: 5px 0.2em 0.5em 0;
    height: 100%;
}
  
#alternate-page #left-column {
    width: 180px;   
    height: 475px;
    float: left;
    margin: 0;
}
  
#left-column-container {
    margin-top: 10px; 
    position: absolute;
    width: auto;
}
  
#left-column-container .filters-vert-box {
    height: 20.5%;
}
  
.textui-page #right-column {
    height: auto;
}
  
ul#sectors, ul#societies {
    li {
       a {
           color: $backgroundColor;
           margin: 0px;
           padding: 2px 18px 3px 4px;
           width: 152px;
           border-top: 1px solid transparent;
           &:hover {
               border-top: 1px solid $linkColor-hover;
               color: $white;
           }
           &.active-society, &.active-sector {
               border-top: 1px solid $primaryColor;
               color: $white;
           }
       }
       &#cluseter {
            a {
                padding: 3px 0 5px 25px;
                border-top: 0 none;
                background: transparent url(/media/images/icon_cluster_sm.png) no-repeat scroll 3px 4px;
            }
            &:hover {
                border-top: 0 none;
                background: $white url(/media/images/icon_cluster_sm.png) no-repeat scroll 3px 4px !important;
            }
       }
    }
}
  
#alternate-page #left-column ul#views li {
    color: $backgroundColor;
    margin:0px;
    padding:0 5px 0 0;
    cursor: pointer;
}
  
#alternate-page #left-column ul#views li:hover {
    background-color: $orange;
    color: $white;
}
  
#alternate-page #left-column ul#views li input {
    margin: 2px;
    vertical-align: middle;
}
  
#alternate-page #left-column ul#views li input,
#alternate-page #left-column ul#views li label {
    cursor: pointer;
}
  
#alternate-page #tags {
    height: 390px;
    overflow: hidden;
    position: relative;
}      
  
#alternate-page #tag-galaxy .alt-box-pad {
    min-height: 388px !important;
    overflow: auto;
    padding: 5px 0;
}
  
#alternate-page #tag-galaxy #tags a.back-link {
    margin: .5em;
}
  
#alternate-page #tag-galaxy #tags a.back-link img {
    border: none;
    vertical-align: middle;
}
  
/* Textui nodes (tags, clusters) */
.tag-icon,
.cluster-icon {
   vertical-align: middle;
}
  
#alternate-page #tag-galaxy {
    background-color: $white;
    overflow: hidden;
    div.node {
        float: left;
        margin: 4px .5em;
        padding: 5px 0px;
        height: 25px;
        a {
            text-decoration: none;
            font-weight: normal;
            white-space: nowrap;
            padding: 0.4em 0.6em;
            color: $white;
            display: block;
            overflow: hidden;
            background-color: #009FDA;
            margin-top: 5px;
            background: $secondaryColor url(/media/images/tag-corner.png) no-repeat top right;
            -webkit-transition: background-color 0.15s ease-in;
            -moz-transition : background-color 0.15s ease-in;
            &:hover {
                background-color: $orange;
            }
            .cluster-icon,
            .tag-icon {
                display: none !important;
            }
        }
        .tag-block-container {
            float: left;
            margin-left: 7px;
        }
    }
    div.node-taxonomy-term a {
        background-color: $light-gray !important;
        color: $gray !important;
    }
    div.tag_cluster
     a {
        margin-top: 0;
        padding: 0.6em 0.6em;
        background-color: darken($primaryColor, 15%);
    }
} 
    
.node-tooltip h3 {
    font-weight: normal;   
    font-size: 20pt;
}
  
//#alternate-page #tag-galaxy div.node a.level1 {
//    border-color: $level1;
//}
  
//#alternate-page #tag-galaxy div.node a.level1:hover {
//    color: $level1;
//    @include no-gradient;
//}
  
//h3.level1 {
//    color: $primaryColor !important;
//}
  
//#alternate-page #tag-galaxy div.node a.level2 {
//    border-color: $level2;
//}
  
//#alternate-page #tag-galaxy div.node a.level2:hover {
//    color: $level2;
//    @include no-gradient;
//}
  
//h3.level2 {
//    color: $level2 !important;
//}
  
//#alternate-page #tag-galaxy div.node a.level3 {
//    border-color: $level3;
//}
  
//#alternate-page #tag-galaxy div.node a.level3:hover {
//    color: $level3;
//    @include no-gradient;
//}
  
//h3.level3 {
//    color: $level3 !important;
//}
  
//#alternate-page #tag-galaxy div.node a.level4 {
//    border-color: $level4;
//}
  
//#alternate-page #tag-galaxy div.node a.level4:hover {
//    color: $level4;
//    @include no-gradient;
//}
  
//h3.level4 {
//    color: $level4 !important;
//}
  
//#alternate-page #tag-galaxy div.node a.level5 {
//    border-color: $level5;
//}
  
//#alternate-page #tag-galaxy div.node a.level5:hover {
//    color: $level5;
//    @include no-gradient;
//}
  
//h3.level5 {
//    color: $level5 !important;
//}
  
//#alternate-page #tag-galaxy div.node a.level6 {
//    border-color: $level6
//}
  
//#alternate-page #tag-galaxy div.node a.level6:hover {
//    color: $level6;
//    @include no-gradient;
//}
  
//h3.level6 {
//    color: $level6 !important;
//}
  
//td.no-level {
//    background: $light-gray;
//    color:$black;
//}
  
//div.level1,
//span.level1,
//td.level1 {
//    color:$white;
//}
  
//div.level2,
//span.level2,
//td.level2 {
//    color:$white;
//}
  
//div.level3,
//span.level3,
//td.level3 {
//    color: $white;
//}
  
//div.level4,
//span.level4,
//td.level4 {
//    color: $white;
//}
  
//div.level5,
//span.level5,
//td.level5 {
//    color: $white;
//}
  
//div.level6,
//span.level6,
//td.level6 {
//    color: $white;
//}
  
/* */
/* sector key */
#sector_key-text {
    float: right; 
    margin-top: -10px;
    line-height: 1.2em; 
    list-style-type: none; 
    margin-right: 5px;
}
  
#sector_key-blocks {
    float: right; 
    margin-top: -5px; 
    list-style-type: none;
    margin-right: 25px;
}
  
.tag-block-container {
    float:left;
    margin-left:3px;
}
  
.block-top, .block-bottom {
    width:5px;
    height:5px;
    overflow:hidden;
}
  
.block-top {
    margin-bottom: 5px;
}
  
table.vert-center {
    border-collapse:collapse;
}
  
table.vert-center td {
    vertical-align:middle;
    padding:0px !important;
}
  
/* */
  
#choose-page .center-pad {
    text-align:center;
}
  
#choose-page h1 {
    color:#666;
}
  
.screenshot-container {
    float:left;
    text-align:center;
    width:50%;
    margin-bottom:5em;
}
  
.screenshot-container h2 {
    margin-bottom:.3em;
}
  
.screenshot-container a img {
    border:1px solid #ccc;
     
}
  
#wait, #loading {
    position:relative;
    top:45%;
    margin:0px auto;
    text-align:center;
    color:#aaa;
}

#tags #loading .spinner {
    left: 50% !important;
    z-index: 9998 !important;
}
  
.empty-loading {
    margin-top: 75px;
    div {
        margin-top:25px;
    }
}
  
.please-wait {
    top:25% !important;
    div {
        margin-top: 25px;
    }
}
  
#loading {
    margin:2em;
}
  
#devbar {
    background:maroon;
    color:$white;
    text-align:center;
    padding:.2em;
    font-weight:bold;
}
  
/* hidden for now, will note that it is a key on the galaxy help page
#key-label {
    padding: 0 0 0 5px;
    display:none;
}
*/
  
.feature_label {
    font-weight: normal;
    line-height: 1.5;
    height: 20px;
    padding: 0;
}
  
#galaxy-connectedness-help {
    padding-left: 5px;
    line-height: 15px;
}
  
.frequency-indicator {
    float: left;
    color: $white;
    text-align: center;
    cursor: default;
    padding-top: 1px;
    @include default-border-radius;
}
  
.frequency-indicator .small {
   font-size: 8pt;
}
  
.nextArrow {
    vertical-align: middle;
}
  
#tag-model-left,
#tag-model-indicator {
    display: inline-block; 
    vertical-align: text-bottom;
    height: 18px;
}
  
#tag-model-left td,
#tag-model-indicator td {
    text-align: center;
    padding-left: 6px;
}
  
#tag-model-left-img {
    height: 18px;
    padding-top: 3px; 
    padding-left: 3px
}
  
#tag-model-right {
    display: inline-block
}
  
#homeico {
    float: left;
    margin-right: 7px;
}
  
  
#homeico img {
    border: none;
    padding-bottom: 2.3px;
}
  
#roamer-beta-warning {
}
  
/* */
/* sort dropdown */
#sortmenu {
    vertical-align: middle;
    float: right; 
    margin-right: 37px;
    padding-bottom: 3px;
    font-weight: normal;
}
  
#sortmenu select {
  
}
  
#tag-sort {
  
}
  
#galaxy-sort-help {
    padding-left: 5px;
    font-weight: normal;
}
/* */
  
  
.browser-warning {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    z-index: 99999999;
}
  
.browser-warning-shadow {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    background:$gray;
    opacity:.75;
    filter:alpha(opacity=75);
    z-index:1;
}
  
.browser-warning-content {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    z-index:2;
    text-align: center;
}
  
.browser-warning-content2 {
    margin:0px auto;
    width:75%;
    height:400px;
    margin-top:15%;
    background-color: white;
    padding-top: 10px;
}
  
.browser-warning-content2 a {
    color:navy;
    text-decoration:underline;
}
  
.browser-warning-content2 ul {
    list-style-type: none;
}
  
/* */

input {
    outline: none;
}
  
input[type=submit], input[type=button] {
    border: 0 none;
    background-color: $primaryColor;
    color: $white;
    cursor: pointer;
    padding: 5px 10px;
    &:hover {
        background-color: $linkColor-hover;
    }
} 
  
input[type=submit]:focus, input[type=button]:focus {
    border: 1px inset #016797;
}
  
input.disabled {
    background:#ccc;
    color:$gray;
    cursor: default;
}
input.disabled:focus {
    border: 1px outset #53595F;
}
  
#login-tab {
   padding-top: 23px;
}
  
table#login-table th{
    text-align: left;
    padding: 5px;
}
  
table#login-table {
    margin-bottom: 10px;
    float: left;
}
  
table#login-table td {
    padding: 5px;
}
  
#testerBtn {
    background-color: #FD7400;
    border: 1px solid transparent;
    color: $white;
    padding: 8px 12px;
    margin-top: 15px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    @include default-border-radius;
}

#welcome-link {
    float: left;
    font-size: 8pt;
    color: $secondaryColor;
    &:hover {
        color: $white;
        text-decoration: none;
    }
}
  
.tags-table-loading {
    text-align: center;
    font-weight: bold;
    padding: 3em;
    color: $white;
}
  
.over-shadow {
    background: $black;
    position: absolute;
    opacity: 0.50;
    filter: alpha(opacity=50)
}
  
.over-shadow-content {
    position: absolute;
}
  
form.block-labels label {
    display: block;
    font-weight: bold;
}
  
a.cancel-link {
    margin-left: 5px;
    &:hover {
        color: $linkColor-hover;
    }
}
  
div.submit {
    text-align: right;
}
  
#login-table div.submit p {
    text-align: left;
}
  
.horizontal-radios ul li {
    float: left;
    margin: 0px 1.2em;
}
  
#resources-link {
    display: block;
    padding: .5em;
    text-decoration: none;
    background: $primaryColor;
    color: $white;
    font-weight: bold;
    text-align: center;
    @include default-border-radius;
}
  
#alternate-page div#resources-explanation {
    border: 0;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
}
  
#resources-explanation-text {
    margin: 0.5em;
}
  
.filter_background_highlight {
    background: $primaryColor;
}
  
.filter_background_highlight label {
    color: $white;
}
  
.hide-initally {
    display: none;
}
  
/* NOTE: This is needed for the #resources-link link.  Otherwise it shows up briefly when the page loads. */
#content .hide-initally {
    display: none;
}
  
#resources-tab p.items-per-page,
form.items-per-page {
    float: right;
    padding-top: 1em;
    clear: right;
}
  
select.items-per-page {
    width: auto !important;
}
  
/* Tooltip Styles */
.node-tooltip {
    width: 400px;
}
  
.node-tooltip h3 {
    line-height: 1em;
    margin: 0;
}
  
table.node-tooltip-grid {
    margin-top: 10px;
    font-size: 9pt;
}
  
table.node-tooltip-grid td {
    padding-top: 5px;
    padding-right: 5px; 
}
  
.node-tooltip-details {
   margin-top: 10px;
}
  
.sector-block,
.related-tags-block,
.filter-block,
.societies-block {
    height: 55px;
    width: 63px;
    text-align: center;
    font-weight: bold;
    color: $white;
    margin-right: 10px;
    font-size: 8pt;
}
  
.sector-block td,
.related-tags-block td,
.filter-block td,
.societies-block td {
   @include default-border-radius;
}
  
.sector-block td:hover,
.related-tags-block td:hover,
.filter-block td:hover,
.societies-block td:hover {
    color: $white;
    background: $linkColor-hover;
}
  
.filter-block {
    color: $black;
    font-weight: bold;
}
  
.tooltip-filters, .filter-block {
    vertical-align: top;
    height: 30px;
}
  
.results-links { 
    width: 100%;
    text-align: center;
    padding-top: 1em;
}
  
.results-links a {     
    text-decoration: underline;
    color: $primaryColor;
    text-align: center;
}
  
.results-links a:hover {
    color: $orange;
}
  
.textui-help {
    width: 100%;
    height: 100%;
}
  
.section-header {
    padding-left: .3em;
    font-weight: bold;
}

/* Help page */
#help-container {
    width: 100%;
    height: 100%;
}
  
#help-panel-left {
    display: inline-block;
    height: 254px;
    width: 310px;
    background-image: url(/media/images/help-left.png);
    background-repeat: no-repeat;
    background-position: 20px 13px;
    float: left;
}
  
#help-panel-left-btm {
    display: inline-block;
    height: 153px;
    width: 310px;
    background-image: url(/media/images/help-left-btm.png);
    background-repeat: no-repeat;
    background-position: 20px 0;
    float: left;
}
  
#help-panel-right {
    display: inline-block;
    height: 235px;
    width: 232px;
    background-image: url(/media/images/help-right.png);
    background-repeat: no-repeat;
    background-position: 0 15px;
    float: right;
}
  
#help-overview-link {
    text-align: center;
    width: 223px;
    float: right;
    margin-right: 15px;
}
  
#help-overview-link a {
    color: $orange;
}
  
#help-top-row {
    vertical-align:top;
}
  
#help-btm-row {
    vertical-align: bottom;
}
  
#error-page {
    margin: 1em;
}
  
#error-page h1 {
    color: $red;
}
  
#error-page .big-link {
    font-weight: bold;
    color: $primaryColor;
    text-align: center;
}
  
#error-page .debug {
    color: $light-gray;
}
  
/* Login page */
#about-project-tab p {
    margin: 1.2em 0;
}
  
#about-project-tab ul {
    margin: 0 1em;
}
  
#about-team-tab p {
    margin: 1em 0;
}
  
#about-team-tab p.name {
    font-weight: bold;
    clear: both;
}
  
#about-team-tab img {
    float: left;
    margin: 0 1em 1.5em 0;
}
  
#about-team-tab h1.about-team-section {
    margin: 30px 0 20px 0;
}
  
#about-team-tab h1#top-section {
    margin-top: 0;
}
  
#logout-message {
    clear: both;
}
  
#logout-message #wufoo {
    height: 930px;
    border: 1px solid $gray;
}
  
#login-table label {
   font-weight: bold;
}
  
#login-table #login-table-okay {
   float: right;
   font-weight: bold;
}
  
#roamer-key-sector {
    color: $red;
    margin-left: 10px;
    font-weight: bold;
}
  
#roamer-key-tag {
    margin-left: 10px;
    color: $green;
    font-weight: bold;
    margin-right: 5px;
}
  
#tag-sort-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
  
.feedback-page {
    background: $white;
}
  
#wufoo {
    width: 100%;
    height: 100%;
    overflow: scroll;
}
  
#feedback-close {
    display: block;
    position: absolute;
    right: 20px;
    top: 5px;
    font-weight: bold;
    text-decoration: none;
    background: $white;
    border: 1px outset $light-gray;
    color: $gray;
    padding: .3em 1em;
}
  
.no-logo {
    color: $gray;
    text-align: center;
    margin: 0;
}
  
.notification {
    background: $white;
    padding: .5em 1em;
    margin-bottom: 1em;
    border: 1px solid $light-gray;
}
  
.notification h1 {
   color: $gray;
}
  
.society-logo-row-odd {
    background: #cde;
}
  
.society-logo-row-odd td, .society-logo-row-even td {
    padding: 1em .5em !important;
    vertical-align: middle;
}
  
.sub-conference {
    background: $light-blue !important;
    display:none;
}
  
.curly-brace {
    position: absolute;
    left: 0px;
    top: 0;
}
  
.curly-brace-mid-div {
    border:1px solid $gray;
    background: $light-gray;
    color: $white;
    padding: .2em;
    position: absolute;
    left: 0px;
    top: 0;
}
  
.curly-brace-mid-div a {
    display: block;
}
  
div.error {
    background: $red;
    color: $white;
    padding: 2px;
}
  
a.copy-tags-to-clipboard {
    color: $gray;
    font-weight: normal;
    display: block;
    margin-top: 1em;
}
  
a.copy-tags-to-clipboard img {
    vertical-align: middle;
}
  
a.paste-tags {
    color: $gray;
    font-weight: normal;
    display: block;
    margin-top: 0.5em;
}
  
a.paste-tags img {
    vertical-align: middle;
}
  
p.warning {
    font-weight: bold;
}
  
ul.errors {
    background: $red;
    color: $white;
}
  
div.group {
    p {
        margin: 0;
    }
    li {
        list-style-type: none;
        margin: 20px 0;
        padding: 0;
        li {
            margin: 0;
        }
    }
}
  
div.group ul li:first-child {
   margin-top: 0;
}
  
#resource-print-container {
    float: right;
    margin: 9px 0 0 0;
}
  
#resource-print-icon {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 1px 5px 0 0;
    float: left;
    background: url(../images/printer.png) no-repeat 0 0;
}
  
.resource-print-icon-hover {
    background: url(../images/printer.png) no-repeat 0 -19px !important;   
}
  
#powered-by {
    display: inline;
    float: right;
    margin-left: 10px;
}
  
#articles-tab {
    float: left;
    display: inline;
    cursor: pointer;
}

#textui-society-list {
    float: left;
}

#textui-tags-sort {
    float: right;
}
  
.search-container {
    margin: 0 auto;
    width: 333px;
    text-align: right;
}
  
.search-container span.feature_label,
#textui-tags-sort span.feature_label,
#textui-society-list span.feature_label {
    margin: 3px 5px 0 0;
    display: inline-block;
    font-size: 11pt;
}
  
#textui-tags-search {
    width: 210px;
    padding: 5px 0 5px 5px;
    display: inline-block;
    margin-top: 0;
    outline: none;
    font-size: 11pt;
    height: 19px;
    text-align: center;
    vertical-align: top;
    background-color: $white;
    &:hover, &.focus {
        .icon-filter {
            color: $orange;
        }
    }
    .icon-filter {
        color: $secondaryColor;
        float: left;
        width: 16px;
    }
    input {
        border: 0 none;
        float: left;
        outline: none;
        width: 160px;
        height: 18px;
        vertical-align: top;
    }
}
  
.live-search-clear {
    color: $primaryColor;
    display: none;
    cursor: pointer;
    margin-top: 1px;
    width: 16px;
    &:hover {
        color: $orange;
    }
}
  
#textui-tags-search-submit {
    background-color: $green;
    color: white;
    font-weight: normal;
    margin-left: -6px;
    padding: 0 5px;
    border: 1px solid $primaryColor;
    border-left: 0;
    cursor: pointer;
    vertical-align: top;
    display: inline-block;
    height: 19px;
    @include custom-border-radius (0, 5px, 5px, 0);
    &:hover {
        background-color: $orange;
    }
}
  
.articles-search {
    float: left;
    clear: right;  
    margin-bottom: 5px; 
}
  
.articles-show-count {
    float: left;
    clear: left;  
    &.newWinIcon {
        margin: 0;
    } 
}
  
#education-tab .articles-search {
   display: none;
}
  
/* Textui zoom slider */
#textui-zoom-container {
    float: right;
    width: 20px;
    margin-top: 100px;
    margin-right: 5px;
}
  
#textui-zoom-container .feature_label {
    float: left;
}
  
#textui-zoom-slider {
    float: left;
    margin: 3px;
    margin-right: 12px;
    cursor: pointer;
}
  
.ui-state-default, .ui-widget-content .ui-state-default { /* overrides Jquery UI */ 
    height: 20px !important;
    width: 20px !important;
    left: -5px !important;
    background-color: $primaryColor !important;
    background-image: url(/media/images/zoom-back.png) !important;
    background-repeat: no-repeat !important;
    background-position: 3px 0 !important;
    border: 1px solid transparent !important;
}
  
.ui-state-default:hover, .ui-widget-content .ui-state-default:hover {
    background-position: 3px -23px !important;
    background-color: $linkColor-hover !important;
    border: 1px solid transparent !important;
}
  
.ui-widget-content {
    border: 1px solid $primaryColor !important;
}
  
.ui-widget-content-hover {
    border-color: $linkColor-hover !important;
}
  
.ui-slider .ui-slider-handle { /* overrides Jquery UI */
   cursor: pointer !important;
}
  
#textui-zoom-default-zoom {
    cursor: pointer;
    margin-left: -3px;
    text-decoration: underline;
    font-size: 7pt;
}
  
#textui-zoom-default-zoom:hover {
    color: $orange;
}
  
.ui-slider-vertical {
    height: 278px !important;
}
  
#textui-zoom-value {
    display: inline-block;
    margin-left: -6px;
    text-align: center;
    width: 32px;
    font-size: 8pt;
}
  
.about-header {
    font-weight: bold;
}
  
.xplore-full-results-page .pub,
.xplore-full-results-page .desc {
    margin-left: 1em;
    margin-right: 1em;
}
  
#show-video-link {
    display: block;
    text-align: center;
    /* NOTE: Make this non-float and add more left margin to center this on the right side*/
    margin: 3.5em 1em 2em 2em;
    float: left;
}
  
#roamer-help a:hover {
    text-decoration: none;
    color: $gray;
    cursor: default;
}
  
#overview-video-link {
    margin-top: -45px;
    float: right;  
    width: 270px; 
}
  
#overview-video-link a:hover {
    text-decoration: none;
}
#overview-video-link a:hover span{
    text-decoration: underline;
}
  
/*DropDowns*/
#societyContainer_outter,
#sortContainer_outter {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 11pt;
}

#sortSelect_options {
    width: 190px;
}

#societySelect_options {
    width: 851px;
    border-top: 0 none;
    margin-top: 20px;
    padding: 10px 10px 10px 32px;
}

.csscolumns #societySelect_options {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
}

.nocsscolumns #societySelect_options li {
    width: 203px;
    display: inline-block;
}

#societySelect_options li {
    padding-left: 5px;
    text-indent: -4px;
    vertical-align: top;
    &:hover {
        color: $orange;
    }
}

#societySelect_options li span.auto-truncate-words div.truncatedText {
    border-bottom: none;
}
  
#sortSelect_options li {
    padding-left: 5px;
    text-indent: -4px;
    padding-right: 5px;
    &:hover {
            color: $orange;
        }
}

#societyContainer_inner,
#sortContainer_inner {
    position: absolute;
    display: inline;
}

#sortSelect {
width: 180px;
font-weight: bold;
padding: 5px;
z-index: 99;
outline: none;
.icon-tab {
    font-size: 17px;
    float: left;
}
}

#societySelect {
    width: 240px;
    font-weight: bold;
    padding: 5px;
    z-index: 99;
    outline: none;
    &.squareDown {
        height: 28px;
        margin-bottom: -10px;
    }
    .icon-users {
        font-size: 25px;
        float: left;
        margin-top: -5px;
    }
    .selected {
        font-size: 12px;
        width: 190px;
        overflow: hidden;
        height: 15px;
        margin-top: 2px;
    }
}
 
#societySelect .selected, 
#sortSelect .selected {
padding-left: 3px;   
}
  
#printContainer_outter {
display: inline-block;
float: right;
margin: 21px 15px 0 0;
position: relative;
z-index: 9999999;
}
  
#printContainer_inner {
position: absolute;
display: inline;
}
  
#printSelect_options li {
width: 144px; 
padding-left: 3px;
}
  
#printSelect {
width: 147px;
margin-right: 10px;
}
  
#printSelect {
padding: 0;
z-index: 99;
outline: none;
}
  
#printSelect .selected {
padding-left: 3px;   
}
  
#printSelect #resource-print-icon {
margin-left: 5px;   
}
  
#resource-print-icon span {
display: inline-block;
padding-left: 25px;
width: 165px;
}
  
.customSelectContainer {
    cursor: pointer;
    display: inline-block;
    height: 19px;
    vertical-align: bottom;
    color: #222;
    background-color: $white;
    .icomoon-icon {
        color: $secondaryColor;
    }
    .selected {
        display: inline-block;
        margin: 0;
        float: left;
        font-weight: normal;
        height: 19px;
        padding-top: 1px;
        span {
            display: inline-block;
            margin-left: 4px;
        }
    }
    .icon-drop-arrow {
        float: right;
    }
}
  
.customSelectList {
    display: none;
    background-color: $white;
    position: relative;
    margin: 11px 0 0 -1px;
    padding: 0;
    border: 1px solid $primaryColor;
    cursor: pointer;
    list-style-position: outside;
    z-index: 9997; 
    span {
        margin-left: 4px;   
    }
    li {
        list-style-type: none;
        margin-left: 0px;
        vertical-align: middle;
        cursor: pointer;
        text-align: left;
        padding: 3px 0;
        font-size: 9pt;
        color: #222;
    }
    &:hover {
        color: $orange !important;
    }
}
  
.customSelectContainer:focus, 
.customSelectContainer:hover, 
.customSelectList:focus, 
.customSelectList:hover {
    cursor: pointer;
    color: $orange;
    .icomoon-icon {
        color: $orange;
    }
}
  
.selected-hover, .selected-hover span {
color: $orange !important;   
}
  
.customSelectIcon {
width: 42px;
text-align: center;  
margin-right: 14px;
margin-left: 12px !important;
display: inline-block;
float: left;
}
  
.squareDown {
-moz-border-radius-bottomleft: 0px !important; 
-moz-border-radius-bottomright: 0px !important;
-webkit-border-bottom-left-radius: 0px !important;  
-webkit-border-bottom-right-radius: 0px !important;  
}
  
#page-container {
width: 100%;   
height: 100%;
}
  
#utility-links {
    background-color: $backgroundColor;
    padding: 5px 0;
    margin: 0 -25px;
    text-align: right;
    color: $white;
    padding-right: 25px;
    a {
       font-size: 9pt;  
       color: $white;
    }
}
  
header {
   background-color: $white;
   width: 80%;
   padding: 0 25px;
   margin: 0 auto;
   position: relative;
}

#header {
   height: 85px;
   text-align: left;
   position: relative;
   padding-top: 15px;
}
#totalTagLink {
   display: inline-block;
   margin-top: 38px;
   margin-left: 15px;
   color: #222;
   vertical-align: top;
   text-decoration: underline;
}

#header-logo img {
   float: left;
   position: relative;
   top: 5px;
   left: 0px;
}

#header-logo {
  float: left;
  a {
    float: left;
  }
}

#header-links {
   position: absolute;
   white-space: nowrap;
   right: 0px;
   top: 10px;
}

#corner-notch {
   position: absolute;
   right: 0;
   height: 27px;
   width: 27px;
   background: url(/media/images/corner-notch.png) no-repeat scroll 0 0;   
}
  
#inner-container {
    min-width: 1130px;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
    background-color: $backgroundColor;
}

#inner-container .center-pad {
    width: 80%;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 0 25px;
}
  
#tag-tools {
    background-color: $primaryColor;
    color: $white;
    position: relative;
    z-index: 9998;
    p#tag-and-cluster-counts {
       margin: 0;
       font-size: 12pt;
       width: auto;
       display: inline-block;
       .icon-users {
            font-size: 25px;
            height: 25px;
            display: inline-block;
            vertical-align: bottom;
            margin-top: -4px;
        }
        .first-value {
            padding: 0.6em;
            display: inline-block;
            font-size: $mediumFont;
            background: darken($primaryColor, 15%) url(/media/images/count-corner.png) no-repeat top right;
        }
        .second-value {
            padding: 0.4em 0.6em;
            display: inline-block;
            font-size: $mediumFont;
            background: $secondaryColor url(/media/images/count-corner.png) no-repeat top right;
        }
    }
    .inner {
        width: 80%;
        margin: 0 auto;
        padding: 25px 25px 22px;
    }
    #narrow-tags {
        display: inline-block;
        width: 100%;
    }
    #connectedness-container {
        float: left;
        width: 185px;
        margin-left: 15px;
    }
}

#no-results-container {
    width: 500px;
    text-align: left;
    display: block;
    font-size: 12pt;
    margin: 40px auto 0;
    white-space: nowrap;
    strong {
        text-align: center;
        display: block;
    }
}

#no-results-choices {
    display: block;
    text-align: left;
    list-style-type: disc;
    margin-left: 20px;
}
  
#tag-container {
    .inner {
        width: 80%;
        margin: 0 auto;
        padding: 0 25px;
        background-color: $white;
    }
}
  
#tags-chunk-loading {
    display: block;
    clear: both;
    background-color: $white;
    padding: 1em 1em;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}
  
#default-height-tag {
    position: absolute;
    visibility: hidden;
}
  
#misc-bar {
    overflow: hidden;
    height: 55px;
}
  
#tag-counts h2 {
    color: $primaryColor;
}
  
#tags-searching-msg,
#tag-counts {
    text-align: center;
    font-size: 12pt;
}
  
#center-comp {
    height: 47px;
    vertical-align: middle;
    display: inline-block;
}
  
#show-clusters-terms-box {
    float: right;
    margin-bottom: .5em;
}
  
#process-log-autoupdate {
    font-size: 80%;
    color: $gray;
}
  
em.none {
    font-style: italic;
    color: $gray;
}
  
td.machine-generated-column {
    padding: 1em;
}
  
.missing-logo {
    background: $red;
    color: $white;
    height: 100px;
    text-align: center;
    font-weight: bold;
}
  
#countLink {
    float: right;
    font-weight: bold;
    text-decoration: underline;   
}
  
#brokenLinkGrid {
    table-layout: fixed;
    width: 1200px;
}
  
.truncatedText {
    border-bottom: 1px dotted black;
    display: inline;
    cursor: default;
}

.ui-tooltip.ui-tooltip-default {
  z-index: 10002 !important;
  box-shadow: 2px 3px 18px 0 #aaaaaa;
  -moz-box-shadow: 2px 3px 18px 0 #aaaaaa;
  -webkit-box-shadow: 2px 3px 18px 0 #aaaaaa;
  .ui-tooltip-content {
      padding: 15px;
      line-height: 1.3;
      border: 0 none;
      font-size: 13px;
      background-color: #fffdcf;
    }
}

#bottom_fade {
    height: 45px;
    z-index: 99;
    position: absolute;
    bottom: 11px;
    pointer-events: none;
    background: url(/media/images/bottom-fade.png) bottom center repeat-x;
    @include custom-border-radius (0, 0, 10px, 10px);
}

a#zenbox_tab {
    top: 50% !important;
}

.joyride-next-tip {
    float: right;
}

.joyride-tip-guide {
    width: 415px;
    font-size: $largeFont;
    line-height: 1.5;
    z-index: 9999999;
    margin-top: 5px;
    background: rgba(0,0,0,0.85);
    @include custom-border-radius (0, 0, 0, 0);
    ul {
        margin: 15px;
    }
    &.firstStop {
        margin-left: -3px;
    }
    &.sortStop {
        margin-left: -202px;
        .joyride-nub {
            left: auto;
            right: 22px;
        }
    }
    &.lastStop {
        margin-left: -195px;
        margin-top: 5%;
        .joyride-nub {
            display: none;
        }
    }
}

.joyride-tip-guide .joyride-next-tip {
    background: $green;
    border: 0 none;
    outline: none;
    padding: 3px 13px;
    text-shadow: 0 0;
    box-shadow: 0 0;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: $largeFont;
    @include custom-border-radius (0, 0, 0, 0);
    &:hover {
        border: 0 none !important;
        background: $orange;
    }
}

.joyride-content-wrapper {
    padding: 15px 20px 15px 20px;
}

.joyride-close-tip {
    font-size: 14px;
}

/* Conference Application */
.dummy_base {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: url(/media/images/back_dummy.jpg) repeat-x scroll 0 0 #E5E3E4;
    #inner-container {
        background-color: transparent;
    }
    #inner-container .center-pad {
        width: 1006px;
        box-sizing: border-box;
        padding: 0 17px;
    }
    .header {
        width: 1006px;
        margin: 0 auto;
        display: block;
    }
    footer {
        margin: 0;
        background-color: transparent;
    }
    #main {
        padding-bottom: 0;
    }
    input[type=button] {
        background-color: #CFCFCF;
        color: #333;
    }
    .required {
        color: red;
    }
}

.conf_app {
    padding: 10px 20px 20px;
    display: inline-block;
    width: 100%;
    border: 1px solid #CCCCCC;
    border-top: 0 none;
    border-bottom: 0 none;
    border-right-width: 2px;
    box-sizing: border-box;
    label {
        width: 200px;
        display: inline-block;
        font-weight: bold;
        vertical-align: middle;
        &.short {
            width: auto;
            margin: 0 25px;
        }
    }
    input[type="text"], textarea {
        width: 350px;
        &.short {
            width: 85px;
        }
    }
    input[type="submit"] {
        float: right;
        color: #333;
        font-weight: bold;
        font-size: 11px;
        border: 0 none !important;
        background: url(/media/images/submit_dummy.png) repeat-x scroll 0 0 #E5E3E4;
    }
    select {
        width: 355px;
    }
    .formRow {
        margin: 15px 0;
        position: relative;
        &.first {
            margin-top: 0;
        }
        &.last {
            padding-bottom: 15px;
            border-bottom: 1px solid #dbdbdb;
        }
    }
    input.location {
        width: 150px;
    }
    select.location {
        width: 155px;
    }
    .icon-help {
        display: inline-block;
        width: 13px;
        height: 13px;
        background-color: #5b7281;
        border-radius: 12px;
        color: #FFFFFF;
        text-align: center;
        font-style: italic;
        font-family: serif;
        vertical-align: text-top;
        cursor: pointer;
        &:hover {
            background-color: $orange;
        }
    }
    .meta {
        margin-left: 203px;
        font-size: 10px;
        margin-top: 7px;
        width: 357px;
        .powered {
            float: right;
            img {
                vertical-align: text-top;
                margin-top: -2px;
            }
        }
    }
    .headerText {
        font-size: 11px;
    }
    .helpBox {
        float: right;
        font-size: 11px;
        &.country {
            width: 400px;
            margin-top: -25px;
        }
        &.interest {
            width: 300px;
            margin-top: -140px;
        }
        &.date {
            width: 355px;
            margin-top: -55px;
        }
        &.keyword {
            position: absolute;
            right: 0;
            float: none;
            top: 50%;
            margin-top: -35px;
            width: 355px;
        }
    }
    ul.as-selections {
        margin: 0;
        border-top-width: 1px;
        border-top-color: #a6a6a6;
        border-right-color: #b4b4b4;
        border-bottom-color: #b7b7b7;
        border-left-color: #b1b1b1;
        width: 350px;
        display: inline-block;
        vertical-align: middle;
        box-shadow: -1px 1px 1px -1px #b3b3b3 inset;
        li.as-original input  {
            width: 342px;
            height: auto;
        }
        li.as-selection-item {
            cursor: pointer;
            color: #2b3840;
            font-style: italic;
            margin-bottom: 10px;
            background-color: #ddeefe;
            background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddeefe), to(#bfe0f1));
            border: 1px solid #acc3ec, 15%;
            border-top-color: #c0d9e9, 15%;
            box-shadow: 0 1px 1px #e4edf2;
            -webkit-box-shadow: 0 1px 1px #e4edf2;
            -moz-box-shadow: 0 1px 1px #e4edf2;
            &.hover,
            &:hover,
            &.blur,
            &.selected {
                @extend li.as-selection-item;
                a.as-close {
                    color: #5491be;
                }
            }
        }
        li.as-selection-tag {
            font-style: normal;
            &.hover,
            &:hover,
            &.blur,
            &.selected {
                @extend li.as-selection-tag;
            }
        }
        li.cancel-hover {
            border-color: red !important;
            a.as-close {
                color: red !important;
                text-decoration: none;
            }
        }
    }
    .as-results {
        margin-left: 205px;
    }
    ul.as-list {
        max-height: 300px;
        overflow-y: scroll;
    }
    fieldset.comboselect {
        border: 0;
        display: block;
        padding: 0;
    }
    fieldset.comboselect fieldset {
        border: 0;
        width: 8%;
        height: 150px;
        padding: 10px;
        margin-top: 15px;
        float: left;
        input {
            display: block;
            width: 30px;
            margin: 0 auto 5px;
        }
    }
    fieldset.comboselect select {
        height: 150px;
        float: left;
        width: 28%;
        font-size: 11px;
        * {
            display: block;
            float: left;
            width: 40%;
        }
    }
    .sectionHeader {
        color: #767676;
        font-weight: bold;
        border-bottom: 1px solid #dbdbdb;
        display: block;
        font-size: 14px;
        padding-bottom: 10px;
    }
}

.qtip-default {
    white-space: nowrap;
    background: darken($primaryColor, 15%);
    color: $white;
    border: 1px solid darken($primaryColor, 15%);
    &.truncated-qtip {
        white-space: normal;
        width: 600px;
        max-width: 600px;
        max-height: 250px;
        overflow: hidden;
        background: $light-gray;
        color: $dark-gray;
        border: $light-gray;
    }
    &.secondary-qtip {
        background: $secondaryColor;
        border: $secondaryColor;
    }
}

.qtip.qtip-tip {
    background-color: $secondaryColor;
}

.messages.blip {
    position: absolute;
    top: 0;
    z-index: 9999;
    right: 50%;
    width: 300px;
    margin-right: -150px;
    background-color: rgba($secondaryColor, 0.8);
    margin-top: 0;
    padding: 15px;
    text-align: center;
    color: $white;
    font-size: 1.3em;
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        list-style-type: none;
        display: block;
    }
}